<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			
      		<router-link tag="td" class="click" :to="{name: 'ShowGaleria', params: {galeria: item.nombre, nombre: item.nombre}}">{{item.nombre}}</router-link>
      		
           	<td>
	            <b-button-group>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.edit_ = _.clone(this.item);
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar()){
					this.$emit('update', {old: this.item, new: this.edit_});
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>