<template> 

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <div class="float-right">
      <b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

<script>

import EventBus from '../../../helpers/event-bus.js';
import validaciones from '../../../helpers/validaciones'; 

export default {

  props:['select', 'formulario'],
  mixins: [validaciones],
  origen:'crear',
  mounted(){
    this.abrir();
  },
  data: ()=>({ 
    
    item: {nombre: null},
    titulo:"",
    modalShow: true,
  
  }),
  computed: {
    
  },  
  created(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
	      modal=='open'?this.abrir():this.cerrar()
    	)
    ); 
  },
  methods: {
    cabeceraModal(){
      
          this.titulo= 'Eliminar galería  «' + this.select.nombre + '»';
          
    
    },

    eliminar(){
    	this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    abrir(){
    	this.cabeceraModal();
      	this.modalShow = true;
    },
    cerrar(){
      this.item = {nombre: null, slug: ''};
      this.modalShow = false;
    },
    
  }
}
</script>