<template>
	<tr>
	    <td @click="showBtn" class="click">{{ item.pista }}</td>
	    <td @click="showBtn" class="click">{{ nick }}</td>
	    <!--td @click="showBtn" class="click">{{ item.jugadoresPartida[0].pala }}</td-->
	    <td v-if="vista == 'semana'" @click="showBtn" class="click">{{ item.inicio_alquiler  | formatearFecha }} </td>
	    <td @click="showBtn" class="click">{{ item.inicio_alquiler  | formatearHora }}</td> 
	    <td @click="showBtn" class="click">{{ item.fin_alquiler  | formatearHora }}</td>
	    <td>
            <b-button-group>
            	<b-btn variant="primary" @click="showBtn"><icon name="eye"></icon></b-btn>
              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
            </b-button-group>
        </td>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item', 'vista'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			timer: '',
		}),
		watch:{
			item(nuevos){
				this.edit_ = nuevos;
			}
		},
		computed:{
			nick(){
				let nick = '';
				if(this.item.abierta_por == 'CLUB'){

					nick = this.item.equipo == 'SI' ? this.item.observaciones : this.item.torneo == 'SI' ? 'TORNEO' : this.item.texto == 'SI' ? this.item.mensaje : this.item.jugadoresPartida[0].pala;
				}else{
					nick = this.item.nick;
				}
				return nick;
			}
		},
		created(){
			this.timer = setInterval(this.getItems, 30000)
		},
		beforeDestroy() {
		    clearInterval(this.timer)
		},
		cancelAutoUpdate() { 
			clearInterval(this.timer)
		},
		mounted(){
			this.edit_ = _.clone(this.item);
		},
		
		methods:{
			editBtn(){
				this.$emit('update', this.edit_);
			},
			showBtn(){
				this.$emit('ver', this.edit_);
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
			
		}
	}
</script>