<template>
  
  <b-modal v-model="modalShow" hide-footer :title="titulo" centered header-bg-variant="primary" header-text-variant="light"> 
    <p class="text-center">
      {{ contenido }}
    </p>
    <b-button-group class="float-right" >
      <b-btn class="mt-3" variant="outline-success" @click="aceptar" v-if="formulario == 1">Aceptar</b-btn>
      <b-btn class="mt-3" variant="outline-success" @click="eliminar" v-if="formulario == 3">Aceptar</b-btn>
      <b-btn class="mt-3" variant="outline-danger" @click="cerrar">Cancelar</b-btn>
    </b-button-group>
  </b-modal>
    
  </template>

  <script>

  import EventBus from '../../../helpers/event-bus.js';
  import Icon from 'vue-awesome/components/Icon';
  
  
  export default {

   props:['item', 'titulo', 'contenido', 'formulario'],
   components: {
    'icon': Icon,
  },
  mounted(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        this.abrir()
      ),
    );
  },
  data: ()=>({
    modalShow: true,
  }),

  computed: {
    club(){
      return this.datos.club[0];
    },


  },
  watch:{

  
  },
  created(){
    this.abrir();
    
  },  

  methods: {
    abrir(){
      this.modalShow = true;
    },
    aceptar(){
      this.$emit('crear'); //envio al padre la accion y el elemento.
      this.modalShow = false;
    },
    eliminar(){
      this.$emit('eliminar'); //envio al padre la accion y el elemento.
      this.modalShow = false;
    },
    cerrar(){
      this.modalShow = false;
    },

  }
}
</script>
<style scoped>


</style>