<template> 
  <b-container class="wrapper mb-5">
    <div class="text-center pt-5"><h2>En espera</h2></div>
    
      <table class="table table-sm">
        <thead class="thead-light">
                <tr v-if="!pistasLlenas.length">
                  <th>
                    <h3 class="pt-2 text-center" style="color:grey">No estás en ninguna partida.<br> ¿A qué esperas para apuntarte?</h3>
                  </th>
                </tr>
                <tr>
                  <th v-for="(pista, key) in pistasLlenas" :key="key" colspan="2" :style="{width: anchoColumna}">
                    <h3 class="text-center">Pista {{ pista }}</h3>
                  </th>
                </tr>
              </thead>
              <tbody>
          <tr align="center" v-show="cargando"><td :colspan="pistas * 2 "><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(partida, key) in partidas[cantidadFilas]" :key="key" style="font-size: .8rem">
            
            <template v-for="i in pistasLlenas">
              <template v-if="partidas[i - 1][key] != null">
                <th class="align-middle text-center" bgcolor="#e9ecef" :key="i">
                  
                  {{ partidas[i - 1][key].inicio_alquiler | formatearFecha }}
                  <br>
                  {{ partidas[i - 1][key].inicio_alquiler | formatearHora }} - {{ partidas[i - 1][key].fin_alquiler | formatearHora }}     
                </th>
                <td class="align-middle" :key="i">
                
                  <span>{{ currentUser.nick }}</span>
                  <b-btn variant="danger" class="" @click="deleteBtn(partidas[i - 1][key])"><icon name="trash-o"></icon></b-btn>
                  
                
                </td>
              </template>
              <template v-else>
                <th :key="i"></th>
                <td :key="i"></td>
              </template>
            </template>
            

          </tr>
          
              </tbody>

      </table>
   
    <hr class="mt-5"> 
    <div class="text-center mt-3"><h2>Mis partidas</h2></div>
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Palas</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <tr align="center" v-show="cargando"><td colspan="5"><icon name="refresh" scale="5" spin></icon></td></tr>
          
          <tr v-for="(item, key) in filtro" :key="key">
            <td>{{ item.inicio_alquiler  | formatearFecha }} </td>
            <td>{{ item.inicio_alquiler  | formatearHora }}</td> 
            <td>{{ item.fin_alquiler  | formatearHora }}</td>
            <td>{{item.jugadoresPartida.replace(', ,','').replace(' ,','').charAt(item.jugadoresPartida.replace(', ,','').replace(' ,','').length-2) == "," ? item.jugadoresPartida.replace(', ,','').replace(' ,','').substring(item.jugadoresPartida.replace(', ,','').replace(' ,','').length-2,0) : item.jugadoresPartida.replace(', ,','').replace(' ,','') }}</td>
            <td>
              <b-btn variant="danger" class="" @click="deleteBtnPartida(item.id)"><icon name="trash-o"></icon></b-btn>
            </td>
          </tr>
        </tbody>
      </table>

    
    
    
  
</b-container>

</template>

<script>
import EventBus from '../../../helpers/event-bus.js';
import funciones from '../../../helpers/funciones';
import Icon from 'vue-awesome/components/Icon';

export default {
  props:['datos', 'ver'],
  mixins: [funciones],
  components: {
    'icon': Icon,
  },
  data: ()=>({

    pageUrl: 'api/mispartidas',
    esperaUrl: 'api/misesperas',
    items: [],
    pagination: [], 
    cargando: true,    
    timer: '', 
    //lista espera
    actual: moment(),
    fecha: moment(),
    windowWidth: 0,
    partidas: [],
    windowWidth: 0,
    pistasLlenas: []
  }),

  watch:{
    
  },

  created() {
    this.getItems();
    this.getEspera();
  },
  mounted(){
    this.$nextTick( () => {
        window.addEventListener('resize', this.getWindowWidth);
        this.getWindowWidth();
    });

  },
  computed: {
    filtro(){ 

      if(this.items.length) {
       return this.items;
      }
    },
    filtroEspera(){
      if(this.partidas.length){
        return this.partidas;
      }
    },
    club(){
      return this.datos.club[0];
    },
    currentUser(){
      return this.$store.getters.currentUser;
    },
    pistas(){
      return this.datos.club[0].pistas;
    },
    cantidadFilas(){
      let largo = [];
      let tamanyo = [];
      let posicion = 0;
      this.partidas.forEach(e => {
       
        tamanyo.push(e.length);
        largo.push(e.length);
      })
      
      let valorBuscado = largo.sort((a, b) => b - a)[0];
      posicion = tamanyo.indexOf(valorBuscado);
      
      return posicion;
    },  
    anchoColumna(){
      return (this.windowWidth - 100)/this.pistas + 'px';
    }
  },
  methods:{
    //lista espera
    separarEspera(misEsperas){
      let pistas = [];
      let partidas = _.clone(misEsperas);
      let pistasLlenas = [];
      for(let n = 0; n < this.club.pistas; n++){

          pistas[n] = [];
          let index = 0;

          for(let i = 0; i < partidas.length; i++){

            if(partidas[i].pistas_id === (n + 1) ){
              pistas[n][index] = partidas[i];
              index++;
            }
          }
          if(pistas[n].length){
              pistasLlenas.push(pistas[n][0].pistas_id);
            }
        }

        this.pistasLlenas = pistasLlenas;
        this.partidas = pistas;


    },
    getEspera(){
      let id = this.currentUser.id;
      
      axios.get(`${this.esperaUrl}?club_id=${this.club.id}&user_id=${id}`).then((response)=>{
        this.separarEspera(response.data);
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },

    deleteBtn(user){
      
      axios.delete(`${this.esperaUrl}/eliminar/${user.id}`).then((response) => {
          response.data.status == 'success' ? (this.getEspera(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        }, (error) => {
          console.error(error.response);
      })
    },
    deleteBtnPartida(id){
      let form = {'user': this.currentUser.id, 'partida': id};

      axios.post(`${this.pageUrl}/eliminar`,form).then((response) => {
          response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        }, (error) => {
          console.error(error.response);
      })
    },
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },
    //lista partidas
    jugadores(palas){
      palas = palas[0];
      let jugadores = '';
      for(let key in palas){
        
        if(key.substring(0,4) == 'pala'){
            if(palas[key] != '' && palas[key] != null){
              jugadores += palas[key] + ', ';
            }
        }
      }
      let eliminar = jugadores.length - 2;
      
      

      return jugadores.slice(0, eliminar);
    },

    getItems(){
      let id = this.currentUser.id;
      
      axios.get(`${this.pageUrl}?club_id=${this.club.id}&user_id=${id}`).then((response)=>{
        this.items = response.data;
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
  }
  
}
</script>

<style scoped>
  .wrapper {
      min-height: calc(100vh);
      box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
  }
  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }
  .table{
    width: 80%;
    margin: auto;
  }
  h3{
    white-space: nowrap;
  }
  @media screen and (max-width: 535px) {
    h3{
      font-size: .8rem;
    }
    .table{
      font-size: .7rem; 
    }
  }

</style>