<template> 
   <b-container fluid class="mb-5">
    
   
      <div class="text-center">
        <h2 class="fecha">
          Partidas {{ fechaCabecera }}
          
        </h2>
      </div>
      <div class="mb-2 calendario">
        <b-input-group>
            <b-input-group-prepend>
              <div class="input-group-text">
                <icon name="calendar"></icon>
              </div>
            </b-input-group-prepend>   
            <partidaPicker :partida.sync="fecha" :item="actual"></partidaPicker>
            
          </b-input-group>

      </div>
      <div class="table" v-cloak>
        <table class="table table-sm">
          <thead>
            <tr>
           
              <th v-for="pista in pistas" :key="pista" class="click position-relative" :style="[patrocinada[pista] == null ? { 'background':`url('${club.logo}') no-repeat center center/ 30% 50%, radial-gradient(circle farthest-corner at 45px 45px , #000 20%, rgba(0, 0, 0, 0.5) 70%, #868686 100%)`, width: anchoColumna} : { background: `url('${patrocinada[pista].imagen}') no-repeat center / 100% 100%`, width: anchoColumna}]" @click="urlPatrocinador(patrocinada[pista])">
                <h2 :class="[patrocinada[pista] != null ? 'patrocinada' : 'no-patrocinada']">Pista {{pista}}</h2>
                
                  <div class="text-center position-absolute anunciante" v-if="patrocinada[pista] == null">
                    <span class="pregunta">¿Quieres anunciarte aquí?</span>
                    <span class="oferta">Ponte en contacto con nosotros...</span>
                  </div>
              </th>
            </tr>
<!--            <div class="fixed" :style="{top: isMobil}" v-if="isVisible">-->
<!--              <div v-for="pista in pistas" :key="pista" class="click float-left" :style="[patrocinada[pista] == null ? { 'background':`url('${club.logo}') no-repeat center center/ 30% 50%, radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 1) 10%, #868686 100%)`, width: ancho} : { background: `#fff url('${patrocinada[pista].imagen}') no-repeat center /100% 100%`, width: ancho}]" @click="urlPatrocinador(patrocinada[pista])">-->
<!--                <h2 :class="[patrocinada[pista] != null ? 'patrocinada' : 'no-patrocinada']">Pista {{pista}}</h2>-->
<!--                <span class="text-center position-absolute anunciante" v-if="patrocinada[pista] == null">-->
<!--                    <span class="pregunta">¿Quieres anunciarte aquí?</span>-->
<!--                    <span class="oferta">Ponte en contacto con nosotros...</span>-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
          </thead>
          <tbody>

              <tr v-for="(hora, key) in listadoHoras[cantidadFilas]" :key="key">
                
                <td v-for="i in pistas" :key="i" >
                                      
                <template v-if="listadoHoras[i - 1][key] != null">
                  <div class="headerPista">
                    <span v-if="listadoHoras[i - 1][key].clase == 'NO'">
                        {{ listadoHoras[i - 1][key].nivel }}
                     </span> 
                  </div>

                  <div :class="[listadoHoras[i - 1][key].class , listadoHoras[i - 1][key].status == 'ABIERTA' && listadoHoras[i - 1][key].equipo == 'NO' && listadoHoras[i - 1][key].clase == 'NO' ? 'click ': '']" :style="{width: anchoColumna, margin:'auto', display:'block'}" :title="[listadoHoras[i - 1][key].status == 'ABIERTA' ? listadoHoras[i - 1][key].status + ' ¡Apuntate!': listadoHoras[i - 1][key].clase == 'SI'? `Clase ${listadoHoras[i - 1][key].entrenador}`:'Cerrada!']" @click="login(listadoHoras[i - 1][key], $event)">

                      <template v-if="listadoHoras[i - 1][key].torneo == 'NO' && listadoHoras[i - 1][key].equipo == 'NO'">
                        <div class="candado" v-if="listadoHoras[i - 1][key].status == 'CERRADA' && listadoHoras[i - 1][key].clase == 'NO'">
                          <b-img src="/img/cerrada.png" fluid center/>
                        </div>
                        <div class="position-relative avatares">
                          <div class="avatar-top float-left">
                            <b-img :src="listadoHoras[i - 1][key].avatares[0].avatar" fluid rounded center :id="`${listadoHoras[i - 1][key].id}-1`"/>
                            <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida.pala }}</span>
                            <b-popover v-if="listadoHoras[i - 1][key].avatares[0].nivel"
                              :target="`${listadoHoras[i - 1][key].id}-1`" placement="right" triggers="click hover focus">
                                <div slot="title" class="text-center">
                                  <b-btn @click="onClose(`${listadoHoras[i - 1][key].id}-1`)" class="close" aria-label="Close">
                                    <span class="d-inline-block" aria-hidden="true">&times;</span>
                                  </b-btn>
                                  
                                  <span style="color:#0035ff">Derecha</span>
                                </div>
                                 <div class="text-center">
                                    <p>{{listadoHoras[i - 1][key].jugadoresPartida.pala}}</p>
                                    <p>{{listadoHoras[i - 1][key].avatares[0].nivel}}</p>
                                  </div>
                              </b-popover>
                          </div>
                          <div class="avatar-top float-right">
                            <b-img :src="listadoHoras[i - 1][key].avatares[1].avatar" fluid rounded center :id="`${listadoHoras[i - 1][key].id}-2`"/>
                            <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida.pala2 }}</span>
                            <b-popover v-if="listadoHoras[i - 1][key].avatares[1].nivel"
                              :target="`${listadoHoras[i - 1][key].id}-2`" placement="left" triggers="click hover focus">
                                  <div slot="title" class="text-center">
                                    <b-btn @click="onClose(`${listadoHoras[i - 1][key].id}-2`)" class="close" aria-label="Close">
                                    <span class="d-inline-block" aria-hidden="true">&times;</span>
                                  </b-btn>
                                    <span style="color:#ff4242">Revés</span>
                                  </div>
                                  <div class="text-center">
                                    <p>{{listadoHoras[i - 1][key].jugadoresPartida.pala2}}</p>
                                    <p>{{listadoHoras[i - 1][key].avatares[1].nivel}}</p>
                                  </div>
                              </b-popover>
                          </div>
                        </div>
                        <div class="position-relative avatares">
                            <div class="avatar-bottom float-left">
                              <b-img :src="listadoHoras[i - 1][key].avatares[3].avatar" fluid rounded center :id="`${listadoHoras[i - 1][key].id}-3`"/>
                              <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida.pala4 }}</span>
                              <b-popover v-if="listadoHoras[i - 1][key].avatares[3].nivel"
                              :target="`${listadoHoras[i - 1][key].id}-3`" placement="right" triggers="click hover focus">
                                 <div slot="title" class="text-center">
                                  <b-btn @click="onClose(`${listadoHoras[i - 1][key].id}-3`)" class="close" aria-label="Close">
                                    <span class="d-inline-block" aria-hidden="true">&times;</span>
                                  </b-btn>
                                  <span style="color:#ff4242">Revés</span>
                                 </div> 
                                 <div class="text-center">
                                    <p>{{listadoHoras[i - 1][key].jugadoresPartida.pala4}}</p>
                                    <p>{{listadoHoras[i - 1][key].avatares[3].nivel}}</p>
                                  </div>
                              </b-popover>
                            </div>
                            <div class="avatar-bottom float-right">
                              <b-img :src="listadoHoras[i - 1][key].avatares[2].avatar" fluid rounded center :id="`${listadoHoras[i - 1][key].id}-4`"/>
                              <span class="normal">{{ listadoHoras[i - 1][key].jugadoresPartida.pala3 }}</span>
                              <b-popover v-if="listadoHoras[i - 1][key].avatares[2].nivel"
                              :target="`${listadoHoras[i - 1][key].id}-4`" placement="left" triggers="click hover focus">
                                <div slot="title" class="text-center">
                                  <b-btn @click="onClose(`${listadoHoras[i - 1][key].id}-4`)" class="close" aria-label="Close">
                                    <span class="d-inline-block" aria-hidden="true">&times;</span>
                                  </b-btn>
                                  <span style="color:#0035ff">Derecha</span>
                                </div>
                                 <div class="text-center">
                                    <p>{{listadoHoras[i - 1][key].jugadoresPartida.pala3}}</p>
                                    <p>{{listadoHoras[i - 1][key].avatares[2].nivel}}</p>
                                  </div>
                              </b-popover>
                            </div>
                        </div>
                      </template>
                      <!-- equipo -->
                      <template v-if="listadoHoras[i - 1][key].equipo == 'SI'">
                        <div class="logo">
                          <b-img :src="listadoHoras[i - 1][key].logo" center fluid rounded="circle"/>
                          <span class="entrene">{{ listadoHoras[i - 1][key].observaciones }}</span>
                        </div>
                      </template>
                      <!-- end equipo -->
                      <!-- torneo -->
                      <template v-if="listadoHoras[i - 1][key].torneo == 'SI'">
                        <div class="candado" v-if="listadoHoras[i - 1][key].status == 'CERRADA'">
                          <b-img src="/img/cerrada.png" fluid center/>
                        </div>
                        <div :class="listadoHoras[i - 1][key].class" :style="{ background: `url('${listadoHoras[i - 1][key].cartel}') no-repeat center / 100% 100%`, width: anchoColumna}">
                        </div>
                      </template>
                    <!-- end torneo -->
                       <!-- Clase -->
                      <template v-if="listadoHoras[i - 1][key].clase == 'SI'" >
                        <div :class="listadoHoras[i - 1][key].class" :style="{ background: `url('${listadoHoras[i - 1][key].avatar_entrenador}') no-repeat center / 100% 100%`, width: anchoColumna}">
                        </div>
                      </template>
                      <!-- end Clase -->
                    </div>
                  <div class="piePista position-relative click" :style="{width: anchoColumna}" @click="login(listadoHoras[i - 1][key])" v-if="listadoHoras[i - 1][key].status == 'ABIERTA' && listadoHoras[i - 1][key].equipo == 'NO' && listadoHoras[i - 1][key].clase == 'NO'">
                    <span title="¡Apuntate!"> {{ listadoHoras[i - 1][key].hora }} </span>
                  </div> 
                  <div v-else class="piePista position-relative" :style="{width: anchoColumna}">
                    <span title="Cerrada!"> {{ listadoHoras[i - 1][key].hora }} </span>
                  </div>
                  <div :style="{width: anchoColumna}" class="espera" v-if="listadoHoras[i - 1][key].observaciones != 'null' && listadoHoras[i - 1][key].equipo == 'NO'  && listadoHoras[i - 1][key].clase == 'NO' && listadoHoras[i - 1][key].status == 'ABIERTA'">
                    <span class="px-2 text-center d-block" v-b-popover.click.blur.html="{title: 'Observaciones', content: listadoHoras[i - 1][key].observaciones}"> {{ listadoHoras[i - 1][key].observaciones }} </span>
                    
                  </div>
                  <div :style="{width: anchoColumna}" class="espera click" v-if="(listadoHoras[i - 1][key].listaEspera && !listadoHoras[i - 1][key].torneo_id) || (listadoHoras[i - 1][key].torneo_id && listadoHoras[i - 1][key].jugadoresPartida.length)">
                    <span class="px-2 text-center d-block" v-b-popover.click.blur.html="listadoEspera(listadoHoras[i - 1][key])" :title="[listadoHoras[i - 1][key].torneo_id? 'Apuntados torneo' : 'Lista de espera']"> {{ 'Ver lista' }} </span>
                    
                  </div>
                  
                  
                </template>                 

                </td>
              </tr> 
          </tbody>
        </table>
      </div>
    <component :is="modalPartida" :datos="club"></component>

    <b-modal v-model="modalComentario" hide-footer title="¿Algo que añadir?" centered header-bg-variant="success" header-text-variant="light"> 
      <b-form-textarea type="text" v-model="comentarios" :rows="3" :max-rows="6" no-resize></b-form-textarea >
    <b-button-group class="float-right">
      <b-btn class="mt-3" variant="outline-info" @click="apuntarsePartida">Añadir comentario</b-btn>
      <b-btn class="mt-3" variant="outline-success" @click="apuntarsePartida">Apuntarse</b-btn>
    </b-button-group>
  </b-modal>
  </b-container>
   
</template>

<script>

import funciones from '../../../helpers/funciones';
import partidaPicker from '../../extras/datePicker.vue';
import Icon from 'vue-awesome/components/Icon';
import userLoginPartida from '../auth/loginFormPartida.vue';
import EventBus from '../../../helpers/event-bus.js';

var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
export default {
  props:['datos', 'partidas'],
  mixins: [funciones],
  components: {   
   partidaPicker,
   'icon': Icon,
  },
  origen:'crear',
  data: ()=>({
    pageUrl: 'api/partidas',
    esperaUrl: 'api/espera',
    items: [],
    item: {lvm_start: "", lvm_end: "", fsm_start: "", fsm_end: "", fm_start: "", fm_end: "", lvt_start: "", lvt_end: "",fst_start: "", fst_end: "", ft_start: "",ft_end: ""},
    resources: [],
    pistas: 1,
    patrocinada: [],
    listadoHoras: [],
    isVisible: false,
    windowWidth: 0,
    pistaReservadas: [],
    horarioPista: [],
    cargando: true,
    
    modalPartida:'',
    //formulario partida
    modalComentario: false,
    comentarios:'',
    partidaSelect: [],
    select:[],
    formulario:'',
    emisor: false,
    status:{
      lv: false,
      ld: false,
      ldmt: false,
      fs: false,
      f: false,
    },
    timer: '',
    //partidasSemana
    actual: moment(),
    fecha: moment().format('DD-MM-YYYY'),
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'agenda',
    partidasSemana: '',
    //barra patrocinadores fija
    header: 0,
    footer: 0,
  }),

  created() {
      this.getPatrocinadores();
      this.pistas = this.datos.club[0].pistas;
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
      window.scrollTo(0, 0);
      this.cargarResources(this.pistas);
      this.getItems();
      
      this.timer = setInterval(this.getItems, 300000)

  },

  mounted(){
    const me = this;
    let horarios = this.datos.club[0].horario.split('|');
    
    horarios.forEach((horario)=>{

    me.desgloasarHorarioEditar(horario);
      
    })
    this.$nextTick( () => {
          // this.initToTopButton();
          window.addEventListener('resize', this.getWindowWidth);
          this.getWindowWidth();
    });
   
  },
  watch:{
    '$route': 'getItems',
    vista(item){
        this.partidasSemana = moment(value, 'DD-MM-YYYY').format('YYYY-MM-DD') + 'agenda';
        this.getItems();
      
    },
    fecha(value){
      this.partidasSemana = moment(value, 'DD-MM-YYYY').format('YYYY-MM-DD') + 'agenda';
      this.getItems();
    }
  },
  computed:{
    isMobil(){
      return this.header + 'px';

    },
    verEspera(){

      return isMobile ? false : true;
    },
    currentUser(){
      return this.$store.getters.currentUser;
    },
    club(){
          return this.datos.club[0];
    },

    cantidadFilas(){
      let largo = [];
      let tamanyo = [];
      let posicion = 0;
      this.listadoHoras.forEach(e => {
       
        tamanyo.push(e.length);
        largo.push(e.length);
      })
      
      let valorBuscado = largo.sort((a, b) => b - a)[0];
      posicion = tamanyo.indexOf(valorBuscado);
      
      return posicion;
    },


    fechaCabecera(){
     
      return moment(this.fecha, 'DD-MM-YYYY').format("dddd DD MMMM YYYY");
    },
    columnas(){
      return Math.floor(12/this.pistas);
    },
    horario(){
      let horario = {inicio: "09:00", fin: "24:00"};
      
      if(this.datos.club[0].horario == '' || this.datos.club[0].horario == ''){
        return horario;
      }
      
      return this.datos.club[0].horario;
    },
    ancho(){
      
      if(!this.detectmob()){
        return (this.windowWidth - 57)/this.pistas + 'px';
      }else{
        return (this.windowWidth - 45)/this.pistas + 'px';
      }
      

    },
    
    anchoColumna(){
      return (this.windowWidth - 100)/this.pistas + 'px';

    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth);
    clearInterval(this.timer)
  },
  cancelAutoUpdate() { 
    clearInterval(this.timer)
  },
  methods:{
    listadoEspera(lista){
      
      let listado = '';

      if(lista.torneo == 'SI'){
        let lista_ = '';
        for(let espera in lista.jugadoresPartida){
          lista_ += lista.jugadoresPartida[espera].nick + '</br>';
        };
        listado = lista_;
      }else{
        listado = lista.listaEspera;
      }

      return listado;
    },

    urlPatrocinador(patron){
      window.open(`http://${patron.web}`, '_blank')
    },

    onClose(event){
      this.$root.$emit('bv::hide::popover', event);
      
    },

    login(partida, evento){
      toastr.options = {
        positionClass: "toast-top-right"
      };
      
      //si pulso el avatar no muestro el login
      if (evento.srcElement.tagName !== 'DIV'){
        return;  
      }
        
        
      if(this.currentUser && partida.status == 'ABIERTA' && partida.equipo == 'NO' && partida.clase == 'NO' && partida.torneo == 'NO' && moment(`${this.fecha} ${partida.hora}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss') > moment().format('YYYY-MM-DD HH:mm:ss')){
        
        let form = {'partida_id': partida.id, 'user_id': this.currentUser.id, 'torneo_id': partida.torneo_id};

        axios.post(`${this.esperaUrl}/apuntado`, form).then((response) => {

          response.data.status == true ? (this.partidaSelect = partida, this.modalComentario = true) : toastr.warning(response.data.msg);
        }, (error) => {

            toastr.warning('Ya estas en espera en esta partida')
            console.log(error.response);
        });
          
      }else if(!this.currentUser && partida.status == 'ABIERTA' && partida.equipo == 'NO' && partida.clase == 'NO' && partida.torneo == 'NO'){
        this.modalPartida = userLoginPartida;
        EventBus.$emit('openModalPartida','open');
      }else if(moment(`${this.fecha} ${partida.hora}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss') < moment().format('YYYY-MM-DD HH:mm:ss')){
        toastr.options = {
          positionClass: "toast-top-center"
        };
        toastr.info('Esta partida ya se ha jugado');
      }
    },

    apuntarsePartida(){
      let partida = this.partidaSelect;
      let form = {'user_id': this.currentUser.id, 'nick': this.currentUser.nick, 'clubs_id': this.currentUser.clubs_id, 'partida_id': partida.id, 'inicio_alquiler': moment(`${this.fecha} ${partida.hora}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss'), 'fin_alquiler': moment(`${this.fecha} ${partida.hora}`, 'DD-MM-YYYY HH:mm').add(90, 'minutes').format('YYYY-MM-DD HH:mm:ss'), 'pistas_id': partida.pistas, 'status': partida.status, 'equipo': partida.equipo, 'nivelPartida_id': this.currentUser.nivel_id, 'abierta_por': partida.abierta_por, 'partida_fija': partida.partida_fija, 'partida_fija': partida.partida_fija, 'torneo': partida.torneo, 'clase': partida.clase, 'comentario':this.comentarios, 'torneo_id': partida.torneo_id};
      
      axios.post(this.esperaUrl, form).then((response) => {
        
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
          this.modalComentario = false;
          this.comentarios = '';
          this.partidaSelect = [];
      }, (error) => {
        console.log(error.data)
          toastr.warning('Ya estas en espera en esta partida')
          console.log(error.response);
      });
    }, 

    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
   
    },

    getItems(){
      let id = this.datos.club[0].id;
      let fecha = moment(this.fecha, 'DD-MM-YYYY').format('YYYY-MM-DD'); 

      axios.get(`${this.pageUrl}?dia=${fecha}&vista=resourceDay&club_id=${id}`).then((response)=>{
        this.items = response.data.partidas;
        this.horarioPista = response.data.horario;
        this.arrayHora();
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },

    getPatrocinadores(){
      axios.get(`api/patrocinadores/${this.datos.club[0].id}`).then( (response) => {
        
        if(response.data.length){
          const patrocinadas = response.data.filter(patron=> patron.patrocinada != 0).map((patron) =>{
            this.patrocinada[patron.patrocina] = {imagen: patron.imagen, web: patron.web};
          });
        }
      }, (error) => {
        console.log(error.response.data)
      }).catch((err) => {
            console.log(err.data);
          });
    },  

    cargarResources(pistas){
      let resources =   [];
      let pista = '';
      for(let x = 0; x < pistas; x++){
        pista = x + 1;
          resources[x] = {"id": pista, "name" : "Pista " + pista}; 
      };
      
      this.resources = resources;
    },

    arrayHora(){
      const laboral = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes'];
      const finSemana = ['sábado', 'domingo'];
      let pistas = [];
      let ininterrumpido = true;
      
      let cierre = moment("00:00", 'kk:mm').add(-90, 'minutes').format('kk:mm');
      let apertura = moment("07:30", 'kk:mm').format('kk:mm');
      let inicioComida = moment("14:00", 'kk:mm').add(-90, 'minutes').format('kk:mm');
      let finComida = moment("15:30", 'kk:mm').format('kk:mm');
      
      //horario partido de lunes a viernes
      if(this.item.lvm_start && this.item.lvt_start && this.item.fsm_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("partido de lunes a viernes")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido fin de semana
      if(this.item.fsm_start && this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("partido fin de semana")
        ininterrumpido = false;
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.fst_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fst_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido de lunes a domingo  
      if(this.item.lvm_start && this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))){
        //console.log("partido de lunes a domingo")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');

      }

      //horario ininterrumpido de lunes a viernes
      if(this.item.lvm_start && !this.item.lvt_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("ininterrumpido de lunes a viernes")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

       //horario ininterrumpido de fin de semana
      if(this.item.fsm_start && !this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))){
        //console.log("ininterrumpido de fin de semana")
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario ininterrumpido de lunes a domingo
      if(this.item.lvm_start && !this.item.lvt_start  && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))){
        //console.log("ininterrumpido de lunes a domingo")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').add(-120, 'minutes').format('kk:mm');
      }


      
      for(let pista = 0; pista < this.pistas; pista++){
        pistas[pista] = [];
        pistas[pista][0] = this.inicio(apertura, pista);

        for(let i = 0; i <= 15; i++){
         //horario ininterrumpido meto todas las horas
          if(ininterrumpido){
            if(moment(pistas[pista][i]['hora'], 'kk:mm').add(90,'minutes').format('kk:mm') >= apertura && moment(pistas[pista][i]['hora'], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              
              let datosPartida = this.comprobarPista(pistas[pista][i]['hora'], pista, pistas[pista][i]['fin']);
              pistas[pista][i+1]= datosPartida;
              
            }else{
              break;
            } 
          //horario partido 
          }else{
            //
            if(moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= inicioComida && moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') >= apertura && moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= finComida){
              
              pistas[pista][i+1] = this.comprobarPista(pistas[pista][i], pista);
              
            }else if (moment(pistas[pista][i], 'kk:mm').format('kk:mm') <= finComida && moment(pistas[pista][i], 'kk:mm').format('kk:mm') != finComida && moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              
              pistas[pista][i+1] = finComida;
              
            }else if(moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') >= finComida && moment(pistas[pista][i], 'kk:mm').add(90,'minutes').format('kk:mm') <= cierre){
              
              pistas[pista][i+1] = this.comprobarPista(pistas[pista][i], pista)
            }else{
              
              break;
            }
          }
          
        }
      }
     
      this.listadoHoras = pistas;
    

    },
    quitarAcentos(cadena){
      cadena = cadena.replace(/á/gi,"a");
      cadena = cadena.replace(/é/gi,"e");
      cadena = cadena.replace(/í/gi,"i");
      cadena = cadena.replace(/ó/gi,"o");
      cadena = cadena.replace(/ú/gi,"u");
      cadena = cadena.replace(/ñ/gi,"n");
      return cadena;
    },

    horaInicioPorPista(hora, pista){
      let hoy = moment(this.fecha, 'DD-MM-YYYY').day();
      let hoy_ = this.quitarAcentos(moment(this.fecha, 'DD-MM-YYYY').format('dddd'));
      let largo = Object.keys(this.horarioPista[pista]).length;

      return this.horarioPista[pista][hoy_];

    },

    inicio(hora, pista){
      hora = this.horaInicioPorPista(hora, pista);
      pista = pista + 1;
      
      let partidas = this.items;
      let fin = moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm');
      for(let index in partidas){
       if(pista == partidas[index].pistas_id && moment(partidas[index].start).format('kk:mm') >= moment(hora, 'kk:mm').add(-30,'minutes').format('kk:mm') && moment(partidas[index].start).format('kk:mm') < moment(hora, 'kk:mm').add(60,'minutes').format('kk:mm')) {
          //moment(hora, 'kk:mm').add(60,'minutes').format('kk:mm') mostrar la pista si la hora de alquiler empieza solamente una hora despues del unicio de la pista
          
            hora = moment(partidas[index].start).format('kk:mm');
            fin = moment(partidas[index].end).format('kk:mm');
            let i = 0;
           
            let classe = '';
            let palas = partidas[index].jugadoresPartida;
              for(let pala in palas){
                if(pala.substring(0,4) == 'pala' && pala.indexOf('_') == -1)  {
                    if(palas[pala] != '' && palas[pala] != null){
                      i ++
                     
                }
              }
            };
            let lista = '';
            for(let espera in partidas[index].listaEspera){
              
                lista += partidas[index].listaEspera[espera].nick + '</br>';
            };

            //lista = lista.slice(0,-2);

            switch(i){
              case 0: 
                classe = 'cold';
                  break;
              case 1:
              case 2:
              case 3:
                  classe = 'temp';
                  break;
              case 4:
                  classe = 'hot';
                  break;
            }

            if(partidas[index].equipo == "SI"){
              classe = 'equipo';
              partidas[index].logo = "../image/club/1/logo/logo.png"; //this.datos.club[0].logo;
            };


            if(partidas[index].torneo == "SI"){
              classe = 'torneo';
            };

            if(partidas[index].clase == 'SI'){
              classe = 'clase';
            };

            partidas[index]['hora'] = hora;
            partidas[index]['fin']  = moment(partidas[index].end).format('kk:mm');  
            partidas[index]['class'] = classe;  
            partidas[index].status = i == 4 ? 'CERRADA': partidas[index].status;
            partidas[index].listaEspera = lista;  
            return partidas[index];
        }
      }
     
      fin == null ? moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm') : fin;
       return {'hora': hora, 'fin': moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm'), 'jugadoresPartida': [], 'avatares': [{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''}], 'class': 'cold', 'observaciones': '', 'status': 'ABIERTA', 'equipo': 'NO', 'pistas': pista, 'abierta_por': 'CLUB', 'partida_fija': 'NO', 'torneo': 'NO','clase': 'NO'};
    },

    comprobarPista(hora, pista, fin){
      pista = pista + 1;
      let partidas = this.items;
      let salida = [];
       
        for(let index in partidas){
          salida = [];
          if(pista == partidas[index].pistas_id && moment(partidas[index].start).format('kk:mm') >= moment(hora, 'kk:mm').add(30,'minutes').format('kk:mm') && moment(partidas[index].start).format('kk:mm') <= moment(hora, 'kk:mm').add(120,'minutes').format('kk:mm') ) {  
            hora = moment(partidas[index].start).format('kk:mm');
            fin = moment(partidas[index].end).format('kk:mm');
            
            let i = 0;
            
            let classe = '';

            let palas = partidas[index].jugadoresPartida;

            for(let pala in palas){
              if(pala.substring(0,4) == 'pala' && pala.indexOf('_') == -1)  {
                if(palas[pala] != '' && palas[pala] != null){
                  i++
                }
              }
            };

            let lista = '';
            for(let espera in partidas[index].listaEspera){
              lista += partidas[index].listaEspera[espera].nick + '</br>';
              
            };

            //lista = lista.slice(0,-2);

            switch(i){
              case 0: 
                  classe = 'cold';
                  break;
              case 1:
              case 2:
              case 3:
                  classe = 'temp';
                  break;
              case 4:
                  classe = 'hot';
                  break;
            }

            if(partidas[index].equipo == "SI"){
              classe = 'equipo';
              partidas[index].logo = "../image/club/1/logo/logo.png"; //this.datos.club[0].logo;
            };


            if(partidas[index].torneo == "SI"){
              classe = 'torneo';
            };

            if(partidas[index].clase == 'SI'){
              classe = 'clase';
            };

            partidas[index]['hora'] = hora;
            partidas[index]['fin']  = moment(partidas[index].end).format('kk:mm');  
            partidas[index]['class'] = classe;  
            partidas[index].status = i == 4 ? 'CERRADA': partidas[index].status;

            partidas[index].listaEspera = lista;  
            
            return partidas[index];
         
          }
          
        }
      
      
      fin == null ? moment(hora, 'kk:mm').add(90,'minutes').format('kk:mm') : fin;
      
      return {'hora': fin, 'fin': moment(fin, 'kk:mm').add(90,'minutes').format('kk:mm'), 'jugadoresPartida': [], 'avatares': [{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''},{'avatar': '', 'nivel':'', 'posicion': ''}], 'class': 'cold', 'observaciones': '', 'status': 'ABIERTA', 'equipo': 'NO', 'pistas': pista, 'abierta_por': 'CLUB', 'partida_fija': 'NO', 'torneo': 'NO','clase': 'NO'};
   
    
    },

    diferenciaHoras(inicio, fin){
      let diferencia = moment(fin, 'kk:mm').diff(moment(inicio, 'kk:mm'), 'minutes');
      diferencia == 60 ? console.log('cerrada') : console.log('abierta')
     
      return diferencia == 60 ? 'CERRADA' : 'ABIERTA';
    },

    initToTopButton() {
        $(document).bind('scroll', function() {
          let backToTopButton = $('.fixed');
          let header = $('#cabecera').outerHeight();
          let footer = this.footer = $('footer').outerHeight();
          let documento = $(window).height();
          
          if ($(document).scrollTop() > (header + 75) && $(document).scrollTop() < (documento - footer - 250)) {
            backToTopButton.addClass('isVisible');
            $('.fixed').fadeIn(500);
            this.isVisible = true;
          } else {
            backToTopButton.removeClass('isVisible');
            this.isVisible = false;
          }
        }.bind(this));
    },
    
        
  }
}

</script>


   

<style scoped>
  .avatares img{
    max-height: 150px;
  }
  .active{
    color: #fff;
    background: #0275d8;
  }

  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }
  .piePista, .headerPista{
    background-color: red;
    text-align: center;
    color: #fff;
    text-shadow: -2px 5px 7px #000;
    letter-spacing: 3px;
    overflow-wrap: break-word;
  }
  .piePista{
    border-top: 1px solid #fff;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    margin: auto auto;

  }
  .headerPista{
    border-bottom: 1px solid #fff;
    font-size: 1.4rem;
    margin: 0 1%;
    height: 1.6rem;
   
  }
  .espera{
    width: 100%;
    text-align: left;
    background: #000;
    color: #fff;
    margin: auto auto 2%;
    overflow-wrap: break-word;
  }

  .avatar-top{
    top: 10px;
  }
  .avatar-bottom{
    bottom: 25px;
  }
  .avatar-top, .avatar-bottom{
    max-width: 45%;
    height: 50%;
    margin: auto;
    padding: 2%;
  }
  .avatar-top span, .avatar-bottom span{
    position: relative;
    bottom: 0px;
    text-align: center;
    display: block;
    color: #000;
    font-weight: 800;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    overflow-wrap: break-word;
  }
  
  .mensaje{
    margin: 0 auto;
    width: 90% !important;
    background-color: #113ca9b0;
    top: 100px !important;
    overflow-wrap: break-word;
  }
  .entrene{
    margin: 0 auto;
    width: 90% !important;
    background-color: #113ca9b0;
    top: 30px !important;
    overflow-wrap: break-word;
  }

  .logo{
    height: 100%;
    position:relative;
    
  }
  .logo img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 16px 3px #000, 1px 1px 29px 2px #fff;
    background-color: #fff;
  }
  .entrene, .mensaje{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
  }
 
  .candado{
    position: relative;
  }
  .candado img, .mensaje, .entrene{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    width: 20%;
    z-index: 99;
  }

  .no-patrocinada, .patrocinada{
    text-shadow: 1px 1px 2px #000000;
    color: #fc0101;
    -webkit-text-fill-color: #fc0101;
    -webkit-text-stroke-color: #000000;
    font-family: helvetica, arial;
    line-height: 0.88em;
    font-weight: 800;
    white-space: nowrap;
    height: 150px;
  }
  .no-patrocinada{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    
  }

  .patrocinada{
    -webkit-text-stroke-width: .2px;
    font-size: 0em;
    text-align: right;

  }
  .apuntate{
      right: 2%;
      top: 10%;
  }
  th{
    border-right: 2px solid #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30% 50%;
  }
  th:last-child{
    border-right: none;
  }
  
  .fixed{
    position: fixed;
    margin-left: -6px;
  }
  .fixed div{
    position: relative;
    padding: 0.75rem;
    box-shadow: -3px -3px 9px -1px #5f5f5f;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  .isVisible {
    z-index: 999;
  }

  .anunciante .pregunta, .anunciante .oferta {
    color: #fff;
  }
  .anunciante{
    bottom: 0;
  }
  
  table td{
    padding: 0px !important;
  }

  .table{
    border-collapse: separate;
    border-spacing: 0 5px
  }

  @media screen and (max-width: 1700px) {
    
  }
  @media screen and (max-width: 1600px) {
    .candado img{
      top: 130px;
    }
  }
  @media screen and (max-width: 1500px) {
    .entrene, .mensaje{
      font-size: 1.3rem;
    }
   
  }

  @media screen and (max-width: 1375px) {
    .avatar-top span, .avatar-bottom span{
      font-size: .8rem;
    }

    .entrene, .mensaje{
      font-size: 1rem;
    }
    .candado img{
      top: 110px;
    }
  
  }
  @media screen and (max-width: 1220px) {
    .candado img{
        top: 100px;
      }
    .avatares{
     top: 15px;
    }
  }

   @media screen and (max-width: 1150px) {
    .candado img{
        top: 107px;
      }
    .anunciante{
      font-size: 0.8rem;
    }
    .no-patrocinada, .patrocinada{
      height: 100%;
    }
    .anunciante{
      display: none;
    }
  }
  @media screen and (max-width: 995px) {
    .no-patrocinada{
      font-size: 1.7rem;
     
    }
    .entrene, .mensaje{
      font-size: 0.8rem;
    }
    .candado img{
        top: 110px;
    }
    
  }
  @media screen and (max-width: 875px) {
    .no-patrocinada{
      font-size: 1.1rem;
     
    }
    
    .piePista{
      font-size: 1.1rem;
    }
    .headerPista{
      font-size: .7rem; 
    }
    .avatar-top span, .avatar-bottom span{
      font-size: .6rem;
      text-shadow: none;
      font-weight: inherit;
           
    }
    .avatares {
      top: 10px;
    }
    .candado img{
        top: 80px;
    }
    .avatares img {
      max-height: 55px !important;
    }
    
  }
  @media screen and (max-width: 700px) {
    .no-patrocinada{
      font-size: 1.3rem;
      margin: auto;
      height: 100%;
      
    }
    .fecha{
      display: none;
    }
    .entrene, .mensaje{
      font-size: .7rem;
    }
    .avatares img {
      max-height: 35px !important;
    }
    .avatares{
      top: 0px;
    }
    

    
  }
  @media screen and (max-width: 610px) {
    .no-patrocinada{
      font-size: 1rem;
      
    }
    
  }
  @media screen and (max-width: 568px) {
    .candado img{
      left: 1.5px;
    }
    
  }
  @media screen and (max-width: 535px) {
    .piePista, .headerPista{
      font-size: 2.6vw;
      text-shadow: 1px 1px 1px #000;
      line-height: 7vw;
    }
    .no-patrocinada{
      padding-top: 15%;
      font-size: .6rem;
    }
    .patrocinada{
      padding-top: 15%;
    }
    .fixed{
      margin-left: -8px;
    }
    .entrene, .mensaje{
      font-size: .45rem;
    }
    .entrene{
      top: 10px !important;
    }
    .mensaje{
      top: 16px !important;
    }
    .candado img{
        top: 42px;
        left: .5px;
    }
        
  }
  @media screen and (max-width: 535px) {

  }
  .torneo{
    background-size: contain !important;
  }




</style>

    