<template>
	<div> 
		<b-row class="mb-4">
			<b-col class="text-center">
				<h2> Activar Módulos </h2>
			</b-col>
		</b-row>
		<b-row > 
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" lg="10">
								<h2>Bloque Jumbotron</h2>
							</b-col>
							<b-col sme="6" lg="2">
								<div class="onoffswitch">	
							    	<input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="myonoffswitch1" v-model="edit_.jumbotron" @change="postClub('jumbotron')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch1">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							    </div>
							</b-col>
						</b-row>
					</b-card-header>
					<template v-if="edit_.jumbotron">
						<b-card-img header src="../img/demos/jumbotron.png" height="250"></b-card-img>
						<b-form-group>
							
						  	
							<b-form-group label="Título">
						  		<b-form-input v-model="objJumbotron.titulo"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Cuerpo">
						  		<b-form-textarea :rows="3" class="mt-3" v-model="objJumbotron.contenido"></b-form-textarea>
						  	</b-form-group>
						  	
						  	<b-form-group label="Pie">
						  		<b-form-input v-model="objJumbotron.footer"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Texto botón">
						  		<b-form-input v-model="objJumbotron.nombre"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Enlace">
						  		<b-form-input placeholder="www.mipagina/dondeApunta.es" v-model="objJumbotron.web"></b-form-input>
						  	</b-form-group>
						</b-form-group>
						<b-card-footer style="background-color: #fff">
			                <b-button variant="primary" class="float-right" @click="postJumbotron">Guardar</b-button>
			            </b-card-footer>
			        </template>
				</b-card>
			</b-col>
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" lg="10">
								<h2>Bloque dos columnas</h2>
							</b-col>
							<b-col sme="6" lg="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" v-model="edit_.columnas" @change="postClub('columnas')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch2">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
					<template v-if="edit_.columnas">
				  		<b-row align-h="center" class="mb-2">
			          		<b-card-img header :class="[objColumnas.imagen == 'null'? 'invisible': '']" :src="objColumnas.imagen" height="250"></b-card-img>
			         		<b-col class="mt-3">
			            		<uploadFile @imagen="nuevaImg('columnas', $event)" :ver="false" :botones="false"></uploadFile>
			          		</b-col>
			       		</b-row>
			       		<b-form-group>
						  	<b-form-group label="Título">
						  		<b-form-input v-model="objColumnas.titulo"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Cuerpo">
						  		<b-form-textarea :rows="3" class="mt-3" v-model="objColumnas.contenido"></b-form-textarea>
						  	</b-form-group>
						  	
						  	<b-form-group label="Texto botón">
						  		<b-form-input v-model="objColumnas.nombre"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Enlace">
						  		<b-form-input placeholder="www.mipagina/dondeApunta.es" v-model="objColumnas.web"></b-form-input>
						  	</b-form-group>
						</b-form-group>
						<b-card-footer style="background-color: #fff">
			                <b-button variant="primary" class="float-right" @click="postColumnas">Guardar</b-button>
			            </b-card-footer>
			        </template>
		        </b-card>
			</b-col>
			
		</b-row>
		<b-row class="mt-3">
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" lg="10">
								<h2>Imágen paralax</h2>
							</b-col>
							<b-col sme="6" lg="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" v-model="edit_.paralax" @change="postClub('paralax')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch3">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
					<template v-if="edit_.paralax">
				  		<b-row align-h="center" class="mb-2">
			          		<b-card-img header :src="edit_.imgparalax" height="250"></b-card-img>
			         		<b-col class="mt-3">
			            		<uploadFile @imagen="nuevaImg('paralax', $event)" :ver="false" :botones="false"></uploadFile>
			          		</b-col>
			       		</b-row>
			       		<b-card-footer style="background-color: #fff">
			                <b-button variant="primary" class="float-right" @click="postParalax">Guardar</b-button>
			            </b-card-footer>
			        </template>
		        </b-card>
			</b-col>
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" lg="10">
								<h2>Bloque welcome</h2>
							</b-col>
							<b-col sme="6" lg="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch4" class="onoffswitch-checkbox" id="myonoffswitch4" v-model="edit_.welcome" @change="postClub('welcome')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch4">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
					<template v-if="edit_.welcome">
						<b-card-img header src="../img/demos/welcome.png" height="250"></b-card-img>
						<b-form-group>
							<b-form-group label="Cabecera">
						  		<b-form-input v-model="objWelcome.titulo"></b-form-input>
						  	</b-form-group>
						  	<b-form-group label="Cuerpo">
						  		<b-form-textarea :rows="3" class="mt-3" v-model="objWelcome.contenido"></b-form-textarea>
						  	</b-form-group>
						</b-form-group>
						<b-card-footer style="background-color: #fff">
			                <b-button variant="primary" class="float-right" @click="postWelcome">Guardar</b-button>
			            </b-card-footer>
			        </template>
		        </b-card>
			</b-col>
		</b-row>
		<b-row class="mt-3">
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" md="10">
								<h2>Bloque noticias</h2>
							</b-col>
							<b-col sme="6" md="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch5" class="onoffswitch-checkbox" id="myonoffswitch5" v-model="edit_.noticias" @change="postClub('noticias')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch5">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
		       	</b-card>
			</b-col>
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" md="10">
								<h2>Bloque Patrocinadores</h2>
							</b-col>
							<b-col sme="6" md="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch6" class="onoffswitch-checkbox" id="myonoffswitch6" v-model="edit_.patrocinadores" @change="postClub('patrocinadores')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch6">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
		       	</b-card>
			</b-col>
		</b-row>
		<b-row class="mt-3">
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" md="10">
								<h2>Bloque redes sociales</h2>
							</b-col>
							<b-col sme="6" md="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch7" class="onoffswitch-checkbox" id="myonoffswitch7" v-model="edit_.bqsocial" @change="postClub('bqsocial')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch7">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
		     	</b-card>
			</b-col>
			<b-col sm="12" lg="6">
				<b-card>
					<b-card-header style="background: #fff">
						<b-row>
							<b-col sm="6" md="10">
								<h2>Barra redes sociales</h2>
							</b-col>
							<b-col sme="6" md="2">
								<div class="onoffswitch">
							    	<input type="checkbox" name="onoffswitch8" class="onoffswitch-checkbox" id="myonoffswitch8" v-model="edit_.brsocial" @change="postClub('brsocial')" checked>
							      	<label class="onoffswitch-label" for="myonoffswitch8">
							          	<div class="onoffswitch-inner"></div>
							          	<div class="onoffswitch-switch"></div>
							      	</label>
							  	</div>
							</b-col>
						</b-row>
					</b-card-header>
		       	</b-card>
			</b-col>
		</b-row>
		<template v-if="edit_.bqsocial || edit_.brsocial">
			<b-row>
				<b-col>
					<b-card title="Redes sociales">
						<b-form-group>
							<b-row>
								<b-col sm="12" md="6" lg="4" class="mt-2">
									<b-input-group>
							        	<div class="input-group-prepend">
							          		<span class="input-group-text" style="width: 3rem">
							            		<icon name="twitter"></icon>
							          		</span>
							        	</div>
							        	<b-form-input type="url" placeholder="www.twitter.es" v-model="objSocial.twitter"></b-form-input>
							      	</b-input-group>
							    </b-col>
							    <b-col sm="12" md="6" lg="4" class="mt-2">
									<b-input-group>
							        	<div class="input-group-prepend">
							          		<span class="input-group-text" style="width: 3rem">
							            		<icon name="facebook"></icon>
							          		</span>
							        	</div>
							        	<b-form-input type="url" placeholder="www.facebook.es" v-model="objSocial.facebook"></b-form-input>
							      	</b-input-group>
							    </b-col>
							    <b-col sm="12" md="6" lg="4" class="mt-2">
									<b-input-group>	
							        	<div class="input-group-prepend">
							          		<span class="input-group-text" style="width: 3rem">
							            		<icon name="google-plus"></icon>
							          		</span>
							        	</div>
							        	<b-form-input type="url" placeholder="www.google-plus.es" v-model="objSocial.google"></b-form-input>
							      	</b-input-group>
							    </b-col>
							</b-row>
							<b-row>
								<b-col sm="12" md="6" lg="4" class="mt-2">
									<b-input-group>
							        	<div class="input-group-prepend">
							          		<span class="input-group-text" style="width: 3rem">
							            		<icon name="instagram"></icon>
							          		</span>
							        	</div>
							        	<b-form-input type="url" placeholder="www.instagram.es" v-model="objSocial.instagram"></b-form-input>
							      	</b-input-group>
							    </b-col>
							   <b-col sm="12" md="6" lg="4" class="mt-2">
									<b-input-group>
							        	<div class="input-group-prepend">
							          		<span class="input-group-text" style="width: 3rem">
							            		<icon name="youtube"></icon>
							          		</span>
							        	</div>
							        	<b-form-input type="url" placeholder="www.youtube.es" v-model="objSocial.youtube">></b-form-input>
							      	</b-input-group>
							    </b-col>
							    <b-col sm="12" md="6" lg="4" class="mt-2">
									
							    </b-col>
							</b-row>
						</b-form-group>
						<b-card-footer style="background-color: #fff">
		                	<b-button variant="primary" class="float-right" @click="postSocial">Guardar</b-button>
		            	</b-card-footer>
					</b-card>
				</b-col>
			</b-row>
		</template>
	</div>
</template>

<script>
  
	import uploadFile from '../../extras/uploadFile'
  	import { VueEditor } from 'vue2-editor';
  	import Icon from 'vue-awesome/components/Icon';
  	import EventBus from '../../../helpers/event-bus.js';
  	import funciones from '../../../helpers/funciones';
  	import validaciones from '../../../helpers/validaciones';
export default{
	props: ['datos'],
	components: {
    	VueEditor,
      	uploadFile,
      	'icon': Icon,
	},
	mixins: [validaciones,funciones], 
	data: ()=>({
		pageUrl: 'content',
		objJumbotron: {titulo: null, contenido: null, footer: null, nombre: null, visible:1},
		objColumnas: {titulo: null, contenido: null, imagen: null, nombre: null, visible:1 },
		objWelcome: {titulo: null, contenido: null, status: 'PUBLICADO', visible: 1},
		objSocial: {facebook: null, twitter: null, google: null, instagram: null, youtube: null, status: 'PUBLICADO', visible: 1},
      	edit_: [],
      	item: [],
      	newParalax: null,
      	newColumnas: null,	
      	miniToolbar: [ [{ 'header': 1 }, { 'header': 2 }],['bold', 'italic', 'underline'],[{ 'color': [] }],['clean']],
	}),
	watch:{
      	
    },
	mounted(){
		this.cargarDatos();
		this.edit_ = _.clone(this.datos.club[0]);
	},
	methods:{
		cargarDatos(){
			this.getJumbotron();
			this.getWelcome();
			this.getColumnas();
			this.getSocial();
		},
		postClub(modulo){
			let mod = [];
			let valor = '';

			switch (modulo) {
	          case 'jumbotron':
	            valor = this.edit_.jumbotron;
	            break;
	          case 'columnas':
	            valor = this.edit_.columnas;
	            break;
	          case 'paralax':
	            valor = this.edit_.paralax;
	            break;
	          case 'welcome':
	            valor = this.edit_.welcome;
	            break;
	          case 'noticias':
	            valor = this.edit_.noticias;
	            break;
	          case 'patrocinadores':
	            valor = this.edit_.patrocinadores;
	            break;
	          case 'brsocial':
	            valor = this.edit_.brsocial;
	            break;
	          case 'bqsocial':
	            valor = this.edit_.bqsocial;
	            break;
	        }

			mod = {modulo: modulo, valor: valor};
			axios.patch(`${this.pageUrl}/update/${this.edit_.id}`, mod).then( (response) => {
				if(response.data.status == 'success'){toastr.success(response.data.msg)};
				if(response.data.status == 'warning'){toastr.warning(response.data.msg)};
			}, (error) => {
				console.log(error.response)
			}).catch((err) => {
	          console.log(err);
	        });
		},
		getJumbotron(){
			axios.get(`${this.pageUrl}/jumbotron`).then( (response) => {
				if(response.data.length){
					this.objJumbotron = response.data[0];
				} 
				
			}, (error) => {
				console.log(error.response)
			}).catch((err) => {
	          console.log(err);
	        });
		},
		postJumbotron(){
			axios.post(`${this.pageUrl}/jumbotron`, this.objJumbotron).then( (response) => {
				response.data.status == 'success'? (toastr.success(response.data.msg), this.getJumbotron()): toastr.warning(response.data.msg);
			}, (error) => {
				console.log(error.response)
			}).catch((err) => {
	          console.log(err);
	        });
		},
		getWelcome(){
			axios.get(`${this.pageUrl}/welcome`).then((response)=>{
				if(response.data.length){
					this.objWelcome = response.data[0];
				}   
          }, (error) => {
            console.error(error.response);
          })
		},
		postWelcome(){
			axios.post(`${this.pageUrl}/welcome`,this.objWelcome).then((response)=>{
				response.data.status == 'success'? (toastr.success(response.data.msg), this.getWelcome()): toastr.warning(response.data.msg);
       			     
          }, (error) => {
            console.error(error.response);
          })
		},
		getColumnas(){
			axios.get(`${this.pageUrl}/columnas`).then((response)=>{
				
				if(response.data.length){
					this.objColumnas = response.data[0];
				}
				
      		}, (error) => {

            console.error(error.response);
          })
		},
		postColumnas(){
			
			let form = this.toFormData(this.objColumnas, this.newColumnas);
			
			axios.post(`${this.pageUrl}/columnas`,form).then((response)=>{

				response.data.status == 'success'? (toastr.success(response.data.msg),this.getColumnas()): toastr.warning(response.data.msg);
      
          }, (error) => {
          	
            console.error(error.response);
          })
		},
		getSocial(){
			axios.get(`${this.pageUrl}/social`).then((response)=>{
				if(response.data.length){
					this.objSocial = response.data[0];
				}
       			
      		}, (error) => {
            console.error(error.response);
          })
		},
		postSocial(){
			axios.post(`${this.pageUrl}/social`,this.objSocial).then((response)=>{
       			response.data.status == 'success'? (toastr.success(response.data.msg), this.getSocial()): toastr.warning(response.data.msg);
      
          }, (error) => {
            console.error(error.response);
          })
		},
		postParalax(){
			let formData = new FormData();
        	formData.append('imagen', this.newParalax);

			axios.post(`${this.pageUrl}/paralax`,formData).then((response)=>{
				response.data.status == 'success'? (toastr.success(response.data.msg), EventBus.$emit('vaciar', '')): toastr.warning(response.data.msg);
      
          }, (error) => {
            console.error(error.response);
          })
		},
     	nuevaImg(origen, imagen){
     		switch(origen){
     			case 'paralax':
     				this.edit_.imgparalax = imagen.img == "" ? "": imagen.img;//imagen que se ve
	       	 		this.newParalax = imagen.file == "" ? "" : imagen.file;//imagen que se envia
     				break;
     			case 'columnas':
     				this.objColumnas.imagen = imagen.img == "" ? "": imagen.img;//imagen que se ve
     				this.newColumnas = imagen.file == "" ? "" : imagen.file;//imagen que se envia
     				break;
     			
     		}

	        
    	},
	}
	
}
</script>
<style scoped>

.onoffswitch {
  position: relative;
  width: 78px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 11px;
  background-color: #00A600;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 11px;
  background-color: #ff0000;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  width: 26px;
  margin: 2px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 44px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

@media screen and (max-width: 535px) {
	h2{
		font-size: 1.5rem;
	}
}
  
</style>