 <template> 
   <b-container class="wrapper mb-5">
    <b-row>
        <b-col sm="12" md="8" offset-md="2">
            <div class="panel panel-default mt-5">
                <div class="panel-heading text-center">
                        <h2>
                         Recuperar contraseña
                        </h2>
                    </div>

                <div class="panel-body">
                    <b-form-group label="Correo-e:">
                        <b-form-input type="email" v-model="item.email" :state="emailState" aria-describedby="emailFeedback" required v-focus @keydown.enter.native="enviar"></b-form-input>
                        <b-form-invalid-feedback id="emailFeedback">
                            {{ errores.email }}
                        </b-form-invalid-feedback> 
                    </b-form-group>

                   <b-form-group>
                        <div class="float-right">
                            <b-button variant="primary" @click="enviar">
                                Enviar
                            </b-button>
                        </div>
                    </b-form-group>
                </div>
            </div>
        </b-col>
    </b-row>
</b-container>
</template>
<script>
    import Icon from 'vue-awesome/components/Icon';
    import validaciones from '../../../helpers/validaciones';
    import funciones from '../../../helpers/funciones';
    export default {
        props:['datos'],
        components: {
            'icon': Icon, 

        },
        mixins: [validaciones,funciones],
        origen:'crear',
        data: ()=>({

            pageUrl: 'auth/email',   
            item: {'email': null},
            errores: [],
            erroresServidor: [], 
        }),
        watch:{
            'item.email'(newVal, oldVal){
                newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
            },
        },
        created(){
                       
        },
        computed: {
            club(){
                return this.datos.club[0];
            },
            emailState(){
                return this.validarMail();
            },
        },
        methods:{
            enviar(){
                if(this.validarMail() == true){
                    this.item.clubs_id = this.club.id;
                    axios.post(this.pageUrl, this.item).then((response) => {
                        response.data.status == 'success' ? (this.errores = [], toastr.success(response.data.msg),this.$router.push({path: '/'})): toastr.warning(response.data.msg);
                    }, (error) => {
                        console.log(error.response.data);
                        let errores = error.response.data.error;
                        this.erroresServidor = [];
                        this.errores = [];

                        for (let key in errores){
                            this.erroresServidor.push(key);
                            this.errores[key] = errores[key];
                            toastr.warning(errores[key]);
                        }
                    });  
                }else{
                   this.item.email = '';
                }
             
            }
        },
    }
</script>
<style scoped>
    .wrapper {
        min-height: calc(100vh);
        box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
    }
</style>