<template>
    <b-modal v-model="modalShow" hide-footer hide-header title="titulo" centered body-bg-variant="fondoModalUser">
        <b-row class="mr-auto px-0">
            <b-col cols="12" class="user-img">
                <b-img src="../img/avatar/face.png" fluid rounded center />
            </b-col>
            <b-col cols="12">
                <b-form class="form-horizontal">
                    <b-form-group class="mb-5 ico1">
                        <b-form-input type="email" ref="email" name="email" v-model="item.email" placeholder="Email o nick" aria-describedby="emailFeedback" :state="emailState" @blur.native="validEmail" v-focus></b-form-input>
                        <b-form-invalid-feedback id="emailFeedback">
                            <span v-for="(error, key) in errores.email" :key="key"> {{ error }} </span>
                        </b-form-invalid-feedback>
                        <template v-if="authError">
                            <p class="error">
                            {{ authError }}
                            </p>
                        </template>
                    </b-form-group>
                    <b-form-group class="mb-5 ico2">
                        <b-form-input :type="passwordFieldType" name="password" id="password" v-model="item.password" placeholder="Password" @keydown.enter.native="authenticate"></b-form-input>
                        <div class="pb-2 d-block text-right ojo"><span @click="switchVisibility"><icon :name="icon"></icon></span></div>
                            <span class="help-block">
                              <strong></strong> 
                            </span>
                    </b-form-group>
                    <b-btn @click="authenticate" variant="success" class="mb-2">Login</b-btn>
                </b-form>
            </b-col>
            <b-col cols="6" class="forgot">
                <b-link @click="registro">¿Registrarse?</b-link>
            </b-col>
            <b-col cols="6" class="forgot">
                <b-link @click="recuperarPass">¿Recuperar contraseña?</b-link>
            </b-col>
        </b-row>
    </b-modal>
</template>

<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../../helpers/funciones';
    import EventBus from '../../../helpers/event-bus.js';
    import {login} from '../../../helpers/auth';

    export default{
        props:['datos'],
        components: {
            'icon': Icon,
        },
        mixins: [funciones],
        created(){
            EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
                modal=='open'?this.abrir():this.cerrar() //evaluo los datos que me envia el padre.
              )
            ); 
        },
        mounted(){
            this.abrir();
        },
        data: ()=>({
            pageUrl: 'auth/login',    
            item: {email: null, password: null},
            errores: [],
            error: null,
            modalShow: true,
            passwordFieldType: 'password',
            icon: 'eye',     
        }),
        watch:{
            'item.email'(value){
              
            }
        },
        computed:{
            emailState(){
                return this.error;
            },
            authError(){
                return this.$store.getters.authError;
            },
           
        },
        methods:{
            switchVisibility(){
                if(this.passwordFieldType == 'password'){
                    this.passwordFieldType = 'text';
                    this.icon = 'eye-slash';
                }else{
                   this.passwordFieldType = 'password';
                   this.icon = 'eye';
                }
            },
            authenticate(){
                this.item.clubs_id = this.datos.id;
                this.$store.dispatch('login');
                login(this.$data.item).then((res) => {
                    
                    this.modalShow = false;
                    this.$store.commit("loginSuccess", res);
                    //this.$router.push({path: '/'});
                }).catch((error) => {

                    this.$store.commit("loginFailed", {error});
                });
            },
            validEmail() {
                return true;
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(this.item.email != null){
                    !re.test(this.item.email)? (this.error = false, this.errores.email = ["El campo email debe ser una dirección de correo válida."], this.$refs.email.$el.focus()) : (this.error = true, this.errores.email = '');
                }
                
            },      
            recuperarPass(){
                this.$router.push({name: 'email'});
                this.modalShow = false;
                //window.location = "password/reset";
            },
            registro(){
                 this.$router.push({name: 'registrarUsuario'});
                 this.modalShow = false;
            },
            abrir(){
                this.$store.commit('resErrorAuth');
                const emailInput = document.querySelector('input[name="email"]');
                if(emailInput){
                    emailInput.focus();
                }
                // if(this.$refs.email){
                //     this.$refs.email.focus();
                // }

                this.modalShow = true;
            },
            cerrar(){
              this.item = [];
              this.modalShow = false;
            },
        }
    }
</script>

<style scoped>
    .error{
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
        position: absolute;
        text-align: center;
    }
    .user-img img{
        height: 120px;
        width: 120px;
    }
    .user-img{
        margin-top: -60px;
        margin-bottom: 45px;
    }
    .form-group input{
        font-size: 18px;
        letter-spacing: 2px;
        padding-left: 54px;
    }
    .ico1::before, .ico2::before{
        font-family: "Ionicons";
        content: "\f345";
        position: absolute;
        font-size: 22px;
        left: 28px;
        padding-top: 4px;
        color: #555e60;
    }
    .ico2::before{
        content: "\f1af";
    }
    .form-input button{
        width: 40%;
        margin: 5px 0 25px;
    }
    .btn-success{
        background-color: #1c6288;
        font-size: 19px;
        border-radius: 5px;
        padding: 7px 14px;
        border: 1px solid #daf1ff;
    }
    .btn-success:hover{
        background-color: #13445e;
        border: 1px solid #daf1ff;
    }
    .forgot{
        padding: 5px 0 25px;
        text-align: center;
    }
    .forgot a{
        color: #fff;
    }
    .invalid-feedback{
        color: #fff;
    }
    .btn-success{
        width: 100%;
    }
    .ojo{
        color: #555e60;
        position: absolute;
        right: 20px;
        top: 102px;
    }


</style>