 <template> 
	<b-container> 
 		<b-row>
 			<b-col class="text-center">
 				<h2> Mi perfil </h2>
 			</b-col>
 		</b-row>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Padeler@: </h5>
 				
				<b-row class="mb-2">
 					<b-col sm="12" md="4">
 						<div class="mb-2 mx-auto" style="max-height:61.5%; height:128px; max-width: 150px">
 							<b-img :src="item.avatar" style="height: 125px" center fluid rounded/>
 						</div>
 						
 							<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
 						
 					</b-col>
 					<b-col>
 						<b-row class="mb-3">
 							<b-col sm="12" md="4">
		 						<b-form-group label="Nombre:*">
		 							<b-form-input type="text" v-model="item.nombre" aria-describedby="nombreFeedback" :state="nameState" required v-focus></b-form-input>
		 							<b-form-invalid-feedback id="nombreFeedback">
		 								{{ errores.nombre }}
		 							</b-form-invalid-feedback>
			 					</b-form-group>
		 					</b-col>
		 					
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Apellidos:">
		 							<b-form-input type="text" v-model="item.apellidos" :state="apellidosState" aria-describedby="apellidosFeedback" required></b-form-input>
		 							<b-form-invalid-feedback id="apellidosFeedback">
		 								{{ errores.apellidos }}
		 							</b-form-invalid-feedback>
			 					</b-form-group>
		 					</b-col>
		 					
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nick:*">
		 							
		 							<b-form-input type="text" v-model="item.nick" :state="nickState" aria-describedby="nickFeedback" required></b-form-input>
		 							<b-form-invalid-feedback id="nickFeedback">
		 								{{ errores.nick }}
		 							</b-form-invalid-feedback>
			 						
		 						</b-form-group>
		 					</b-col>
		 				</b-row>
 						<b-row>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Sexo">
		 							<b-form-radio-group buttons  button-variant="outline-primary" v-model="item.sexo" :options="optionSexo"/>
						      	</b-form-group>
						  	</b-col>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Posición:">
		 							<b-form-select v-model.number="item.posicion" :options="comboPosiciones" class="mb-3"/>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nivel:">
			 						<b-form-select v-model.number="item.nivel_id" :options="comboNiveles" class="mb-3"/>
			 					</b-form-group>
		 						
		 					</b-col>
		 				</b-row>
 					</b-col>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			
 			<b-card class="ml-0" header-tag="header">
 				<h5 slot="header" class="mb-0">Datos de contacto:</h5>
 				<b-row>
					<b-col sm="6" md="4">
						<b-form-group label="Código Postal:*">
							<b-form-input type="number" v-model="item.postal" aria-describedby="postalFeedback" :state="postalState"></b-form-input>
							<b-form-invalid-feedback id="postalFeedback">
								{{ errores.postal }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col sm="6" md="4">
						<b-form-group label="Población:">
							<b-form-input type="text" v-model="item.poblacion" :state="poblacionState" aria-describedby="poblacionFeedback" disabled></b-form-input>
							<b-form-invalid-feedback id="poblacionFeedback">
								{{ errores.poblacion }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col sm="4" md="4">
						<b-form-group label="Desplazamiento:">
							<b-form-select v-model.number="item.desplazamiento" :options="comboDesplazamientos" class="mb-3"/>
						</b-form-group>
					</b-col>
				</b-row>
 				<b-row>
 					<b-col sm="12" md="3">
 						<b-form-group label="Teléfono:*">
 							<b-form-input type="number" v-model.number="item.telefono" :state="telefonoState" aria-describedby="telefonoFeedback" required></b-form-input>
	 						<b-form-invalid-feedback id="telefonoFeedback">
	 							{{ errores.telefono }}
	 						</b-form-invalid-feedback> 	
	 					</b-form-group>
 					</b-col>
 					<b-col sm="12" md="5">
 						<b-form-group label="Correo-e:*">
 							<b-form-input type="email" v-model="item.email" :state="emailState" aria-describedby="emailFeedback"></b-form-input>
 							<b-form-invalid-feedback id="emailFeedback">
 								{{ errores.email }}
 							</b-form-invalid-feedback> 
	 					</b-form-group>
 					</b-col>
 					

 					<b-col sm="12" md="2">
	 					<b-form-group label="Contraseña:*">
 							<b-form-input type="password" v-model="item.password" :state="passState" aria-describedby="passFeedback" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass }}
 							</b-form-invalid-feedback>
 						</b-form-group>
	 				</b-col>
 					<b-col sm="12" md="2">
 						<b-form-group label="Repetir contraseña:*">
 							<b-form-input type="password" v-model="item.password_confirmation" :state="passState" aria-describedby="passFeedback" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass_confirm }}
 							</b-form-invalid-feedback> 	
 						</b-form-group>
 					</b-col>
 					
	 			</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Disponibilidad:</h5>
 				
				<span style="color: rgba(0, 0, 0, 0.65)">Escriba la hora en formato 24h</span>
 				<b-row class="mb-2">
 					<template v-for="(dia, key) in comboDias">	
	 					<b-col sm="6" md="3" :key="key">
	 						<b-form-group horizontal>
			 					{{ dia }} a partir de las
								<b-form-input type="time" v-model="disponibilidad[dia]"></b-form-input>
							</b-form-group>
						</b-col>
		 			</template>	
		 		</b-row>
			 	
		 	</b-card>
		</b-card-group>
		<div class="clearfix"></div>
		<b-form-checkbox id="checkbox1" v-model="status2" value="1" unchecked-value="0" class="float-right mb-1" @change="aceptado">
			He leido y acepto la
			<span @click="politica" title="Leer política de privacidad" class="legal">
				Política de privacidad
			</span>
		</b-form-checkbox>
		<div class="clearfix"></div>
		<div class="float-right mb-5">
			<div class="form-group">
                <vue-recaptcha ref="recaptcha" @verify="onCaptchaVerified" :sitekey="sitekey" size="invisible"></vue-recaptcha> 
            </div>
        
 			<b-btn class="mt-3" variant="outline-primary" @click="submit" v-if="status == 1" :disabled="isSubmitting">Guardar</b-btn>
 			<b-btn class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-btn>
 		</div>
 		<b-modal v-model="modal" centered size="lg" hide-footer hide-header id="lopd">
			    
		</b-modal>

 	</b-container>
 </template>

 <script>
 import uploadFile from '../../extras/uploadFile.vue';
 import Icon from 'vue-awesome/components/Icon';
 import validaciones from '../../../helpers/validaciones';
 import funciones from '../../../helpers/funciones';
 import VueRecaptcha from 'vue-recaptcha';
 import {ROAST_CONFIG} from '../../../helpers/config';
 
 export default {
 	props:['datos'],
 	components: {
 		uploadFile,
 		'icon': Icon,
 		'vue-recaptcha': VueRecaptcha,

 	},
 	mixins: [validaciones,funciones],
 	origen:'crear',
 	data: ()=>({
 		modal: false,
 		status2: 0,
 		pageUrl: 'auth/register',	
 		item: {nombre: null, apellidos: null, sexo: 'HOMBRE', nick: null, telefono: null, email: null, password: null, password_confirmation: null, disponibilidad: null, posicion: "INDIFERENTE", nivel_id: 1,poblacion: null, poblacion_id: null, avatar: null, postal: null, clubs_id: 8, desplazamiento:5},
 		comboNiveles: [
 			{value: 1, text:'1.00'},
 			{value: 2, text:'1.25'},
 			{value: 3, text:'1.50'},
			{value: 4, text:'1.75'},
 			{value: 5, text:'2.00'},
 			{value: 6, text:'2.25'},
 			{value: 7, text:'2.50'},
 			{value: 8, text:'2.75'},
 			{value: 9, text:'3.00'},
 			{value: 10, text:'3.25'},
 			{value: 11, text:'3.50'},
 			{value: 12, text:'3.75'},
 			{value: 13, text:'4.00'},
 			{value: 14, text:'4.25'},
 			{value: 15, text:'4.50'},
 			{value: 16, text:'4.75'},
 			{value: 17, text:'5.00'},
 			{value: 18, text:'5.25'},
 			{value: 19, text:'5.50'},
 			{value: 20, text:'5.75'},
 			{value: 21, text:'6.00'},
 			{value: 22, text:'6.25'},
 			{value: 23, text:'6.50'},
 			{value: 24, text:'6.75'},
 			{value: 25, text:'7.00'}
		],
		comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		comboDesplazamientos: [{value:5,text:'5 Km'},{value: 10, text: '10 Km'},{value: 15, text: '15 Km'},{value: 20, text: '20 Km'},{value: 25, text: '25 Km'},{value: 30, text: '30 Km'},{value: 35, text: '35 Km'},{value: 40, text: '40 Km'}],
		comboDias: ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'],
		disponibilidad: {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null},
		optionSexo: [{value: 'HOMBRE', text:'Hombre'},{value: 'MUJER', text: 'Mujer'}],
		newFile: null,
 		errores: [],
 		erroresServidor: [],
 		//recaptcha
 		sitekey: ROAST_CONFIG.RECAPTCHAV3_SITEKEY,
 		isSubmitting: false,
 	}),
 	watch:{
 		'item.nick'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nick'),1) : '';
 		},
 		'item.email'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
 		},
 		'item.telefono'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('telefono'),1) : '';
 		},
 		status(value){
 			
 			/*let me = this.item;
 			if(me.nombre != '' && me.nick != '' && me.postal != '' && me.telefono != '' && me.email != '' && me.password != '' && me.password_confirmation != '' && value == 1){
 				this.status = 1;
 				this.status2 = 1;
 			}*/
 		}
 	},
 	created(){
 	
 		
 	},
 	mounted(){
 		
 	},
 	computed: {
 		status(){
 			let me = this.item;
 			if(me.nombre != '' && me.nick != '' && me.postal != '' && me.telefono != '' && me.email != '' && me.password != '' && me.password_confirmation != '' && this.status2 == 1){
 				this.status2 = 1;
 				return 1;
 			}else{
 				return 0;
 			}
 		},
 		club(){
 			this.item.clubs_id = this.datos.club[0].id;
 			return this.datos.club[0];
 		},
 		nameState () {
 			return this.validarNombre();
 		},
 		apellidosState () {
 			return this.validarApellidos();
 		},
 		nickState () {
 			return this.validarNick();
 		},
 		telefonoState(){
 			return this.validarTelefono();
 		},
 		emailState(){
 			return this.validarMail();
 		},
 		postalState(){
 			return this.validarPostal();
 		},
 		poblacionState(){
 			return this.validarPoblacion();
 		},
 		passState(){
 			return this.validarPass();
 		},
 	},
 	methods:{
 		politica(){
 			window.open('#/politica_de_privacidad', '_blank');
 		},
 		aceptado(event){
 			let me = this.item;
 			let errores = 0;
 			(me.nombre == null || me.nombre == '') ? (me.nombre = '', errores++): '';
 			(me.nick == null || me.nick == '') ? (me.nick = '', errores++) : '';
 			(me.postal == null || me.postal == '') ? (me.postal = '', errores++): '';
 			(me.telefono == null || me.telefono == '') ? (me.telefono = '', errores++): '';
 			(me.email == null || me.email == '') ? (me.email = '', errores++): '';
 			(me.password == null || me.password == '') ? (me.password = '', errores++) : '';
 			(me.password_confirmation == null || me.password_confirmation == '') ? (me.password_confirmation = '', errores++) : '';

 			if(errores == 0){
 				//console.log(event)
 				this.status2 = 1;
 			}
 			if(errores > 0){
 				this.status2 = 0;
				toastr.warning('Completa los campos obligatorios')
 			}
 			
 		//this.status = event;
 		},
	 	validarNombre(){
	      if(this.item.nombre != null){
	        if (this.item.nombre.trim() == ''){
	          this.errores.nombre = "No puede estar vacio";
	            return false
	          }
	        if(!this.validarTexto(this.item.nombre)){
	          this.errores.nombre = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.nombre == null? null: true;
	    },
	    validarApellidos(){
	      if(this.item.apellidos != null){
	        if (this.item.apellidos.trim() == ''){
	        	return true;
	        }
	        if(!this.validarTexto(this.item.apellidos)){
	          this.errores.apellidos = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.apellidos == null? true: true;
	    },
	    validarTelefono(){
			const telefono = this.$options.origen == "editar" ? this.edit_.telefono : this.item.telefono;
			
			if(telefono != null){

				if(this.erroresServidor.includes('telefono')){
					
					return false;
	 			};
				
				if(this.validarFloat(telefono)){
					this.errores.telefono = "Debe ser un número entero";
					return false;
				}
				if(telefono.toString().length != 9 && telefono != ''){
					this.errores.telefono = "Debe tener nueve dígitos";
					return false;
				}
			}
			if(telefono == ''){
				this.errores.telefono = "No puede estar vacío";
				return false;
			}

			
			return telefono == null ? null : true;  
		},
 		validar(){
 			if(this.validarNombre() && this.validarNick() && this.validarTelefono() && this.validarMail() && this.validarPostal() && this.validarPoblacion() && this.validarPass()){
 				return true;
 			}else{
 				return false;
 			}
 		},
 		nuevaImg(imagen){
 			this.item.avatar = imagen.img == "" ? "": imagen.img;
 			this.newFile = imagen.file == "" ? "" : imagen.file;
 		},
 		cancelar(){
 			this.item = {nombre: null, apellidos: null, sexo: 'HOMBRE', nick: null, telefono: null, movil: null, email: null, password: null, password_confirmation: null, disponibilidad: null, posicion: "INDIFERENTE", nivel_id: 1,poblacion: null, poblacion_id: null, avatar: null, postal: null, clubs_id: 1, desplazamiento:5};
 			this.status = {lv: false, ld: false, ldmt: false, fs: false, f: false};
 			this.errores = [];
 			this.erroresServidor = [];
 			this.$router.push({name: 'layout'});
		},
		

		//recaptcha
		submit(){
			//this.isSubmitting = true;
			this.$refs.recaptcha.execute();
		},

		onCaptchaVerified(token) {
            //this.resetCaptcha();
            this.$refs.recaptcha.reset();

            this.item.clubs_id = this.club.id;
			this.item.disponibilidad = this.disponibilidadJugador(this.disponibilidad);
			this.item.recaptcha = token;
			const resError = {check: ''};
			
			let form = this.toFormData(this.item, this.newFile);
			
			if(this.validar()){
				axios.post(this.pageUrl, form).then((response) => {
					this.errores = resError;
					response.data.status == 'success' ? (this.$router.push({name: 'layout'}), toastr.success(response.data.msg), this.resetCaptcha()): toastr.warning(response.data.msg);
					
				}, (error) => {
					console.log(error.response.data);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = resError;

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				}).catch((err) => {
					console.log(err.response.data);
	                //this.isSubmitting = false
	                this.errores = err.response.data.errors;
           		});
			}else{
				let obj = this.item;
				for (let key in obj){
					if(obj[key] == null){
						obj[key] = '';
					}else{
						obj[key] = obj[key];
					}
				}
			}
		},

        resetCaptcha() {
            this.$refs.recaptcha.reset()
        }
	}

	
}
</script>	

<style scoped>
.wrapper {
      min-height: calc(100vh);
      box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
  }
.fieldset{
	border: 1px solid #e9ecef;
}

#horario .row{
	border-right : 1px solid rgba(0, 0, 0, 0.125);
}
.ulti{
	border-right : none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number], input[type=time] {
	-moz-appearance:textfield;
}
input[type=time]{
	text-align: center;
}
.card-group{
	padding: 2px 0;
}
.ml-0{
	border-left : 1px solid rgba(0, 0, 0, 0.125) !important;
}
.error{
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}

.legal{
	color: blue;
    text-decoration: underline;
    transition: all 0.3s;
}
.legal:hover{
	color: red;
    text-decoration: none;
    transition: all 0.3s;
}
.grecaptcha-badge {
    visibility: hidden !important;
}

</style>

