

<template>
    <b-container class="wrapper mb-5">
        <b-row>
            <b-col sm="12" md="8" offset-md="2">
                <div class="panel panel-default mt-5">
                    <div class="panel-heading text-center">
                        <h2>
                         Recuperar contraseña
                        </h2>
                    </div>
                    <div class="panel-body">
                        <b-form-group label="Correo-e:">
                            <b-form-input type="email" v-model="item.email" :state="emailState" aria-describedby="emailFeedback" required autofocus></b-form-input>
                            <b-form-invalid-feedback id="emailFeedback">
                                {{ errores.email }}
                            </b-form-invalid-feedback> 
                        </b-form-group>
                    
                        <b-form-group label="Contraseña:">
                            <b-form-input type="password" v-model="item.password" :state="passState" aria-describedby="passFeedback" required></b-form-input>
                            <b-form-invalid-feedback id="passFeedback">
                                {{ errores.pass }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    
                        <b-form-group label="Repetir contraseña:">
                            <b-form-input type="password" v-model="item.password_confirmation" :state="passState" aria-describedby="passFeedback" required @keydown.enter.native="enviar"></b-form-input>
                            <b-form-invalid-feedback id="passFeedback">
                                {{ errores.pass_confirm }}
                            </b-form-invalid-feedback>  
                        </b-form-group>
                        <b-form-group>
                           <div class="float-right">
                                <b-button variant="primary" @click="enviar">
                                    Enviar
                                </b-button>
                            </div>
                        </b-form-group>
                    </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import Icon from 'vue-awesome/components/Icon';
    import validaciones from '../../../helpers/validaciones';
    import funciones from '../../../helpers/funciones';
    import {login} from '../../../helpers/auth';

    export default {
        props:['datos'],
        components: {
            'icon': Icon, 

        },
        mixins: [validaciones,funciones],
        origen:'crear',
        data: ()=>({

            pageUrl: 'auth/reset',   
            item: {email: null,  password: null, password_confirmation: null},
            errores: [],
            erroresServidor: [], 
        }),
        watch:{
            'item.email'(newVal, oldVal){
                newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
            },
        },
        created(){
            let url = window.location.hash.split("/");
            let size = url.length;
            this.item.remember_token = url[size - 1];
            this.item.token = url[size - 1];  
        },
        computed: {
            club(){
                return this.datos.club[0];
            },
            emailState(){
                return this.validarMail();
            },
            passState(){
                return this.validarPass();
            },
        },
        methods:{
            validarPass(){
                const pass = this.item.password;
                const pass_confirm = this.item.password_confirmation;

                const patron = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}[^'\s]/;

                if(pass != null || pass_confirm != null){
                    if(pass != null && pass_confirm == null){
                        if(pass.trim() == ''){
                            this.errores.pass = "El campo contraseña no puede estar vacío";
                            return false;
                        }else{
                            this.errores.pass = "";

                        }
                        if(pass.length < 6){
                            this.errores.pass = "La contraseña debe ser mayor a 6 caracteres";
                            return false;
                        }else{
                            this.errores.pass = "";

                        }
                    }else{
                        if(pass_confirm == ''){
                            this.errores.pass_confirm = "El campo contraseña no puede estar vacío";
                            return false;
                        }else{
                            this.errores.pass_confirm = "";

                        }
                        
                        if(pass_confirm.length < 6){
                            this.errores.pass_confirm = "La contraseña debe ser mayor a 6 caracteres";
                            return false;
                        }else{
                            this.errores.pass_confirm = "";

                        } 

                    };
                    if(pass != null && pass_confirm != null){
                        if(pass == pass_confirm){
                            return true;
                        }else{
                            this.errores.pass = "Las contraseñas no coinciden";
                            this.errores.pass_confirm = "Las contraseñas no coinciden";
                            return false;
                        };
                    }
                    
                }
            },
            enviar(){
                if(this.validarMail() == true && this.validarPass() == true){
                    this.item.clubs_id = this.club.id;
                    axios.post(this.pageUrl, this.item).then((response) => {
                        response.data.status == 'success' ? (this.errores = [], toastr.success(response.data.msg), this.login()): toastr.warning(response.data.msg);
                    }, (error) => {
                        let errores = error.response.data.error;
                        this.erroresServidor = [];
                        this.errores = [];

                        for (let key in errores){
                            this.erroresServidor.push(key);
                            this.errores[key] = errores[key];
                        }
                    });  
                }else{
                   this.item.email = '';
                }
             
            },
            login(){
                this.item.clubs_id = this.club.id;
                this.$store.dispatch('login');
                login(this.$data.item).then((res) => {
                    this.$store.commit("loginSuccess", res);
                    this.$router.push({path: '/'});
                }).catch((error) => {
                    this.$store.commit("loginFailed", {error});
                });
            }
        },
    }
</script>
<style scoped>
    .wrapper {
        min-height: calc(100vh);
        box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
    }
</style>

