<template> 

 	<b-container> 
 		<b-row>
 			<b-col class="text-center">
 				<h2> Mi perfil </h2>
 			</b-col>
 		</b-row>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Padeler@: </h5>
 				
				<b-row class="mb-2">
 					<b-col sm="12" md="4">
 						<div class="mb-2 mx-auto" style="max-height:61.5%; height:128px; max-width: 150px">
 							<b-img :src="edit_.avatar" style="height: 125px" center fluid rounded/>
 						</div>
 						
 							<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
 						
 					</b-col>
 					<b-col>
 						<b-row class="mb-3">
 							<b-col sm="12" md="4">
		 						<b-form-group label="Nombre:">
		 							<b-form-input type="text" v-model="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState" @keydown.enter.native="actualizar" required></b-form-input>
		 							<b-form-invalid-feedback id="nombreFeedback">
		 								{{ errores.nombre }}
		 							</b-form-invalid-feedback>
			 					</b-form-group>
		 					</b-col>
		 					
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Apellidos:">
		 							<b-form-input type="text" v-model="edit_.apellidos" :state="apellidosState" aria-describedby="apellidosFeedback" @keydown.enter.native="actualizar" required></b-form-input>
		 							<b-form-invalid-feedback id="apellidosFeedback">
		 								{{ errores.apellidos }}
		 							</b-form-invalid-feedback>
			 					</b-form-group>
		 					</b-col>
		 					
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nick:">
		 							
		 							<b-form-input type="text" v-model="edit_.nick" :state="nickState" aria-describedby="nickFeedback" @keydown.enter.native="actualizar" required></b-form-input>
		 							<b-form-invalid-feedback id="nickFeedback">
		 								{{ errores.nick }}
		 							</b-form-invalid-feedback>
			 						
		 						</b-form-group>
		 					</b-col>
		 				</b-row>
 						<b-row>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Sexo">
		 							<b-form-radio-group buttons  button-variant="outline-success" v-model="edit_.sexo" :options="optionSexo"/>
						      	</b-form-group>
						  	</b-col>
	 						<b-col sm="12" md="4">
		 						<b-form-group label="Posición:">
		 							<b-form-select v-model.number="edit_.posicion" :options="comboPosiciones" class="mb-3"/>
		 						</b-form-group>
		 					</b-col>
		 					<b-col sm="12" md="4">
		 						<b-form-group label="Nivel:">
		 							<p class="form-control-plaintext">{{ edit_.nivel}}</p>
		 						</b-form-group>
		 						
		 					</b-col>
		 				</b-row>
 					</b-col>
 					
 				</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			
 			<b-card class="ml-0" header-tag="header">
 				<h5 slot="header" class="mb-0">Datos de contacto:</h5>
 				<b-row>
					<b-col sm="6" md="4">
						<b-form-group label="Código Postal:">
							<b-form-input type="number" v-model="edit_.postal" aria-describedby="postalFeedback" :state="postalState" @keydown.enter.native="actualizar"></b-form-input>
							<b-form-invalid-feedback id="postalFeedback">
								{{ errores.postal }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col sm="6" md="4">
						<b-form-group label="Población:">
							<b-form-input type="text" v-model="edit_.poblacion" :state="poblacionState" aria-describedby="poblacionFeedback" disabled></b-form-input>
							<b-form-invalid-feedback id="poblacionFeedback">
								{{ errores.poblacion }}
							</b-form-invalid-feedback> 	
						</b-form-group>
					</b-col>
					<b-col sm="4" md="4">
						<b-form-group label="Desplazamiento:">
							<b-form-select v-model.number="edit_.desplazamiento" :options="comboDesplazamientos" class="mb-3"/>
						</b-form-group>
					</b-col>
				</b-row>
 				<b-row>
 					<b-col sm="12" md="3">
 						<b-form-group label="Teléfono:">
 							<b-form-input type="number" v-model.number="edit_.telefono" :state="telefonoState" aria-describedby="telefonoFeedback" @keydown.enter.native="actualizar" required></b-form-input>
	 						<b-form-invalid-feedback id="telefonoFeedback">
	 							{{ errores.telefono }}
	 						</b-form-invalid-feedback> 	
	 					</b-form-group>
 					</b-col>
 					<b-col sm="12" md="5">
 						<b-form-group label="Correo-e:">
 							<b-form-input type="email" v-model="edit_.email" :state="emailState" aria-describedby="emailFeedback" @keydown.enter.native="actualizar"></b-form-input>
 							<b-form-invalid-feedback id="emailFeedback">
 								{{ errores.email }}
 							</b-form-invalid-feedback> 
	 					</b-form-group>
 					</b-col>
 					

 					<b-col sm="12" md="2" v-if="pass == 'SI'">
	 					<b-form-group label="Contraseña:">
 							<b-form-input type="password" v-model="edit_.password" :state="passState" aria-describedby="passFeedback" @keydown.enter.native="actualizar" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass }}
 							</b-form-invalid-feedback>
 						</b-form-group>
	 				</b-col>
 					<b-col sm="12" md="2" v-if="pass == 'SI'">
 						<b-form-group label="Repetir contraseña:">
 							<b-form-input type="password" v-model="edit_.password_confirmation" :state="passState" aria-describedby="passFeedback" @keydown.enter.native="actualizar" required></b-form-input>
 							<b-form-invalid-feedback id="passFeedback">
 								{{ errores.pass_confirm }}
 							</b-form-invalid-feedback> 	
 						</b-form-group>
 					</b-col>
 					<b-col cols="12">
 						<b-form-checkbox id="checkbox1" v-model="pass" value="SI" unchecked-value="NO" class="float-right">¿Cambiar contraseña?</b-form-checkbox>
 					</b-col>
	 			</b-row>
 			</b-card>
 		</b-card-group>
 		<b-card-group>
 			<b-card class="mr-1" header-tag="header">
 				<h5 slot="header" class="mb-0">Disponibilidad:</h5>
 				
				<span style="color: rgba(0, 0, 0, 0.65)">Escriba la hora en formato 24h</span>
 				<b-row class="mb-2">
 					<template v-for="(dia, index) in comboDias">	
	 					<b-col sm="6" md="3" :key="index">
	 						<b-form-group horizontal>
			 					{{ dia }} a partir de las
								<b-form-input type="time" v-model="disponibilidad[dia]" @keydown.enter.native="actualizar"></b-form-input>
							</b-form-group>
						</b-col>
		 			</template>	
		 		</b-row>
			 	
		 	</b-card>
		</b-card-group>
		<div class="float-right mb-5">
 			<b-btn class="mt-3" variant="outline-primary" @click="actualizar">Actualizar</b-btn>
 		</div>

 	</b-container>
 </template>

<script>
import uploadFile from '../../extras/uploadFile.vue';
import Icon from 'vue-awesome/components/Icon';

import validaciones from '../../../helpers/validaciones';
import funciones from '../../../helpers/funciones';

   export default {
   	components: {
	    uploadFile,
	    'icon': Icon,

  	},
  	mixins: [validaciones,funciones],
  	origen:'editar',
   	data: ()=>({
	   
	    pageUrl: 'auth/pyrs',
	    edit_: null,
	    //combos
		comboNiveles: [],
		comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		comboDesplazamientos: [{value:5,text:'5 Km'},{value: 10, text: '10 Km'},{value: 15, text: '15 Km'},{value: 20, text: '20 Km'},{value: 25, text: '25 Km'},{value: 30, text: '30 Km'},{value: 35, text: '35 Km'},{value: 40, text: '40 Km'}],
		comboDias: ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'],
		disponibilidad: {'Lunes' : null ,'Martes': null, 'Miércoles': null ,'Jueves': null,'Viernes': null,'Sábado': null,'Domingo': null},
		pass: 'NO',
		optionSexo: [{value: 'HOMBRE', text:'Hombre'},{value: 'MUJER', text: 'Mujer'}],
		//editable
		isEdit: false,
		newFile: null,
		//errores
		errores: [],
		erroresServidor: [],

  	}),
   	created(){
   			
   		window.scrollTo(0, 0);
   		this.clonar();	
   	},
	watch:{
 		'edit_.nick'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('nick'),1) : '';
 		},
 		'edit_.email'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('email'),1) : '';
 		},
 		'edit_.telefono'(newVal, oldVal){
 			newVal != oldVal? this.erroresServidor.splice(this.erroresServidor.indexOf('telefono'),1) : '';
 		},
 	},
	computed: {
 		nameState () {
 			return this.validarNombre();
 		},
 		apellidosState () {
 			return this.validarApellidos();
 		},
 		nickState () {
 			return this.validarNick();
 		},
 		telefonoState(){
 			return this.validarTelefono();
 		},
 		movilState(){
 			return this.validarMovil();
 		},
 		emailState(){
 			return this.validarMail();
 		},
 		postalState(){
 			return this.validarPostal();
 		},
 		poblacionState(){
 			return this.validarPoblacion();
 		},
 		passState(){
 			return this.validarPass();
 		},
 		item(){
 			return this.$store.getters.currentUser;
 		},

 	},
 	methods:{
 		validarNombre(){
	      if(this.item.nombre != null){
	        if (this.item.nombre.trim() == ''){
	          this.errores.nombre = "No puede estar vacio";
	            return false
	          }
	        if(!this.validarTexto(this.item.nombre)){
	          this.errores.nombre = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.nombre == null? null: true;
	    },
	    validarApellidos(){
	      if(this.item.apellidos != null){
	        if (this.item.apellidos.trim() == ''){
	        	return true;
	        }
	        if(!this.validarTexto(this.item.apellidos)){
	          this.errores.apellidos = "No puede contener números";
	          return false
	        }
	      }
	      
	      return this.item.apellidos == null? true: true;
	    },
 		validar(){
 			if(this.validarNombre() && this.validarNick() && (this.validarTelefono() || this.validarTelefono() == null) && this.validarMail() && this.validarPostal() && this.validarPoblacion() && this.item.id == this.edit_.id && this.validarPass()){
 				return true;
 			}else{
 				return false;
 			}
 		},
 		nuevaImg(imagen){
 			this.edit_.avatar = imagen.img == "" ? "": imagen.img;

 			this.newFile = imagen.file == "" ? "" : imagen.file;
 		},
 		clonar(){
 			this.edit_ = _.clone(this.item);
 			//this.edit_.nivel = this.comboNiveles[(this.edit_.nivel_id - 1)].text;
 			this.disponibilidad = this.desglosarDisponibilidadEditar(this.edit_.disponibilidad);
		},
		cancelar(){
			this.isEdit = false;
			
			
		},
		actualizar(){
			let token = document.head.querySelector('meta[name="csrf-token"]');
			this.edit_.remember_token = token.content;
			this.edit_.disponibilidad = this.disponibilidadJugador(this.disponibilidad);
			
			const resError = {check: ''};
			let form = this.toFormData(this.edit_, this.newFile);

			if(this.validar()){

				axios.post(`${this.pageUrl}/update/${this.edit_.id}`, form).then((response) => {
					this.errores = resError;
					response.data.status == 'success' ? (toastr.success(response.data.msg), this.$store.commit("user", this.edit_) ): toastr.warning(response.data.msg);
					
				}, (error) => {
					console.error(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = resError;

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});
			}

		},
	}
	
 }
</script>	

<style scoped>
	.fieldset{
		border: 1px solid #e9ecef;
	}

	.form-control-plaintext{
		color: #0031ff;
	}
	.botonCabecera{
		position: absolute;
		top: 0;
		right: 0;
		padding: 2px;
	}

	.container-fluid{
		margin-top: 20px;
	}

	.btn-outline-primary {
	    color: #006200;
	    border-color: #009a00;
	}
	.btn-outline-primary:hover {
		color: #009a00;
    	background-color: #006200;
    	border-color: #009a00;
    }
 

</style>