<template>
	<div>
		<div class="datos"> 
			<span v-b-modal.telf class="click">{{ item.movil }}</span> | 
			<a :href="`mailto:${item.email}`"> {{ item.email }}</a>
			<img src="image/estrella.png" class="destello destello-02">
		</div>
		<b-container fluid>
			<navbar-component :datos="club"></navbar-component>
			
			<b-row>
				<b-col>
					<transition name="slide-fade" mode="out-in" appear>
						<router-view :datos="club" :partidas="partidas"></router-view>
					</transition>
				</b-col>
			</b-row>
		</b-container>
		
		<footer-component :datos="club"></footer-component>
		
		<b-button class="goTop" v-if="isVisible" @click="backToTop">
       		<i class="fa fa-angle-up" aria-hidden="true"></i>
   		</b-button>
   		<b-modal id="telf" :title="titulo" hide-footer size="sm">
			<div class="text-center">
				<b-button :href="`tel:+34${item.movil}`" v-if="isMob">Llamar</b-button>
				<b-button @click="whats = !whats" v-if="isMob">Whatsapp</b-button>
				<div v-if="whats || !isMob" class="mt-2">
					<b-form-textarea type="text" v-model="mensaje" :rows="3" @keydown.enter.native="enviar"></b-form-textarea>
					<b-button class="mt-2 float-right" @click="enviar">Enviar</b-button>
				</div>
			</div>
		</b-modal>
	</div>
</template>
<script>

import navBar from "./layouts/navBar.vue";
import footer from "./layouts/footer.vue";



import partidas from "./extras/calendarioPartidas.vue";
import funciones from '../helpers/funciones';

  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

export default{
	//props:['datos', 'partidas'],
	props: {
 		datos: {
	  		type: Array/Object,
	  		default: () => []
	  	},
	  	partidas: {
	  		type: Array/Object,
	  		default: () => []
	  	},
	    user: {
	      type: String,
	      default: '',
	    },
  	},
	components: {
		'navbar-component': navBar,
		'footer-component': footer,
	},
	mixins: [funciones],
	data: ()=>({
		isVisible: false,
		whats: false,
		mensaje: '',
	}),
	
	created(){
		
	},
	mounted(){
		this.$nextTick( () => {
      		this.initToTopButton();
    	});
    },
	watch:{
          
    },
    computed:{
        club(){
        	return this.datos;
        },
        item(){
        	return this.datos.club[0];
        },
        titulo(){
        	let titulo = '';
        	titulo = this.isMob ? "¿Qué quieres hacer?" : "Enviar Whatsapp";
        	return titulo;
        }
        

    },
    methods:{
    	enviar(){
    		if(this.isMob){
				window.open(`https://api.whatsapp.com/send?phone=34${this.item.movil}&text=${this.mensaje}`,'_blank');
			}else{
				window.open(`https://web.whatsapp.com/send?phone=34${this.item.movil}&text=${this.mensaje}`,'_blank');
			}
			
			this.$root.$emit('bv::hide::modal','telf');
			this.mensaje = '';
    	},
    	initToTopButton() {
	      $(document).bind('scroll', function() {
	        var backToTopButton = $('.goTop');
	        if ($(document).scrollTop() > 250) {
	          backToTopButton.addClass('isVisible');
	          this.isVisible = true;
	        } else {
	          backToTopButton.removeClass('isVisible');
	          this.isVisible = false;
	        }
	      }.bind(this));
	    },
	    backToTop() {
	      $('html,body').stop().animate({
	        scrollTop: 0
	      }, 'slow', 'swing');
	    }
    }
}

	
</script>

<style scoped>


/*EFECTOS ESTRELLA NAVIDAD*/
.datos .destello{
	position:absolute;
}
.datos img{
	height: 100px;
	width: 30px;
}
.datos .destello-02{
	left: -45px;
    top: 8px;
    animation: destello-efecto-01-data-v-7e6399ea 5s infinite;
    -webkit-animation: destello-efecto-01-data-v-7e6399ea 2s infinite;
    background: red;
    z-index: -1;
}
@-webkit-keyframes destello-efecto-01 {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.6;transform: scale3d(.3, .3, .3);-webkit-transform: scale3d(.3, .3, .3);}
}

@keyframes destello-efecto-01 {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.6;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
}


#contenido{
	min-height: calc(100vh - 130px);
}
.datos{
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    color: #000000;
    text-orientation: sideways;
  	font-weight: 600;
  	letter-spacing: 0.25rem;
  	position: fixed;
    left: 0;
    top: 30%;
    z-index: 999;
    
}
.goTop {
  border-radius: 5px;
  background-color: rgb(1,14,27);
  background-color: rgba(1, 14, 27, .7);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
}
  .goTop:hover {
    opacity: 1;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .9);
  }
 .goTop .fa {
    color: white;
    font-size: 22px;
}

.isVisible {
  opacity: .8;
  z-index: 4;
  transition: all .4s ease-in;
}
@media screen and (max-height: 600px) {
	.datos{
		font-weight: inherit;
		font-size: 0.7rem;
	}
}
@media screen and (max-height: 400px) {
	.datos{
		font-size: 0.4rem;
	}
}
@media screen and (max-height: 320px) {
	.datos{
		font-size: 5px;
    	word-spacing: 2px;
	}
}


</style>