<template>
  <b-container class="wrapper">
		<div class="grid d-lg-inline">
		
  			<router-link class="btn btn-primary float-right mb-3" :to="{name: 'galerias'}">Galerías</router-link>
  		</div>
  		
			<h2 class="text-center my-4">«{{ nombre }}»</h2>
		
		
		
	<gallery :images="items" :index="index" @close="index = null"></gallery>
    
    	
			<b-row>
				<b-col sm="4" lg="2" class="d-flex align-items-center" v-for="(image, imageIndex) in items" :key="imageIndex" @click="index = imageIndex">
					<b-card-img fluid :src="image"></b-card-img>
					
				</b-col>
				
			</b-row>
	

    	
   
  </b-container>
</template>

<script>
  import VueGallery from 'vue-gallery';


  
  export default {
    components: {
      'gallery': VueGallery,
    
    },
    data: ()=>({
		pageUrl: 'api/glrs',
		items: [],
		imagen: null,
		modal: false,
		nombre: '',
		selected: '',
		onMouse: '',
		evento : null,
		index: null,
	}),
    
    created(){
		//this.nombre = 
			this.$route.params.nombre == null? this.nombre = JSON.parse(sessionStorage.getItem('galeria'))  :  (this.nombre = this.$route.params.nombre, sessionStorage.setItem('galeria', JSON.stringify(this.$route.params.nombre)));
   		
	},
	mounted(){
		this.getGaleria();
		
    },
    methods:{
    	getGaleria(){
    		axios.get(`${this.pageUrl}/${this.nombre}`).then(response =>{
    			if(response.data.length){
    				this.items = response.data;
    			}else{
    				this.items = [];
    			}
		       
		    }, error => {
		        console.log(error.data);
		    })
    	},
    	
    }
  }
</script>
<style scoped>
  .wrapper {
      min-height: calc(100vh)
  }
	[class*="col-"] {
      padding: 1rem;
  	}
  	.trush{
  		position: absolute;
  		right: 0;
  		bottom: -8px;
  	}
  	.card-body{
      padding: 0 !important;
	}
    .wrapper {
      min-height: calc(100vh)
  	}
  	.btn-primary{
    	background-color: #000;
    	border-color: #fc0101;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    	color: #fff;
    	background-color: #000;
    	border-color: #fc0101;
	
    }
    .grid{
    	display: grid;
    }

</style>
