<template> 
	<tr>
		<td>{{ item.nick }}</td>
		<td>{{ item.posicion }}</td>
		<td>
            <b-button-group class="float-right">
              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
            </b-button-group>
      	</td>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';

	export default{
		components: {
		   'icon': Icon,
		},
		props: ['item'],
		data: ()=>({
			
		}),
		mounted(){
			
		},
		computed: {
			user(){
				return this.item;
			}
		},
		methods:{
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>