<template> 
	<tr>
		<template v-if="isEdit">
			<td>{{ item.pos }}</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>{{ item.pj }}</td>
      		<td>{{ item.pg }}</td>
      		<td>{{ item.pp }}</td>
      		<td>{{ item.sg }}</td>
      		<td>{{ item.sp }}</td>
      		<td>{{ item.jg }}</td>
      		<td>{{ item.jp }}</td>
      		<td>{{ item.pts }}</td>
			<td>
				<b-button-group class="float-right">
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.pos }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.nombre }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.pj }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.pg }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.pp }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.sg }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.sp }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.jg }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.jp }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionLiga', params: {liga: item.nombre}}">{{ item.pts }}</router-link>
      		
           	<td>
	            <b-button-group class="float-right">
	              	<b-btn variant="success" @click="editBtn" v-if="boton"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn" v-if="boton"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item', 'boton'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.edit_ = _.clone(this.item);
			
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>