<template> 
	<tr>
		<template v-if="isEdit">
			<td>{{ item.equipoA }}</td>
			<td>{{ item.equipoB }}</td>
			<td width="125" class="result" style="border-right: 2px solid #dee2e6;">
				<b-row>
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego11" v-focus></b-form-input>
					</b-col>
					
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego12"></b-form-input>
					</b-col>
				</b-row>
			</td>
      		<td width="125" class="result" style="border-right: 2px solid #dee2e6;">
				<b-row>
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego21"></b-form-input>
					</b-col>
					
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego22"></b-form-input>
					</b-col>
				</b-row>
			</td>
			<td width="125" class="result" >
				<b-row>
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego31"></b-form-input>
					</b-col>
					
					<b-col>
						<b-form-input type="number" value="0" v-model="edit_.juego32"></b-form-input>
					</b-col>
				</b-row>
			</td>
      		
			<td>
				<b-button-group class="float-right">
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			<td :class="[item.ganador == item.a ? 'ganador' : '']">{{ item.equipoA }}</td>
			<td :class="[item.ganador == item.b ? 'ganador' : '']">{{ item.equipoB }}</td>
			<td class="text-center">{{ item.juego1 }}</td>
      		<td class="text-center">{{ item.juego2 }}</td>
      		<td class="text-center">{{ item.juego3 }}</td>
      		
      		<td>
	            <b-button-group class="float-right">
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.edit_ = _.clone(this.item);
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				this.edit_.juego1 = Math.abs(parseInt(this.edit_.juego11)) + "-" + Math.abs(parseInt(this.edit_.juego12));
				this.edit_.juego2 = Math.abs(parseInt(this.edit_.juego21)) + "-" + Math.abs(parseInt(this.edit_.juego22));
				this.edit_.juego3 = Math.abs(parseInt(this.edit_.juego31)) + "-" + Math.abs(parseInt(this.edit_.juego32));
				this.edit_.juego11 = Math.abs(parseInt(this.edit_.juego11));
				this.edit_.juego12 = Math.abs(parseInt(this.edit_.juego12));
				this.edit_.juego21 = Math.abs(parseInt(this.edit_.juego21));
				this.edit_.juego22 = Math.abs(parseInt(this.edit_.juego22));
				this.edit_.juego31 = Math.abs(parseInt(this.edit_.juego31));
				this.edit_.juego32 = Math.abs(parseInt(this.edit_.juego32));
				this.$emit('update', this.edit_);
				this.isEdit = false;
				
			},
		}
	}
</script>

<style scoped>
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	-moz-appearance:textfield;
}
.result .col{
	padding-left: 6%;
	padding-right: 6%;
}
.ganador{
	color: #0031ff;
	font-weight: bold;
}
</style>