<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="datetime-local" v-model="edit_.fecha" @keydown.enter.native="update"></b-form-input>
			</td>
			<td class="text-center">
				<b-form-checkbox v-model="edit_.visible" value="1" unchecked-value="0"></b-form-checkbox>
			</td>
			<td>
				<b-button-group class="float-right">
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template>
		<template v-else>
			
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionTorneo', params: {objeto: item, torneo: item.nombre}}" title="Clasificación">{{ item.nombre }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionTorneo', params: {objeto: item, torneo: item.nombre}}" title="Clasificación">{{ item.fecha | formatearFecha }} - {{ item.fecha | formatearHora }}</router-link>
      		<router-link tag="td" class="click" :to="{name: 'PageClasificacionTorneo', params: {objeto: item, torneo: item.nombre}}" title="Clasificación">{{ item.visible == 1 ? 'SI' : 'NO' }}</router-link>
      		
           	<td>
	            <b-button-group class="float-right">
	            	<router-link class="btn btn-primary" :to="{name: 'PageClasificacionTorneo', params: {objeto: item, torneo: item.nombre}}" title="Clasificación"><icon name="eye"></icon></router-link>
	            	<router-link class="btn btn-warning" :to="{name: 'PageResultadosTorneo', params: {objeto: item, torneo: item.nombre}}" title="Resultados" v-if="verBoton"><icon name="file-o"></icon></router-link>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			verBoton: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.edit_ = _.clone(this.item);
			this.edit_.fecha = this.edit_.fecha.replace(' ','T');
			//this.item.jornadas.length? this.verBoton = true : '';
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar() && this.edit_.fecha != ''){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>