<template> 

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered>
    <div class="float-right">
      <b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
      <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
    </div>
  </b-modal>
  
</template>

<script>

import EventBus from '../../../helpers/event-bus.js';

export default {

  props:['select', 'origen'],
  mounted(){
    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
        modal == 'close'? this.cerrar() : this.abrir(modal.datos, modal.origen)
      ),
    );
  },
  data: ()=>({ 
    
    item: {nombre: ''},
    titulo:"",
    modalShow: true,
    origen_: '',
  

  }),
  computed: {
    
  },  
  created(){
    this.abrir(this.select, this.origen);
  },
  methods: {
    cabeceraModal(){
      switch(this.origen){
        case 'liga':
        this.titulo = 'Eliminar Liga  «' + this.item.nombre + '»';
          break;
        case 'torneo':
        this.titulo = 'Eliminar Torneo  «' + this.item.nombre + '»'
          break;
        case 'equipo':
        this.titulo = 'Eliminar Equipo  «' + this.item.nombre + '»'
          break;
      }
           
    },

    eliminar(){
    	this.$emit('accion',{objeto: this.item, origen: this.origen_}); //envio al padre la accion y el elemento.
      this.item = {nombre: ''};
      this.origen_ = '';
    },

    abrir(data = [], origen){
      this.item = data;
      this.origen_ = origen;
    	this.cabeceraModal();
      this.modalShow = true;
    },
    cerrar(){
      this.item = {nombre: ''};
      this.origen_ = '';
      this.modalShow = false;
    },
    
  }
}
</script>