<template>
	<div>
		<ol>Sistema de puntuación del Ranking
			
			<li>Los partidos se jugarán al mejor de 3 sets con tie break en todos ellos.</li>

			<li>Puntuación de los partidos:</li>
				<ul>
					<li>Partido ganado 3 puntos.</li>

					<li>Partido perdido 1 punto.</li>

					<li>Partido no jugado por W.O. injustificado, 0 puntos para la pareja que no se presenta, 3 puntos para la pareja contraria.</li>

					<li>Partido no jugado, 0 puntos para ambas parejas.</li>

					<li>Partido sin terminar por lesión de una pareja, se dará por ganado el partido a la pareja no lesionada sumando 3 puntos y 1 punto para la pareja lesionada.</li>
				</ul>

		<li>En caso de empate a puntos entre parejas se aplicarán las siguientes normas:</li>
			<ul>
				<li>En caso de empate a puntos prevalecerá el enfrentamiento directo, solo empate entre dos parejas.</li>

				<li>Si persiste el empate se tendrá en cuenta la cantidad de partidos jugados.</li>

				<li>Si persiste el empate se tendrá en cuenta la diferencia de sets a favor y en contra de todos los partidos jugados durante ese mes.</li>

				<li>Si sigue habiendo empate se tendrá en cuenta la diferencia de juegos a favor y en contra de todos los partidos jugados en la rotación.</li>

				<li>Si continúa el empate ganará quien haya obtenido más juegos a favor.</li>

				<li>Si persiste aún el empate ganará la pareja con mayor antigüedad en el grupo.</li>
			</ul>
		</ol>
	</div>
</template>