<template>
	<b-container fluid class="justify-content-md-center">
		<b-row>
			<b-col cols="10" offset-sm="1">
				
				<div class="text-center mb-5">
					<b-button-group class="float-right">
						<router-link class="btn btn-warning" :to="{name: 'PageClasificacionLiga'}" title="Clasificación">Clasificación</router-link>
						<router-link class="btn btn-primary" :to="{name: 'PageLigasTorneos'}" title="Ligas">Ligas</router-link>
						
					</b-button-group>
					<h2>{{ datosLiga.nombre }}</h2>
				</div>
				
				<table class="table table-hover">
			        <thead class="thead-light">
			        	<tr>
			        		<th colspan="6" class="text-center">
			        			
						        <b-form-select v-model.number="nJornada" :options="comboJornadas" class="mb-3 jornada"/>
						           
			        		</th>
			        	</tr>
			        	 <tr>
				            <th>
				            	Equipo A
				            </th>
				            <th>
				            	Equipo B
				            </th>
				            <th class="text-center">
				            	1
				            </th>
				            <th class="text-center">
				            	2
				            </th>
				            <th class="text-center">
				            	3
				            </th>
				            
				            
				            <th>&nbsp;</th>
				        </tr>
			        </thead>
			        <tbody refs="tableContent">
			         	<tr align="center" v-show="cargando"><td colspan="6"><icon name="refresh" scale="5" spin></icon></td></tr>
			         	<crud-component v-for="(item, key) in filtroResultados" :item="item" :key="key" @update="actualizar($event)"></crud-component>
							</tbody>
			    </table>
			</b-col>
						
			</b-row>
		
	</b-container>

</template>
<script>

	import Icon from 'vue-awesome/components/Icon';
	import EventBus from '../../../helpers/event-bus.js';
	import validaciones from '../../../helpers/validaciones';
	import crud from './EditResultados.vue';	
	import deleteElement  from './FormDelete.vue';

	export default{
		components: {
		   'icon': Icon,
		   'crud-component': crud,
		   'app-form' : deleteElement,
		},
		mixins: [validaciones],
  		origen:'crear',
		data: ()=>({
			pageUrlJornadas: 'ljrnd',
			liga: [],
			nJornada: 0,
		    comboJornadas: [],
		    primeraVez: true,
			errores:  [],
			erroresServidor: [],
			cargando: true,
		}),

		mounted(){
			this.$route.params.objeto == null? this.liga = this.$store.getters.currentLiga  :  (this.liga = this.$route.params.objeto, this.$store.commit("ligaActive", this.liga));
		},
		watch:{
			'liga.jornadas'(item){
				this.$store.commit("ligaActive", this.liga)
			}
			
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    datosLiga(){

		    	return this.liga ? this.liga : [];
		    },

		    filtroResultados(){
		    	let jornada = [];
		    	if(this.datosLiga){ 
		    		if(this.datosLiga.jornadas){
		    			this.$store.commit("ligaActive", this.liga);
		    			this.datosLiga.jornadas.length ? jornada = this.desgloseJornadas(this.datosLiga.jornadas)		    			: '';
		    			
		    		}
		    	}
		    	
		    	
		    	this.cargando = false;
		    	return jornada ? jornada[this.nJornada] : '';
		    },
		    
		},
		methods:{
			desgloseJornadas(datos){
				let jornadas = [];
				let comboJornadas = [];
				for(let i = 0; i < datos.length; i++){
					let jornada = datos.filter(jornada => jornada.jornada == (i + 1))
					if(jornada.length){
						jornadas[i] = jornada;
						
					}else{
						break;
					}
				}
				for(let i = 0; i < jornadas.length; i++){
					comboJornadas.push({value: i ,text:'Jornada ' + (i + 1)})
				}
				if(this.primeraVez){
					for(let i = 0; i < jornadas.length; i++){
						let cont = 0;
						for(let x = 0; x < jornadas[i].length; x++){
							if(jornadas[i][x].juego1 != "0-0"){
								cont++;
							}
						}
						
						if(cont < jornadas[i].length){
							this.primeraVez = false;
							this.nJornada = i;
							break;
						}
						
					}
				}
				

				this.comboJornadas = comboJornadas;

				return jornadas;
			},
			getResultados(){
				axios.get(`${this.pageUrlJornadas}/resultados/${this.datosLiga.id}`).then((response) => {
					this.datosLiga.jornadas = response.data;
		        }, (error) => {
		        console.log(error.response);
		        let errores = error.response.data.errors;
		        for (let key in errores){
		          toastr.warning(errores[key][0]);
		        }
		      })
			},					
			actualizar(actualizar){
    			axios.patch(`${this.pageUrlJornadas}/update/${actualizar.id}`, actualizar).then((response) => {
		        
		        response.data.status == 'success' ? (this.getResultados(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
		      	}, (error) => {
		        	console.log(error.response);
		        	let errores = error.response.data.errors;
		        	for (let key in errores){
		          		toastr.warning(errores[key][0]);
		        	}
		      	})
		    },
			
			
			
		}
	}

</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
	.table th, .table td {
    	vertical-align: middle;
   }
   select.form-control:not([size]):not([multiple]) {
    height: calc(2.80rem + 2px);
   }

   .jornada{
   		width: 25%;
   		color: #495057;
   		background-color: #e9ecef;
   		padding-left: 8%;
   		font-size: 1.6rem;
   }

   @media screen and (max-width: 1700px) {
    
  }
  @media screen and (max-width: 1600px) {
    .jornada{
   		padding-left: 5%;
   	}
  }
  @media screen and (max-width: 1500px) {
    
   
  }

  @media screen and (max-width: 1375px) {
    
  
  }
  @media screen and (max-width: 1220px) {
    
  }

  @media screen and (max-width: 1150px) {
    .jornada{
    	padding-left: 15%;
   		width: 50%;
   	}
  }
  @media screen and (max-width: 995px) {
    
  }
  @media screen and (max-width: 875px) {
    
  }
  @media screen and (max-width: 700px) {
        
  }
  @media screen and (max-width: 610px) {
        
  }
  @media screen and (max-width: 535px) {
    .jornada{
	   	width: 100%;
	   }
  }
</style>