<template>
    <div>
        
        <b-row>
          <b-col>
            <div class="text-center"><h2>Ligas</h2></div>
            <div class="table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td colspan="4">
                      <b-row>
                        <b-col cols="2">
                          <b-button-group class="float-left">
                            <b-button variant="primary" @click="buscarLiga = !buscarLiga, crearLiga = false">
                              <icon name="search"></icon>
                            </b-button>
                          
                            <b-button v-if="!crearLiga" variant="primary" @click="crearLiga = true, buscarLiga = false">
                              <icon name="plus"></icon>
                            </b-button>
                          </b-button-group>
                        </b-col>
                        <b-col v-if="buscarLiga" sm="12" lg="10">
                          <buscador-component @search="search($event, 'liga')" @cancelar="resetSearch('liga')"></buscador-component>
                        </b-col>
                        <b-col v-if="crearLiga" sm="12" lg="10">
                          <b-input-group>
                            <b-input-group-text slot="prepend" class="d-none d-sm-block">
                                Nueva liga
                            </b-input-group-text>
                            <b-form-input type="text" v-model="liga.nombre" @keydown.enter.native="nuevaLiga"></b-form-input>
                            <b-input-group-append is-text>
                              <input type="checkbox" id="checkbox1" v-model="liga.visible" value="1" unchecked-value="0" title="¿Activar?">
                            </b-input-group-append>
                            <b-input-group-append>
                              <b-btn variant="success" @click="nuevaLiga"><icon name="check"></icon></b-btn>
                              <b-btn variant="danger" @click="cancelar('liga')"><icon name="close"></icon></b-btn>
                            </b-input-group-append>
                          </b-input-group>
                        </b-col>
                      </b-row>
                    </td>    
                  </tr>
                  <tr>
                    <th width="600">
                     Nombre
                    </th>
                    <th width="200">
                     Fecha
                    </th>
                    <th width="200">
                     Activa
                    </th>
                    <th width="200">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr align="center" v-show="cargandoLiga"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
                  <crud-component-liga v-for="(item, key) in filtroLiga" :item="item" :key="key" @update="actualizarLiga($event)" @delete="tipoAccion($event, 'liga')"></crud-component-liga>
              </tbody>
            </table>
            <Paginate :pagination="paginationLiga" @pagina="getLigas"></Paginate>
            
          </div>
        </b-col>
        <b-col>
            <div class="text-center"><h2>Torneos</h2></div>
            <div class="table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td colspan="4">
                      <b-row>
                        <b-col cols="2">
                          <b-button-group class="float-left">
                            <b-button variant="primary" @click="buscarTorneo = !buscarTorneo, crearTorneo = false">
                              <icon name="search"></icon>
                            </b-button>
                            <b-button v-if="!crearTorneo" variant="primary" @click="crearTorneo = true, buscarTorneo = false">
                              <icon name="plus"></icon>
                            </b-button>
                          </b-button-group>
                        </b-col>
                        <b-col v-if="buscarTorneo" sm="12" lg="10">
                          <buscador-component @search="search($event, 'torneo')" @cancelar="resetSearch('torneo')"></buscador-component>
                        </b-col>
                        <template v-if="crearTorneo">
                          <b-col sm="12" lg="10">
                            <b-input-group>
                              <b-input-group-text slot="prepend" class="d-none d-sm-block">
                                  Nuevo torneo
                              </b-input-group-text>
                                <b-form-input type="text" v-model="torneo.nombre" @keydown.enter.native="nuevaTorneo"></b-form-input>
                              <b-input-group-append is-text>
                                <input type="checkbox" id="checkbox1" v-model="torneo.visible" value="1" unchecked-value="0" title="¿Activar?">
                              </b-input-group-append>
                              
                            </b-input-group>
                          </b-col>
                          <b-col sm="12" lg="10" offset-lg="2">
                            <b-input-group>
                              <b-input-group-text slot="prepend" class="d-none d-sm-block">
                                  Fecha
                              </b-input-group-text>
                                <b-form-input type="datetime-local" v-model="torneo.fecha" @keydown.enter.native="nuevaTorneo"></b-form-input>
                                <b-input-group-append>
                                <b-btn variant="success" @click="nuevoTorneo"><icon name="check"></icon></b-btn>
                                <b-btn variant="danger" @click="cancelar('torneo')"><icon name="close"></icon></b-btn>
                              </b-input-group-append>
                            </b-input-group>
                          </b-col>
                        </template>
                      </b-row>
                    </td>    
                  </tr>
                  <tr>
                    <th width="600">
                     Nombre
                    </th>
                    <th width="300">
                     Fecha
                    </th>
                    <th>
                     Activa
                    </th>
                    <th width="200">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr align="center" v-show="cargandoTorneo"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
                  <crud-component-torneo v-for="(item, key) in filtroTorneo" :item="item" :key="key" @update="actualizarTorneo($event)" @delete="tipoAccion($event, 'torneo')"></crud-component-torneo>
              </tbody>
            </table>
            <Paginate :pagination="paginationTorneo" @pagina="getTorneos"></Paginate>
            
          </div>
        </b-col>
      </b-row>
      <component :is="modal" @accion="acciones" :select="select" :key="select.id" :origen="origen"></component>
    </div>
</template>

<script>



import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import crudLiga from './EditLiga.vue';
import crudTorneo from './EditTorneo.vue';
import deleteElement  from './FormDelete.vue';


export default {
  components: {
    'icon': Icon,
    'crud-component-liga': crudLiga,
    'crud-component-torneo': crudTorneo,
    'app-form' : deleteElement,
    'buscador-component':Buscador,
    Paginate
  },
  mixins: [funciones],
  data: ()=>({
    //ligas
    pageUrlLiga: 'lgas',
    itemsLiga: [],
    liga: {nombre: '', visible: 1},
    crearLiga: false,
    paginationLiga: [],
    cargandoLiga: true,
    buscarLiga: false,
    
    //torneos
    pageUrlTorneo: 'trns',
    itemsTorneo: [],
    torneo: {nombre: '', visible: 1, fecha: moment().format('YYYY-MM-DD kk:mm').replace(' ', 'T')},
    crearTorneo: false,
    paginationTorneo: [],
    cargandoTorneo: true,
    buscarTorneo: false,
    


    //formulario
    modal:'',
    origen: '',
    select:[],
    formulario:'',
    busqueda: '',
    //busqueda
    
    
      
  }),
  created() {
    this.getLigas();
    this.getTorneos();
  },

  computed: {
    filtroLiga(){ 
      if(this.itemsLiga.length) {
        return this.itemsLiga;
      }
    },
    filtroTorneo(){ 
      if(this.itemsTorneo.length) {
        return this.itemsTorneo;
      }
    },
  },
  methods:{
    search(busqueda, origen){
      this.busqueda = busqueda;
      origen == 'liga' ? this.getLigas(): this.getTorneos();
      
    },
    resetSearch(origen){
      origen == 'liga' ? this.getLigas(): this.getTorneos();
    },    

    cancelar(entrada){
      switch(entrada){
        case 'liga':
          this.crearLiga = false;
          this.liga =  {nombre: null, visible: 1};
          break;
        case 'torneo':
          this.crearTorneo = false;
          this.torneo =  {nombre: null, visible: 1, fecha: moment().format('YYYY-MM-DD kk:mm').replace(' ', 'T')};
          break;
      }
      
    },
    
    tipoAccion(data = [], origen){
      this.select = data;
      this.modal = 'app-form';
      this.origen = origen;
      EventBus.$emit('openModal',{datos: data, origen: origen});
    },
    
    
    acciones(item){
      switch(item.origen){
        case 'liga':
          this.eliminarLiga(item.objeto);
          break;
        case 'torneo':
          this.eliminarTorneo(item.objeto);
          break;
      };
    },

    //ligas
    getLigas(page){
                 
      axios.get(`${this.pageUrlLiga}?page=${page}&busqueda=${this.busqueda}`).then(response =>{
        this.itemsLiga = response.data.items.data;
        this.paginationLiga = response.data.pagination;
      }, error => {
        console.log(error.response);
      })

      this.cargandoLiga = false;
    },
    nuevaLiga(){
      
      axios.post(this.pageUrlLiga, this.liga).then(response =>{
        response.data.status == 'success'? (toastr.success(response.data.msg), this.liga =  {nombre: null, visible: 1}, this.getLigas()): toastr.warning(response.data.msg);
           
      }, (error) => {
        console.error(error.response);
        let errores = error.response.data.errors;
          for (let key in errores){
            toastr.warning(errores[key][0]);
          }
      })
    },
    eliminarLiga(eliminar){
      axios.delete(this.pageUrlLiga + "/" + eliminar.id).then((response) => {
        response.data.status == 'success' ? (this.getLigas(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
   
    },
    actualizarLiga(actualizar){
    
      axios.patch(`${this.pageUrlLiga}/${actualizar.id}`, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getLigas(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
       
        let errores = error.response.data.errors;
        for (let key in errores){
          toastr.warning(errores[key][0]);
        }
      })
    },

    //torneos

    nuevoTorneo(){
      if(this.torneo.nombre != '' && this.torneo.fecha != ''){
        axios.post(this.pageUrlTorneo, this.torneo).then(response =>{
        
          response.data.status == 'success'? (toastr.success(response.data.msg), this.torneo =  {nombre: null, visible: 1}, this.getTorneos()): toastr.warning(response.data.msg);
             
        }, (error) => {
          console.error(error.response);
        })
      }
      
    },

    getTorneos(page){
                 
      axios.get(`${this.pageUrlTorneo}?page=${page}&busqueda=${this.busqueda}`).then(response =>{
        this.itemsTorneo = response.data.items.data;
        this.paginationTorneo = response.data.pagination;
      }, error => {
        console.log(error.response);
      })

      this.cargandoTorneo = false;
    },

    eliminarTorneo(eliminar){
      axios.delete(this.pageUrlTorneo + "/" + eliminar.id).then((response) => {
        response.data.status == 'success' ? (this.getTorneos(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
   
    },
    actualizarTorneo(actualizar){
      axios.patch(`${this.pageUrlTorneo}/${actualizar.id}`, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getTorneos(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        
        let errores = error.response.data.errors;
        for (let key in errores){
          toastr.warning(errores[key][0]);
        }
      })
    },

    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }

</style>
