<template>
	<b-container fluid class="justify-content-md-center">
		<b-row>
			<b-col cols="10" offset-sm="1">
				
				<div class="text-center mb-5">
					<router-link class="btn btn-primary float-right" :to="{name: 'PageLigasTorneos'}" title="Ligas">Ligas</router-link>
					<b-button variant="warning" class="float-right" @click="abrirModal" v-if="verBoton">Enfrentamientos</b-button>
					
					<h2>{{ datosLiga.nombre }}</h2>
				</div>
				
				<table class="table table-hover">
			        <thead class="thead-light">
			        	<tr v-if="verBotonAdd">
			        		<th colspan="11">
			        			<b-row>
					

						            <b-col v-if="!newEquipo">
						              
						                <b-button class="float-right" variant="primary" @click="newEquipo = true">
						                  <icon name="plus"></icon>
						                </b-button>
						              
						            </b-col>
						            
						            <b-col v-if="newEquipo" offset-lg="6" lg="6" sm="12" >
						              <b-input-group>
						                <b-input-group-text slot="prepend" class="d-none d-sm-block">
						                    Nombre
						                </b-input-group-text>
						                <b-form-input type="text" v-model="item.nombre" @keydown.enter.native="addEquipo" v-focus></b-form-input>
						                
						                <b-input-group-append>
						                  <b-btn variant="success" @click="addEquipo"><icon name="check"></icon></b-btn>
						                  <b-btn variant="danger" @click="cancelar('liga')"><icon name="close"></icon></b-btn>
						                </b-input-group-append>
						              </b-input-group>
						            </b-col>
					                      
					                        
								</b-row>
			        		</th>
			        	</tr>
			        	 <tr>
				            <th>
				            	Pos.
				            </th>
				            <th width="300">
				            	Equipo
				            </th>
				            <th>
				            	PJ
				            </th>
				            <th>
				            	PG
				            </th>
				            <th>
				            	PP
				            </th>
				            <th>
				            	SG
				            </th>
				            <th>
				            	SP
				            </th>
				            <th>
				            	JG
				            </th>
				            <th>
				            	JP
				            </th>
				            <th>
				            	PTS
				            </th>
				            <th>&nbsp;</th>
				        </tr>
			        </thead>
			        <tbody refs="tableContent">
			         	<tr align="center" v-show="cargando"><td colspan="11"><icon name="refresh" scale="5" spin></icon></td></tr>
			         	<crud-component v-for="(item, key) in filtro" :item="item" :key="key" @update="actualizar($event)" @delete="tipoAccion($event, 'equipo')" :boton="verBoton"></crud-component>

			          	
			      	</tbody>
			    </table>
			</b-col>
			<component :is="modal" @accion="acciones" :select="select" :key="select.id" :origen="origen"></component>
			
			<b-modal v-model="modalEnfrentamiento" hide-footer title="" header-bg-variant="primary" header-text-variant="light">
			    <p class="text-center">
			      ¿Generar Enfrentamientos?
			    </p>
			    <b-button-group class="float-right" >
			      <b-btn class="mt-3" variant="outline-success" @click="enfrentamientos">Aceptar</b-btn>
			      <b-btn class="mt-3" variant="outline-danger" @click="cerrarModal">Cancelar</b-btn>
			    </b-button-group>
			</b-modal>
		</b-row>
		<b-row v-if="jornadas" class="mt-5">
			<b-col cols="10" offset-sm="1">
				<table class="table table-hover table-bordered">
			        <thead class="thead-light">
			        	<tr>
				            <th v-for="i in jornadas.length" :key="i" class="text-center">
				            	Jornada {{ i }}
				            </th>
				        </tr>
			        </thead>
			        <tbody>
			        	<tr v-for="i in partida" class="align-middle" :key="i">
			        		<td v-for="x in jornadas.length" align="middle" :key="x">
			        			<template v-if="jornadas[x-1][i-1].equipoA == ''"> {{ jornadas[x-1][i-1].equipoB }} (Descanso)</template>
			        			<template v-if="jornadas[x-1][i-1].equipoB == ''"> {{ jornadas[x-1][i-1].equipoA }} (Descanso)</template>
			        			<template v-if="jornadas[x-1][i-1].equipoA != '' && jornadas[x-1][i-1].equipoB != ''"> 
			        				{{ jornadas[x-1][i-1].equipoA  }}<br> Vs. <br>{{ jornadas[x-1][i-1].equipoB }} 
			        			</template>
			        		</td>
			        	</tr>
			        </tbody>
				</table>
			</b-col>
		</b-row>
	</b-container>

</template>
<script>

	import Icon from 'vue-awesome/components/Icon';
	import EventBus from '../../../helpers/event-bus.js';
	import validaciones from '../../../helpers/validaciones';
	import crud from './EditClasificacion.vue';	
	import deleteElement  from './FormDelete.vue';

	export default{
		components: {
		   'icon': Icon,
		   'crud-component': crud,
		   'app-form' : deleteElement,
		},
		mixins: [validaciones],
  		origen:'crear',
		data: ()=>({
			item: {nombre: null},
			itemsClasificacion : [],
			pageUrlClasificacion: 'lcsfn',
			pageUrlJornadas: 'ljrnd',
			nEquipos: 0,
			partidos: 0,
			newEquipo: false,
			verBoton: false,
			verBotonAdd: true,
			origen: 'equipo',
			liga: [],
			encuentros: [],
			modalEnfrentamiento: false,
			partida: 0,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
			cargando: true,
			//eliminar
			modal:'',
		    origen: 'equipo',
		    select:[],
		}),
		mounted(){
			this.$route.params.objeto == null? this.liga = this.$store.getters.currentLiga  :  (this.liga = this.$route.params.objeto, this.$store.commit("ligaActive", this.liga));
			this.liga.equipos ? this.nEquipos = this.liga.equipos.length : '';

		},
		watch:{
			'liga.equipos'(item){
				this.$store.commit("ligaActive", this.liga)
			},
			'liga.jornadas'(item){
				this.$store.commit("ligaActive", this.liga)
			}
			
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    datosLiga(){
		    	if(this.liga){
		    		if(this.liga.jornadas){
		    			this.liga.jornadas.length ? (this.verBoton = false, this.verBotonAdd = false) : '';
		    		};
		    		if(this.liga.equipos){
		    			this.liga.equipos.length >= 4 && !this.liga.jornadas.length ? this.verBoton = true : '';
		    		}  
		    	}
		    	return this.liga ? this.liga : [];
		    },

		    jornadas(){
		    	let jornada = [];
		    	if(this.datosLiga){
		    		if(this.datosLiga.jornadas){
		    			this.datosLiga.jornadas.length ? jornada = this.desgloseJornadas(this.datosLiga.jornadas)		    			: '';
		    		}else{
		    			jornada = this.encuentros;
		    		}
		    	}
		    	let nJornada = jornada[0];
		    	nJornada ? this.partida = nJornada.length : '';
		    	window.scrollTo(0,document.body.scrollHeight);
		    	return jornada ? jornada : '';
		    },
		    
		    filtro(){ 
		    	
		      if(this.datosLiga && this.nEquipos > 0) {
		      	let clasificacion = this.liga.equipos.sort(this.compareValues('pts'));
		      	
		      	for(let i = 0; i < this.nEquipos; i++){

					clasificacion[i].pos = i + 1;
				}
		      	return clasificacion;
		      }else{
		      	this.cargando = false;
		      	let demo = [{id: 1, 'pos': 1, nombre: 'Equipo', 'pj': 0, 'pg': 0, 'pp': 0,'sg': 0, 'sp': 0, 'jg': 0,'jp': 0, 'pts': 0}].sort(this.compareValues('pts'))
				
				for(let i = 0; i < demo.length; i++){
					demo[i].pos = i + 1;
				}

		      	return demo;
		      }
		    },
		},
		methods:{
			abrirModal(){
				this.modalEnfrentamiento = true;
			},
			cerrarModal(){
				this.modalEnfrentamiento = false;
			},
			desgloseJornadas(datos){
				let jornadas = [];

				for(let i = 0; i < datos.length; i++){
					let jornada =	datos.filter(jornada => jornada.jornada == (i + 1)) 
					if(jornada.length){
						jornadas[i] = jornada;
						
					}else{
						break;
					} 
				}

				return jornadas;
			},
			enfrentamientos(){
				let jornadas = [];
				let jornadasLiga = this.liga.jornadas;	

				const equipos = this.datosLiga.equipos.map(equipo => {
					return {
						id: equipo.id,
						nombre: equipo.nombre
					}
				})
				
				let n = equipos.length; //ATENCIÓN!! "n" DEBE SER PAR! (2,4,8,12,20,...)

				if (n%2==0) {
					
				} else {
					
					n = n+1; // sumamos 1 al numero impar de equipos. A este equipo lo llamo descanso
					equipos.push({id: '', nombre: ''});
				}

				let grupo1 = [];
				let grupo2 = [];
				//crea los grupos
				for(let i = 0; i<((n-1)/2); i++) {

				   grupo1[i] = equipos[i];
				   grupo2[i] = equipos[n-i-1];
				}

				//hace girar los grupos para el siguiente round
				for (let j = 0; j<n-1; j++) {//j son los rounds
					jornadas[j] = [];

					let cont=0;
					grupo1.forEach(equipo1 => {
						
		    			jornadas[j][cont] = {jornada: (j+1), a: equipo1.id, equipoA: equipo1.nombre,b: grupo2[cont].id, equipoB: grupo2[cont].nombre};
		    			jornadasLiga.push({jornada: (j+1), a: equipo1.id, equipoA: equipo1.nombre,b: grupo2[cont].id, equipoB: grupo2[cont].nombre})
						cont++;
					});
					// Calculamos la siguiente jornada
				    let temp1 = grupo2[0];
				    let temp2 = grupo1[(n/2)-1];

				   	for (let k = 0; k<n/2; k++) {
				      if (k == (n/2)-1) {
				         grupo1[1] = temp1;
				         grupo2[(n/2)-1] = temp2;
				      } else {
				         grupo1[(n/2)-1-k] = grupo1[(n/2)-1-k-1];
				         grupo2[k] = grupo2[k+1];
				      }
				   }
				
				}
				//let nJornada = jornadas[0];
			    //nJornada ? this.partida = nJornada.length : '';
				//window.scrollTo(0,document.body.scrollHeight);
				this.verBoton = false;
				this.verBotonAdd = false;
			    this.modalEnfrentamiento = false;
				this.encuentros = jornadas;
				this.addJornadas(jornadas);
			},
			addJornadas(jornadas){
				
				
				axios.post(`${this.pageUrlJornadas}/${this.liga.id}`, jornadas).then((response) => {
					response.data.status == 'success' ? (toastr.success(response.data.msg)): toastr.warning(response.data.msg);
				}, (error) => {	
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = [];

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					} 
				});
			},
			compareValues(key, order='desc') {
			  return function(a, b) {
			    if(!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
			      // property doesn't exist on either object
			        return 0; 
			    }

			    const varA = (typeof a[key] === 'string') ? 
			      a[key].toUpperCase() : a[key];
			    const varB = (typeof b[key] === 'string') ? 
			      b[key].toUpperCase() : b[key];

			    let comparison = 0;
			    if (varA > varB) {
			      comparison = 1;
			    } else if (varA < varB) {
			      comparison = -1;
			    }

			    return (
			      (order == 'desc') ? (comparison * -1) : comparison

			    );
			  };
			},
			tipoAccion(data = [], origen = 'equipo'){
		      this.select = data;
		      this.modal = 'app-form';
		      EventBus.$emit('openModal',{datos: data, origen: origen});
		    },
		    acciones(item){
		      
		        this.eliminar(item.objeto);
		   	},
		   	eliminar(eliminar){
		      axios.delete(this.pageUrlClasificacion + "/" + eliminar.id).then((response) => {
		        response.data.status == 'success' ? (this.getClasificacion(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
		      }, (error) => {
		        console.error(error.response);
		      })
		   
		    },
		    actualizar(actualizar){
    
		      axios.patch(`${this.pageUrlClasificacion}/${actualizar.id}`, actualizar).then((response) => {
		        response.data.status == 'success' ? (this.getClasificacion(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
		      }, (error) => {
		        console.log(error.response);
		        let errores = error.response.data.errors;
		        for (let key in errores){
		          toastr.warning(errores[key][0]);
		        }
		      })
		    },
			getClasificacion(){
				axios.get(`${this.pageUrlClasificacion}?liga=${this.datosLiga.id}`).then((response)=>{
					if(response.data.length){
						this.nEquipos = response.data.length;
						this.liga.equipos = response.data;
						
			    	}
			    }, (error) => {
			        console.log(error.response);
			    });

			      this.cargando = false;
			},
			addEquipo(){
				
				if(this.validarNombre()){
					this.item.liga_id = this.liga.id;

					axios.post(this.pageUrlClasificacion, this.item).then((response) => {
						
						response.data.status == 'success' ? (this.getClasificacion(), toastr.success(response.data.msg), this.item = {nombre: null}): toastr.warning(response.data.msg);

					}, (error) => {
						console.log(error.response);
						let errores = error.response.data.errors;
						this.erroresServidor = [];
						this.errores = [];

						for (let key in errores){
							this.erroresServidor.push(key);
							this.errores[key] = errores[key][0];
							toastr.warning(errores[key][0]);
						} 
					});
				}
			},
			cancelar(){
				this.newEquipo = false;
			},
		}
	}

</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
	.table th, .table td {
    	vertical-align: middle;
   }
</style>