<template>
	<b-container fluid class="justify-content-md-center">
		<b-row>
			<b-col cols="10" offset-sm="1">
				
				<div class="text-center mb-5">
					<router-link class="btn btn-primary float-right" :to="{name: 'PageLigasTorneos'}" title="Torneos">Torneos</router-link>
					<h2>{{ datosLiga.nombre }}</h2>
				</div>
			</b-col>
		</b-row>
		

		<div class="text-center"><h2>Jugadores</h2></div> 
		<b-row>
			<b-col cols="12">
				<b-button variant="primary" @click="crear = !crear" v-if="crear == false" class="float-right">
        			<icon name="plus"></icon>
     			</b-button>
     		</b-col>
     		<b-col cols="12" v-if="crear">
		      <b-form-radio-group id="radios" v-model="tipoUsuario" class="float-right">
		        <b-form-radio value="anonimo">Anonimo</b-form-radio>
		        <b-form-radio value="registrado">Registrado</b-form-radio>
		      </b-form-radio-group>
		    </b-col>
     		<b-col sm="12" md="8" lg="4" offset-md="4" offset-lg="8">	
     			<b-input-group v-if="crear && tipoUsuario == 'anonimo'" class="float-right">
					<b-form-input v-model="newUser" v-focus/>
					<b-form-select v-model="posicion" :options="comboPosiciones"/>
					<b-input-group-prepend>
						<b-btn variant="success" @click="nuevo('anonimo')" :disabled="activo"><icon name="check"></icon></b-btn>
                      	<b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
				    </b-input-group-prepend>
				</b-input-group>
     		</b-col>
     		<b-col sm="12" md="8" lg="4" offset-md="4" offset-lg="8">	
     			<b-input-group v-if="crear && tipoUsuario == 'registrado'" class="float-right">
					<b-form-select v-model="newUser" :options="comboUsers" value-field="id" text-field="nombre" v-focus/>
					<b-input-group-prepend>
						<b-btn variant="success" @click="nuevo('registrado')" :disabled="activo"><icon name="check"></icon></b-btn>
                      	<b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
				    </b-input-group-prepend>
				</b-input-group>
     		</b-col>
		</b-row>
	    <div class="table table-responsive-sm">
		    <table class="table table-hover table-responsive-sm">
		        <thead>
		           <tr>
		            <th>
		              Jugador
		            </th>
		            <th>
		              Posición
		            </th>
		            <th width="200">&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
		          <crud-component v-for="(item, key) in filtro" :item="item" :key="key" @delete="eliminar($event)"></crud-component>
		      </tbody>
		    </table>
		</div>
		
	</b-container>

</template>
<script>

	import Icon from 'vue-awesome/components/Icon';
	import EventBus from '../../../helpers/event-bus.js';
	import validaciones from '../../../helpers/validaciones';
	import crud from './EditListUserTorneo.vue';	
	import deleteElement  from './FormDelete.vue';

	export default{
		components: {
		   'icon': Icon,
		   'crud-component': crud,
		   'app-form' : deleteElement,
		},
		mixins: [validaciones],
  		origen:'crear',
		data: ()=>({
			item: {nombre: null},
			cargando: true,
			torneo: [],
			pageUrl: 'trns',
			comboUsers: [],
			newUser: '',
			posicion: 'INDIFERENTE',
			crear: false,
			tipoUsuario: '',
			comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
		}),
		mounted(){
			this.$route.params.objeto == null? this.torneo = this.$store.getters.currentTorneo  :  (this.torneo = this.$route.params.objeto, this.$store.commit("torneoActive", this.torneo));
			this.torneo.equipos ? this.nEquipos = this.torneo.equipos.length : '';
			this.getUsers();
			this.getItems();
		},
		watch:{
			tipoUsuario(value){
			 this.newUser = '';
			}
		},
		computed: {
			activo(){
				return this.newUser != '' ? false : true;
			},
			datosLiga(){
				if(this.torneo){
		    		if(this.torneo.equipos){
		    			this.torneo.equipos.length >= 4 && !this.torneo.jornadas.length ? this.verBoton = true : '';
		    		}  
		    	}
		    	return this.torneo ? this.torneo : [];
		    },
		    filtro(){ 
		    	
		    	if(this.torneo){
		    		this.cargando = false;
		    		return this.torneo.users;
		    	}
		    },
		},
		methods:{
			eliminar(eliminar){
		    	if(eliminar.user_id){
		    		
					axios.delete(`${this.pageUrl}/userRegistrado/${eliminar.id}`).then((response) => {
						response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
			      	}, (error) => {
			        	console.error(error.response);
			      	})
		    	}else{
		   			axios.delete(`${this.pageUrl}/userAnonimo/${eliminar.id}`).then((response) => {
				      	response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
				    }, (error) => {
				        console.error(error.response);
				    })
		   		}
		    },
		    nuevo(origen){
		    	if(this.newUser!= ''){
		    		let form = {user: this.newUser,posicion: this.posicion, torneo_id: this.torneo.id, club_id: this.torneo.club_id, jugador: origen};
			    	axios.post(`${this.pageUrl}/addUser`, form).then((response) => {
			    		response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), this.newUser = '',		this.crear = false): toastr.warning(response.data.msg);

		    		}, (error) => {
		    			let errores = error.response.data.errors;
		    			for (let key in errores){
							toastr.warning(errores[key][0]);
						} 
				        console.error(error.response);
				    })
		    	}
		    	
		    },
		    cancelar(){
		    	this.newUser = '';
		    	this.crear = false;
		    },
		    getItems(){
		    	this.cargando = true;
		    	axios.get(`${this.pageUrl}/usersTorneo/${this.torneo.id}`).then(response =>{
		        	this.torneo.users = response.data;
		        	
		      }, error => {
		        console.log(error.response);
		      })

		      this.cargando = false;
		    },
		    getUsers(){
		      axios.get(`jugadores`).then((response)=>{
		      	this.comboUsers = response.data;
		      }, (error) => {
		        console.log(error.response);
		      })
		    },
		}
	}

</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
	.table th, .table td {
    	vertical-align: middle;
   }

   #sortable1, #sortable2, #sortable3 {
    border: 1px solid #eee;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li,  #sortable3 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
   
  }
</style>