<template>
    
    <div class="modal-dialog text-center"> 
        <div class="nombreClub">
            <h1>PracticaPadel</h1>
            <h2>Tu club de pádel</h2>
        </div>
        <b-row>
            <b-col class="px-0 main-section">
                <b-row class="modal-content">
                    <b-col cols="12" class="user-img">
                        <b-img src="../img/avatar/face.png" fluid rounded center />
                    </b-col>

                    <b-col cols="12">
                        <b-form class="form-horizontal">
                            <b-form-group class="mb-5 ico1">
                                <b-form-input type="email" ref="email" name="email" v-model="item.email" placeholder="Email" aria-describedby="emailFeedback" :state="emailState" @blur.native="validEmail" required autofocus></b-form-input>
                                <b-form-invalid-feedback id="emailFeedback">
                                    <span v-for="(error, key) in errores.email" :key="key"> {{ error }} </span>
                                </b-form-invalid-feedback>
                                
                            </b-form-group>
                            <b-form-group class="mb-5 ico2">
                                <b-form-input type="password" name="password" id="password" v-model="item.password" placeholder="Password" @keydown.enter.native="enviar" required></b-form-input>
                                
                                    <span class="help-block">
                                      <strong></strong> 
                                    </span>
                              
                            </b-form-group>
                            <b-btn @click="enviar" variant="success" class="mb-2">Login</b-btn>
                        </b-form>
                    </b-col>
                    <b-col cols="12" class="forgot">
                        <b-link @click="recuperarPass">¿Recuperar contraseña?</b-link>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </div>

</template>

<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../helpers/funciones';
    

    export default{
        props:['recuperarpass','dashboard'],
        components: {
            'icon': Icon,
        },
        mixins: [funciones],
        mounted(){
            this.$refs.email.focus();
        },
        data: ()=>({
           item: {email: null, password: null},
           errores: [],
           error: null,
        }),
        watch:{
            'item.email'(value){
              
            }
        },
        computed:{
            emailState(){

                return this.error;
            },
            authError(){
                return this.$store.getters.authErrorClub;
            }
        },
        methods:{

            validEmail() {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(this.item.email != null){
                    !re.test(this.item.email)? (this.error = false, this.errores.email = ["El campo email debe ser una dirección de correo válida."], this.$refs.email.focus()) : (this.error = true, this.errores.email = '');
                    return true;
                }
                
            },      
            enviar(){
                //this.$store.dispatch('loginClub');
                if(this.item.email != null && this.item.password != null && this.validEmail()){
                    
                    axios.post(`iniciarSesion`, this.item).then((response)=>{
                        this.$store.commit("clubSuccess", this.item);
                        //this.$router.push({path: 'dashboard'});
                        this.item = {email: null, password: null},
                        this.error = null;
                        window.location = 'dashboard'
                                      
                    }, (error) => {
                        this.$store.commit("clubFailed", {error});
                        this.error = false;
                        this.errores = error.response.data.errors;
                        console.log(error.response);
                    })

                }
                
                   
            },
            recuperarPass(){
                window.location = this.recuperarpass;
            }
        }
    }
</script>

<style scoped>
    .main-section{
        margin-top: 130px;
    }
    .modal-content{
        background-color: #434e5a;
        opacity: .8;
        padding: 0 18px;
        border-radius: 10px;
    }
    .user-img img{
        height: 120px;
        width: 120px;
    }
    .user-img{
        margin-top: -60px;
        margin-bottom: 45px;
    }
    .form-group input{
        font-size: 18px;
        letter-spacing: 2px;
        padding-left: 54px;
    }
    .ico1::before, .ico2::before{
        font-family: "Ionicons";
        content: "\f3d9";
        position: absolute;
        font-size: 22px;
        left: 28px;
        padding-top: 4px;
        color: #555e60;
    }
    .ico2::before{
        content: "\f1af";
    }
    .form-input button{
        width: 40%;
        margin: 5px 0 25px;
    }
    .btn-success{
        background-color: #1c6288;
        font-size: 19px;
        border-radius: 5px;
        padding: 7px 14px;
        border: 1px solid #daf1ff;
    }
    .btn-success:hover{
        background-color: #13445e;
        border: 1px solid #daf1ff;
    }
    .forgot{
        padding: 5px 0 25px;
    }
    .forgot a{
        color: #fff;
    }
    .invalid-feedback{
        color: #fff;
    }
    h1 {
        font-weight: 900;
        font-style: italic;
        color: #3C3C3B;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2{
        line-height: 40px;
        margin-top: 25px;
        font-weight: 900;
        text-shadow: 1px 1px 1px #b1b0b0;
        font-style: italic;
        color: #3C3C3B;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .nombreClub{
        border-radius: 50px;
        background-color: #74a53d80;
        padding: 20px;
        box-shadow: -2px -1px 5px 4px #5a7c26;
        border-bottom: 1px solid #5f5f5f;
        border-right: 1px solid #5f5f5f;
        border-top: 1px solid #004800;
        border-left: 1px solid #004800;
    }
    .row{
        margin: 0px !important;
    }
</style>