<template>

	<b-container classe="wrapper">
		<div>
		<b-row>
    		<b-col cols="12" class="text-center">
				<h1 class="display-4">Clases</h1>
			</b-col>
		</b-row>
		<hr>
		<div class="px-4 mb-5 contenedor-tablas" :style="{background: `url('${fondo}') no-repeat center / 100% 100%`}">
			
				<b-row class="py-5 tablas">
					<b-col sm="12" lg="6" v-if="itemClase">
						<table class="table table-hover table-sm">
					        <thead class="thead-light">
					        	<tr>
						            <th v-for="(item, key) in itemClase.tabla.cabeceras" :key="key">
						              {{item}}
						            </th>
						        </tr>
					        </thead>
					        <tbody>
					          	<tr v-for="(fila, key) in itemClase.tabla.cuerpo" :key="key">
									<td v-for="(item, key) in fila" :key="key">
										{{ item }}
									</td>
								</tr>
					        </tbody>
					    </table>
					</b-col>
					<b-col sm="12" lg="6" v-if="itemCompeticion">
						<table class="table table-hover table-sm">
					        <thead class="thead-light">
					        	 <tr>
						            <th v-for="(item, key) in itemCompeticion.tabla.cabeceras" :key="key">
						              {{ item }}
						            </th>
						   		</tr>
					        </thead>
					        <tbody>
					          
					          	<tr v-for="(fila, key) in itemCompeticion.tabla.cuerpo" :key="key">
									<td v-for="(item, key) in fila" :key="key">
										{{ item }}
									</td>
								</tr>
					          
					      	</tbody>
					    </table>
					</b-col>
			    </b-row>
			</div>
		</div>
    </b-container>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   'icon': Icon,
		},
		props: ['datos'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			
		}),
		mounted(){
			this.$store.state.clases ? '': this.$router.push({path: '*'});
		},
		watch:{
			
		},
		computed: {
			itemClase(){
				let clas = '';
				if(this.datos.clases.length){
					clas = {id: this.datos.clases[0].id, visible: this.datos.clases[0].visible, tabla: JSON.parse(this.datos.clases[0].clases)};
				}
				return clas;
			},
			itemCompeticion(){
				let comp = '';
				if(this.datos.competiciones.length){
					comp = {id: this.datos.competiciones[0].id, visible: this.datos.competiciones[0].visible, tabla: JSON.parse(this.datos.competiciones[0].competicion)};
				}
				
				return comp;
			},
			fondo(){
				let fondo = `image/club/${this.datos.club[0].id}/clases/clases.jpg`
				return fondo;
			},
			ver(){
				return store.state.clases;
			}
		},
		methods:{
			
		}
	}
</script>


<style scoped>
.wrapper {
    min-height: calc(100vh);
}

tbody{
	background: #ffffffc7;
	font-weight: 600;
	text-shadow: 2px 2px 4px #737373;
}

hr{
	border-top: 2px solid #b4b4b4;
    width: 55%;
    margin-top: .3rem;
    margin-bottom: 1rem; 
}
.tablas{
	position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.contenedor-tablas{
	min-height: calc(80vh);
	
	position: relative;
	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	border-radius: 1rem;
}

@media screen and (max-width: 535px) {
	thead{
		font-size: .90rem;
	}
    tbody{
		font-weight: 500;
		text-shadow: 1px 1px 3px #737373;
		font-size: .75rem;
	}
	/*.contenedor-tablas{
		min-height: calc(100vh);
	}*/
    
  }
@media screen and (max-width: 320px) {
    .contenedor-tablas{
		min-height: calc(120vh);
	}
    
  }


</style>