<template>
  <b-container fluid>
    <b-row v-if="emisor && partidas.length">
      <b-col class="text-center">
        <h2>Partidas de <span style="color: blue" class="text-uppercase"><strong>{{ partidas[0].nick }}</strong></span>
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-container fluid>
          <div ref="calendario"></div>
        </b-container>
      </b-col>
    </b-row>

  </b-container>

</template>

<script>


import Icon from 'vue-awesome/components/Icon';
import calendar from './fullcalendar.js';
import funciones from '../../helpers/funciones';

export default {

  props: {
    emisor: {
      type: Boolean,
      default: false,
    },
    datos: {
      type: Array / Object,
      default: () => []
    },
    pistas: {
      type: Array,
    },
    partidas: {
      type: Array / Object,
      default: () => []
    },
    editable: {
      type: Boolean,
      default: true
    },
    droppable: {
      type: Boolean,
      default: true
    },
    eventStartEditable: {
      type: Boolean,
      default: true
    },
    eventDurationEditable: {
      type: Boolean,
      default: true
    },
    aspectRatio: {
      type: Number,
      default: 0,
    },
    header: {
      type: Array / Object,
      default: () => [],
    },

  },
  components: {
    'icon': Icon,
  },
  mixins: [funciones],
  origen: 'crear',
  data: () => ({
    item: {
      lvm_start: "",
      lvm_end: "",
      fsm_start: "",
      fsm_end: "",
      fm_start: "",
      fm_end: "",
      lvt_start: "",
      lvt_end: "",
      fst_start: "",
      fst_end: "",
      ft_start: "",
      ft_end: ""
    },
    status: {
      lv: false,
      ld: false,
      ldmt: false,
      fs: false,
      f: false,
    },
    fecha: moment(),
    isDblClicked: false,
    isClicked: false,
    fechaDblClick: '',
    modalShow: false,
    modificar: false,
    evento: '',
    vista: '',
    datosClicked: [],
    pista: '',
    cal: null,
    args: {
      aspectRatio: 0,
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'agendaWeek,resourceDay'
      },
      dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      buttonText: {
        week: 'Semana',
        day: 'Día',
        // month: 'Mes',
        today: 'Hoy'
      },
      titleFormat: {
        month: "MMMM YYYY",
        week: 'D MMMM YYYY',
        day: "dddd D MMMM YYYY",
      },
      timeFormat: 'HH:mm', //mostrar la hora en modo 24h en eventos, con los ceros de la hora en punto. Sin ceros = timeFormat: 'H(:mm)'
      scrollTime: '07:00:00',
      slotDuration: '00:30:00',
      defaultView: 'resourceDay',
      firstDay: 1,
      allDaySlot: false, //mostrar la fila todo el dia
      defaultDate: new Date(),
      axisFormat: 'HH:mm', //vista de la hora en el evento
      //eventOverlap: this.eventoverlap, //solapar eventos
      slotEventOverlap: false, //divide el tamaño del evento para posicionarlos en el mismo hueco.
      editable: false, //editar eventos
      droppable: false, //arrastrar y soltar*/
      eventStartEditable: true,//desplazar eventos por calendario
      eventDurationEditable: true, //aumentar tamaño de eventos
      defaultTimedEventDuration: '01:30:00',
      minTime: '07:00:00',
      maxTime: '24:30:00',
      firstHour: '07:00:00',
      resources: [],
      events: [],
    }
  }),
  created() {

  },

  mounted() {
    const me = this;
    let horarios = this.club.horario.split('|');
    horarios.forEach((horario) => {
      me.desgloasarHorarioEditar(horario);
    });

    this.arrayHora();
    this.cargarCal();

  },

  watch: {
    isDblClicked(value) {
      if (!this.isClicked && value && this.vista == 'agenda' && this.evento == "dia") {
        this.isDblClicked = false;
        this.$emit('crear', {
          fecha: this.fechaDblClick,
          pista: this.pista.data.name,
          origen: 'calendario',
          start: moment(this.fechaDblClick).format('YYYY-MM-DD HH:mm:ss')
        });
      }
      if (!this.isClicked && value && this.evento == "evento") {
        this.isDblClicked = false;
        this.$emit('abrir', this.datosClicked);
      }

    },
    partidas(eventos) {
      this.cargarCal();
    },

  },
  computed: {
    club() {
      return this.datos.club[0];
    },
    fecha_actual() {
      const me = this;
      this.cal = $(me.$refs.calendario);
      return moment(me.cal.fullCalendar('getDate')).format('dddd');
    }
  },
  methods: {
    arrayHora() {

      const laboral = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes'];
      const finSemana = ['sábado', 'domingo'];
      let ininterrumpido = true;

      //horario partido de lunes a viernes
      if (this.item.lvm_start && this.item.lvt_start && this.item.fsm_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("partido de lunes a viernes")
        ininterrumpido = false;
        this.args.scrollTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm:ss');

      }

      //horario partido fin de semana
      if (this.item.fsm_start && this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("partido fin de semana")
        ininterrumpido = false;
        this.args.scrollTime = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.fst_end, 'kk:mm').add(-90, 'minutes').format('kk:mm:ss');

      }

      //horario partido de lunes a domingo
      if (this.item.lvm_start && this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))) {
        //console.log("partido de lunes a domingo")

        ininterrumpido = false;
        this.args.scrollTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm:ss');

      }

      //horario ininterrumpido de lunes a viernes
      if (this.item.lvm_start && !this.item.lvt_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("ininterrumpido de lunes a viernes")
        this.args.scrollTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm:ss');

      }

      //horario ininterrumpido de fin de semana
      if (this.item.fsm_start && !this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("ininterrumpido de fin de semana")

        this.args.scrollTime = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.fsm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm:ss');

      }


      //horario ininterrumpido de lunes a domingo
      if (this.item.lvm_start && !this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))) {
        //console.log("ininterrumpido de lunes a domingo")

        this.args.scrollTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.minTime = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.firstHour = moment(this.item.lvm_start, 'kk:mm').format('kk:mm:ss');
        this.args.maxTime = moment(this.item.lvm_end, 'kk:mm').add(0, 'minutes').format('kk:mm:ss');

      }

    },

    palas(jugadores) {

      let palas = [];
      for (let pala in jugadores) {
        if (pala.substring(0, 4) == 'pala' && pala.indexOf("_") == -1) {
          if (jugadores[pala] != '' && jugadores[pala] != null) {
            palas.push(jugadores[pala]);
          }
        }
      }
      ;

      return palas;
    },
    espera(jugadores) {

      let palas = [];
      for (let pala in jugadores) {
        if (jugadores[pala] != '' && jugadores[pala] != null) {
          palas.push(jugadores[pala].nick);
        }
      }
      ;

      return palas;
    },
    cargarCal() {
      const me = this;
      me.cal = $(me.$refs.calendario);
      this.args.droppable = this.droppable;
      this.args.draggable = this.draggable;
      this.args.editable = this.editable;
      this.args.eventStartEditable = this.eventStartEditable;
      this.args.eventDurationEditable = this.eventDurationEditable;
      this.args.resources = this.pistas;
      this.args.events = this.partidas;
      this.args.header = this.header;
      this.args.aspectRatio = this.aspectRatio;
      this.args.slotDuration = this.slotDuration;

      if (me.editable) {
        me.args.eventRender = (event, element) => {
          let jugadores = me.palas(event.jugadoresPartida);
          let Npalas = jugadores.length;
          let espera = me.espera(event.listaEspera);
          let Nespera = espera.length;

          if (event.equipo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-equipo');
            element.find(".fc-event-title").append(`<div class='ui-revert'>${event.observaciones}</div>`);
          }
          if (event.clase == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-texto');
            element.find(".fc-event-title").append(`<div class='ui-revert'>Clase ${event.entrenador}</div>`);
          }
          if (event.torneo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-torneo');
            element.find(".fc-event-title").append(`<div class='ui-revert'>Torneo/liga</div>`);
          }
          if (event.status == 'CERRADA') {
            element.find(".fc-event-inner").parent().addClass('completa');
            element.find(".fc-event-title").append(
                `<div class='fc-palas ui-revert'> Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
            );
            element.find(".fc-palas").popover({
              animation: true,
              delay: 300,
              container: "body",
              html: true,
              title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
              placement: "top",
              trigger: "hover",
              content: palas => {
                let listadoPalas = `<ul>`;
                for (let x = 0; x < Npalas; x++) {
                  listadoPalas += `<li>${jugadores[x]}</li>`;
                }
                if (Nespera != 0) {
                  listadoPalas += `<p><b>Lista de espera</b></p>`;
                  for (let x = 0; x < Nespera; x++) {
                    listadoPalas += `<li>${espera[x]}</li>`;
                  }
                }
                listadoPalas += `</ul>`;
                return listadoPalas;
              },
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
          if (event.equipo == 'NO' && event.clase == 'NO' && event.torneo == 'NO' && event.status == 'ABIERTA') {
            switch (Npalas) {
              case 0:
                element.find(".fc-event-inner").parent().addClass('vacia');
                break;
              case 1:
              case 2:
              case 3:
                element.find(".fc-event-inner").parent().addClass('semicompleta');
                break;
              case 4:
                element.find(".fc-event-inner").parent().addClass('completa');
                break;
            }
            Nespera > 0 ?
                element.find(".fc-event-title").append(
                    `<div class='fc-palas ui-revert'>${Npalas} Palas / ${Nespera} espera <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                ) :
                element.find(".fc-event-title").append(
                    `<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                );

            element.find(".fc-palas").popover({
              animation: true,
              delay: 300,
              container: "body",
              html: true,
              title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
              placement: "top",
              trigger: "hover",
              content: palas => {
                let listadoPalas = `<ul>`;
                for (let x = 0; x < Npalas; x++) {
                  listadoPalas += `<li>${jugadores[x]}</li>`;
                }
                if (Nespera != 0) {
                  listadoPalas += `<p><b>Lista de espera</b></p>`;
                  for (let x = 0; x < Nespera; x++) {
                    listadoPalas += `<li>${espera[x]}</li>`;
                  }
                }
                listadoPalas += `</ul>`;
                return listadoPalas;
              },
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
        };

        me.args.eventDrop = (event, delta, revertFunc, jsEvent, ui, view) => {
          if (me.isOverlapping(event)) {
            revertFunc();
          } else {
            let startHour = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
            let endHour = moment(event.end || event.start).format('YYYY-MM-DD HH:mm:ss');
            let item = {
              id: event.id,
              pistas_id: event.resources[0],
              inicio_alquiler: startHour,
              fin_alquiler: endHour,
              partidaVirtual: event.partidaVirtual ? event.partidaVirtual : false
            };
            me.update(item);
          }
        };

        me.args.eventResize = (event, delta, revertFunc, jsEvent, ui, view) => {
          let startHour = '';
          let endHour = '';

          if (me.isOverlapping(event)) {
            revertFunc();
          } else {
            if (view.name == "agendaWeek") {
              startHour = moment(event.end._d).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(0, 5) + ":00";
              endHour = moment(event.end._d).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(8, 13) + ":00";
            } else {
              startHour = moment(event.start._i).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(0, 5) + ":00";
              endHour = moment(event.end._i).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(8, 13) + ":00";
            }

            let item = {
              id: event.id,
              pistas_id: event.resources[0],
              inicio_alquiler: startHour,
              fin_alquiler: endHour,
              partidaVirtual: event.partidaVirtual ? event.partidaVirtual : false
            };

            me.update(item);
          }
        };

        me.args.eventClick = (calEvent, jsEvent, view) => {
          if (me.isClicked) {
            me.evento = "evento";
            me.datosClicked = calEvent;
            me.isDblClicked = true;
            me.isClicked = false;
          } else {
            me.isClicked = true;
          }
          setTimeout(() => {
            me.isClicked = false;
          }, 250);
        };

        me.args.dayClick = (date, jsEvent, view, resourceObj) => {
          if (view.name == 'resourceDay') {
            if (me.isClicked) {
              me.evento = "dia";
              me.pista = jsEvent;
              me.fechaDblClick = date.format();
              me.isDblClicked = true;
              me.isClicked = false;
            } else {
              me.isClicked = true;
            }
            setTimeout(() => {
              me.isClicked = false;
            }, 250);
          }
        };

        me.args.viewRender = (view, element) => {
          let vista = view.name == 'resourceDay' ? 'agenda' : 'semana';
          this.vista = vista;
          me.$emit('fecha', {dia: moment(view.intervalStart._d).format('YYYY-MM-DD'), vista: view.name});
        };

        me.args.selectable = true;
        me.args.selectHelper = true;
        me.cal.fullCalendar('setResources', me.pistas);
        me.cal.fullCalendar('removeEvents');
        me.cal.fullCalendar('render');
        me.cal.fullCalendar('addEventSource', me.partidas);
        me.cal.fullCalendar(me.args);
      } else {
        me.args.eventRender = (event, element) => {
          let jugadores = me.palas(event.jugadoresPartida);
          let Npalas = jugadores.length;
          let espera = me.espera(event.listaEspera);
          let Nespera = espera.length;

          if (event.equipo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-equipo');
            element.find(".fc-event-title").append(`<div class='ui-revert'>${event.observaciones}</div>`);
          }
          if (event.clase == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-texto');
            element.find(".fc-event-title").append(`<div class='ui-revert'>Clase ${event.entrenador}</div>`);
          }
          if (event.torneo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-torneo');
            element.find(".fc-event-title").append(`<div class='ui-revert'>Torneo/liga</div>`);
          }
          if (event.status == 'CERRADA') {
            element.find(".fc-event-inner").parent().addClass('completa');
            element.find(".fc-event-title").append(
                `<div class='fc-palas ui-revert'> Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
            );
            element.find(".fc-palas").popover({
              animation: true,
              delay: 300,
              container: "body",
              html: true,
              title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
              placement: "top",
              trigger: "hover",
              content: palas => {
                let listadoPalas = `<ul style='margin-left:-15%'>`;
                for (let x = 0; x < Npalas; x++) {
                  listadoPalas += `<li>${jugadores[x]}</li>`;
                }
                if (Nespera != 0) {
                  listadoPalas += `<p><b>Lista de espera</b></p>`;
                  for (let x = 0; x < Nespera; x++) {
                    listadoPalas += `<li>${espera[x]}</li>`;
                  }
                }
                listadoPalas += `</ul>`;
                return listadoPalas;
              },
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
          if (event.equipo == 'NO' && event.clase == 'NO' && event.torneo == 'NO' && event.status == 'ABIERTA') {
            switch (Npalas) {
              case 0:
                element.find(".fc-event-inner").parent().addClass('vacia');
                break;
              case 1:
              case 2:
              case 3:
                element.find(".fc-event-inner").parent().addClass('semicompleta');
                break;
              case 4:
                element.find(".fc-event-inner").parent().addClass('completa');
                break;
            }
            Nespera > 0 ?
                element.find(".fc-event-title").append(
                    `<div class='fc-palas ui-revert'>${Npalas} Palas / ${Nespera} espera <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                ) :
                element.find(".fc-event-title").append(
                    `<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                );

            element.find(".fc-palas").popover({
              animation: true,
              delay: 300,
              container: "body",
              html: true,
              title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
              placement: "top",
              trigger: "hover",
              content: palas => {
                let listadoPalas = `<ul style='margin-left:-15%'>`;
                for (let x = 0; x < Npalas; x++) {
                  listadoPalas += `<li>${jugadores[x]}</li>`;
                }
                if (Nespera != 0) {
                  listadoPalas += `<p><b>Lista de espera</b></p>`;
                  for (let x = 0; x < Nespera; x++) {
                    listadoPalas += `<li>${espera[x]}</li>`;
                  }
                }
                listadoPalas += `</ul>`;
                return listadoPalas;
              },
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
        };

        me.cal.fullCalendar('setResources', me.pistas);
        me.cal.fullCalendar('removeEvents');
        me.cal.fullCalendar('render');
        me.cal.fullCalendar('addEventSource', me.partidas);
        me.cal.fullCalendar(me.args);
      }
    },

    cargarCal_old() {

      const me = this;
      me.cal = $(me.$refs.calendario);
      this.args.droppable = this.droppable;
      this.args.draggable = this.draggable;
      this.args.editable = this.editable;
      this.args.eventStartEditable = this.eventStartEditable;
      this.args.eventDurationEditable = this.eventDurationEditable;
      this.args.resources = this.pistas;
      this.args.events = this.partidas;
      this.args.header = this.header;
      this.args.aspectRatio = this.aspectRatio;
      this.args.slotDuration = this.slotDuration;

      if (me.editable) {
        me.args.eventRender = (event, element) => {

          let jugadores = me.palas(event.jugadoresPartida);
          let Npalas = jugadores.length;
          let espera = me.espera(event.listaEspera)
          let Nespera = espera.length;

          if (event.equipo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-equipo');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>${event.observaciones}</div>`
                );
          }
          if (event.clase == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-texto');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>Clase ${event.entrenador}</div>`
                );
          }
          if (event.torneo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-torneo');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>Torneo/liga</div>`
                );
          }
          if (event.status == 'CERRADA') {
            element.find(".fc-event-inner").parent().addClass('completa');
            element.find(".fc-event-title")
                .append(
                    `<div class='fc-palas ui-revert'> Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                );
            element.find(".fc-palas")
                .popover({
                  animation: true,
                  delay: 300,
                  container: "body",
                  html: true, //habilito el paso de etiquetas html
                  title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                  placement: "top",
                  trigger: "hover",
                  content: palas => {
                    let listadoPalas = `<ul>`;
                    for (let x = 0; x < Npalas; x++) {
                      listadoPalas += `<li>${jugadores[x]}</li>`;
                    }
                    if (Nespera != 0) {
                      listadoPalas += `<p><b>Lista de espera</b></p>`;
                      for (let x = 0; x < Nespera; x++) {
                        listadoPalas += `<li>${espera[x]}</li>`;
                      }
                    }
                    ;
                    listadoPalas += `</ul>`;
                    return listadoPalas;
                  },
                }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
          if (event.equipo == 'NO' && event.clase == 'NO' && event.torneo == 'NO' && event.status == 'ABIERTA') {
            switch (Npalas) {
              case 0:
                element.find(".fc-event-inner").parent().addClass('vacia');
                break;
              case 1:
              case 2:
              case 3:
                element.find(".fc-event-inner").parent().addClass('semicompleta');
                break;
              case 4:
                element.find(".fc-event-inner").parent().addClass('completa');
                break;
            }
            ;
            Nespera > 0 ?
                element.find(".fc-event-title")
                    .append(
                        `<div class='fc-palas ui-revert'>${Npalas} Palas / ${Nespera} espera <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                    )
                :
                element.find(".fc-event-title")
                    .append(
                        `<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                    );

            element.find(".fc-palas")
                .popover({
                  animation: true,
                  delay: 300,
                  container: "body",
                  html: true, //habilito el paso de etiquetas html
                  title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                  placement: "top",
                  trigger: "hover",
                  content: palas => {
                    let listadoPalas = `<ul>`;
                    for (let x = 0; x < Npalas; x++) {
                      listadoPalas += `<li>${jugadores[x]}</li>`;
                    }
                    if (Nespera != 0) {
                      listadoPalas += `<p><b>Lista de espera</b></p>`;
                      for (let x = 0; x < Nespera; x++) {
                        listadoPalas += `<li>${espera[x]}</li>`;
                      }
                    }
                    ;
                    listadoPalas += `</ul>`;
                    return listadoPalas;
                  },
                }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }

        };

        me.args.eventDrop = (event, delta, revertFunc, jsEvent, ui, view) => {

          if (me.isOverlapping(event)) {

            revertFunc();

          } else {
            let startHour = '';
            let endHour = '';
            let defaultDuration = moment.duration($('#calendar').fullCalendar('option', 'defaultTimedEventDuration')); // get the default and convert it to proper type
            let start = _.clone(event.start);
            let end = event.end || start.add(defaultDuration); // If there is no end, compute

            startHour = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
            endHour = moment(end).format('YYYY-MM-DD HH:mm:ss');


            let item = {
              id: event.id,
              pistas_id: event.resources[0],
              inicio_alquiler: startHour,
              fin_alquiler: endHour,
              partidaVirtual: event.partidaVirtual ? event.partidaVirtual : false
            };

            me.update(item);
          }

        };

        me.args.eventResize = (event, delta, revertFunc, jsEvent, ui, view) => {

          let startHour = '';
          let endHour = '';

          if (me.isOverlapping(event)) {

            revertFunc();

          } else {

            if (view.name == "agendaWeek") {

              startHour = moment(event.end._d).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(0, 5) + ":00";
              endHour = moment(event.end._d).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(8, 13) + ":00";
            } else {

              startHour = moment(event.start._i).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(0, 5) + ":00";
              endHour = moment(event.end._i).format("YYYY-MM-DD") + " " + ui.element["0"].innerText.substring(8, 13) + ":00";
            }

            let item = {
              id: event.id,
              pistas_id: event.resources[0],
              inicio_alquiler: startHour,
              fin_alquiler: endHour,
              partidaVirtual: event.partidaVirtual ? event.partidaVirtual : false
            };

            me.update(item);

          }
        };

        me.args.eventClick = (calEvent, jsEvent, view) => {

          if (me.isClicked) {
            me.evento = "evento";
            me.datosClicked = calEvent;
            me.isDblClicked = true;
            me.isClicked = false;

          } else {
            me.isClicked = true;
          }
          setTimeout(() => {
            me.isClicked = false;
          }, 250)
        };
        me.args.dayClick = (date, jsEvent, view, resourceObj) => {//emite informacion hacia el componente calendario y me lleva al dia pulsado.

          if (view.name == 'resourceDay') {

            if (me.isClicked) {
              me.evento = "dia";
              me.pista = jsEvent;
              me.fechaDblClick = date.format();
              me.isDblClicked = true;
              me.isClicked = false;
            } else {
              me.isClicked = true;
            }
            setTimeout(() => {
              me.isClicked = false;
            }, 250)
          }
        },
        me.args.viewRender = (view, element) => {
          let vista = view.name == 'resourceDay' ? 'agenda' : 'semana';
          this.vista = vista;
          me.$emit('fecha', {dia: moment(view.intervalStart._d).format('YYYY-MM-DD'), vista: view.name});
        }
        //al seleccionar una hora sale pintada en el calendario y con el selecHelper muestra la hora.
        me.args.selectable = true;
        me.args.selectHelper = true;
        me.cal.fullCalendar('setResources', me.pistas);//cargo las pistas del club
        me.cal.fullCalendar('removeEvents'); //elimino los eventos del calendario
        me.cal.fullCalendar('render');//renderizo el calendario
        me.cal.fullCalendar('addEventSource', me.partidas);//cargo los eventos
        me.cal.fullCalendar(me.args);

      } else {
        me.args.eventRender = (event, element) => {

          let jugadores = me.palas(event.jugadoresPartida);
          let Npalas = jugadores.length;
          let espera = me.espera(event.listaEspera)
          let Nespera = espera.length;

          if (event.equipo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-equipo');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>${event.observaciones}</div>`
                );
          }
          if (event.clase == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-texto');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>Clase ${event.entrenador}</div>`
                );
          }
          if (event.torneo == 'SI') {
            element.find(".fc-event-inner").parent().addClass('p-torneo');
            element.find(".fc-event-title")
                .append(
                    `<div class='ui-revert'>Torneo/liga</div>`
                );
          }
          if (event.status == 'CERRADA') {
            element.find(".fc-event-inner").parent().addClass('completa');
            element.find(".fc-event-title")
                .append(
                    `<div class='fc-palas ui-revert'> Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                );
            element.find(".fc-palas")
                .popover({
                  animation: true,
                  delay: 300,
                  container: "body",
                  html: true, //habilito el paso de etiquetas html
                  title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                  placement: "top",
                  trigger: "hover",
                  content: palas => {
                    let listadoPalas = `<ul style='margin-left:-15%'>`;
                    for (let x = 0; x < Npalas; x++) {
                      listadoPalas += `<li>${jugadores[x]}</li>`;
                    }
                    if (Nespera != 0) {
                      listadoPalas += `<p><b>Lista de espera</b></p>`;
                      for (let x = 0; x < Nespera; x++) {
                        listadoPalas += `<li>${espera[x]}</li>`;
                      }
                    }
                    listadoPalas += `</ul>`;
                    return listadoPalas;
                  },
                }).on('show.bs.popover', function () {
              // Cerrar todos los popovers abiertos antes de abrir uno nuevo
              $('[data-toggle="popover"]').not(this).popover('hide');
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }
          if (event.equipo == 'NO' && event.clase == 'NO' && event.torneo == 'NO' && event.status == 'ABIERTA') {
            switch (Npalas) {
              case 0:
                element.find(".fc-event-inner").parent().addClass('vacia');
                break;
              case 1:
              case 2:
              case 3:
                element.find(".fc-event-inner").parent().addClass('semicompleta');
                break;
              case 4:
                element.find(".fc-event-inner").parent().addClass('completa');
                break;
            }
            ;
            Nespera > 0 ?
                element.find(".fc-event-title")
                    .append(
                        `<div class='fc-palas ui-revert'>${Npalas} Palas / ${Nespera} espera <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                    )
                :
                element.find(".fc-event-title")
                    .append(
                        `<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`
                    );
            element.find(".fc-event-title")
                .append(`<div class='fc-palas ui-revert'>${Npalas} Palas <br>Nivel ${event.nivelPartida} / Pista ${event.resources}</div>`);

            element.find(".fc-palas")
                .popover({
                  animation: true,
                  delay: 300,
                  container: "body",
                  html: true, //habilito el paso de etiquetas html
                  title: `<b>Palas</b><b-button class="close" aria-label="Close" onClick="$(this).parents('.popover').popover('hide')"><span aria-hidden="true">×</span></b-button>`,
                  placement: "top",
                  trigger: "hover",
                  content: palas => {
                    let listadoPalas = `<ul style='margin-left:-15%'>`;
                    for (let x = 0; x < Npalas; x++) {
                      listadoPalas += `<li>${jugadores[x]}</li>`;
                    }
                    if (Nespera != 0) {
                      listadoPalas += `<p><b>Lista de espera</b></p>`;
                      for (let x = 0; x < Nespera; x++) {
                        listadoPalas += `<li>${espera[x]}</li>`;
                      }
                    }
                    ;
                    listadoPalas += `</ul>`;
                    return listadoPalas;
                  },
                }).on('show.bs.popover', function () {
              // Cerrar todos los popovers abiertos antes de abrir uno nuevo
              $('[data-toggle="popover"]').not(this).popover('hide');
            }).click(e => {
              e.preventDefault();
              $(me).focus();
            });
          }

        };

        me.cal.fullCalendar('setResources', me.pistas);//cargo las pistas del club
        me.cal.fullCalendar('removeEvents'); //elimino los eventos del calendario
        me.cal.fullCalendar('render');//renderizo el calendario
        me.cal.fullCalendar('addEventSource', me.partidas);//cargo los eventos
        me.cal.fullCalendar(me.args);
      }
    },

    update(item) {
      this.$emit('posicion', item);
    },

    updateDatos(item) {
      //console.log(item);
    },

    isOverlapping(event) {
      const me = this;
      me.cal = $(me.$refs.calendario);
      let array = me.cal.fullCalendar('clientEvents');

      for (let i in array) {
        if (array[i]._id != event._id && parseInt(array[i].resources) == parseInt(event.resources)) {
          // Verificar si hay solapamiento temporal
          let isOverlapping = array[i].end.isAfter(event.start) && array[i].start.isBefore(event.end);

          if (isOverlapping) {
            // Solapamiento detectado

            // Colocar el evento justo después del evento que comenzó antes
            event.start = array[i].end.clone(); // Colocar al final del evento solapado
            event.end = event.start.clone().add(event.end.diff(event.start)); // Ajustar la duración

            return true;
          }
        }
      }

      return false;
    },

    isOverlappingOld(event) {
      const me = this;
      me.cal = $(me.$refs.calendario);
      let array = me.cal.fullCalendar('clientEvents');
      for (let i in array) {
        if (array[i]._id != event._id) {

          if (parseInt(array[i].resources) == parseInt(event.resources)) {

            if (!(array[i].start.format() >= event.end.format() || array[i].end.format() <= event.start.format())) {

              return true;
            }
          }

        }
      }
      return false;
    },

  }


}
</script>

<style scoped>

.fc-event-time {
  font-size: 0.8rem !important;
  text-align: center;
}

</style>