<template>
	<div class="ct-chart m-auto">
  		<!--chart-axis :data='chartData'></chart-axis-->
			
			<canvas id="chart-partidas"></canvas>
		</div>
</template>

<script>
	export default {
		props: ['items'],
		data: ()=>({
			varPartida: null,
            charPartida: null,
            //datos: [],
			varTotalPartidas: [],
			varMesPartida: [],

			meses: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		}),
		watch:{
			items(value){
			 value.length ? this.loadChart(value) : "";
			 
			}
		},

		methods:{
			loadChart(datos){
					
                let me = this;
                me.varMesPartida = [];
                me.varTotalPartidas = [];
                
                datos.map(function(x) {
                    me.varMesPartida.push(me.meses[x.mes - 1 ]);
                    me.varTotalPartidas.push(x.total);
                })
            
                me.varPartida = document.getElementById('chart-partidas').getContext('2d');

                me.varPartida = new Chart(me.varPartida, {
                    type: 'bar',
                    data: {
                        labels: me.varMesPartida,
                        datasets: [{
                            label: 'Partidas',
                            data: me.varTotalPartidas,
                            backgroundColor:'rgba(255, 1, 1, 0.5)',
                            borderColor:'rgba(255,99,132,0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            },
		}
	}	

</script>

<style scoped>
  .ct-chart{
     width: 700px;
  }
</style>