<template>
  
  <div id="individual-club-map" ref="googleMap"></div>

</template>

<script>
  export default {
    props:['club'],
    data: ()=>({
      infoWindows: [],
    }),
    
    mounted(){
      this.displayIndividualCLubMap();
    },
    computed:{
      datos(){
        return this.club.club[0];
      }
    },
    watch:{
      
    },
    methods: {
      
      displayIndividualCLubMap(){
        
        /*this.map = new google.maps.Map(document.getElementById('individual-club-map'), {
          center: {lat: parseFloat( this.datos.latitud ), lng: parseFloat( this.datos.longitud )},
          zoom: 13
        });*/
        this.map = new google.maps.Map(this.$refs.googleMap, {
          center: {lat: parseFloat( this.datos.latitud ), lng: parseFloat( this.datos.longitud )},
          zoom: 16
        });
        //let image = '/img/coffee-marker.png';

        let marker = new google.maps.Marker({
          position: { lat: parseFloat( this.datos.latitud ), lng: parseFloat( this.datos.longitud )},
          map: this.map,
          //icon: image
        });
        let contentString = 
          `<div style="display: block">
              <div style="color: red;text-align: center"><strong>${this.datos.nombre}</strong></div>
                    <div style="font-size: 12px;">
                        <span style="display: block">${this.datos.direccion}, ${this.datos.poblacion}(${this.datos.provincia}) </span>
                        <span style="display: block">${this.datos.pistas} pistas</span>
                        <span style="display: block"><strong>telf. </strong> ${this.datos.movil}</span>
                        <span style="display: block"><strong>horario: </strong> ${this.datos.horario}</span>
                        <span class="text-center mt-4 d-block" style="color: purple;font-weight: bold"><a href="${this.datos.web}">Visitar</a></span>
          </div>
                </div>`;

        let infoWindow = new google.maps.InfoWindow({
            content: contentString

        });

        this.infoWindows = infoWindow;
        
        //agrego un listener a cada club para abrir sus detalles. 
        marker.addListener('click', function() {
          infoWindow.open(this.map, this);
        });


      }
    }
  }
</script>

<style>

  #individual-club-map{
    width: 800px;
    height: 400px;
    margin: auto;
    margin-bottom: 200px;
  }
  @media screen and (max-width: 1000px) {
    #individual-club-map{
      width: 600px;
      height: 300px;
    }
  }
  @media screen and (max-width: 700px) {
    #individual-club-map{
      width: 400px;
    }
  }
  @media screen and (max-width: 500px) {
    #individual-club-map{
      width: 250px;
    }
  }
</style>