<template>
	<div>
	    <date-picker :date="startTime" :option="option" @change="updateData" :limit="limit"></date-picker>
	</div> 
</template>

<script>
    import Datepicker from 'vue-datepicker';
    import funciones from '../../helpers/funciones'; 
//para no poder elegir ningun dia de la primera semana del mes en el que nos encontramos, modifico la linea 339 del archivo node_modules/vue-datepiker/vue-datepipicker añadiendo la clase unavailable a los passive-days
export default {
	props:['item', 'origen'],
	components: {
        'date-picker': Datepicker
    },
    mixins: [funciones],

    data: ()=>({
        	startTime: {
                time: ''
            },
            endtime: {
                time: ''
            },
            
            option: {
                type: 'day',
                week: ['Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa', 'Do'],
                month: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                format: 'DD-MM-YYYY',
                placeholder: 'Selecciona una fecha',
                inputStyle: {
                    'display': 'block',
				    'width': '100%',
				    'padding': '0.375rem 0.75rem',
				    'font-size': '1rem',
				    'line-height': '1.6',
				    'color': '#495057',
				    'background-color': '#fff',
				    'background-clip': 'padding-box',
				    'border': '1px solid #ced4da',
				    'border-radius': '0.25rem',
                },
                'input-class': 'hola',
                color: {
                    header: '#0031ff',
                    headerText: '#fff',
                    checked: '#F50057',
                },
                buttons: {
                    ok: 'Aceptar',
                    cancel: 'Cancelar'
                },
                overlayOpacity: 0.5, // 0.5 as default
                dismissible: true // as true as default
            },
            limit: [
            	{type: 'week', available: [1, 2, 3, 4, 5, 6, 7]},
		      	{type: 'fromto', from: '2018-04-25', to: '2018-04-30'}
		    ],
		    timeoption: {
		        type: 'min',
		        format: 'HH:mm'
		    },
		    
    }),
	watch:{
        item(value){
            this.cargarDatos();
        }
    },
  	
    created(){
    	this.cargarDatos();
 	},
    methods: {
        cargarDatos(){
            let fechaFrom = moment().subtract(+1, 'day');
            let fechaTo = moment().subtract(-7, 'day');
            this.startTime.time = moment(this.item).format('DD-MM-YYYY');
           
            if(this.origen != 'club'){
                this.limit[1].from = fechaFrom;
                this.limit[1].to = fechaTo;
            }else{
                this.limit[1].from = '';
                this.limit[1].to = '';
                
            }
            
            
        },
    	updateData() {
            this.$emit('update:partida', this.startTime.time);
        },
    },
    
} 
</script>
<style scoped>

</style>