<template>
	<b-container fluid v-cloak>
		<h1 class="text-center display-4 my-4">«{{galeria}}»</h1>
		<b-row>
 			<b-col style="min-height: 100px">
				<router-link class="btn btn-primary float-right mb-3" :to="{name: 'galeria'}">Galerías</router-link>
 			</b-col>
 		</b-row>
 		<upload-component :page="pageUrl" :folder="galeria" @cargadas="getGaleria"></upload-component> 	
		<b-card-group>
			<b-row>
				<b-col sm="6" lg="2" class="d-flex align-items-stretch" v-for="(image, imageIndex) in items" :key="imageIndex">
				<b-card>
					<b-card-img fluid :src="image" @click="index = imageIndex"></b-card-img>
					<div slot="footer" class="trush"><b-button size="sm" variant="link" @click="deleteBtn(image)"><icon name="trash-o"></icon></b-button></div>
				</b-card>
				</b-col>
				
			</b-row>
			
		</b-card-group>
		
		<gallery :images="items" :index="index" @close="index = null"></gallery>
		
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import Formulario from './modalImagen.vue';
import mUpload from './multipleUpload.vue';
import VueGallery from 'vue-gallery';

export default{
	components: {
		'icon': Icon,
		'upload-component': mUpload,
		'gallery': VueGallery,
	},
	data: ()=>({
		pageUrl: 'glrs',
		items: [],
		galeria: null,
		imagen: null,
		
		index: null,
	}),
	created(){
   		this.$route.params.galeria == null? this.galeria = JSON.parse(localStorage.getItem('galeria'))  :  (this.galeria = this.$route.params.galeria, localStorage.setItem('galeria', JSON.stringify(this.$route.params.galeria)));
   		
	},
	mounted(){
		this.getGaleria();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
    	getGaleria(){
    		
    		axios.get(`${this.pageUrl}/${this.galeria}`).then(response =>{
		       this.items = response.data;
		    }, error => {
		        console.log(error.data);
		    })
    	},
    	deleteBtn(item){
    		let imagen = item.split('/').pop();
    		let galeria = this.galeria;
			axios.delete(`${this.pageUrl}/${galeria}/${imagen}`).then((response) => {
				response.data.status == 'success' ? (this.getGaleria(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      		}, (error) => {
        		console.error(error.response);
      		})
		},
    }
}
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}
  	.trush{
  		position: absolute;
  		right: 0;
  		bottom: -8px;
  	}
  	
</style>

