<template>
    <b-card-group>
			<b-card class="mr-1" header-tag="header">
        		<h5 slot="header" class="mb-0">Horarios:</h5>
        		<span style="color: rgba(0, 0, 0, 0.65)">En caso de horario ininterrumpido marcar la opción/es correcta</span>
        		<b-row class="mb-2">
					<b-col v-if="!status.ld && !status.ldmt">
    					<b-form-checkbox v-model="status.lv">
						    Ininterrumpido Lunes a Viernes
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ldmt && !status.lv">
    					<b-form-checkbox v-model="status.ld">
						    Ininterrumpido Lunes a Domingo
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ld && !status.lv">
    					<b-form-checkbox v-model="status.ldmt">
						    Horario Lunes a Domingo
						</b-form-checkbox> 
					</b-col>
					<b-col v-if="!status.ld && !status.ldmt">
    					<b-form-checkbox v-model="status.fs">
						    Ininterrumpido Fin de semana
						</b-form-checkbox> 
					</b-col>
					<b-col>
    					<b-form-checkbox v-model="status.f">
						    Ininterrumpido Festivo
						</b-form-checkbox> 
					</b-col>
				</b-row>
				<span style="color: rgba(0, 0, 0, 0.65)">Formato 24h</span>
        		<b-row id="horario"> 
        			<template v-if="status.ld">
        				<b-col  sm="6" md="2">
		 					<b-form-group label="Lunes a Domingo:">
								<b-row>
									<b-col>
										<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.lvm != ''" class="error">
						  		{{ errores.lvm }}
						  	</span>
						</b-col>
        			</template>
        			<template v-else>

	        			<template v-if="!status.lv">
		        			<b-col  sm="6" md="2">
			 					<b-form-group :label="label_manana">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvm != ''" class="error">
							  		{{ errores.lvm }}
							  	</span>
							</b-col>
							<b-col  sm="6" md="2">
								<b-form-group :label="label_tarde">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvt_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvt_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvt != ''" class="error">
							  		{{ errores.lvt }}
							  	</span>
							</b-col>
						</template>
						<template v-else>
							<b-col  sm="6" md="2">
			 					<b-form-group label="Lunes a Viernes:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.lvm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.lvm != ''" class="error">
							  		{{ errores.lvm }}
							  	</span>
							</b-col>
						</template>
						<template v-if="!status.fs && !status.ldmt">
							<b-col  sm="6" md="2">
								<b-form-group label="Fin de semana mañana:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fsm != ''" class="error">
							  		{{ errores.fsm }}
							  	</span>

							</b-col>
							<b-col  sm="6" md="2">
								<b-form-group label="Fin de semana tarde:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fst_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fst_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fst != ''" class="error">
							  		{{ errores.fst }}
							  	</span>
							</b-col>
						</template>
						<template v-if="status.fs && !status.ldmt">
							<b-col  sm="6" md="2">
			 					<b-form-group label="Fin de semana:">
									<b-row>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_start"></b-form-input>
										</b-col>
										<b-col>
											<b-form-input type="time" v-model="item.fsm_end"></b-form-input>
										</b-col>
									</b-row>
								</b-form-group>
								<span v-show="errores.fsm != ''" class="error">
							  		{{ errores.fsm }}
							  	</span>
							</b-col>
						</template>
					</template>
					<template v-if="!status.f">
						<b-col  sm="6" md="2">
							<b-form-group label="Festivo mañana:">
								<b-row>
									<b-col>
										<b-form-input type="time" v-model="item.fm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.fm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.fm != ''" class="error">
							  	{{ errores.fm }}
							</span>
						</b-col>
						<b-col  sm="6" md="2">
							<b-form-group label="Festivo tarde:">
								<b-row class="ulti">
									<b-col>
										<b-form-input type="time" v-model="item.ft_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.ft_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.ft != ''" class="error">
							  	{{ errores.ft }}
							</span>
						</b-col>
					</template>
					<template v-else>
						<b-col sm="6" md="2">
							<b-form-group label="Festivo:">
								<b-row class="ulti">
									<b-col>
										<b-form-input type="time" v-model="item.fm_start"></b-form-input>
									</b-col>
									<b-col>
										<b-form-input type="time" v-model="item.fm_end"></b-form-input>
									</b-col>
								</b-row>
							</b-form-group>
							<span v-show="errores.fm != ''" class="error">
							  	{{ errores.fm }}
							</span>
						</b-col>
					</template>
				</b-row>
			</b-card>
		
		</b-card-group>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import validaciones from '../../helpers/validaciones';
import funciones from '../../helpers/funciones';

export default {
	components: {
		'icon': Icon,
	},
	mixins: [validaciones,funciones],
	data:()=>({

		item: {fm_start: null, fm_end: null, ft_start: null, ft_end: null},
		label_manana : "Lunes a Viernes mañana",
		label_tarde : "Lunes a Viernes tarde",
		errores: {
			check: '',
			lvm: '',
			lvt: '',
			ldmt: '',
			ld: '',
			fsm: '',
			fst: '',
			fm: '',
			ft: ''
		},
		status:{
			lv: false,
			ld: false,
			ldmt: false,
			fs: false,
			f: false,
		},
	}),
	watch:{
		'status.ldmt'(value){
        	value == true ? (this.label_manana = "Lunes a Domingo mañana", this.label_tarde = "Lunes a Domingo tarde") : (this.label_manana = "Lunes a Viernes mañana", this.label_tarde = "Lunes a Viernes tarde");
        },
        'status.ld'(value){
        	value == true ? (this.status.lv = false, this.status.fs = false): '';
        },
        item(obj){
        	this.validarHorario();
        	this.validar();
        },
	},
	methods:{
		validar(){
			console.log(this.item);
			let horarioFormateado = this.formatHorario(this.item);
			this.$emit('emithorario', horarioFormateado);
		},

	},

}
</script>