<template>
	<b-modal v-model="modalShow" hide-footer hide-header size="lg" centered> 
		<b-btn class="close mr-2" @click="modalShow = false" aria-label="Close">
			<span aria-hidden="true" style="color:red">&times;</span>
		</b-btn>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<b-img :src="imagen" alt="" fluid rounded />
		</div>
	</b-modal>

	<!--div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exapleModalLabel" aria-hidden="true">
		<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<img :src="imagen" alt="" class="img-fluid rounded">
		</div>
	</div-->
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import EventBus from '../../helpers/event-bus.js';

export default{
	props:['imagen'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		modalShow: true,
	}),
	
	mounted(){
	    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
	      this.modalShow = true

	      ),
	    );
  	},
  
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       
    }
}
</script>
<style>
	.modal-content{
		background-color: transparent;
		border: none;
	}
</style>