<template>
	<b-container fluid>
		
		<div class="text-center">
			<h2> Estadísticas </h2>
		</div>
		<b-tabs>
		  	<b-tab title="Mensual" active @click="getStats('mensual')">
		  		<div class="text-center">
					<h2>Mensual (<span class="text-capitalize"> {{ mes }} </span>)</h2>	
				</div>
		    	<b-card-group deck class="mb-3">
		        	<b-card bg-variant="warning" text-variant="white" header="Partidas cerradas" class="text-center">          
		        		<h2 class="card-text"> {{ Comp_partidas }} </h2>
		        	</b-card>
			        <b-card bg-variant="success" text-variant="white" header="Nuevos socios" class="text-center">
			            <h2 class="card-text"> {{ Comp_socios }} </h2>
			        </b-card>
			        <b-card bg-variant="danger" text-variant="white" header="Hora caliente" class="text-center">
			            <h2 class="card-text"> {{ Comp_horaCaliente }}</h2>
			        </b-card>	
			    </b-card-group>
			    <b-card-group deck class="mb-3">
		        
			        <b-card header-bg-variant="info" text-variant="white" header="Top 5 Hora" class="text-center">
			            
			            <chart :items="Comp_top5"></chart>
			        </b-card>
			        <b-card header-bg-variant="dark" text-variant="white" header="Top 5 Jugadores" class="text-center">
			           
			           <chart :items="Comp_top5jugadores"></chart>
			        </b-card>
			    </b-card-group>
				<!-- Chart Axis -->
				<b-card-group deck class="mb-3">
		        	<b-card header-bg-variant="secondary" text-variant="white" :header="`Partidas por mes (${anyo})`" class="text-center">
			           
			           <mensual :items="Comp_partidasPorMes"></mensual>
			        </b-card>
			    </b-card-group>
				
		  	</b-tab>
		  	<b-tab title="Anual" @click="getStats('anual')">
				<div class="text-center">
					<h2>Año {{ anyo }} </h2>	
				</div>
				<b-card-group deck class="mb-3">
					<b-card bg-variant="warning" text-variant="white" header="Partidas cerradas" class="text-center">          
						<h2 class="card-text"> {{ Comp_partidas }} </h2>
					</b-card>
					<b-card bg-variant="success" text-variant="white" header="Nuevos socios" class="text-center">
						<h2 class="card-text"> {{ Comp_socios }} </h2>
					</b-card>
					<b-card bg-variant="danger" text-variant="white" header="Hora caliente" class="text-center">
						<h2 class="card-text"> {{ Comp_horaCaliente }}</h2>
					</b-card>	
				</b-card-group>
				<b-card-group deck class="mb-3">
					
					<b-card header-bg-variant="info" text-variant="white" header="Top 5 Hora" class="text-center">
						<chart :items="Comp_top5"></chart>
					</b-card>
					<b-card header-bg-variant="dark" text-variant="white" header="Top 5 Jugadores" class="text-center">
						<chart :items="Comp_top5jugadores"></chart>
					</b-card>
					
				</b-card-group>
				<!-- Chart Axis -->
				<b-card-group deck class="mb-3">
					<b-card header-bg-variant="secondary" text-variant="white" header="Partidas por Año" class="text-center">
						<anual :items="Comp_partidasPorAnyo"></anual>
					</b-card>
				</b-card-group>
		  	</b-tab>
		  
		</b-tabs>
	</b-container>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import uploadfile from './uploadFile.vue';
import chart from './chart.vue';
import axisMensual from './chartAxis.vue';
import axisAnual from './chartAxisAnual.vue';
import funciones from '../../helpers/funciones';

export default{
	props: {
	  	datos: {
	  		type: Object,
	  		default: () => []
	  	},
  	},
	components: {
		'icon': Icon,
		'chart': chart,
		'mensual' :axisMensual,
		'anual' : axisAnual
	},
	data: ()=>({
		club_id: null,
		socios: 0,
		partidas: 0,
		horaCaliente: null,
		top5: [],
		top5jugadores: [],
		partidasPorMes: [],
		partidasPorAnyo: [],
		
	}),
	watch:{
		
	},
	created(){
	},
	computed:{
		anyo(){
			return moment().format("YYYY");
		},
		mes(){
			return moment().format("MMMM");
		},
		Comp_socios(){
			return this.socios;
		},
		Comp_partidas(){
			return this.partidas;
		},
		Comp_horaCaliente(){
			return this.horaCaliente;
		},
		Comp_top5(){
			return this.top5;
		},
		Comp_top5jugadores(){
			return this.top5jugadores;
		},
		Comp_partidasPorMes(){
			return this.partidasPorMes;
		},
		Comp_partidasPorAnyo(){
			return this.partidasPorAnyo;
		}
	},
	mounted(){
		this.club_id = this.datos.rol_id ? null : this.datos.club[0].id;
	},
	
	methods:{
		getStats(from){
			this.socios = 0;
			this.partidas = 0;
			this.horaCaliente = [];
			
			axios.get(`api/stats?club_id=${this.club_id}&from=${from}`).then(response => {
				
				this.socios = response.data.Nsocio;
				this.partidas = response.data.Npartidas;
				this.horaCaliente = response.data.top5hora.length ? response.data.top5hora[0].label : '';
				this.top5 = response.data.top5hora;
				this.top5jugadores = response.data.top5jugadores;
				this.partidasPorMes = response.data.partidasPorMes;
				this.partidasPorAnyo = response.data.partidasPorAnyo;
				
			}, (error) => {
        		console.log(error.response);
      		})
		},
	}


}

</script>

<style scoped>

</style>