<!--npm install --save vue2-editor-->
<template>
  
  
    <vue-editor v-model="texto"></vue-editor>
 

</template>

<script>
	import { VueEditor, Quill } from 'vue2-editor';
  import EventBus from '../../helpers/event-bus.js';


  export default {
    props:['origen'],
   components: {
      VueEditor
   	},
    data: ()=>({
      texto: null,
    }),
    watch:{
      texto(value){
        this.enviarContenido(value);
        
      }
    },
    methods:{
      enviarContenido(texto){
        this.$emit('contenido':{content: this.texto, origen: this.origen});
      }
    },
    beforeUpdate () {
      
    },
    mounted () {
      console.log(VueEditor)
    },
    destroyed () {
    
    }

  }	
  
</script>
