@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; /* Popover Header */
  .popover-title {
      background-color: #3a87ad; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
      
  }
  /* Popover Body */
  .popover-content {
      background-color: #3a87ad;
      color: #FFFFFF;
      padding-left: 25px;
  }
  .popover-body ul li{
      list-style-image: url("/img/paddel.ico")
   }
 
  
  /* Popover Arrow */
  .arrow {
      border-top-color: green !important;
  }
  .fc-palas, .popover-content li{
      text-transform: capitalize;
  }
 /*.url{cursor:url(http://falconmasters.com/img/cursor.gif), auto;}*/

 /*transicion entrada vista*/
.slide-fade-leave-active{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.slide-fade-leave-active{
  -webkit-transition: all .3s cubic-bezier(.17,.67,.83,.67);
  -moz-transition: all .3s cubic-bezier(.17,.67,.83,.67);
  -o-transition: all .3s cubic-bezier(.17,.67,.83,.67);
  transition: all .3s cubic-bezier(.17,.67,.83,.67);
    
}
.slide-fade-enter, .slide-fade-leave-to{
  -webkit-transform: translate(800px);
  -moz-transform: translate(800px);
  -o-transform: translate(800px);
  -ms-transform: translate(800px);
  transform: translate(800px);
  opacity:0;
}

.entrenador th, .entrenador td {
  vertical-align: middle;
}

.avatar-entrenador{
  height: 150px;
}

.avatar-entrenador .imagenContenedor img{
  height: 100px;
  margin-bottom: 1rem;
}

.hot, .temp, .cold, .equipo, .torneo, .clase{
    height: 400px;
    background-size: cover !important;

}
.hot{
 background:url('/img/pistas/rojo.png') no-repeat center;
}
.temp{
 background:url('/img/pistas/naranja.png') no-repeat center;
}
.cold{
 background:url('/img/pistas/verde.png') no-repeat center;
}
.equipo{
 background:url('/img/pistas/azul.png') no-repeat center;
}
.texto{
 background:url('/img/pistas/pista.png') no-repeat center;
}

.us p span{
  color: inherit!important;
}
.us legend{
  color: #999;
}
/*
    Estilo del back
*/
.bg-fondoModalUser{
    background-color: #434e5a !important;
}

[v-cloak] {
  display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
td{
  vertical-align: middle;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.user-menu{
  width: 200px;
  height: 25px;
}

i, span {
    display: inline-block;
}

.entra{
  -webkit-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -moz-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -o-transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 30s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.sale{
  -webkit-transition: all 30s ease-out;
    -moz-transition: all 30s ease-out;
    -o-transition:all 30s ease-out;
    transition: all 30s ease-out;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
.email .custom-file-input:lang(es)~.custom-file-label::after {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-family: FontAwesome;
  content: '\f07c';
}
.email .custom-file-label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header{
    background: url(../img/header.svg) no-repeat 40%,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    background-size: contain;
    border-radius: 5px;
}
footer{
    background: url(../img/footer.svg) no-repeat;
    background-size: cover;
}
footer p, footer h5, footer span{
  color: #fff;
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-size: 1.05rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}


.dropdown-item:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    background-color: #fc0101;
    color: #000 !important;
    border-radius: 5px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
  background: radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
}

.calendario .cov-date-body{
  background: url(../img/header.svg) no-repeat,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, #868686 100%) !important;
  background-size: 280% !important;
}

.completa{
  background: #fc0101 !important;
}
.semicompleta{
  background: #ffa500 !important;
}
.vacia{
  background: #3f9f3f !important;
}
.p-equipo{
  background: #3f3fff !important;
}
.p-texto{
  background: #3f3f3f !important;
}
.p-torneo{
  background: #9f3f9f !important;
}

.check-pala .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #28a745;
    background-color: #1e9338;
}


@media screen and (max-width: 1700px) {
    
  }
@media screen and (max-width: 1600px) {
  .hot, .temp, .cold, .equipo, .torneo, .clase{
    height: 350px;

  }
  
}
@media screen and (max-width: 1485px) {
  .header{
    background: url(../img/header.svg) no-repeat 41%,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    background-size: contain;
}

@media screen and (max-width: 1390px) {
  .header{
    background: url(../img/header.svg) no-repeat 60%,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    background-size: contain;
}

@media screen and (max-width: 1375px){
  .header {
    background: url(../img/header.svg) no-repeat 70%,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    background-size: contain;
  }
  .navbar-nav li{
      padding-right: 0px !important;
  }
}
  

@media screen and (max-width: 1375px) {
  .hot, .temp, .cold, .equipo, .torneo, .clase{
    height: 300px;

  }
  

  
}

@media screen and (max-width: 1270px) {
   .header {
    background: url(../img/header.svg) no-repeat 100%,radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    background-size: contain;
  }
}

@media screen and (max-width: 1220px) {
  .hot, .temp, .cold, .equipo, .torneo, .clase{
    height: 275px;
  }
  .avatares{
   top:30px;
   left:2.5px;
  }
  .header {
    background:radial-gradient(circle farthest-corner at 45px 45px , #000 10%, rgba(0, 0, 0, 0.5) 40%, #868686 100%);
    
  }

}
  @media screen and (max-width: 1030px) {
    .navbar-dark .navbar-nav .nav-link{
      font-size: 1rem;
    }
    
  }

  @media screen and (max-width: 1010px){
    .navbar-dark .navbar-nav .nav-link{
      font-size: .9rem;
    }

  }
  @media screen and (max-width: 995px) {
    .hot, .temp, .cold, .equipo, .torneo, .clase{
      height: 200px;
    }
   
    
  }


  @media screen and (max-width: 875px) {
    
    .normal{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .header{
      background: url(../img/header.svg) 80px 0px,radial-gradient(circle farthest-corner at 45px 45px , #000, rgb(0, 0, 0) 75%, #868686 100%) !important;
      background-repeat: no-repeat !important;
      background-origin: border-box !important;
      background-size: cover !important;
    }
    .avatares{
     top: 2px;
     left: 0px;
     right: 2px;
    }

    .avatares img{
      max-height: 35px !important;
    }
    .espera>span{
      font-size: .6rem !important;
    }
  }
  @media screen and (max-width: 700px) {
    .hot, .temp, .cold, .equipo, .torneo, .clase{
      height: 100px;
    }
    .cal html .fc, .cal .fc table {
    font-size: 0.7rem;
    }

    .cal .fc-agenda-slots td div {
        height: 15px;
    }

    .cal .fc-header-title>h2{
      font-size: 1rem;
    }

  .display-3, .display-4 {
      font-size: 2rem !important;
  }
  .lead {
      font-size: 1rem;
    }

  }
  @media screen and (max-width: 535px) {
    .cal .ui-revert{
      font-size: 8px;
      line-height: initial;
      word-break: inherit;
    }
    .cal .fc-event-time{
      display: none;
    }
    .cal .fc-palas br{
      overflow:hidden;
    }
  }
