<template>
	<div>
    <div class="text-center"><h2>Horarios pista</h2></div>
		<div class="table">
      		<table class="table table-hover table-sm">
        		<thead>
        			<tr>
        				<th>&nbsp;</th> 
          				<th v-for="(dia, key) in dias" :key="key" class="text-capitalize text-center">{{ dia }}</th>
          			</tr>
          		</thead>
          		<tbody>
                <template v-if="items.length">
            			<tr v-for="(item, key) in items" :key="key">
            				<th>Pista {{ item.pista_id }}</th>

            				<td v-for="(dia, key) in diaArray" :key="key"> 
                      <b-form-input type="time" v-model="item[dia]" :min.native="min" :max.native="max" :step.native="step"></b-form-input>
                    </td>
            			</tr>
                </template>
                <template v-else>
                  <tr v-for="(item, key) in nuevo" :key="key">
                    
                    <th>Pista {{ item.pista_id }}</th>

                    <td v-for="(dia, key) in diaArray" :key="key">
                      <b-form-input type="time" v-model="item[dia]" :min.native="min" :max.native="max" :step.native="step"></b-form-input>
                    </td>
                
                  </tr>
                </template>
          		</tbody>
          	</table>
		</div>
		<b-button @click="actualizar" variant="primary" class="float-right" v-if="items.length">Guardar</b-button>
    <b-button @click="guardar" variant="primary" class="float-right" v-else>Guardar</b-button>
	</div>

</template>
<script>
import funciones from '../../../helpers/funciones';

export default {
  	props:['datos'],
  
  	origen:'crear',
  	components: {   
    
  	},
    mixins: [funciones],
  	data: ()=>({
    	pageUrl: 'hrpst',
   		items: [],
      item: [],
      status:{
        lv: false,
        ld: false,
        ldmt: false,
        fs: false,
        f: false,
      },
      nuevo: [],
   		dias: ['lunes','martes','miércoles','jueves','viernes','sábado', 'domingo'],
      diaArray: ['lunes','martes','miercoles','jueves','viernes','sabado', 'domingo'],
      min: '08:00',
      max: '23:00',
      step: '1800',
	}), 
  	created() {
     	this.horario(this.pistas);
  	},
 	  mounted(){
      this.getHorarios();
      const me = this;
      let horarios = this.datos.club[0].horario.split('|');
    
      horarios.forEach((horario)=>{
        me.desgloasarHorarioEditar(horario);
      })

      this.min = this.item.lvm_start;
      this.max = moment(this.item.lvm_end, 'kk:mm').add(-60, 'minutes').format('HH:mm');
      
  	},

  	computed: {
    	club(){
        return this.datos.club[0];
    	},
    	pistas(){

    		return this.datos.club[0].pistas;
    	},
    	
  	},
  	methods:{
  		horario(pistas){
  			let nuevo = [];
        for(let i = 0; i < pistas; i++){
          nuevo[i] = {'club_id': this.club.id, 'pista_id': (i+1), 'lunes': '08:00', 'martes': '08:00', 'miercoles': '08:00', 'jueves': '08:00', 'viernes': '08:00', 'sabado': '08:00', 'domingo': '08:00'};
          
        }
        this.nuevo = nuevo;
  		},
      getHorarios(){
        axios.get(`${this.pageUrl}`).then((response)=>{
          this.items = response.data;
        }, (error) => {
          console.log(error.response);
        });
      },
  		guardar(){
        
  			axios.post(this.pageUrl,this.nuevo).then(response =>{
          response.data.status == 'success'? (this.getHorarios(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        }, (error) => {
          console.log(error.response)
      })
  			
  		},
      actualizar(){
        console.log(this.items);
        axios.patch(`${this.pageUrl}/${this.club.id}`, this.items).then((response) => {
         response.data.status == 'success'? (this.getHorarios(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        }, (error) => {
          console.log(error.response)
      })
        
      }
  	}
}
</script>