<template> 
	<tr>
		<td v-for="i in tabla.columnas" :key="i">
			<b-form-input type="text" v-model="edit_[(i-1)]"></b-form-input>
		</td>
		<td>
			<b-button-group>
	          <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	          <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	        </b-button-group>
		</td>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';

	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item', 'tabla'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			edit_: [],
			isEdit: false,
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			console.log(this.item);
			for(let i = 0; i < this.tabla.columnas; i++){
				this.edit_[i] = [];
			}
		},
		computed: {
			filter(){
				console.log(this.item);
				return this.item;
			},
			nameState () {
        		return this.validarNombre();
		    },
		},
		methods:{
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				
				this.$emit('update', {old: this.item, new: this.edit_});
				
			},
			deleteBtn(){
				this.$emit('delete', this.edit_);
			},
		}
	}
</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
</style>