<template>
	<b-row>
		<b-col sm="12" lg="6">
			
			<div class="text-center">
				<h2>Clases</h2>
			</div>
			<b-row>
				<b-col sm="6" md="3" lg="2">
					<b-form-group label="Filas">
						<b-form-input type="number" v-model.number="clases.filas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col sm="6" md="3" lg="2">
					<b-form-group label="Columnas">
						<b-form-input type="number" v-model.number="clases.columnas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col sm="6" md="3" lg="3">
					<b-form-checkbox class="float-right" id="checkClas" v-model="itemClase.visible" value="1" unchecked-value="0">
     					Visible
    				</b-form-checkbox>
				</b-col>
				<b-col sm="6" md="3" lg="5">
					<b-button class="float-right" variant="outline-primary" @click="crearClase" >Guardar</b-button>
				</b-col>
			</b-row>
			<table class="table table-hover">
		        <thead class="thead-light">
		        	 <tr>
			            <th v-for="i in clases.columnas" :key="i">
			              <b-form-input type="text" v-model="tableClase.cabeceras[(i-1)]"> </b-form-input>
			            </th>
			            <th>&nbsp;</th>
			        </tr>
		        </thead>
		        <tbody>
		          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
		          <template v-if="tableClase.cuerpo.length">
		          	<tr v-for="i in clases.filas" :key="i">
						<td v-for="n in clases.columnas" :key="n">
							<b-form-input type="text" v-model="tableClase.cuerpo[(i-1)][(n-1)]"></b-form-input>
						</td>
						<td>
							<b-btn variant="danger" @click="deleteBtn('clases',(i-1))"><icon name="trash"></icon></b-btn>
					    </td>
					</tr>
		          </template>
		      	</tbody>
		    </table>
		</b-col>
		<b-col sm="12" lg="6">
			<div class="text-center">
				<h2>Equipo Competición</h2>
			</div>
			<b-row>
				<b-col sm="6" md="3" lg="2">
					<b-form-group label="Filas">
						<b-form-input type="number" v-model.number="competicion.filas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col sm="6" md="3" lg="2">
					<b-form-group label="Columnas">
						<b-form-input type="number" v-model.number="competicion.columnas"></b-form-input>
					</b-form-group>
				</b-col>
				<b-col sm="6" md="3" lg="3">
					<b-form-checkbox class="float-right" id="checkComp" v-model="itemCompeticion.visible" value="1" unchecked-value="0">
     					Visible
    				</b-form-checkbox>
				</b-col>
				<b-col sm="6" md="3" lg="5">
					
					<b-button class="float-right" variant="outline-primary" @click="crearCompeticion" >Guardar</b-button>
					
				</b-col>
			</b-row>
			<table class="table table-hover">
		        <thead class="thead-light">
		        	 <tr>
			            <th v-for="i in competicion.columnas" :key="i">
			              <b-form-input type="text" v-model="tableCompeticion.cabeceras[(i-1)]"> </b-form-input>
			            </th>
			            <th>&nbsp;</th>
			        </tr>
		        </thead>
		        <tbody>
		          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
		          <template v-if="tableCompeticion.cuerpo.length">
		          	<tr v-for="i in competicion.filas" :key="i">
						<td v-for="n in competicion.columnas" :key="n">
							<b-form-input type="text" v-model="tableCompeticion.cuerpo[(i-1)][(n-1)]"></b-form-input>
						</td>
						<td>
							<b-btn variant="danger"  @click="deleteBtn('competicion',(i-1))"><icon name="trash"></icon></b-btn>
					    </td>
					</tr>
		          </template>
		      	</tbody>
		    </table>
		</b-col>
    </b-row>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	
	export default{
		components: {
		   'icon': Icon,
		},
		props: ['item'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			//items : [],
			pageUrlClase: 'cls',
			pageUrlComp: 'cpt',
			itemClase: {visible: 1, id: 1},
			tableClase: {cabeceras: {0: '', 1: '1 HORA', 2: '1 HORA Y MEDIA'}, cuerpo:[]},
			itemCompeticion: {visible: 1, id: 1},
			tableCompeticion: {cabeceras: {0: '', 1: '', 2: ''}, cuerpo:[]},
			competicion : {filas: 4, columnas: 3},
			clases : {filas: 3, columnas: 3},
			edit_: null,
			activar: true,


			isEdit: false,
			errores:  [],
			erroresServidor: [],
			cargando: true,
		}),
		mounted(){
			this.getItems();
			this.filas();
		},
		watch:{
			'clases.filas'(newValue, oldValue){
				this.cambioFilas(newValue, oldValue,'clases');
			},
			'clases.columnas'(newValue, oldValue){
				this.cambioColumnas(newValue, oldValue,'clases');
			},
			'competicion.filas'(newValue, oldValue){
				this.cambioFilas(newValue, oldValue,'competicion');
			},
			'competicion.columnas'(newValue, oldValue){
				this.cambioColumnas(newValue, oldValue,'competicion');
			}
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    filtro(){ 
		      if(this.tableClase.length) {
		      	this.activar = false;
		      	return this.tableClase;
		      }
		    },
		},
		methods:{
			getItems(){
				
			    this.cargando = true;
			    axios.get(this.pageUrlClase).then((response)=>{
			    	if(response.data.length){

			    		this.tableClase = JSON.parse(response.data[0].clases)
			    		this.clases.filas = this.tableClase.cuerpo.length == 0 ? 1 : this.tableClase.cuerpo.length;
			    		this.clases.columnas = Object.keys(this.tableClase.cabeceras).length;
			    		this.itemClase = response.data[0];
			    		
			    	}
			    }, (error) => {
			        console.log(error.response);
			    });

			    axios.get(this.pageUrlComp).then((response)=>{
			    	if(response.data.length){

						this.tableCompeticion = JSON.parse(response.data[0].competicion)
			    		this.competicion.filas = this.tableCompeticion.cuerpo.length == 0 ? 1 : this.tableCompeticion.cuerpo.length;
			    		this.competicion.columnas = Object.keys(this.tableCompeticion.cabeceras).length;
			    		this.itemCompeticion = response.data[0];
			    		
			    	}
			    }, (error) => {
			        console.log(error.response);
			    })
			      this.cargando = false;
			},
			filas(){
				for(let i = 0; i < this.clases.filas; i++){
					this.tableClase.cuerpo[i] = [];
				};

				for(let i = 0; i < this.competicion.filas; i++){
					this.tableCompeticion.cuerpo[i] = [];
				}
				this.columnas();
			},
			cambioFilas(newValue, oldValue, origen){
				if(newValue < oldValue){
					origen == 'clases' ? this.tableClase.cuerpo.slice(newValue,oldValue) : this.tableCompeticion.cuerpo.slice(newValue,oldValue);
				};
				if(newValue > oldValue){
					origen == 'clases' ? this.tableClase.cuerpo.push([]) : this.tableCompeticion.cuerpo.push([]);
				};
				if(newValue == 0 || oldValue == 0){
					origen == 'clases' ? this.clases.filas = 1 : this.competicion.filas = 1;
					origen == 'clases' ? this.tableClase.cuerpo.push([]) : this.tableCompeticion.cuerpo.push([])
				}
				
			},
			cambioColumnas(newValue, oldValue, origen){
				let filas = origen == 'clases' ? this.clases.filas : this.competicion.filas;
				if(newValue < oldValue){
					for(let i = 0; i < filas; i++){
						for(let n = oldValue; n < newValue; n++){
							origen == 'clases' ? this.tableClase.cuerpo[i][n] = [] : this.tableCompeticion.cuerpo[i][n] = [];
						}
					}
				};
				if(newValue > oldValue){
					for(let i = 0; i < filas; i++){
						for(let n = oldValue; n < newValue; n++){
							origen == 'clases' ? this.tableClase.cuerpo[i][n] = [] : this.tableCompeticion.cuerpo[i][n] = [];
						}
					}
				}
				
			},
			columnas(){
				for(let i = 0; i < this.clases.filas; i++){
					for(let n = 0; n < this.clases.columnas; n++){
						this.tableClase.cuerpo[i][n] = '';
					}
				}
				for(let i = 0; i < this.columnas.filas; i++){
					for(let n = 0; n < this.columnas.columnas; n++){
						this.itemsColumnas.cuerpo[i][n] = '';
					}
				}
			},
			limpiarArray(filas, columnas, item){
				let cont = 0;
				let tablaTemp = [];
				let tabla = [];

				for(let i = 0; i < filas; i++){
					cont = 0;
					tablaTemp = [];
					for(let n = 0; n < columnas; n++){
						if(item[i][n] == '' || item[i][n] == null){
							cont++;
						}

						tablaTemp.push(item[i][n]);
						
					}
					if(cont != columnas){
						tabla.push(tablaTemp);
					}
				}

				return tabla;
			},
			limpiarArrayCabecera(columnas, item){
				let tabla = [];
				
				for(let n = 0; n < columnas; n++){
					tabla.push(item[n]);
				}

				return tabla;
			},
			crearClase(){
				
				this.tableClase.cuerpo = this.limpiarArray(this.clases.filas,this.clases.columnas, this.tableClase.cuerpo);
				this.tableClase.cabeceras = this.limpiarArrayCabecera(this.clases.columnas, this.tableClase.cabeceras);
				
				this.clases.filas = this.tableClase.cuerpo.length;
				this.clases.cabeceras = this.tableClase.cabeceras.length;

				this.itemClase.clases = JSON.stringify(this.tableClase);
								
				axios.post(this.pageUrlClase, this.itemClase).then((response) => {
					this.errores = [];
					response.data.status == 'success' ? toastr.success(response.data.msg): toastr.warning(response.data.msg);

				}, (error) => {
					console.log(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = [];

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});

			},
			
			crearCompeticion(){
				
				this.tableCompeticion.cuerpo = this.limpiarArray(this.competicion.filas,this.competicion.columnas, this.tableCompeticion.cuerpo);
				this.tableCompeticion.cabeceras = this.limpiarArrayCabecera(this.competicion.columnas, this.tableCompeticion.cabeceras);

				this.competicion.filas = this.tableCompeticion.cuerpo.length;
				this.competicion.cabeceras = this.tableCompeticion.cabeceras.length;

				this.itemCompeticion.competicion = JSON.stringify(this.tableCompeticion);

				
				
				axios.post(this.pageUrlComp, this.itemCompeticion).then((response) => {
					this.errores = [];
					console.log(response.data);
					response.data.status == 'success' ? toastr.success(response.data.msg): toastr.warning(response.data.msg);

				}, (error) => {
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = [];

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});

			},
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.tableClase);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			actualizar(actualizar){
    			console.log(actualizar)
		    },
			deleteBtn(origen, key){
				let fila = [];
				let datos = origen == 'clases'? this.tableClase.cuerpo : this.tableCompeticion.cuerpo;
				let n = 0;
				let filas = origen == 'clases'? this.clases.filas : this.competicion.filas;
				
				for(let i = 0; i < filas; i++){
					if(i == key){
						 origen == 'clases'? this.clases.filas -= 1 : this.competicion.filas  -= 1;
						i++;
					};

					if(datos[i] == null){
						fila.push([]);
						break;
					}else{
						fila.push(datos[i]);
					};
					
				};

				origen == 'clases'? this.tableClase.cuerpo = fila : this.tableCompeticion.cuerpo = fila;
				
			},
		}
	}
</script>
<style scoped>
	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
</style>