<template>
	<div>
		<div class="mb-5 text-center">
			<h2>Envio Mails</h2>
		</div>
		<b-row>
			<b-col sm="12" md="6" lg="4">
				<buscador-component @search="search($event)" @cancelar="resetSearch"></buscador-component>
			</b-col>
			<b-col>
				<b-input-group prepend="≥">
					<b-form-select v-model.number="porNivel.desde" :options="comboNivelesReales"/>
				</b-input-group>
			</b-col>
			<b-col>
				<b-input-group prepend="≤">
					<b-form-select v-model.number="porNivel.hasta" :options="comboNivelesReales"/>
				</b-input-group>
			</b-col>
			<b-col>
				<b-button variant="primary" class="float-left" @click="getMails"><icon name="search"></icon></b-button>
			</b-col>
				
		</b-row>
		<b-row>
			<b-col sm="6" md="6">
				<b-form-checkbox class="mt-2" v-model="allSelected" @change="toggleAll">
					{{ allSelected ? 'Deseleccionar todo' : 'Seleccionar todos' }}
				</b-form-checkbox>
			</b-col>
			
			<b-col sm="6" md="6">
				<b-button variant="primary" class="float-right" v-b-modal.cuerpoMensaje>Mensaje</b-button>
			</b-col>
		</b-row>
		<b-row class="my-5">
			<b-col sm="12" md="6" lg="4" v-for="i in totalColum" :key="i">
				<ul class="list-group">
				  <li v-for="(item, key) in items[(i-1)]" class="list-group-item" :key="key">
				  	<b-form-checkbox-group v-model="selected">
				  		<b-form-checkbox :value="item.email"><strong>{{item.nick}}:</strong> {{item.email}}</b-form-checkbox>
				  	</b-form-checkbox-group>
				  </li>
				</ul>
			</b-col>
			 
		</b-row>
		<b-modal id="cuerpoMensaje" ref="modal" title="Mensaje" hide-footer size="lg" class="email">
			<b-input-group>
			    <b-form-input type="text" v-model="newEmail.titulo" placeholder="Ponle un título a la plantilla"></b-form-input>
				<b-input-group-append v-if="newEmail.id">
			      <b-btn variant="outline-danger" @click="eliminar(newEmail.id)"><icon name="trash-o"></icon></b-btn>
			    </b-input-group-append>
			  </b-input-group>
			
      		<vue-editor id="cuerpo" v-model="newEmail.mensaje" useCustomImageHandler @imageAdded="handleImageAdded" v-focus></vue-editor>
      		<!--b-form-file v-model="file" placeholder="Insertar archivo" ref="fileinput" accept="file_extension|audio/*|video/*|image/*|media_type"></b-form-file-->
      		<b-input-group>
				<b-input-group-prepend>
		      		<b-btn class="mt-3" variant="outline-info" @click="cancelar('')">Añadir correo</b-btn>
		      	<b-btn class="mt-3" variant="outline-primary"  @click="guardar">Guardar</b-btn>
		    	</b-input-group-prepend>
	    		<b-form-select v-model="selectedPlantilla" :options="plantillas" value-field="id" text-field="titulo" class="mt-3" @change="selectPlantilla"/>
	    		<b-input-group-append>
			      	<b-btn class="mt-3" variant="outline-success" @click="handleOk">Enviar</b-btn>
		      		<b-btn class="mt-3" variant="outline-danger"  @click="cancelar('cancelar')">Cancelar</b-btn>
			    </b-input-group-append>
	    	</b-input-group>
		</b-modal>
		<Paginate :pagination="pagination" @pagina="getMails"></Paginate>
	</div>
</template>

<script>

import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import { VueEditor } from 'vue2-editor';
import funciones from '../../../helpers/funciones';

export default{
	components: {
		'icon': Icon,
	    'buscador-component':Buscador,
    	Paginate,
    	VueEditor,
    	'icon': Icon,
    },
    mixins: [funciones],
	data: ()=>({
		pageUrl: 'emails',
		items:[],
		todos: [],
		pagination: [],
		busqueda: '',
		sortBy: 'nick',
		orden: 'ASC',
		selected: [],
		allSelected:[],
		totalColum: 3,
		allSelected: false,
      	indeterminate: false,
      	newEmail: {titulo: '', mensaje: ''},
      	plantillas: [],
      	selectedPlantilla: null,
      	porNivel: {desde: 1, hasta: 30},
      	file: '',
      	
	}),
	watch: {
	    selected (newVal, oldVal) {

	      // Handle changes in individual flavour checkboxes
	      if (newVal.length === 0) {
	        
	        this.allSelected = false
	      } else if (newVal.length === this.todos.length) {
	        
	        this.allSelected = true
	      } else {
	        
	        this.allSelected = false
	      }
	    },
	},
	created() {
		!this.$store.state.niveles.length ? this.getNiveles() : '';
 		this.comboNiveles = this.$store.state.niveles;
		this.getMails();
		this.getPlantillas();
	},
	mounted(){
		this.selected = [];
	},

	methods:{
		selectPlantilla(select){
			this.newEmail = this.plantillas.filter(plantilla => plantilla.id == select)[0];
		},
		handleImageAdded(file, Editor, cursorLocation, resetUploader) {
	        let formData = new FormData();
	        formData.append('image', file)

	        axios.post(`${this.pageUrl}/imagen`,formData).then((response) => {
	          let url = response.data // Get url from response
	          Editor.insertEmbed(cursorLocation, 'image', url);
	          resetUploader();
	        }).catch((err) => {
	          console.log(err.response);
	        })
	    },
		cancelar (modo) {
			this.$root.$emit('bv::hide::modal','cuerpoMensaje');
			/*modo == 'cancelar' ? (this.newEmail = {titulo: '', mensaje: ''}, this.selectedPlantilla = null, this.$refs.fileinput.reset()) : '';*/
			modo == 'cancelar' ? (this.newEmail = {titulo: '', mensaje: ''}, this.selectedPlantilla = null) : '';
		},
	    handleOk (evt) {
	      // Prevent modal from closing
	      evt.preventDefault()
	      if (!this.selected.length) {
	      	toastr.options = {
		        positionClass: "toast-top-center"
		     };
		    this.vacio = true;
	      	toastr.warning('Selecciona al menos un email')
	        
	      } else {
	      	this.vacio = false;
	        this.enviar();
	      }
	    },
		toggleAll (checked) {
			
      		this.selected = checked ? this.todos.map(user => { return user.email}) : [];

    	},
		search(busqueda){
      		this.busqueda = busqueda;
	      	this.getMails();
	    },
	    resetSearch(){
	    	this.porNivel = {desde: 1, hasta: 30};
	      	this.getMails();
	    },
		getMails(page){
			axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&desde=${this.porNivel.desde}&hasta=${this.porNivel.hasta}&sortBy=${this.sortBy}&orden=${this.orden}`).then((response)=>{
				this.todos = response.data.todos;
       			this.items = response.data.items.data;
            	this.pagination = response.data.pagination;
            	this.partirArray();
            	this.cargando = false;
          }, (error) => {
            console.error(error.response);
          })
      		
    	},
    	getPlantillas(){
    		axios.get('plantillasMail').then((response)=>{
				this.plantillas = response.data;
			}, (error) => {
            	console.error(error.response);
          	})
    	},
    	enviar(){
    		let form = {'emails': this.selected, 'mensaje': this.newEmail.mensaje};
    		
    		axios.post(`${this.pageUrl}/enviar`,form).then((response) => {
	         	toastr.success(response.data.msg);
	         	this.$root.$emit('bv::hide::modal','cuerpoMensaje');
	         	this.newEmail = {titulo: '', mensaje: ''};
	         	this.selectedPlantilla = null;
	        }).catch((err) => {
	          console.log(err.response);
	        })
    	},
    	guardar(){
    		if(this.newEmail.titulo == '' || this.newEmail.titulo == null){
				toastr.warning('El título no puede estar vacío');
			}else{
				axios.post(`${this.pageUrl}/guardar`, this.newEmail).then((response) => {
    				toastr.success(response.data.msg);
    				this.getPlantillas();
	    		}).catch((err) => {
	    			toastr.warning(err.response.data.errors.titulo);
		          	console.log(err.response.data);
		        })	
    		}
    		
    	},
    	eliminar(id){
    		axios.delete(this.pageUrl + "/" + id).then((response) => {
		        response.data.status == 'success' ? (this.newEmail = {titulo: '', mensaje: ''},this.getPlantillas(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
		    }, (error) => {
		        console.error(error.response);
		    })
    	},
    	
    	partirArray(){
			let user = [];
			let users = _.clone(this.items);
			while (users.length) {
			   user.push(users.splice(0, 10));
			}
			this.items = user;
		}
		
	},

}
	
</script>

<style scoped>

</style>