<template>
	<div>
		<b-row class="mb-4">
			<b-col class="text-center">
				<h2> LOPD </h2>
			</b-col>
		</b-row>
  		<b-row>
  		<b-col>
  			<b-form-file v-model="file" :state="Boolean(file)" placeholder="Choose a file..."></b-form-file>
  			<div class="mt-3">Archivo seleccionado: {{file && file.name}}</div>
  			<object :data="pdffile_url" trusted="yes" application="yes" type="application/pdf" width="100%" height="700" sytle="background-color:white">
		        <embed :src="pdffile_url" type="application/pdf" />
		    </object>
  		</b-col>
  		<!--b-col>
	  		<iframe frameborder="0" scrolling="no" width="100%" height="800" :src="pdffile_url"></iframe>
	  	</b-col-->
	  </b-row>
	</div>
</template>
<script type="text/javascript">
	export default{
		data: ()=>({
			file: null,
			pdffile_url: null,
		}),
		watch:{
			file(value){
				this.pdffile_url = URL.createObjectURL(value)+ "#view=FitH&scrollbars=0&toolbar=0&statusbar=0&navpanes=0&zoom=0";//	 "#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&zoom=scale";
			}
		}
	}
</script>
<style scoped>
 	
</style>