<template>  
	<b-modal v-model="modalShow" hide-footer :title="titulo" size="lg" centered>
		<div class="float-right">
			<b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
			<b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
		</div>
	</b-modal>
</template>

<script>
import EventBus from '../../../helpers/event-bus.js';

export default {
  	props:['select'],
  	data: ()=>({
		titulo:"",
	    modalShow: true,
		
	}),
	
	created(){
		EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
	     		modal=='open'?this.abrir():this.cerrar()
			)
		); 
		this.titulo = 'Eliminar «' + this.select.nombre + '»';
	    
	},
	methods: {
		eliminar(){
	    	this.$emit('accion',{accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
	    },

	    abrir(){
			this.modalShow = true;
	    },
	    cerrar(){
	    	this.modalShow = false;
	    },
	    
	}


}

</script>
