<template> 
	<tr style="cursor:pointer">
		<template v-if="isEdit">
			<td class="d-none d-sm-block">
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="text" v-model.trim="edit_.nick" aria-describedby="nickFeedback" :state="nickState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nickFeedback">
				  {{ errores.nick }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-select v-model.number="edit_.nivel_id" :options="comboNiveles" class="mb-3"/>
			</td>
			<td>
				<b-form-select v-model.number="edit_.posicion" :options="comboPosiciones" class="mb-3"/>
			</td>
			<td>
				<b-form-input type="number" v-model.trim.lazy="edit_.telefono" aria-describedby="telefonoFeedback" :state="telefonoState"  maxlength="9" @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="telefonoFeedback">
				  {{ errores.telefono }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		</template> 
		<template v-else>
		   <router-link tag="td" class="click d-none d-sm-block" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nombre}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nick}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}">{{item.nivel}}</router-link>
           <router-link tag="td" class="click" v-bind:to="{name: 'ShowUserClub', params: {user: item, nombre: item.nombre}}"><template v-if="!mob">{{item.posicion}}</template><template v-else>{{ item.posicion.substring(0,2) }}</template></router-link>
           <td class="click" @click="whatsapp(item.telefono)" title="¿Enviar whatsapp?">{{item.telefono}}</td>
           <td>
                <b-button-group>
	              	<b-btn variant="success" :size="size" @click="editBtn"><icon :scale="escalaIcon" name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" :size="size"  @click="deleteBtn"><icon :scale="escalaIcon" name="trash-o"></icon></b-btn>
	            </b-button-group>
          </td>
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	import funciones from '../../../helpers/funciones';
	export default{
		components: {
		   
		    'icon': Icon,
		  
		},
		props: ['item'],
		mixins: [validaciones,funciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
			comboNiveles: [],
			comboPosiciones: [{value:'REVÉS',text:'REVÉS'},{value: 'DERECHA', text: 'DERECHA'},{value: 'INDIFERENTE', text: 'INDIFERENTE'}],
			size: '',
			mob: false,
		}),
		created(){
			this.comboNiveles = this.$store.state.niveles;
		},
		mounted(){
			this.item.password = null;
			this.edit_ = _.clone(this.item);

		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    nickState () {
        		return this.validarNick();
		    },
		    telefonoState(){
		    	return this.validarTelefono();
		    },
		    emailState(){
	    		return this.validarMail();
	    	},
	    	escalaIcon(){
		      if(!this.detectmob()){
		      	this.mob = false;
		      	this.size = '';
		        return 1;
		      }else{
		      	this.mob = true;
		      	this.size = 'sm';
		        return 0.7;
		      }
		    },
		},
		methods:{
			whatsapp(telefono){
				if(this.mob){
					window.open(`https://api.whatsapp.com/send?phone=34${telefono}&text=`,'_blank');
				}else{
					window.open(`https://web.whatsapp.com/send?phone=34${telefono}&text=`,'_blank');
				}
			},
			validar(){
		        if(this.validarNombre() && this.validarNick() && this.validarTelefono() && this.validarMail()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar()){
					this.$emit('update', this.edit_);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>

<style scoped>
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number]{
		-moz-appearance:textfield;
	}

	@media only screen and (max-width: 500px) {
	    .collapse{
	      display: none;
	    }
	    td{
	    	font-size: 0.7rem;
	    }
	  }

</style>