<template>
  <div>
    <div class="text-center"><h2>Jugadores</h2></div> 
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <td colspan="7">
              <b-row>
                <b-col sm="11" lg="6">
                  <buscador-component @search="search($event)" @cancelar="resetSearch"></buscador-component>
                  <b-form-checkbox id="checkbox1" v-model="ActBusPer">
                    Búsqueda Personalizada
                  </b-form-checkbox>
                </b-col> 
                <b-col sm="1" lg="6">
                  <router-link :to="{name: 'CreateUserClub'}">
                    <b-button variant="primary" class="float-right">
                      <icon name="user-plus"></icon>
                    </b-button>
                  </router-link>
                  
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <bpersonalizada-component v-if="ActBusPer" @search="searchExtend($event)" @cancelar="resetSearchExtend" :vista="false"></bpersonalizada-component>
                </b-col> 
              </b-row>
            </td>    
          </tr>
          <tr>
            <th class="click d-none d-sm-block" :class="[ sortBy == 'nombre' ? 'active' : '']" @click="ordenar('nombre')">
              <icon :scale="escalaIcon" :name="icoNombre"></icon>Nombre
            </th>
            <th class="click" :class="[ sortBy == 'nick' ? 'active' : '']" @click="ordenar('nick')" >
              <icon :scale="escalaIcon" :name="icoNick"></icon>Nick
            </th>
            <th class="click" :class="[ sortBy == 'nivel_id' ? 'active' : '']" @click="ordenar('nivel_id')" >
              <icon :scale="escalaIcon" :name="icoNivel"></icon><span v-if="!mob">Nivel</span><span v-else>Niv.</span>
            </th>
            <th class="click" :class="[ sortBy == 'posicion' ? 'active' : '']" @click="ordenar('posicion')" >
              <icon :scale="escalaIcon" :name="icoPosicion"></icon><span v-if="!mob">Posición</span><span v-else>Pos.</span>
            </th>
            <th class="click" :class="[ sortBy == 'movil' ? 'active' : '']" @click="ordenar('telefono')" >
              <icon :scale="escalaIcon" :name="icoTelefono"></icon><span v-if="!mob">Teléfono</span><span v-else>Telf.</span>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="8"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="item in filtro" :item="item" :key="item.id" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select" :key="select.id"></component>
  </div>
</div>
</template>

<script>

import DeleteUser from './DeleteUserClub.vue';
import crud from './EditUserClub.vue';
import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import Bpersonalizada from '../../extras/busquedaPersonalizada.vue';
import funciones from '../../../helpers/funciones';

export default {
  props:['club'],
  components: {
    'app-form' : DeleteUser,
    'crud-component': crud,
    'icon': Icon,
    'buscador-component':Buscador,
    'bpersonalizada-component': Bpersonalizada,
    Paginate
  },
  mixins: [funciones],
  data: ()=>({

    pageUrl: 'pyrs',
    items: [],
    pagination: [], 
    cargando: true,
    //formulario
    modal:'',
    select:[],
    formulario:'',
    //busqueda
    ActBusPer: false,
    Bpersonal :{club: null, nivel: null, posicion: null, dispon: null, poblacion: null, provincia: null},
    busqueda: '',
    sortBy: 'nombre',
    orden: 'ASC',
    Snombre:'ASC',
    Snick: 'DESC',
    Snivel:'DESC',
    Sposicion: 'DESC',
    Stelefono: 'DESC',
    columnaActiva: '',
    mob: false,
      
  }),
  created() {
    this.getItems();
    
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },

    icoNombre(){
      if(this.sortBy != 'nombre' || (this.sortBy == 'nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
      
    },

    icoNick(){
      if(this.sortBy != 'nick' || (this.sortBy == 'nick' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'nick' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoNivel(){
      if(this.sortBy != 'nivel_id' || (this.sortBy == 'nivel_id' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'nivel_id' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoPosicion(){
      if(this.sortBy != 'posicion' || (this.sortBy == 'posicion' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'posicion' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
    
    icoTelefono(){
      if(this.sortBy != 'telefono' || (this.sortBy == 'telefono' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'telefono' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
    escalaIcon(){
      if(!this.detectmob()){
        this.mob = false;
        return 1;
      }else{
        this.mob = true;
        return 0.7;
      }
    }
    
  },
  methods:{
    search(busqueda){
      
      this.busqueda = busqueda;
      this.getItems();
    },
    resetSearch(){
      this.ActBusPer = false;
      this.getItems();
    },
    searchExtend(busqueda){
      this.busqueda = '';
      this.Bpersonal = busqueda;
      this.getItems();
    },
    resetSearchExtend(){
      this.busqueda = '';
      this.Bpersonal = {club: null, nivel: null, posicion: null, dispon: null, poblacion: null, provincia: null};
      this.getItems();
    },
    ordenar(columna){
        switch(columna){
        case 'nombre':
          this.Snombre == 'ASC' ? this.Snombre = 'DESC': this.Snombre = 'ASC';
          break;
        case 'nick':
          this.Snick == 'ASC' ? this.Snick = 'DESC': this.Snick = 'ASC';
          break;
        case 'nivel_id':
          this.Snivel == 'ASC' ? this.Snivel = 'DESC': this.Snivel = 'ASC';
          break;
        case 'posicion':
          this.Sposicion == 'ASC' ? this.Sposicion = 'DESC': this.Sposicion = 'ASC';         
          break;
        case 'telefono':
          this.Stelefono == 'ASC' ? this.Stelefono = 'DESC': this.Stelefono = 'ASC';
          break;
      } 
            
      this.sortBy = columna;
      this.getItems();
    },
    tipoAccion(action, data = []){
      this.select = data;
      this.modal = 'app-form'; 
      this.formulario = 2;

      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(page){
      if(this.sortBy == 'nombre'){ this.orden = this.Snombre};
      if(this.sortBy == 'nick'){ this.orden = this.Snick};
      if(this.sortBy == 'nivel_id'){ this.orden = this.Snivel};
      if(this.sortBy == 'posicion'){ this.orden = this.Sposicion};
      if(this.sortBy == 'telefono'){ this.orden = this.Stelefono};
      
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}&posicion=${this.Bpersonal['posicion']}&nivel=${this.Bpersonal['nivel']}&dispon=${this.Bpersonal['dispon']}`).then((response)=>{
       
          if(response.data.msg){ toastr.warning(response.data.msg)} 
            this.items = response.data.items.data;
            this.pagination = response.data.pagination;
          }, (error) => {
            console.error(error.response);
          })
      this.cargando = false;
    },
    acciones(item){
      switch(item.accion){
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };
    },
    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url(/image/puntero.cur), auto;
    
  }
  @media only screen and (max-width: 500px) {
    
    th{
      font-size: 0.7rem;
    }
  }

</style>