<template>
	<b-container>
		<div class="text-center wrapper mb-5">
			<h1 class="pt-5"> Ligas</h1>
			<b-row>
				<b-col lg="3">
		            <div class="table px-3">
		              <table class="table">
		                <thead>
							<tr>
			                    <th>
			                     Liga
			                    </th>
			              	</tr>
		                </thead>
		                <tbody>
		                  <tr align="center" v-show="cargando"><td><icon name="refresh" scale="5" spin></icon></td></tr>
		                  <tr v-for="(item, key) in filtro" :key="key">
		                  	<td class="click" @click="getClasificacion(item)">
		                  		<icon name="group"></icon><span class="pl-3">{{item.nombre}}</span>
		                  	</td>
		                  </tr>
		              </tbody>
		            </table>
	          	</div>
		        </b-col>

		        <b-col v-if="clasificacion.length">
		        	<div class="table table-sm px-3 tablaGrande">
		              <table class="table table-sm">
		                <thead>
							<tr>
			                    <th colspan="10" class="text-center">
			                     Clasificación
			                    </th>
			              	</tr>
			              	<tr>
				              	<th>Pos.</th>
					            <th width="200">Equipo</th>
					            <th>PJ</th>
					            <th>PG</th>
					            <th>PP</th>
					            <th>SG</th>
					            <th>SP</th>
					            <th>JG</th>
					            <th>JP</th>
					            <th>PTS</th>
				            </tr>
		                </thead>
		                <tbody>
		                  <tr align="center" v-show="cargandoClas" colspan="10"><td><icon name="refresh" scale="5" spin></icon></td></tr>
		                  <tr v-for="(item, key) in filtroClasificacion" :key="key">
		                  	<td>{{item.pos}}</td>
		                  	<td>{{item.nombre}}</td>
		                  	<td>{{ item.pj }}</td>
				      		<td>{{ item.pg }}</td>
				      		<td>{{ item.pp }}</td>
				      		<td>{{ item.sg }}</td>
				      		<td>{{ item.sp }}</td>
				      		<td>{{ item.jg }}</td>
				      		<td>{{ item.jp }}</td>
				      		<td>{{ item.pts }}</td>
		                  </tr>
		              </tbody>
		            </table>
	          	</div>

		        </b-col>
	       </b-row>
	       <b-row v-if="jornadas.length">
	       		<b-col lg="9" offset-lg="3">
		       		<div class="table table-sm px-3">
			       		<table class="table table-sm tablaGrande">
					        <thead>
					        	<tr>
					        		<th colspan="5" class="text-center">
					        			
								        <b-form-select v-model.number="nJornada" :options="comboJornadas" class="mb-3 jornada"/>
								           
					        		</th>
					        	</tr>
					        	<tr>
						            <th>Equipo A</th>
						            <th>Equipo B</th>
						            <th class="text-center">1</th>
						            <th class="text-center">2</th>
						            <th class="text-center">3</th>
						        </tr>
					        </thead>
					        <tbody>
					         	<tr align="center" v-show="cargandoJor"><td colspan="5"><icon name="refresh" scale="5" spin></icon></td>
					         	</tr>
					         	<tr v-for="(item, key) in filtroResultados" :key="key">
					         		<td>{{ item.equipoA }}</td>
					         		<td>{{ item.equipoB }}</td>
					         		<td>{{ item.juego1 }}</td>
					         		<td>{{ item.juego2 }}</td>
					         		<td>{{ item.juego3 }}</td>
					         	</tr>

					          	
					      	</tbody>
					    </table>
					</div>
	       		</b-col>
	       </b-row>
		</div>
	</b-container>
</template>
<script>
	import {store} from '../../../store/store';
	import Icon from 'vue-awesome/components/Icon';

	export default{
		props:['datos'],
		components: {
		    'icon': Icon,
		},
		data: ()=>({
			items: [],
			clasificacion: [],
			jornadas: [],
			nJornada: 0,
		    comboJornadas: [],
			cargando: true,
			cargandoClas: true,
			cargandoJor: true,
		}),
		created(){
			window.scrollTo(0, 0);
		},
		mounted(){
			store.state.ligas ? '': this.$router.push({path: '*'});
			
		},
		computed:{
			filtro(){
				
				if(this.datos.ligas.length) {
					this.cargando = false;
			    	return this.datos.ligas;
			    }
			},
			filtroClasificacion(){
				if(this.clasificacion.length) {
					let clasificacion = this.clasificacion;

					for(let i = 0; i < clasificacion.length; i++){

						clasificacion[i].pos = i + 1;
					}
					this.cargandoClas = false;
		      		return clasificacion;
			    }

			},
			filtroResultados(){
		    	let jornada = [];
		    	if(this.jornadas.length){ 
					this.jornadas.length ? jornada = this.desgloseJornadas(this.jornadas) : '';
		    	}
		    	
		    	this.cargandoJor = false;
		    	return jornada ? jornada[this.nJornada] : '';
		    },
		},
		methods:{
			desgloseJornadas(datos){
				let jornadas = [];
				let comboJornadas = [];
				for(let i = 0; i < datos.length; i++){
					let jornada = datos.filter(jornada => jornada.jornada == (i + 1))
					if(jornada.length){
						jornadas[i] = jornada;
						
					}else{
						break;
					}
				}
				for(let i = 0; i < jornadas.length; i++){
					comboJornadas.push({value: i ,text:'Jornada ' + (i + 1)})
				}
				this.comboJornadas = comboJornadas;

				return jornadas;
			},
			getLiga(){
				axios.get(`api/ligas/${this.datos.club[0].id}`).then((response)=>{
       				if(response.data.msg){ toastr.warning(response.data.msg)} 
		            this.items = response.data
		          }, (error) => {
		            console.error(error.response);
		          })
		      this.cargando = false;
			},
			getClasificacion(liga){
				axios.get(`api/clasificacionLiga/${liga.id}`).then((response)=>{
       				this.clasificacion = response.data.clasificacion
		            this.jornadas = response.data.jornadas
		        }, (error) => {
		            console.error(error.response);
		          })
			},


		}
	}
</script>

<style scoped>
	.wrapper {
	    min-height: calc(100vh);
	    box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}

	table {
	    overflow:hidden;
	    border:1px solid #d3d3d3;
	    background:#fefefe;
	    width:100%;
	    margin:5% auto 0;
	    -moz-border-radius:5px;
	    /* FF1+ */
	    -webkit-border-radius:5px;
	    /* Saf3-4 */
	    border-radius:5px;
	    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	    border-collapse: separate !important;
	}
	table th, td {
	    padding: 4px 14px 4px;
	    text-align:center;
	}
	table th {
	    padding-top:14px;
	    padding-bottom:10px;
	    text-shadow: 1px 1px 1px #333;
	    background:#043168;
	    color:#fff;
	    font-size:16px;
	    font-weight:700;
	}
	table td {
	    border-top:1px solid #e0e0e0;
	    border-right:1px solid #e0e0e0;
	}
	table tr.odd-row td {
	    background:#f6f6f6;
	}
	table td, th {
	    text-align:left
	}
	table td.last {
	    border-right:none;
	}

	/*
		Background gradients are completely unnecessary but a neat effect.
		*/
	 table td {
	    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
	}
	table tr.odd-row td {
	    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
	}
	table th {
	    background: -moz-linear-gradient(100% 60% 90deg, #000, #fc0101);
	    background: -webkit-gradient(linear, 0% -7%, 0% 60%, from(#fc0101), to(#000));
	}
	/*
		I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
		And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
		*/
	 table tr:first-child th.first {
	    -moz-border-radius-topleft:5px;
	    -webkit-border-top-left-radius:5px;
	    border-top-left-radius:5px;
	    /* Saf3-4 */
	}
	table tr:first-child th.last {
	    -moz-border-radius-topright:5px;
	    -webkit-border-top-right-radius:5px;
	    border-top-right-radius:5px;
	    /* Saf3-4 */
	}
	table tr:last-child td.first {
	    -moz-border-radius-bottomleft:5px;
	    -webkit-border-bottom-left-radius:5px;
	    border-bottom-left-radius:5px;
	    /* Saf3-4 */
	}
	table tr:last-child td.last {
	    -moz-border-radius-bottomright:5px;
	    -webkit-border-bottom-right-radius:5px;
	    border-bottom-right-radius:5px;
	    /* Saf3-4 */
	}

	.form-control {
		border-top:  none !important;
		border-left: none !important;
	}
	.table th, .table td {
    	vertical-align: middle;
   }
   select.form-control:not([size]):not([multiple]) {
    height: calc(2.80rem + 2px);
   }

   .jornada{
   		width: 25%;
   		color: #495057;
   		background-color: #e9ecef;
   		padding-left: 4%;
   		font-size: 1.6rem;
   }

   @media screen and (max-width: 1700px) {
    
  }
  @media screen and (max-width: 1600px) {
    .jornada{
   		padding-left: 5%;
   	}
  }
  @media screen and (max-width: 1500px) {
    
   
  }

  @media screen and (max-width: 1375px) {
    
  
  }
  @media screen and (max-width: 1220px) {
    
  }

  @media screen and (max-width: 1150px) {
    .jornada{
    	padding-left: 15%;
   		width: 50%;
   	}
  }
  @media screen and (max-width: 995px) {
    
  }
  @media screen and (max-width: 875px) {
    
  }
  @media screen and (max-width: 700px) {
        
  }
  @media screen and (max-width: 610px) {
    .tablaGrande th, .tablaGrande td {
	    padding: 2px 2px 2px;
	    font-size:0.6rem;
	    
	}
	.tablaGrande th {
	    padding-top:7px;
	    padding-bottom:5px;
	    font-size:0.6rem;
	    font-weight:400;
	}
	select.form-control:not([size]):not([multiple]) {
    	font-size: 1rem;
    	height: calc(1.90rem + 2px);

    }
  }
  @media screen and (max-width: 535px) {
    .jornada{
	   	width: 100%;
	   	padding-left: 35%;
	}
  }
</style>