<template>
	<tr>
		<td>
	    	<div><b-img :src="item.avatar" style="width: 50px" center/></div>
	    	<div>{{ item.nick }} - {{ item.nivel }}</div>
	    	<p>{{ item.comentario }} </p>
	    </td>
	    <td class="align-middle">
            <b-button-group>
            	<b-btn variant="success" @click="aceptBtn"><icon name="check"></icon></b-btn>
              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
            </b-button-group>
        </td>
        <component :is="modal" :item="item" :key="item.id" :titulo="titulo" :contenido="contenido" :formulario="formulario" @crear="aceptar" @eliminar="eliminar"></component>
	</tr>
	
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	import EventBus from '../../../helpers/event-bus.js';
	import formEspera from './formEspera.vue';

	export default{
		components: {
			'app-form' : formEspera,
		    'icon': Icon,
		  
		},
		props: ['item', 'pista','start'],
		mixins: [validaciones],
  		origen:'editar',
		data: ()=>({
			modal: null,
			titulo: '',
			contenido: '',
			formulario: '',
		}),
		watch:{
			
		},
		computed:{
			
		},
		mounted(){
			
		},
		
		methods:{
			aceptBtn(){
				let hora = moment(this.start, 'YYYY-MM-DD HH:mm:ss').format('HH:mm');
				this.titulo = `${this.pista}`;
				this.contenido = `¿Aceptar a ${this.item.nick} en la partida de las ${hora}?`;
				this.formulario = 1;
				this.modal = 'app-form';
				EventBus.$emit('openModal-' + this.item.id);
				
			},
			
			deleteBtn(){
				let hora = moment(this.start, 'YYYY-MM-DD HH:mm:ss').format('HH:mm');
				this.titulo = `${this.pista}`;
				this.contenido = `¿Eliminar a ${this.item.nick} de la lista de espera de las ${hora}?`;
				this.formulario = 3;
				this.modal = 'app-form';
				EventBus.$emit('openModal-' + this.item.id);
				
			},

			aceptar(){
				this.$emit('aceptar', this.item);
			},

			eliminar(){
				this.$emit('eliminar', this.item);
			}
			
		}
	}
</script>

<style scoped>
	tr:hover {
      background-color: #e9ecef;
      color: red;	
    }
    td{

    }


</style>