<template>

  <b-modal v-model="modalShow" hide-footer :title="titulo" centered :header-bg-variant="colorHeaderBackground"
           :header-text-variant="colorHeaderText">
    <template v-if="select.partida_fija == 'SI' && formulario == 2 || isEdit">
      <span class="fijarPartida">Partida Fija</span>
    </template>

    <span v-if="formulario == 2 || formulario == 4 || formulario == 5" class="textoInput text-center"
          :class="[select.status == 'ABIERTA' ? 'abierta' : 'cerrada']">
      <h5> {{ select.status }} </h5>
      <template v-if="select.equipo == 'NO' && select.torneo == 'NO' &&  select.clase == 'NO'">
        <span v-if="palas.length != 4">Faltan {{ 4 - palas.length }} palas</span>
      </template>
    </span>
    <b-form-group>
      <template v-if="(formulario == 1 || formulario == 2) || ((formulario == 4 || formulario == 5) && isEdit)">
        <b-row class="estrecha">
          <b-col sm="4" md="4">
            Nivel de la partida:
          </b-col>
          <b-col sm="4" md="3">
            <b-form-select v-if="!isEdit" v-model="item.nivelPartida_id" :options="comboNiveles"/>
            <b-form-select v-else v-model="edit_.nivelPartida_id" :options="comboNiveles"/>
          </b-col>
        </b-row>
        <span class="disponibilidad">{{ disponibilidad }}</span>
      </template>
      <template v-else>
        <b-row class="nivel">
          <b-col class="text-center">
            <span class="textoInput">Nivel de la partida <strong>{{ select.nivelPartida }}</strong></span>
            <span class="disponibilidad">{{ disponibilidad }}</span>
          </b-col>
        </b-row>
      </template>
      <b-row class="estrecha">
        <b-col>
          <template v-if="formulario == 1">
            Fecha:
            <partidaPicker :partida.sync="fecha" :item="item.inicio_alquiler" :origen="'club'"></partidaPicker>
          </template>
          <template v-else>
            <template v-if="isEdit">
              Fecha:
              <partidaPicker :partida.sync="fecha" :item="edit_.inicio_alquiler" :origen="'club'"></partidaPicker>
            </template>
            <template v-else>
              Fecha: <span class="textoInput"><strong>{{ select.inicio_alquiler  | formatearFecha }}</strong></span>
            </template>
          </template>
        </b-col>
        <b-col>
          <b-row class="mb-2">
            <b-col>
              Pista:
              <template v-if="formulario == 1">
                <b-form-select v-model="item.pistas_id" :options="pistasClubTexto" value-field="value" text-field="text"
                               class="mb-3"/>
              </template>
              <template v-if="isEdit">
                <b-form-select v-model="edit_.pistas_id" :options="pistasClubTexto" value-field="value"
                               text-field="text" class="mb-3"/>
              </template>
              <template v-if="formulario != 1 && !isEdit">
                <span class="textoInput"><strong>{{ select.pista }}</strong></span>
              </template>
            </b-col>
          </b-row>
        </b-col>

      </b-row>
      <b-row>
        <b-col>
          Hora inicio partida:

          <template v-if="formulario == 1">
            <b-form-select v-model="item.inicio" :options="selectFrom" value-field="hora" text-field="hora" class="mb-3"
                           @change="cambiarHora($event)"/>
          </template>
          <template v-if="isEdit">
            <b-form-select v-model="edit_.inicio" :options="selectFrom" value-field="hora" text-field="hora"
                           class="mb-3" @change="cambiarHora($event)"/>
          </template>
          <template v-if="formulario != 1 && !isEdit">
            <span class="textoInput"><strong>{{ select.inicio_alquiler | formatearHora }}</strong></span>
          </template>
        </b-col>
        <b-col>
          Hora fin partida:
          <template v-if="formulario == 1">
            <b-form-select v-model="item.fin" :options="selectTo" value-field="hora" text-field="hora" class="mb-3"/>
          </template>
          <template v-if="isEdit">
            <b-form-select v-model="edit_.fin" :options="selectTo" value-field="hora" text-field="hora" class="mb-3"/>
            <!--@change="cambiarHora($event,'fin')"-->
          </template>
          <template v-if="formulario != 1 && !isEdit">
            <span class="textoInput"><strong>{{ select.fin_alquiler | formatearHora }}</strong></span>
          </template>
        </b-col>
      </b-row>
    </b-form-group>
    <template v-if="formulario != 3">
      <template v-if="isEdit">
        <template v-if="select.abierta_por != 'CLUB' && formulario != 1">
          <b-form-checkbox v-model="isClub">
            <span class="info"> Marcar si la pista se la queda el club</span>
          </b-form-checkbox>
        </template>
        <!-- start checkbox -->
        <div class="checkbox-table">
          <div class="checkbox-row">
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="edit_.partida_fija" value="SI" unchecked-value="NO">
                <span class="info"> ¿Fijar partida?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="edit_.status" value="CERRADA" unchecked-value="ABIERTA"
                               :disabled="isActive">
                <span :class="[isActive ? 'tachar' : '', 'info']"> ¿Cerrar partida?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="autoCompletar" value="SI" unchecked-value="NO"
                               :disabled="isActive || edit_.jugadoresPartida.pala == null || edit_.jugadoresPartida.pala == '' ">
                <span
                    :class="[isActive || edit_.jugadoresPartida.pala == null || edit_.jugadoresPartida.pala == '' ? 'tachar' : '', 'info']"> ¿Completar campos?</span>
              </b-form-checkbox>
            </div>
          </div>
          <div class="checkbox-row">
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="edit_.equipo" value="SI" unchecked-value="NO"
                               @click.native="checkEquipo('edit_')">
                <span class="info"> ¿Entrenamiento Equipo?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="edit_.torneo" value="SI" unchecked-value="NO"
                               @click.native="checkTorneo('edit_')">
                <span class="info"> ¿Torneo/Liga?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="edit_.clase" value="SI" unchecked-value="NO"
                               @change.native="checkClase('edit_')">
                <span class="info"> ¿Clase?</span>
              </b-form-checkbox>
            </div>
          </div>
        </div>

      </template>
      <template v-if="isNew">

        <div class="checkbox-table">
          <div class="checkbox-row">
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="item.partida_fija" value="SI" unchecked-value="NO">
                <span class="info"> ¿Fijar partida?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="item.status" value="CERRADA" unchecked-value="ABIERTA"
                               :disabled="isActive">
                <span :class="[isActive ? 'tachar' : '' , 'info']"> ¿Cerrar partida?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="autoCompletar" value="SI" unchecked-value="NO"
                               :disabled="isActive || item.jugadoresPartida.pala == null || item.jugadoresPartida.pala == '' ">
                <span
                    :class="[isActive || item.jugadoresPartida.pala == null || item.jugadoresPartida.pala == ''  ? 'tachar' : '' , 'info']"> ¿Completar campos?</span>
              </b-form-checkbox>
            </div>
          </div>
          <div class="checkbox-row">
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="item.equipo" value="SI" unchecked-value="NO"
                               @click.native="checkEquipo('item')">
                <span class="info"> ¿Entrenamiento Equipo?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="item.torneo" value="SI" unchecked-value="NO"
                               @click.native="checkTorneo('item')">
                <span class="info"> ¿Torneo/Liga?</span>
              </b-form-checkbox>
            </div>
            <div class="checkbox-cell">
              <b-form-checkbox size="sm" v-model="item.clase" value="SI" unchecked-value="NO"
                               @click.native="checkClase('item')">
                <span class="info"> ¿Clase?</span>
              </b-form-checkbox>
            </div>
          </div>
        </div>


      </template>
      <!--end checkbox -->
      <b-form-group v-if="isEquipo">
        <b-form-input type="text" v-model.trim="edit_.observaciones" aria-describedby="obsFeedback" :state="obsState"
                      @keydown.enter.native="actualizar" v-if="isEdit"></b-form-input>

        <b-form-input type="text" v-model.trim="item.observaciones" aria-describedby="obsFeedback" :state="obsState"
                      @keydown.enter.native="crear" v-if="isNew"></b-form-input>

        <b-form-invalid-feedback id="obsFeedback">
          Debe contener caractares alfanuméricos
        </b-form-invalid-feedback>
      </b-form-group>
      <template v-if="isTorneo && (!isEdit || !isNew)">
        <b-img :src="select.cartel" center fluid rounded style="width: 50%"/>
      </template>
      <template v-if="isTorneo && (isEdit || isNew)">
        <b-img :src="item.cartel" center fluid rounded style="width: 50%"/>
        <uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
        <b-form-group label="Torneo:" style="padding-top: 10px">
          <b-form-select v-model="item.torneo_id" :options="comboTorneos" value-field="id" text-field="nombre"/>
        </b-form-group>
      </template>
      <template v-if="isClase && (isEdit || isNew)">
        <b-form-group style="padding-top: 10px">

          <b-form-select v-if="isNew" :options="comboEntrenadores" value-field="id" text-field="nombre"
                         v-model="item.entrenador_id"/>
          <b-form-select v-if="isEdit" :options="comboEntrenadores" value-field="id" text-field="nombre"
                         v-model="edit_.entrenador_id"/>


        </b-form-group>
      </template>
      <template v-if="!isEquipo && !isTorneo && !isClase">
        <b-form-group label="Palas:">
          <div class="effect">
            <template v-if="isEdit || isNew">
              <b-form-group style="padding-top: 10px">
                <b-input-group prepend="D">
                  <template v-if="isEdit">
                    <b-form-input v-if="buscar.pala == 'NO'" type="text" class="form-control"
                                  v-model.trim="edit_.jugadoresPartida.pala" aria-describedby="palaFeedback"
                                  :state="pala1State" @keydown.enter.native="actualizar"></b-form-input>
                    <b-form-select v-else v-model="edit_.jugadoresPartida.pala_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala', $event)"/>
                  </template>
                  <template v-else>
                    <b-form-input v-if="buscar.pala == 'NO'" type="text" v-model="item.jugadoresPartida.pala"
                                  aria-describedby="palaFeedback" :state="pala1State"
                                  @keydown.enter.native="crear"></b-form-input>
                    <b-form-select v-else v-model="item.jugadoresPartida.pala_id" :options="comboUsers" value-field="id"
                                   text-field="nombre" @change.native="nickPala('pala', $event)"/>
                  </template>
                  <b-input-group-append is-text>
                    <b-form-checkbox v-model="buscar.pala" value="SI" unchecked-value="NO" title="¿buscar?"
                                     class="check-pala"></b-form-checkbox>
                    <template v-if="isEdit && edit_.partida_fija === 'SI'">
                    <b-form-checkbox
                        switch
                        class="mr-n2 check-pala"
                        v-model="edit_.jugadoresPartida.pala_fija"
                        title="¿Es fijo?"
                    > ¿Fijar?</b-form-checkbox>
                    </template>
                    <template v-if="!isEdit && item.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="item.jugadoresPartida.pala_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>
                  </b-input-group-append>
                </b-input-group>

                <b-form-invalid-feedback id="palaFeedback">
                  Debe contener caractares alfanuméricos
                </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group>
                <b-input-group prepend="R">
                  <template v-if="isEdit">
                    <b-form-input v-if="buscar.pala2 == 'NO'" type="text" v-model="edit_.jugadoresPartida.pala2"
                                  aria-describedby="pala2Feedback" :state="pala2State"
                                  @keydown.enter.native="actualizar"></b-form-input>
                    <b-form-select v-else v-model="edit_.jugadoresPartida.pala2_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala2', $event)"/>
                  </template>

                  <template v-else>
                    <b-form-input v-if="buscar.pala2 == 'NO'" type="text" v-model="item.jugadoresPartida.pala2"
                                  aria-describedby="pala2Feedback" :state="pala2State"
                                  @keydown.enter.native="crear"></b-form-input>
                    <b-form-select v-else v-model="item.jugadoresPartida.pala2_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala2', $event)"/>
                  </template>
                  <b-input-group-append is-text>
                    <b-form-checkbox v-model="buscar.pala2" value="SI" unchecked-value="NO" title="¿buscar?"
                                     class="check-pala"></b-form-checkbox>
                    <template v-if="isEdit && edit_.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="edit_.jugadoresPartida.pala2_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>
                    <template v-if="!isEdit && item.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="item.jugadoresPartida.pala2_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>

                    </template>
                  </b-input-group-append>

                  <b-form-invalid-feedback id="pala2Feedback">
                    Debe contener caractares alfanuméricos
                  </b-form-invalid-feedback>
                </b-input-group>
              </b-form-group>
              <b-form-group>
                <b-input-group prepend="D">
                  <template v-if="isEdit">
                    <b-form-input v-if="buscar.pala3 == 'NO'" type="text" v-model="edit_.jugadoresPartida.pala3"
                                  aria-describedby="pala3Feedback" :state="pala3State"
                                  @keydown.enter.native="actualizar"></b-form-input>
                    <b-form-select v-else v-model="edit_.jugadoresPartida.pala3_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala3', $event)"/>
                  </template>

                  <template v-else>
                    <b-form-input v-if="buscar.pala3 == 'NO'" type="text" v-model="item.jugadoresPartida.pala3"
                                  aria-describedby="pala3Feedback" :state="pala3State"
                                  @keydown.enter.native="crear"></b-form-input>
                    <b-form-select v-else v-model="item.jugadoresPartida.pala3_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala3', $event)"/>
                  </template>

                  <b-input-group-append is-text>
                    <b-form-checkbox v-model="buscar.pala3" value="SI" unchecked-value="NO" title="¿buscar?"
                                     class="check-pala"></b-form-checkbox>
                    <template v-if="isEdit && edit_.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="edit_.jugadoresPartida.pala3_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>

                    <template v-if="!isEdit && item.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="item.jugadoresPartida.pala3_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>
                  </b-input-group-append>

                  <b-form-invalid-feedback id="pala3Feedback">
                    Debe contener caractares alfanuméricos
                  </b-form-invalid-feedback>

                </b-input-group>
              </b-form-group>
              <b-form-group>
                <b-input-group prepend="R">
                  <template v-if="isEdit">
                    <b-form-input v-if="buscar.pala4 == 'NO'" type="text" v-model="edit_.jugadoresPartida.pala4"
                                  aria-describedby="pala4Feedback" :state="pala4State"
                                  @keydown.enter.native="actualizar"></b-form-input>
                    <b-form-select v-else v-model="edit_.jugadoresPartida.pala4_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala4', $event)"/>
                  </template>

                  <template v-else>
                    <b-form-input v-if="buscar.pala4 == 'NO'" type="text" v-model="item.jugadoresPartida.pala4"
                                  aria-describedby="pala4Feedback" :state="pala4State"
                                  @keydown.enter.native="crear"></b-form-input>
                    <b-form-select v-else v-model="item.jugadoresPartida.pala4_id" :options="comboUsers"
                                   value-field="id" text-field="nombre" @change.native="nickPala('pala4', $event)"/>
                  </template>

                  <b-input-group-append is-text>
                    <b-form-checkbox v-model="buscar.pala4" value="SI" unchecked-value="NO" title="¿buscar?"
                                     class="check-pala"></b-form-checkbox>
                    <template v-if="isEdit && edit_.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="edit_.jugadoresPartida.pala4_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>

                    <template v-if="!isEdit && item.partida_fija === 'SI'">
                      <b-form-checkbox
                          switch
                          class="mr-n2 check-pala"
                          v-model="item.jugadoresPartida.pala4_fija"
                          title="¿Es fijo?"
                      > ¿Fijar?</b-form-checkbox>
                    </template>
                  </b-input-group-append>

                  <b-form-invalid-feedback id="pala4Feedback">
                    Debe contener caractares alfanuméricos
                  </b-form-invalid-feedback>

                </b-input-group>
              </b-form-group>
            </template>
            <template v-if="!isEdit && !isNew">

              <template v-if="palas.length">
                <span v-for="(pala,index) in palas" class="textoInput" :key="index"> {{ pala }}</span>
              </template>
              <template v-else>
                <span class="textoInput"> Vacía </span>
              </template>
            </template>

          </div>
          <template v-if="!isEdit && !isNew">
            <div class="pt-3">
              <b-form-group label="Comentario">
                <span class="textoInput"> {{ select.observaciones }}</span>
              </b-form-group>
            </div>
          </template>
        </b-form-group>

      </template>
      <!-- palas end -->
      <template v-if="(isEdit || isNew) && !isEquipo && !isTorneo && !isClase">
        <b-form-group style="padding-top: 5px" label="Comentario">

          <b-form-input type="text" v-model.trim="edit_.observaciones" aria-describedby="mensajeFeedback"
                        :state="mensajeState" @keydown.enter.native="actualizar" v-if="isEdit"></b-form-input>

          <b-form-input type="text" v-model.trim="item.observaciones" aria-describedby="mensajeFeedback"
                        :state="mensajeState" @keydown.enter.native="crear" v-if="isNew"></b-form-input>

          <b-form-invalid-feedback id="mensajeFeedback">
            {{ errores }}
          </b-form-invalid-feedback>
        </b-form-group>
      </template>

      <template v-if="isEquipo">
        <div class="pt-3">
          <b-form-group label="Entrenamiento">
            <span class="textoInput"> {{ select.observaciones }}</span>
          </b-form-group>
        </div>
      </template>
      <template v-if="isClase && (!isEdit && !isNew)">
        <div class="pt-3">
          <b-form-group label="Clase">
            <span class="textoInput"> {{ select.entrenador }} </span>
          </b-form-group>
        </div>
      </template>

    </template>
    <b-row>
      <b-col>
        <template v-if="select.abierta_por == 'USUARIO'">
          <span class="user"> Partida Abierta por <router-link tag="a"
                                                               v-bind:to="{name: 'ShowUserClub', params: {user: select.datosJugador[0], nombre: select.nick}}">{{
              select.nick
            }}</router-link> para el {{ select.inicio_alquiler  | formatearFecha }}</span>
        </template>
      </b-col>
    </b-row>

    <div class="float-right">
      <template v-if="formulario == 1">
        <b-btn class="mt-3" variant="outline-primary" @click="crear">Guardar</b-btn>
      </template>
      <template v-if="!isEdit && noEdit && (formulario == 4 || formulario == 5 || formulario == 3)">
        <b-btn v-if="!isEdit && noEdit && (formulario == 4 || formulario == 5)" class="mt-3" variant="outline-success"
               @click="clonar">Editar
        </b-btn>
        <b-btn class="mt-3" variant="outline-danger" @click="eliminar">Eliminar</b-btn>
      </template>
      <template v-if="isEdit">
        <b-button variant="outline-success" @click="actualizar">
          <icon name="check" scale="1"></icon>
        </b-button>
        <template v-if="formulario == 2">
          <b-button variant="outline-danger" @click="cerrar">
            <icon name="close" scale="1"></icon>
          </b-button>
        </template>
        <template v-else>
          <b-button variant="outline-danger" @click="cancelar">
            <icon name="close" scale="1"></icon>
          </b-button>
        </template>
      </template>
      <template v-if="!isEdit">
        <b-btn class="mt-3" variant="outline-primary" @click="cerrar">Cancelar</b-btn>
      </template>
    </div>
  </b-modal>

</template>

<script>

import EventBus from '../../../helpers/event-bus.js';
import validaciones from '../../../helpers/validaciones';
import funciones from '../../../helpers/funciones';
import Icon from 'vue-awesome/components/Icon';
import partidaPicker from '../../extras/datePicker.vue';
import uploadFile from '../../extras/uploadFile.vue';

export default {

  props: ['formu', 'sel', 'datos', 'users'],
  mixins: [validaciones, funciones],
  origen: 'crear',
  components: {
    uploadFile,
    'icon': Icon,
    partidaPicker
  },
  mounted() {
    //this.arrayHora();


    EventBus.$on('openModal', (modal) => (//dejo un canal de comunicacion abierto con el padre
            this.abrir(modal.formulario, modal.datos)
        ),
    );
  },
  data: () => ({
    pageUrl: 'ptds',
    pageUrlTorneo: 'trns',
    item: {
      torneo_id: 0, clubs_id: null, pista: "Pista 1", Npistas: null, pistas_id: null, nivelPartida_id: 1,
      abierta_por: "CLUB", inicio_alquiler: '', fin_alquiler: "2018-04-23 12:30:00",
      jugadoresPartida: {
        pala_id: null,
        pala: null,
        pala_fija: false,
        pala2_id: null,
        pala2: null,
        pala2_fija: false,
        pala3_id: null,
        pala3: null,
        pala3_fija: false,
        pala4_id: null,
        pala4: null,
        pala4_fija: false,
      }, partida_fija: "NO", status: 'ABIERTA', inicio: '08:00', fin: '09:30',
      equipo: 'NO', observaciones: null, torneo: 'NO', cartel: '', clase: 'NO', mensaje: null, lvm_start: "",
      lvm_end: "", fsm_start: "", fsm_end: "", fm_start: "", fm_end: "", lvt_start: "", lvt_end: "", fst_start: "",
      fst_end: "", ft_start: "", ft_end: "", fija_id: "", entrenador_id: 0
    },
    status: {
      lv: false,
      ld: false,
      ldmt: false,
      fs: false,
      f: false,
    },
    comboTorneos: [],
    palas: [],
    partidas: null,
    listadoHoras: [],
    comboClubs: [],
    comboNiveles: [],
    comboUsers: [],
    comboEntrenadores: [],
    entrenador: 0,
    datosEntrada: [],
    select: {
      clubs_id: null,
      pista: "Pista 1",
      Npistas: null,
      pistas_id: null,
      nivelPartida_id: 1,
      abierta_por: "CLUB",
      inicio_alquiler: '',
      fin_alquiler: "2018-04-23 12:30:00",
      jugadoresPartida: {
        pala_id: null,
        pala: null,
        pala_fija: false,
        pala2_id: null,
        pala2: null,
        pala2_fija: false,
        pala3_id: null,
        pala3: null,
        pala3_fija: false,
        pala4_id: null,
        pala4: null,
        pala4_fija: false,
      },
      partida_fija: "NO",
      status: 'ABIERTA',
      inicio: '08:00',
      fin: '09:30',
      equipo: 'NO',
      observaciones: null,
      torneo: 'NO',
      cartel: '',
      clase: 'NO',
      entrenador_id: 0,
      mensaje: null,
      lvm_start: "",
      lvm_end: "",
      fsm_start: "",
      fsm_end: "",
      fm_start: "",
      fm_end: "",
      lvt_start: "",
      lvt_end: "",
      fst_start: "",
      fst_end: "",
      ft_start: "",
      ft_end: "",
      fija_id: ""
    },
    formulario: null,
    palasFaltan: 0,
    buscar: {pala: 'NO', pala2: 'NO', pala3: 'NO', pala4: 'NO'},
    //equipo: false,
    autoCompletar: 'NO',
    cont: 0,
    //opciones edicion
    edit_: [],
    isNew: false,
    isEdit: false,
    noEdit: false,
    isClub: false,
    isTorneo: false,
    isEquipo: false,
    isActive: false,
    isClase: false,
    newFile: null,
    elegirClub: false,
    fecha: moment().format('DD-MM-YYYY'),
    pistasClubTexto: null,
    horariosDisponibles: null,
    selectTo: [],
    disponible: '',
    //modal
    titulo: '',
    modalShow: true,
    colorHeaderBackground: 'primary',
    colorHeaderText: 'light',
    //errores
    errores: '',
  }),

  computed: {
    disponibilidad() {
      return this.disponible;
    },

    pala1State() {
      return this.validarPala('pala1');
    },

    pala2State() {
      return this.validarPala('pala2');
    },

    pala3State() {
      return this.validarPala('pala3');
    },

    pala4State() {
      return this.validarPala('pala4');
    },

    obsState() {
      return this.validarTexto(this.item.observaciones);
    },

    mensajeState() {
      return true;
    },

    club() {
      this.comboUsers = this.users;
      return this.datos.club[0];
    },

    selectFrom() {
      const me = this.isEdit ? this.edit_ : this.item;
      let pistas = _.clone(this.listadoHoras[(me.pistas_id - 1)]);

      if (pistas && pistas.length) {
        const fechaActual = moment().format('DD-MM-YYYY');
        const actual = moment(me.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD') !== moment().format('YYYY-MM-DD') ?
            moment(this.item.lvm_start, 'kk:mm').format('kk:mm') :
            moment().format('HH:mm');

        let horaEntrada = [];

        if (moment(this.fecha, 'DD-MM-YYYY').format('DD-MM-YYYY') !== fechaActual) {
          // Si la fecha seleccionada es diferente a la fecha actual
          const ultimaHora = moment('00:00', 'kk:mm').add(-60, 'minutes').format('kk:mm');

          horaEntrada = pistas.filter(pista =>
              moment(pista.hora, 'kk:mm').format('HH:mm') >= actual &&
              pista.status === 'libre' &&
              moment(pista.hora, 'kk:mm').format('kk:mm') <= ultimaHora
          ).map(pista => pista.hora);

          if (me.pista === 'Pista ' + me.pistas_id) {
            !horaEntrada.includes(me.inicio) && this.isEdit ? horaEntrada.push(me.inicio) : '';
          }

        } else {
          // Si la fecha seleccionada es igual a la fecha actual
          const ultimaHora = moment('00:00', 'kk:mm').add(-60, 'minutes').format('kk:mm');

          horaEntrada = pistas.filter(pista =>
              moment(pista.hora, 'kk:mm').format('HH:mm') >= actual &&
              pista.status === 'libre' &&
              moment(pista.hora, 'kk:mm').format('kk:mm') <= ultimaHora
          ).map(pista => pista.hora);

          if (me.pista === 'Pista ' + me.pistas_id) {
            !horaEntrada.includes(me.inicio) && this.isEdit ? horaEntrada.push(me.inicio) : '';
          }
        }

        horaEntrada.sort();

        const horaEntrada_ = this.isEdit ? me.inicio : moment(this.datosEntrada.fecha).format('kk:mm');
        const pos = horaEntrada.indexOf(horaEntrada_);

        if (pos === -1) {
          me.inicio = horaEntrada[0];
        } else {
          me.inicio = horaEntrada[pos];
        }

        me.pista !== 'Pista ' + me.pistas_id ? (this.cambiarHora(me.inicio), me.pista = 'Pista ' + me.pistas_id) : '';

        return horaEntrada;
      }
      return [];
    },

    selectFrom_bad() {
      // Seleccionamos el objeto correspondiente (this.edit_ si estamos editando, this.item si no)
      const me = this.isEdit ? this.edit_ : this.item;

      // Clonamos el array para evitar mutaciones no deseadas
      let pistas = [...this.listadoHoras[(me.pistas_id - 1)]];

      // Verificamos si hay pistas disponibles
      if (pistas != null && pistas.length) {
        const fechaActual = moment().format('DD-MM-YYYY');
        const horaEntrada = [];

        // Verificamos si la fecha seleccionada es diferente a la fecha actual
        if (moment(this.fecha, 'DD-MM-YYYY').format('DD-MM-YYYY') !== fechaActual) {
          // Filtro las horas de las partidas generadas por this.listadoHoras[(me.pistas_id - 1)]);
          horaEntrada.push(...pistas
              .filter(pista => pista.status === 'libre' && moment(pista.hora, 'kk:mm').isSameOrBefore(moment('00:00', 'kk:mm').subtract(60, 'minutes')))
              .map(pista => pista.hora)
          );

          // Verificamos si la pista actual es la misma que la seleccionada
          if (me.pista === 'Pista ' + me.pistas_id) {
            if (!horaEntrada.includes(me.inicio)) {
              horaEntrada.push(me.inicio);
            }
            me.inicio = horaEntrada[0];
          }

          // Verificamos si no incluye la hora de inicio y estamos editando
          if (!horaEntrada.includes(me.inicio) && this.isEdit) {
            horaEntrada.push(me.inicio);
            horaEntrada.push(moment(me.inicio, 'HH:mm').add(30, 'minutes').format('kk:mm'));
            horaEntrada.push(moment(me.inicio, 'HH:mm').add(60, 'minutes').format('kk:mm'));
          }

          // Ordenamos las horas
          horaEntrada.sort();

          // Definimos la hora de entrada según el formulario actual
          const horaEntrada_ = (this.isEdit && this.formulario === 4) ? moment(this.datosEntrada.start).format('kk:mm') : moment(this.datosEntrada.fecha).format('kk:mm');

          // Buscamos la posición de la hora de entrada en el array
          const pos = horaEntrada.indexOf(moment(horaEntrada_, 'kk:mm').format('kk:mm'));

          // Seleccionamos la hora de entrada adecuada
          if (pos === -1) {
            me.inicio = horaEntrada[0];
          } else {
            me.inicio = horaEntrada[pos];
          }

          // Verificamos si la pista actual es diferente a la seleccionada
          if (me.pista !== 'Pista ' + me.pistas_id) {
            this.cambiarHora(me.inicio);
            me.pista = 'Pista ' + me.pistas_id;
          }

          return horaEntrada.sort();
        } else {
          const ultimaHora = moment('00:00', 'kk:mm').subtract(60, 'minutes').format('kk:mm');
          const actual = moment(me.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD') !== moment().format('YYYY-MM-DD') ? moment(this.item.lvm_start, 'kk:mm').format('kk:mm') : moment().format('HH:mm');

          // Filtramos las horas disponibles según la hora actual y la última hora
          horaEntrada.push(...pistas
              .filter(pista => moment(pista.hora, 'kk:mm').isSameOrAfter(actual) && pista.status === 'libre' && moment(pista.hora, 'kk:mm').isSameOrBefore(ultimaHora))
              .map(pista => pista.hora)
          );

          // Verificamos si la pista actual es la misma que la seleccionada
          if (me.pista === 'Pista ' + me.pistas_id) {
            if (!horaEntrada.includes(me.inicio) && this.isEdit) {
              horaEntrada.push(me.inicio);
            }
          }

          // Definimos la hora de entrada según el formulario o la fecha actual
          const horaEntrada_ = this.isEdit ? me.inicio : moment(this.datosEntrada.fecha).format('kk:mm');

          // Buscamos la posición de la hora de entrada en el array
          const pos = horaEntrada.indexOf(horaEntrada_);

          // Seleccionamos la hora de entrada adecuada
          if (pos === -1) {
            me.inicio = horaEntrada[0];
          } else {
            me.inicio = horaEntrada[pos];
          }

          // Verificamos si la pista actual es diferente a la seleccionada
          if (me.pista !== 'Pista ' + me.pistas_id) {
            this.cambiarHora(me.inicio);
            me.pista = 'Pista ' + me.pistas_id;
          }

          return horaEntrada.sort();
        }
      }
    }
  },

  watch: {
    partidas(item) {
      this.cargarPistasDisponibles(item);
    },
    'autoCompletar'(estado) {
      this.cerrarPartida(estado);
    },
    fecha(fecha) {
      const me = this.$origen == 'editar' ? this.edit_ : this.item;
      me.inicio_alquiler = moment(fecha + me.inicio, 'DD-MM-YYYY kk:mm').format('YYYY-MM-DD kk:mm:ss');
      this.buscarPistas(fecha, this.club.id);

    },

  },

  created() {
    this.comboNiveles = this.$store.state.niveles;
    this.abrir(this.formu, this.sel);
    this.buscarPistas(this.fecha, this.club.id);
    this.pistasClubTexto = this.comboPistas(this.club.pistas);
  },

  methods: {
    resetItem() {
      return {
        torneo_id: 0,
        clubs_id: null,
        pista: "Pista 1",
        Npistas: null,
        pistas_id: null,
        nivelPartida_id: 1,
        abierta_por: "CLUB",
        inicio_alquiler: '',
        fin_alquiler: "2018-04-23 12:30:00",
        jugadoresPartida: {
          pala_id: null,
          pala: null,
          pala_fija: false,
          pala2_id: null,
          pala2: null,
          pala2_fija: false,
          pala3_id: null,
          pala3: null,
          pala3_fija: false,
          pala4_id: null,
          pala4: null,
          pala4_fija: false,
        },
        partida_fija: "NO",
        status: 'ABIERTA',
        inicio: '08:00',
        fin: '09:30',
        equipo: 'NO',
        observaciones: null,
        torneo: 'NO',
        cartel: '',
        clase: 'NO',
        mensaje: null,
        lvm_start: "",
        lvm_end: "",
        fsm_start: "",
        fsm_end: "",
        fm_start: "",
        fm_end: "",
        lvt_start: "",
        lvt_end: "",
        fst_start: "",
        fst_end: "",
        ft_start: "",
        ft_end: "",
        fija_id: "",
        entrenador_id: 0
      };

    },

    getTorneos() {
      axios.get(`${this.pageUrlTorneo}/torneos`).then(response => {
        this.comboTorneos = response.data;
        this.comboTorneos.unshift({id: 0, nombre: 'Ninguno'})

      }, error => {
        console.log(error.response);
      })

      this.cargandoTorneo = false;
    },

    getEntrenadores() {
      axios.get(`api/cmbEntrenador`).then(response => {
        this.comboEntrenadores = response.data;
        this.comboEntrenadores.unshift({id: 0, nombre: 'Selecciona', disabled: true})
      }, error => {
        console.log(error.response);
      })


    },

    nickPala(pala, event) {
      const me = this.$options.origen === 'editar' ? this.edit_ : this.item;
      const id = event.target.value;
      const jugador = this.comboUsers.find(p => p.id === id);

      if (jugador) {
        switch (pala) {
          case 'pala':
            me.jugadoresPartida.pala = jugador.nick;
            break;
          case 'pala2':
            me.jugadoresPartida.pala2 = jugador.nick;
            break;
          case 'pala3':
            me.jugadoresPartida.pala3 = jugador.nick;
            break;
          case 'pala4':
            me.jugadoresPartida.pala4 = jugador.nick;
            break;
        }
      }
    },

    cambiarHora(hora) {

      let me = this.isEdit ? this.edit_ : this.item;

      let pistas = _.clone(this.listadoHoras[(me.pistas_id - 1)]);

      let fin = me.fin;

      let hoy = this.fecha != moment().format('DD-MM-YYYY') ? moment(this.fecha, 'DD-MM-YYYY').format('YYYY-MM-DD') : moment(me.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD');

      let inicio = me.inicio;

      let m = moment().format('m');
      let h = moment().format('kk');
      let actual = m < 30 ? moment(h + ':30', 'kk:mm').format('YYYY-MM-DD kk:mm:ss') : moment(h, 'kk').add(60, 'minutes').format('YYYY-MM-DD kk:mm:ss');

      let horaEntrada = this.isEdit ? moment(hora, 'kk:mm').format('kk:mm') : moment(this.datosEntrada.fecha).format('kk:mm');

      if (this.datosEntrada.fecha) {

        inicio = hoy != moment(actual, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD') ? horaEntrada : hora;

      } else {

        inicio = hoy != moment(actual, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD') ? moment(this.item.lvm_start, 'kk:mm').format('kk:mm') : hora;

      }

      if (pistas != null && pistas.length) {

        let pistasOcupadas = pistas.filter(pista => pista.status == 'ocupada' && pista != null);

        const ocupada = pistasOcupadas.filter(pista => moment(pista.hora, 'kk:mm') > moment(hora, 'kk:mm')).map(pista => {
          return pista.hora
        })[0];
        let salida = [];

        if (this.isEdit) {

          salida = pistas.filter((pista, index, arr) => moment(pista.hora, 'kk:mm').format('kk:mm') <= moment(ocupada, 'kk:mm').format('kk:mm')).map(pista => {
            return pista.hora
          });
        } else {

          salida = pistas.filter((pista, index, arr) => moment(pista.hora, 'kk:mm').format('kk:mm') > moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm') && moment(pista.hora, 'kk:mm').format('kk:mm') <= moment(ocupada, 'kk:mm').format('kk:mm')).map(pista => {
            return pista.hora
          });
        }


        let anterior = salida.indexOf(moment(inicio, 'kk:mm').add(30, 'minutes').format('kk:mm'));
        let posterior = salida.indexOf(moment(inicio, 'kk:mm').add(-30, 'minutes').format('kk:mm'));


        if (moment(this.fecha, 'DD-MM-YYYY').format('DD-MM-YYYY') != moment().format('DD-MM-YYYY') && me.pista == 'Pista ' + me.pistas_id && anterior >= 0 && posterior >= 0) {

          !salida.includes(fin) ? salida.push(fin) : '';

        }

        salida.sort();
        if (salida[(salida.length - 1)] == '23:30') {
          salida.push('00:00')
        }

        me.fin = salida[0]

        this.disponible = !salida.length ? 'Esta pista no está disponible es este horario' : '';
        this.selectTo = salida;

      }

    },

    cargarPistasDisponibles(listaPartidas) {
      let me = this.$options.origen == 'editar' ? this.edit_ : this.item;
      let Npistas = this.club.pistas;
      let pistas = [];

      const laboral = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes'];
      const finSemana = ['sábado', 'domingo'];

      let ininterrumpido = true;

      let cierre = moment("00:00", 'kk:mm').format('kk:mm');
      let apertura = moment("07:30", 'kk:mm').format('kk:mm');
      let inicioComida = moment("14:00", 'kk:mm').add(-90, 'minutes').format('kk:mm');
      let finComida = moment("15:30", 'kk:mm').format('kk:mm');

      //horario partido de lunes a viernes
      if (this.item.lvm_start && this.item.lvt_start && this.item.fsm_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("partido de lunes a viernes")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido fin de semana
      if (this.item.fsm_start && this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("partido fin de semana")
        ininterrumpido = false;
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.fsm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.fst_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fst_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario partido de lunes a domingo
      if (this.item.lvm_start && this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))) {
        //console.log("partido de lunes a domingo")
        ininterrumpido = false;
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        inicioComida = moment(this.item.lvm_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
        finComida = moment(this.item.lvt_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvt_end, 'kk:mm').add(-90, 'minutes').format('kk:mm');
      }

      //horario ininterrumpido de lunes a viernes
      if (this.item.lvm_start && !this.item.lvt_start && laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("ininterrumpido de lunes a viernes")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').format('kk:mm');
      }

      //horario ininterrumpido de fin de semana
      if (this.item.fsm_start && !this.item.fst_start && finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd'))) {
        //console.log("ininterrumpido de fin de semana")
        apertura = moment(this.item.fsm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.fsm_end, 'kk:mm').format('kk:mm');
      }

      //horario ininterrumpido de lunes a domingo
      if (this.item.lvm_start && !this.item.lvt_start && !this.item.fsm_start && (laboral.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')) || finSemana.includes(moment(this.fecha, 'DD-MM-YYYY').format('dddd')))) {
        //console.log("ininterrumpido de lunes a domingo")
        apertura = moment(this.item.lvm_start, 'kk:mm').format('kk:mm');
        cierre = moment(this.item.lvm_end, 'kk:mm').format('kk:mm');
      }


      for (let pista = 0; pista < this.club.pistas; pista++) {

        pistas[pista] = [];
        pistas[pista][0] = this.inicio(listaPartidas, apertura, pista);

        for (let i = 0; i <= 30; i++) {
          //horario ininterrumpido meto todas las horas
          if (ininterrumpido) {
            if (moment(pistas[pista][i]['hora'], 'kk:mm').add(30, 'minutes').format('kk:mm') >= apertura && moment(pistas[pista][i]['hora'], 'kk:mm').add(30, 'minutes').format('kk:mm') <= cierre) {

              let datosPartida = this.comprobarPista(listaPartidas, pistas[pista][i]['hora'], pista, pistas[pista][i]['fin']);
              pistas[pista][i + 1] = datosPartida;

            } else {
              break;
            }
            //horario partido
          } else {
            //
            if (moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') <= inicioComida && moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') >= apertura && moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') <= finComida) {

              pistas[pista][i + 1] = this.comprobarPista(listaPartidas, pistas[pista][i], pista);

            } else if (moment(pistas[pista][i], 'kk:mm').format('kk:mm') <= finComida && moment(pistas[pista][i], 'kk:mm').format('kk:mm') != finComida && moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') <= cierre) {

              pistas[pista][i + 1] = finComida;

            } else if (moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') >= finComida && moment(pistas[pista][i], 'kk:mm').add(90, 'minutes').format('kk:mm') <= cierre) {

              pistas[pista][i + 1] = this.comprobarPista(listaPartidas, pistas[pista][i], pista)
            } else {

              break;
            }
          }

        }
      }

      /*pistas.forEach( (currentValue, index, array) =>
        currentValue.forEach(key => key.pista == 1 ? console.log(key) : '')

      );*/

      this.listadoHoras = pistas;
      //this.cambiarHora(me.inicio);
      !this.isEdit ? this.cambiarHora(me.inicio) : '';
    },

    limpiarArray(item) {
      let tabla = [];

      for (let n = 0; n < item.length; n++) {

        if (item[n] != null) {

          tabla.push(item[n]);
        }

      }

      return tabla;
    },

    inicio(partidas, hora, pista) {

      pista = pista + 1;
      let fin = moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm');

      for (let index in partidas) {

        if (pista == partidas[index].pistas_id && moment(partidas[index].inicio_alquiler).format('kk:mm') >= moment(hora, 'kk:mm').add(-30, 'minutes').format('kk:mm') && moment(partidas[index].inicio_alquiler).format('kk:mm') <= moment(hora, 'kk:mm').add(90, 'minutes').format('kk:mm')) {
          hora = moment(partidas[index].inicio_alquiler).format('kk:mm');
          fin = moment(partidas[index].fin_alquiler).format('kk:mm');


          return {'hora': hora, 'fin': fin, 'pista': pista, 'status': 'ocupada'};
        }
      }

      fin == null ? moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm') : fin;

      return {
        'hora': hora,
        'fin': moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm'),
        'pista': pista,
        'status': 'libre'
      };
    },

    comprobarPista(partidas, hora, pista, fin) {
      // Incrementamos el número de la pista
      pista = pista + 1;

      // Iteramos sobre las partidas
      for (let index in partidas) {
        // Verificamos si la pista y la hora coinciden con el inicio de una partida
        if (pista == partidas[index].pistas_id && moment(partidas[index].inicio_alquiler).format('kk:mm') == moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm')) {
          hora = moment(partidas[index].inicio_alquiler).format('kk:mm');
          fin = moment(partidas[index].fin_alquiler).format('kk:mm');

          return {'hora': hora, 'fin': fin, 'pista': pista, 'status': 'ocupada'};
        } else if (pista == partidas[index].pistas_id && moment(partidas[index].inicio_alquiler).format('kk:mm') == moment(fin, 'kk:mm').format('kk:mm')) {
          hora = moment(partidas[index].inicio_alquiler).format('kk:mm');
          fin = moment(partidas[index].fin_alquiler).format('kk:mm');

          return {'hora': hora, 'fin': fin, 'pista': pista, 'status': 'ocupada'};
        }
      }

      // Si no se encontró una partida que ocupa la pista, actualizamos 'fin' si es null
      fin == null ? moment(hora, 'kk:mm').add(30, 'minutes').format('kk:mm') : fin;

      // Devolvemos la información de la pista como libre
      return {
        'hora': fin,
        'fin': moment(fin, 'kk:mm').add(30, 'minutes').format('kk:mm'),
        'pista': pista,
        'status': 'libre'
      };

    },

    diferenciaHoras(partida) {
      let diferencia = moment(partida.fin, 'kk:mm').diff(moment(partida.hora, 'kk:mm'), 'minutes');
    },

    checkEquipo(origen) {
      this.entrenador = 0;
      switch (origen) {
        case 'item':
          if (this.item.equipo == 'NO') {
            this.isEquipo = true;
            this.isTorneo = false;
            this.isClase = false;
            this.isActive = true;
            this.item.status = 'ABIERTA';
            this.item.clase = this.item.torneo = this.item.equipo == 'NO' ? 'NO' : 'SI';

          } else {
            this.isEquipo = false;
            this.isActive = false;
          }
          break;
        case 'edit_':
          if (this.edit_.equipo == 'NO') {
            this.isEquipo = true;
            this.isTorneo = false;
            this.isClase = false;
            this.isActive = true;
            this.edit_.status = 'ABIERTA';
            this.edit_.clase = this.edit_.torneo = this.edit_.equipo == 'NO' ? 'NO' : 'SI';
          } else {
            this.isEquipo = false;
            this.isActive = false;
          }
          break;
      }

    },

    checkTorneo(origen) {
      this.entrenador = 0;
      switch (origen) {
        case 'item':
          if (this.item.torneo == 'NO') {
            this.isEquipo = false;
            this.isTorneo = true;
            this.isClase = false;
            this.isActive = false;
            //this.item.status = 'ABIERTA';
            this.item.clase = this.item.equipo = this.item.torneo == 'NO' ? 'NO' : 'SI';
          } else {
            this.isTorneo = false;
            this.isActive = false;
          }
          break;
        case 'edit_':
          if (this.edit_.torneo == 'NO') {
            this.isEquipo = false;
            this.isTorneo = true;
            this.isClase = false;
            this.isActive = false;
            //this.edit_.status = 'ABIERTA';
            this.edit_.clase = this.edit_.equipo = this.edit_.torneo == 'NO' ? 'NO' : 'SI';
          } else {
            this.isTorneo = false;
            this.isActive = false;
          }
          break;

      }
    },

    checkClase(origen) {

      this.entrenador = 0;
      switch (origen) {
        case 'item':

          if (this.item.clase == 'NO') {
            this.isEquipo = false;
            this.isTorneo = false;
            this.isClase = true;
            this.isActive = true;
            this.item.status = 'ABIERTA';
            this.item.torneo = this.item.clase == 'NO' ? 'NO' : 'SI';
            this.item.equipo = this.item.clase == 'NO' ? 'NO' : 'SI';
          } else {
            this.isClase = false;
            this.isActive = false;
          }
          break;
        case 'edit_':

          if (this.edit_.clase == 'SI') {
            this.isEquipo = false;
            this.isTorneo = false;
            this.isClase = true;
            this.isActive = true;
            this.edit_.status = 'ABIERTA';
            this.edit_.torneo = this.edit_.equipo = 'NO';
          } else {
            this.isClase = false;
            this.isActive = false;
          }
          break;

      }
    },

    nuevaImg(imagen) {
      let origen = this.$options.origen == 'crear' ? this.item : this.edit_;

      origen.cartel = imagen.img == "" ? "" : imagen.img;
      this.newFile = imagen.file == "" ? "" : imagen.file;
    },

    cerrarPartida(estado) {
      // Obtenemos los jugadores dependiendo del origen (editar o nuevo)
      let jugadores = this.$options.origen === 'editar' ? this.edit_.jugadoresPartida : this.item.jugadoresPartida;

      // Verificamos si el estado es 'SI'
      if (estado === 'SI') {
        // Reiniciamos el estado de búsqueda y asignamos invitados si es necesario
        this.buscar = {pala: 'NO', pala2: 'NO', pala3: 'NO', pala4: 'NO'};
        (jugadores.pala2 == '' || jugadores.pala2 == null) ? jugadores.pala2 = `invitado de ${jugadores.pala}` : '';
        (jugadores.pala3 == '' || jugadores.pala3 == null) ? jugadores.pala3 = `invitado de ${jugadores.pala}` : '';
        (jugadores.pala4 == '' || jugadores.pala4 == null) ? jugadores.pala4 = `invitado de ${jugadores.pala}` : '';
      } else {
        // Si el estado no es 'SI', eliminamos la etiqueta 'invitado' de los nombres de jugadores
        for (let index in jugadores) {
          if (jugadores[index] != null && jugadores[index] != '' && index.indexOf('_') == -1 && index.substring(0, 4) == 'pala') {
            if (jugadores[index].substring(0, 8) == 'invitado') {
              jugadores[index] = '';
              jugadores[`${index}_id`] = null;
            }
          }
        }
      }
    },

    comboPistas(Npistas) {

      let pistas = [];

      for (let i = 1; i <= Npistas; i++) {
        pistas.push({value: i, text: "Pista " + i});
      }
      return pistas;

    },

    cabeceraModal() {
      let club = this.club.nombre;
      const regex = /(\d+)/g;

      switch (this.formulario) {

        case 1: //crear
          this.$options.origen = 'crear';
          this.isNew = true;
          this.item.pistas_id = this.datosEntrada.pistas_id ? this.datosEntrada.pistas_id : 1;
          this.colorHeaderBackground = 'primary';
          this.$options.origen = 'crear';
          this.titulo = 'Abrir Partida';
          this.item.fecha = this.fecha;
          let m = moment().format('mm');
          let h = moment().format('kk');
          this.item.inicio_alquiler = this.datosEntrada.origen ? moment(this.datosEntrada.fecha).format('YYYY-MM-DD kk:mm:ss') : m < 30 ? moment(h + ':30', 'kk:mm').format('YYYY-MM-DD kk:mm:ss') : moment(h, 'kk').add(60, 'minutes').format('YYYY-MM-DD kk:mm:ss');
          this.item.Npistas = this.club.pistas;
          this.item.inicio = moment(this.item.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').format('HH:mm');
          this.item.fin = moment(this.item.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').add(60, 'minutes').format('HH:mm');
          this.buscarPistas(this.fecha, this.club.id);
          this.datosEntrada.origen ? this.item.pistas_id = this.datosEntrada.pista.match(regex)[0] : '';

          break;
        case 2: //editar
          this.cargarPalas();
          this.titulo = `Editar Partida del club «${club}»`;
          this.clonar();
          break;
        case 3: //eliminar
          this.titulo = `Eliminar partida del «${club}»`;
          break;
        case 4: //ver desde calendario de partidas
          this.$options.origen = 'editar';
          this.select = this.sel;
          this.select.inicio_alquiler = moment(this.sel.start).format('YYYY-MM-DD HH:mm:ss');
          this.select.fin_alquiler = moment(this.sel.end).format('YYYY-MM-DD HH:mm:ss')
          this.select.Npistas = this.sel.pistas;
          this.select.partida_id = this.sel.id;
          this.comboClubs = this.$store.state.clubs;
          this.cargarPalas();
          this.colorHeaderBackground = this.select.status == 'ABIERTA' ? 'info' : 'danger';
          this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
          this.titulo = `Club «${club}»`;

          break;
        case 5: //ver desde listado de partidas
          this.$options.origen = 'editar';
          this.cargarPalas();
          this.colorHeaderBackground = this.select.status == 'ABIERTA' ? 'info' : 'danger';
          this.fecha = moment(this.select.inicio_alquiler).format('DD-MM-YYYY');
          //this.noEdit = moment() < moment(this.select.inicio_alquiler) ?  true : false;
          this.titulo = `Club «${club}»`;
          break;
      }
    },

    cargarPalas() {
      const me = this;
      let palas = me.select.jugadoresPartida;

      for (let pala in palas) {
        if (palas.hasOwnProperty(pala)) {
          if (pala.substring(0, 4) === 'pala' && pala.indexOf('_') === -1) {
            if (palas[pala] !== '' && palas[pala] !== null) {
              me.palas.push(palas[pala]);
            }
          }
        }
      }

    },

    validar() {
      let me = this.$options.origen === 'editar' ? this.edit_ : this.item;

      if (me.equipo === 'SI') {
        return this.validarTexto();
      } else {
        const palaValido = ['pala1', 'pala2', 'pala3', 'pala4'].every(pala => this.validarPala(pala));
        const observacionesValidas = me.observaciones !== null && me.observaciones !== '';

        return palaValido && (observacionesValidas || true);
      }
    },

    crear() {
      const regex = /(\d+)/g;
      let me = this.$options.origen === 'editar' ? this.edit_ : this.item;
      const createOrUpdate = this.isEdit ? 'actualizar' : 'crear';

      const getJugadorInfo = (campo) => {
        const idCampo = `${campo}_id`;
        const EsFijo = `${campo}_fija`;
        const nick = `${campo}`;
        let idCampoValor = me.jugadoresPartida[idCampo];
        let EsFijoValor = me.jugadoresPartida[EsFijo];
        let nickValor = me.jugadoresPartida[nick];

        return {[idCampo]: idCampoValor, [nick]: nickValor, [EsFijo]:EsFijoValor};
      };

      const palaInfo = getJugadorInfo('pala');
      const pala2Info = getJugadorInfo('pala2');
      const pala3Info = getJugadorInfo('pala3');
      const pala4Info = getJugadorInfo('pala4');


      const datosPartida = {
        clubs_id: this.club.id,
        pistas_id: me.pistas_id,
        nivelPartida_id: me.nivelPartida_id,
        inicio_alquiler: moment(`${this.fecha} ${me.inicio}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss'),
        fin_alquiler: moment(`${this.fecha} ${me.fin}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss'),
        status: me.status,
        abierta_por: 'CLUB',
        partida_fija: me.partida_fija,
        equipo: me.equipo,
        observaciones: me.observaciones,
        mensaje: me.mensaje,
        clase: me.clase,
        entrenador_id: me.entrenador_id,
        torneo: me.torneo,
        cartel: me.cartel,
        torneo_id: me.torneo_id,

        jugadoresPartida: {
          ...palaInfo,
          ...pala2Info,
          ...pala3Info,
          ...pala4Info
        }
      };

      const form = this.isTorneo ? this.toFormData(datosPartida, this.newFile) : datosPartida;

      if (this.validar()) {
        this.modalShow = false;
        this.$emit('accion', {accion: createOrUpdate, objeto: form});
        this.item = this.resetItem();
        this.fecha = moment().format('DD-MM-YYYY');
        this.buscar = {pala: 'NO', pala2: 'NO', pala3: 'NO', pala4: 'NO'};
        this.isEquipo = false;
        this.isTorneo = false;
        this.isClase = false;
        this.isNew = false;
        this.isEdit = false;
        this.noEdit = true;
        this.autoCompletar = 'NO';
      }
    },

    actualizar() {

      let me = this.edit_;

      const getJugadorInfo = (campo) => {
        const idCampo = `${campo}_id`;
        const EsFijo = `${campo}_fija`;
        const nick = `${campo}`;
        let idCampoValor = me.jugadoresPartida[idCampo];
        let EsFijoValor = me.jugadoresPartida[EsFijo];
        let nickValor = me.jugadoresPartida[nick];

        return {[idCampo]: idCampoValor, [nick]: nickValor, [EsFijo]:EsFijoValor};
      };

      const palaInfo = getJugadorInfo('pala');
      const pala2Info = getJugadorInfo('pala2');
      const pala3Info = getJugadorInfo('pala3');
      const pala4Info = getJugadorInfo('pala4');

      let datosPartida = {
        partida_id: me.partida_id,
        clubs_id: this.club.id,
        pistas_id: me.pistas_id,
        nivelPartida_id: me.nivelPartida_id,
        inicio_alquiler: moment(`${this.fecha} ${me.inicio}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss'),
        fin_alquiler: moment(`${this.fecha} ${me.fin}`, 'DD-MM-YYYY HH:mm').format('YYYY-MM-DD HH:mm:ss'),
        status: me.status,
        abierta_por: 'CLUB',
        partida_fija: me.partida_fija,
        equipo: me.equipo,
        observaciones: me.observaciones,
        mensaje: me.mensaje,
        clase: me.clase,
        entrenador_id: me.entrenador_id,
        torneo: me.torneo,
        torneo_id: me.torneo_id,
        cartel: me.cartel,
        fija_id: me.fija_id,
        partidaVirtual: me.partidaVirtual ? me.partidaVirtual : false,
        jugadoresPartida: {
          ...palaInfo,
          ...pala2Info,
          ...pala3Info,
          ...pala4Info
        }
      };

      let form = this.isTorneo ? this.toFormData(datosPartida, this.newFile) : datosPartida;

      if (this.validar()) {
        this.modalShow = false;
        this.$emit('accion', {accion: 'editar', objeto: form});
        this.item = this.resetItem();
        this.fecha = moment().format('DD-MM-YYYY');
        this.buscar = {pala: 'NO', pala2: 'NO', pala3: 'NO', pala4: 'NO'};
        this.isEquipo = false;
        this.isTorneo = false;
        this.isClase = false;
        this.isNew = false;
        this.isEdit = false;
        this.noEdit = true;
        this.autoCompletar = 'NO';
      }

    },

    eliminar() {
      this.modalShow = false;
      this.$emit('accion', {accion: 'eliminar', objeto: this.select}); //envio al padre la accion y el elemento.
    },

    clonar() {
      this.$options.origen = 'editar';
      this.isEdit = true;
      this.edit_ = _.clone(this.select);
      this.edit_.inicio = moment(this.select.inicio_alquiler, 'YYYY-MM-DD HH:mm:ss').format('HH:mm');
      this.datosEntrada.fecha = moment(this.select.inicio_alquiler, 'YYYY-MM-DD HH:mm:ss');
      this.edit_.fecha = this.fecha = moment(this.select.inicio_alquiler, 'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY');
      this.cargarPistasDisponibles(this.partidas);
      this.cambiarHora(this.edit_.inicio);
      this.edit_.fin = moment(this.select.fin_alquiler).format('kk:mm');
    },

    cancelar() {
      this.isEquipo = false;
      this.isTorneo = false;
      this.isClase = false;
      this.isNew = false;
      this.isEdit = false;
      this.noEdit = true;
      this.autoCompletar = 'NO';
      this.palas = [];
      this.horaFrom = [];


    },

    abrir(formulario, datos = []) {

      this.isEquipo = false;
      this.isTorneo = false;
      this.isClase = false;
      this.isNew = false;
      this.isEdit = false;
      this.noEdit = true;
      this.autoCompletar = 'NO';
      this.isActive = false;
      this.palas = [];
      this.horaFrom = [];
      this.item.cartel = null;
      this.$options.origen = 'crear';
      this.getTorneos();
      this.item = this.resetItem();
      this.buscar = {pala: 'NO', pala2: 'NO', pala3: 'NO', pala4: 'NO'};
      const me = this;
      let horarios = this.club.horario.split('|');
      this.getEntrenadores();

      horarios.forEach((horario) => {
        me.desgloasarHorarioEditar(horario);
      });
      if (datos.equipo) {
        this.isEquipo = datos.equipo == 'SI' ? true : false;
      }
      if (datos.torneo) {
        this.isTorneo = datos.torneo == 'SI' ? true : false;
      }
      if (datos.clase) {
        this.isClase = datos.clase == 'SI' ? true : false;
      }
      if (datos.inicio_alquiler) {
        this.fecha = moment(datos.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss').format('DD-MM-YYYY');
      }

      this.formulario = formulario;
      Array.isArray(datos) ? '' : this.datosEntrada = this.select = _.clone(datos);
      if (this.formulario == 4) {

        this.noEdit = datos.start ? moment() < moment(datos.start) ? true : false : false;
      }

      if (this.formulario == 5) {

        this.noEdit = moment() > moment(datos.inicio_alquiler, 'YYYY-MM-DD kk:mm:ss') ? true : false;
      }

      if (datos.fecha) {
        this.fecha = moment(datos.fecha).format('DD-MM-YYYY');
        this.sel.start = moment(datos.fecha).format('YYYY-MM-DD kk:mm:ss');
      }

      this.cabeceraModal();
      this.modalShow = true;
    },

    cerrar() {
      this.modalShow = false;
    },

  },
}
</script>
<style scoped>
.textoInput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #0031ff;
}

.user {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.65);
}

.effect > span {
  -webkit-box-shadow: 4px 2px 14px 0px grey inset, 2px 2px 6px 0px black;
  -moz-box-shadow: 4px 2px 14px 0px grey inset, 2px 2px 6px 0px black;
  box-shadow: 4px 2px 14px 0px grey inset, 2px 2px 6px 0px black;
  border-radius: 0px 23px;
  margin: 5px;
  width: 98%;
  text-align: center;
}

.effect {
  box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  -webkit-box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  -moz-box-shadow: 1px 1px 1px 1px grey inset, 2px 2px 6px 0px grey;
  padding: 2px;
}

a, a:hover, a:focus {
  color: #0031ff;
  text-decoration: underline;
  transition: all 0.3s;
}

.abierta {
  color: #17a2b8;
}

.cerrada {
  color: #dc3545;
}

.nivel {
  -webkit-box-shadow: 1px 1px 6px 1px slateblue;
  -moz-box-shadow: 1px 1px 6px 1px slateblue;
  box-shadow: 1px 1px 6px 1px slateblue;
  border-radius: 50px 50px 10px 10px;
}

.fijarPartida {
  font-size: 0.8rem;
  color: darkgrey;
  position: absolute;
  right: 10px;
}

.info {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.65);
}

.invalid-feedback {
  margin: 0 1%;

}

.disponibilidad {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  text-align: center;
}

.tachar {
  text-decoration: line-through;
}

.toast-top-center {
  margin: auto;
}

.input-group-text {
  background: #35363a !important;
  color: #fff;
}

.checkbox-table {
  display: flex;
  flex-direction: column;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
}

.checkbox-cell {
  flex: 1;
}

.estrecha {
  height: 70px
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ffc107 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #17a2b8 !important;
  background-color: #28a745 !important;
}
</style>