<template> 
  <b-container fluid>
    <!--b-button class="mt-3" @click="[ vista == 'semana'? vista = 'agenda' : vista = 'semana' ]" variant="primary"-->
    <b-button class="mt-3" @click="cambiarVista" variant="primary">
      <template v-if="vista == 'semana'">Agenda</template>
      <template v-else>Semana</template>
    </b-button>
    <div class="text-center"><h2>Partidas</h2></div>
      <div class="text-center">
        <b-button class="flecha px-3" variant="outline-primary" size="sm" @click="cambio('+1')">
          <span class="d-inline-block">&laquo;</span>
        </b-button>
        <h5 class="form-control-static d-inline-block">
            <template v-if="vista == 'semana'">{{ primerDia | capitalize }} - {{ ultimoDia | capitalize }}</template>
            <template v-if="vista == 'agenda'">{{ primerDia | capitalize }}</template>
        </h5>
        <b-button class="flecha px-3" variant="outline-primary" size="sm"  @click="cambio('-1')">
          <span class="d-inline-block">&raquo;</span>
        </b-button>
        
      </div>      
      
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <td colspan="10">
              <b-row>
                <b-col sm="11" lg="7">
                  <buscador-component @search="search($event)"></buscador-component>
                </b-col> 
                <b-col sm="1" lg="5">
                  <b-button @click="tipoAccion('crear')" variant="primary" class="float-right">
                    <icon name="plus"></icon>
                  </b-button>
                </b-col>
              </b-row>
            </td>    
          </tr>
          <tr>
           <th class="click" :class="[ sortBy == 'pistas.nombre' ? 'active' : '']" @click="ordenar('pistas.nombre')" width="200"><icon :name="icoPista"></icon>  Pista</th>
            <th class="click" :class="[ sortBy == 'partidas_user.pala' ? 'active' : '']" @click="ordenar('partidas_user.pala')" width="200"><icon :name="icoUser"></icon>  Usuario</th>
            <th v-if="vista == 'semana'" class="click" :class="[ sortBy == 'inicio_alquiler' ? 'active' : '']" @click="ordenar('inicio_alquiler')" width="200"><icon :name="icoInicio"></icon>  Fecha</th>
            <th class="click" :class="[ sortBy == 'inicio_alquiler' ? 'active' : '']" @click="ordenar('inicio_alquiler')" width="200"><icon :name="icoInicio"></icon>  Inicio Partida</th>
            <th class="click" :class="[ sortBy == 'fin_alquiler' ? 'active' : '']" @click="ordenar('fin_alquiler')" width="200"><icon :name="icoFin"></icon>  Fin Partida</th>
            <th width="100">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="9"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, index) in filtro" :vista="vista" :item="item" :key="index" @update="tipoAccion('editar', $event)" @delete="tipoAccion('eliminar', $event)" @ver="tipoAccion('ver', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formu="formulario" :sel="select" :key="select.id" :datos="datos" :users="comboUsers"></component>
    
  </div>
</b-container>

</template>

<script>
import EventBus from '../../../helpers/event-bus.js';
import funciones from '../../../helpers/funciones'; 
import validaciones from '../../../helpers/validaciones';
import Formulario from './FormPartida.vue';
import crud from './EditPartida.vue';
import Icon from 'vue-awesome/components/Icon';
import Buscador from '../../extras/buscador.vue';
import Paginate from '../../layouts/paginate.vue';

export default {
  props:['datos', 'ver'],
  mixins: [validaciones, funciones],
  components: {
    'app-form' : Formulario,
    'crud-component': crud,
    'icon': Icon,
    'buscador-component':Buscador,
    Paginate
  },
  data: ()=>({

    pageUrl: 'ptds',
    usersPageUrl: 'jugadores',
    items: [],
    comboUsers:[],
    pagination: [], 
    cargando: true,
    modal:'',
    select:[],
    formulario:'',
    //buscador
    busqueda: '',
    sortBy: 'pistas.nombre',
    orden: 'ASC',
    Spista: 'ASC',
    Suser: 'ASC',
    Sinicio: 'ASC',
    Sfin: 'ASC',
    //semana
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'agenda',
    partidasSemana: '',
    timer: '', 
  }),

  watch:{
    '$route': 'getItems',
    vista(item){
      if(item == 'semana'){
        this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'semana';
        this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
        this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
      }
      if(item == 'agenda'){
        this.primerDia = moment().format('dddd') + " " + moment().format('DD') + " de " + moment().format('MMMM');
        this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
      }
      this.getItems();
      
    },
    
  },
  mounted(){
      this.getUsers();
      
  },
  created() {
    if(this.vista == 'semana'){
      this.partidasSemana = moment().startOf('week').format('YYYY-MM-DD') + 'semana';
      this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
      this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
    }
    if(this.vista == 'agenda'){
      this.primerDia = moment().format('dddd') + " " + moment().format('DD') + " de " + moment().format('MMMM');
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'agenda';
    }
    this.getItems();
    this.getClubs();
    this.timer = setInterval(this.getItems, 30000)
  },

  beforeDestroy() {
    clearInterval(this.timer)
  },
  cancelAutoUpdate() { 
    //clearInterval(this.timer)
  },

  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    icoPista(){
      if(this.sortBy != 'pistas.nombre' || (this.sortBy == 'pistas.nombre' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'pistas.nombre' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoUser(){
      if(this.sortBy != 'partidas_user.pala' || (this.sortBy == 'partidas_user.pala' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'partidas_user.pala' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoInicio(){
      if(this.sortBy != 'inicio_alquiler' || (this.sortBy == 'inicio_alquiler' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'inicio_alquiler' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    icoFin(){
      if(this.sortBy != 'fin_alquiler' || (this.sortBy == 'fin_alquiler' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'fin_alquiler' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },
    club(){
      return this.datos.club[0];
    }
  },
  methods:{
    search(busqueda){
      this.busqueda = busqueda;
      this.getItems();
    },
    cambiarVista(){
      this.contadorDias = 0;
      this.vista == 'semana'? this.vista = 'agenda' : this.vista = 'semana' 
    },
    cambio(cambio){
      if(this.vista == 'semana'){
        this.contadorDias = (parseInt(cambio) * 7) + this.contadorDias;
        this.partidasSemana = moment().startOf('week').subtract(this.contadorDias, 'day').format('YYYY-MM-DD') + 'semana';
     
        this.primerDia = moment().startOf('week').subtract(this.contadorDias, 'day').format('dddd') + " " + moment().startOf('week').subtract(this.contadorDias, 'day').format('DD') + " de " + moment().startOf('week').subtract(this.contadorDias, 'day').format('MMMM');

        this.ultimoDia = moment().endOf('week').subtract(this.contadorDias, 'day').format('dddd') + " " + moment().endOf('week').subtract(this.contadorDias, 'day').format('DD') + " de " + moment().endOf('week').subtract(this.contadorDias, 'day').format('MMMM');
      };
      if(this.vista == 'agenda'){
        this.contadorDias = parseInt(cambio) + this.contadorDias;
        this.partidasSemana = moment().subtract(this.contadorDias, 'day').format('YYYY-MM-DD') + 'agenda';
        this.primerDia = moment().subtract(this.contadorDias, 'day').format('dddd') + " " + moment().subtract(this.contadorDias, 'day').format('DD') + " de " + moment().subtract(this.contadorDias, 'day').format('MMMM');
      }
          

      this.getItems();
    },

    ordenar(columna){
        switch(columna){
        case 'pistas.nombre':
          this.Spista == 'ASC' ? this.Spista = 'DESC': this.Spista = 'ASC';
          break;
        case 'partidas_user.pala':
          this.Suser == 'ASC' ? this.Suser = 'DESC': this.Suser = 'ASC';
          break;
        case 'inicio_alquiler':
          this.Sinicio == 'ASC' ? this.Sinicio = 'DESC': this.Sinicio = 'ASC';
          break;
        case 'fin_alquiler':
          this.Sfin == 'ASC' ? this.Sfin = 'DESC': this.Sfin = 'ASC';
          break;
          
       } 
            
      this.sortBy = columna;
      this.getItems();
    },

    tipoAccion(action, data = []){
      this.formulario = '';
      let formulario = 1;
      this.select = data;
      this.modal = 'app-form';

      switch(action){
        case 'crear':
          formulario = this.formulario = 1;
          break;
        case 'editar':
          formulario = this.formulario = 2;
          break;
        case 'eliminar':
          formulario = this.formulario = 3;
          break;
        case 'ver':
          formulario = this.formulario = 5;
          break;  
        
      }
      
      EventBus.$emit('openModal',{accion: action, datos: data, formulario: formulario});
      
    },
    getUsers(){
      axios.get(`${this.usersPageUrl}`).then((response)=>{
        this.comboUsers = response.data;
      }, (error) => {
        console.log(error.response);
      })
    },
    getItems(page){
      
      if(this.sortBy == 'pistas.nombre'){ this.orden = this.Spista};
      if(this.sortBy == 'partidas_user.pala'){ this.orden = this.Suser};
      if(this.sortBy == 'inicio_alquiler'){ this.orden = this.Sinicio};
      if(this.sortBy == 'fin_alquiler'){ this.orden = this.Sfin};
      
      let id = 0;
     
      if(this.ver == 'club'){id = 'club'};
      if(this.ver == 'jugador'){id = this.$store.state.user.id};//cambiar usar del local storage
  
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}&semana=${this.partidasSemana}&user_id=${id}`).then((response)=>{
        this.items = response.data.items.data;
        this.pagination = response.data.pagination;
        
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },
    resetBusqueda(){
      this.busqueda = '';
      this.getItems();
    },
    acciones(item){
      switch(item.accion){
        case 'crear':
          this.crear(item.objeto);
          break;
        case 'editar':
        
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
        this.eliminar(item.objeto);
        break;
      };
    },

    crear(nuevo){
     
      axios.post(this.pageUrl, nuevo).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },

    eliminar(eliminarId){
      axios.delete(this.pageUrl + "/" + eliminarId.partida_id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      let id = actualizar.partida_id ? actualizar.partida_id : actualizar.get('partida_id');
      axios.post(`${this.pageUrl}/update/${id}`, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
        
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }

</style>