<template>
	<b-container fluid>
    <div class="text-center"><h2>Lista de espera partidas</h2></div>
   
    <div class="py-2 text-center">
      <partidaPicker :partida.sync="fecha" :item="actual" :origen="'club'"></partidaPicker>
    </div>
    <b-tabs>
      <b-tab :title="dia[0]" active @click="getItems(dia[0])">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th v-for="(pista, key) in pistas" colspan="2" :key="key" :style="{width: anchoColumna}">
                <h3 class="text-center">Pista {{ pista }}</h3>
              </th>
            </tr>
          </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td :colspan="pistas"><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(partida, key) in partidas[cantidadFilas]" :key="key">
            <template v-for="i in pistas">
              <template v-if="partidas[i - 1][key] != null">
                <th class="align-middle text-center" bgcolor="#e9ecef" :key="i">
                  {{ partidas[i - 1][key].start | formatearHora }}
                  <br>
                  {{ partidas[i - 1][key].nivel }}
                  <template v-if="partidas[i - 1][key].torneo == 'SI'">
                    <hr>
                    <span class="tor">{{ torneoNombre(partidas[i - 1][key].torneo_id) }}</span>
                  </template>
                </th>
                <td :key="i">
                  <crud-component v-for="user in partidas[i - 1][key].listaEspera" :item="user" :key="user.id" :pista="partidas[i - 1][key].pista" :start="partidas[i - 1][key].start" :torneo="partidas[i - 1][key].torneo" @aceptar="aceptar($event, partidas[i - 1][key].jugadoresPartida, partidas[i - 1][key].torneo_id)" @eliminar="eliminar($event)"></crud-component>
                </td>
              </template>
              <template v-else>
                <th :key="i"></th>
                <td :key="i"></td>
              </template>
            </template>
          </tr>
        </tbody>
      </table>
    </b-tab>
      <b-tab :title="dia[1]" @click="getItems(dia[1])">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th v-for="(pista, key) in pistas" :key="key" colspan="2" :style="{width: anchoColumna}">
                <h3 class="text-center">Pista {{ pista }}</h3>
              </th>
            </tr>
          </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td :colspan="pistas"><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(partida, key) in partidas[cantidadFilas]" :key="key">
          
            <template v-for="i in pistas">
              <template v-if="partidas[i - 1][key] != null">
                <th class="align-middle text-center" bgcolor="#e9ecef" :key="i">
                  {{ partidas[i - 1][key].start | formatearHora }}
                  <br>
                  {{ partidas[i - 1][key].nivel }}
                  <template v-if="partidas[i - 1][key].torneo == 'SI'">
                    <hr>
                    <span class="tor">{{ torneoNombre(partidas[i - 1][key].torneo_id) }}</span>
                  </template>
                </th>
                <td :key="i">
                  <crud-component v-for="user in partidas[i - 1][key].listaEspera" :item="user" :key="user.id" :pista="partidas[i - 1][key].pista" :start="partidas[i - 1][key].start" @aceptar="aceptar($event, partidas[i - 1][key].jugadoresPartida, partidas[i - 1][key].torneo_id)" @eliminar="eliminar($event)"></crud-component>
                </td>
              </template>
              <template v-else>
                <th :key="i"></th>
                <td :key="i"></td>
              </template>
            </template>
          </tr>
        </tbody>
      </table>
      </b-tab>
      <b-tab :title="dia[2]" @click="getItems(dia[2])">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th v-for="(pista, key) in pistas" :key="key" colspan="2" :style="{width: anchoColumna}">
                <h3 class="text-center">Pista {{ pista }}</h3>
              </th>
            </tr>
          </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td :colspan="pistas"><icon name="refresh" scale="5" spin></icon></td></tr>
          <tr v-for="(partida, key) in partidas[cantidadFilas]" :key="key">
          
            <template v-for="i in pistas">
              <template v-if="partidas[i - 1][key] != null">
                <th class="align-middle text-center" bgcolor="#e9ecef" :key="i">
                  {{ partidas[i - 1][key].start | formatearHora }}
                  <br>
                  {{ partidas[i - 1][key].nivel }}
                  <template v-if="partidas[i - 1][key].torneo == 'SI'">
                    <hr>
                    <span class="tor">{{ torneoNombre(partidas[i - 1][key].torneo_id) }}</span>
                  </template>
                </th>
                <td :key="i">
                  <crud-component v-for="user in partidas[i - 1][key].listaEspera" :item="user" :key="user.id" :pista="partidas[i - 1][key].pista" :start="partidas[i - 1][key].start" @aceptar="aceptar($event, partidas[i - 1][key].jugadoresPartida, partidas[i - 1][key].torneo_id)" @eliminar="eliminar($event)"></crud-component>
                </td>
              </template>
              <template v-else>
                <th :key="i"></th>
                <td :key="i"></td>
              </template>
            </template>
          </tr>
        </tbody>
      </table>
      </b-tab>
    </b-tabs>
		
	</b-container>

</template>

<script>

import EventBus from '../../../helpers/event-bus.js';
import funciones from '../../../helpers/funciones'; 
import validaciones from '../../../helpers/validaciones';
import Formulario from './FormPartida.vue';
import crud from './EditEspera.vue';
import Icon from 'vue-awesome/components/Icon';
import Buscador from '../../extras/buscador.vue';
import Paginate from '../../layouts/paginate.vue';
import partidaPicker from '../../extras/datePicker.vue';


export default {
  props:['datos'],
  mixins: [funciones],
  components: {   
   partidaPicker,
   'icon': Icon,
   'crud-component': crud,
  },
  origen:'crear',
  data: ()=>({
  	pageUrl: 'ptds',
  	esperaUrl: 'spr',
    pageUrlTorneo: 'trns',
    items: [],
    comboTorneos: [],
    partidas: [],
    actual: moment(),
    fecha: moment(),
    windowWidth: 0,
    partidasSemana: '',
    timer: '',
    fechaActiva: '',
    cargando: true,
    dia: [moment().format('DD-MM-YYYY'),moment().add(1,'DAY').format('DD-MM-YYYY'),moment().add(2,'DAY').format('DD-MM-YYYY')],

  }),

  watch:{
    
    fecha(value){
      this.dia = [value,moment(value,'DD-MM-YYYY').add(1,'DAY').format('DD-MM-YYYY'),moment(value,'DD-MM-YYYY').add(2,'DAY').format('DD-MM-YYYY')]
      this.getItems(this.dia[0]);
    }
    
  },
  created() {
    //this.getItems(this.dia[0]);
    this.timer = setInterval((this.getItems(this.fechaActiva), this.getTorneos()), 30000)
  },

  mounted(){
       	this.$nextTick( () => {
          	window.addEventListener('resize', this.getWindowWidth);
          	this.getWindowWidth();
        });

  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth);
    clearInterval(this.timer)
  },
  cancelAutoUpdate() { 
    clearInterval(this.timer)
  },

  
  computed:{
    club(){
    	return this.datos.club[0];
    },
    pistas(){
    	return this.datos.club[0].pistas;
    },
    cantidadFilas(){
      let largo = [];
      let tamanyo = [];
      let posicion = 0;
      this.partidas.forEach(e => {
       
        tamanyo.push(e.length);
        largo.push(e.length);
      })
      
      let valorBuscado = largo.sort((a, b) => b - a)[0];
      posicion = tamanyo.indexOf(valorBuscado);
      
      return posicion;
    },  
    anchoColumna(){
      return (this.windowWidth - 100)/this.pistas + 'px';
    },
    mob(){
      return this.detectmob() ? true : false;
     
    }

  },

  methods:{
    torneoNombre(id){
     return this.comboTorneos.filter(torneo => torneo.id == id).map(torneo => { return torneo.nombre })[0];
    },
    getTorneos(){
      axios.get(`${this.pageUrlTorneo}/torneos`).then(response =>{
        this.comboTorneos = response.data;
        this.comboTorneos.unshift({id:0 , nombre: 'Ninguno'})
        
      }, error => {
        console.log(error.response);
      })

      this.cargandoTorneo = false;
    },
    getItems(dia){

      let id = 'club';
      let tipo = 'todo';
      let fecha = moment(dia, 'DD-MM-YYYY').format('YYYY-MM-DD'); 
      this.fechaActiva = dia;
      axios.get(`${this.pageUrl}?dia=${fecha}&vista=resourceDay&user_id=${id}&tipo=${tipo}`).then((response)=>{
        this.items = response.data.partidas;
        this.separarEspera();
        this.cargando = false;
      }, (error) => {
        console.log(error.response);
      });
    },


    separarEspera(){
    	let pistas = [];
    	let partidas = _.clone(this.items);

    	for(let n = 0; n < this.pistas; n++){
        	pistas[n] = [];
        	let index = 0;
        	for(let i = 0; i < partidas.length; i++){
        		if(partidas[i].pistas_id === (n + 1) && partidas[i].listaEspera.length ){
        			pistas[n][index] = partidas[i];
        			index++;
        		}
        		
        	}
        }
        this.partidas = pistas;

       
    },
    posicion(palas,posicion){
      
		for(let pala in palas){
    		if(pala.substring(0,4) == 'pala' && pala.indexOf('_') == -1)  {
          //console.log(pala)
                //if(palas[pala] == '' || palas[pala] == null){
                  if(posicion == 'REVÉS' && (palas[pala] == '' || palas[pala] == null) && (pala =="pala2" || pala == 'pala4')){
                    return pala;
                  }
                  if(posicion == 'DERECHA' && (palas[pala] == '' || palas[pala] == null) && (pala =="pala1" || pala == 'pala3')){
                    return pala;
                  }
                  if(posicion == 'INDIFERENTE' && (palas[pala] == '' || palas[pala] == null)){
                    return pala;
                  }
                  //return pala;
                 
           // }
          }
        };
    },
    aceptar(user, palas,torneo){
    	let posicion = this.posicion(palas,user.posicion);
    	user.torneo_id = torneo;
    	user[posicion] = user.nick;
      user.club_id = user.clubs_id;
      switch(posicion){
        case 'pala':
          user.pala_id = user.user_id;
          break;
        case 'pala2':
          user.pala2_id = user.user_id;
          break;
        case 'pala3':
          user.pala3_id = user.user_id;
          break;
        case 'pala4':
          user.pala4_id = user.user_id;
          break;
      }
     
      axios.post(this.esperaUrl, user).then((response) => {
        
        response.data.status == 'success' ? (
          this.getItems(this.fechaActiva),
          toastr.success(response.data.msg)
          ): toastr.warning(response.data.msg);
          /*this.mob? 
             window.open(`https://api.whatsapp.com/send?phone=34${response.data.movil}&text=Te%20hemos%20aceptado%20en%20la%20partida%20del%20${moment(response.data.partida).format('dddd D[ a las] HH:mm')} en la pista ${response.data.pista}`,'_blank')
            :window.open(`https://web.whatsapp.com/send?phone=34${response.data.movil}&text=Te%20hemos%20aceptado%20en%20la%20partida%20del%20${moment(response.data.partida).format('dddd D[ a las] HH:mm')} en la pista ${response.data.pista}`,'_blank')*/
          
        
	      }, (error) => {
	        console.error(error.response);
	    })
    },
    eliminar(user){

		axios.delete(`${this.esperaUrl}/${user.id}`).then((response) => {
      
        response.data.status == 'success' ? (this.getItems(this.fechaActiva), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
	      }, (error) => {
	        console.error(error.response);
	    })
    },


    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },
  
        
  	
   }
}

</script>

<style scoped>
  .tor{
    font-size: 0.6rem;
    font-weight: 100;
  }
</style>


