<template> 
   <div>
    <div style="height: 50px;margin-left: -30px;">
       <b-button class="mb-3 position-fixed" @click="verFijas = !verFijas" variant="primary" v-if="fijas.length" id="fijas">Fijas</b-button>
       
       <b-popover target="fijas" placement="left" triggers="click focus" :show.sync="verFijas" v-if="fijas.length">
            <div slot="title" class="text-center">
              <b-btn @click="verFijas = !verFijas" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true">&times;</span>
              </b-btn>
              <span style="color:#0035ff">Partidas Fijas</span>
            </div>
             <div class="text-center">
                <table class="table table-sm">
                  <tbody>
                    <tr v-for="fija in fijas" :key="fija.id">
                      <td>Pista {{fija.pistas_id}} a las {{ fija.inicio_alquiler | formatearHora}}
                        - {{ fija.fin_alquiler | formatearHora}}, {{fija.observaciones}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </b-popover>
      </div>
      
      <calendar :droppable="true" :editable="true"
                :pistas="resources" :partidas="items"
                :header="header" :emisor="emisor" :datos="datos"
                @abrir="tipoAccion('ver', $event)"
                @crear="tipoAccion('crear', $event)"
                @posicion="updatePos"
                @fecha="dia">
      </calendar>
      <component :is="modal" :formu="formulario" :sel="select"
                 :key="select.id" :datos="datos" :users="comboUsers"
                 @accion="acciones">
      </component>
   </div>

</template>

<script>

import Formulario from './FormPartida.vue';
import crud from './EditPartida.vue';
import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import funciones from '../../../helpers/funciones'; 
import calendar from '../../extras/calendarioPartidas';

export default {
  props:['datos', 'ver'],
  mixins: [funciones],
  origen:'crear',
  components: {   
    'app-form' : Formulario,
    'crud-component': crud,
    'icon': Icon,
    calendar
  },
  data: ()=>({
    pageUrl: 'ptds',
    usersPageUrl: 'jugadores',
    partidas: [],
    comboUsers:[],
    resources: [],
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'agendaWeek,resourceDay'
    },
    cargando: false,
    modal:'',
    select:[],
    formulario:'',
    emisor: false,
    //partidasSemana
    primerDia: '',
    ultimoDia:'',
    contadorDias : 0,
    vista: 'resourceDay',
    partidasSemana: '',
    timer: '',
    diaPartidas: moment(),
    verFijas: false,
    fijas: [],

  }), 
  created() {
      this.primerDia = moment().startOf('week').format('dddd') + " " + moment().startOf('week').format('DD') + " de " + moment().startOf('week').format('MMMM');
      this.ultimoDia = moment().endOf('week').format('dddd') + " " + moment().endOf('week').format('DD') + " de " + moment().endOf('week').format('MMMM');
      this.partidasSemana = moment().format('YYYY-MM-DD') + 'semana';
     
      this.cargarResources(this.datos.club[0].pistas);
      this.timer = setInterval(this.getItems, 30000);
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  cancelAutoUpdate() { 
    clearInterval(this.timer)
  },

  mounted(){
      this.getUsers();
      
  },
  watch:{
    diaPartidas(dia){
      this.getItems();
    },
  },
  computed: {
    userActive(){
      return this.$store.getters.currentUserView;
    },
    club(){
      return this.datos.club[0];
    },
    items(){
      return this.partidas;
    }
  },
  methods:{
    dia(event){
      this.vista = event.vista;
      this.diaPartidas = event.dia;
    },

    getUsers(){
      axios.get(`${this.usersPageUrl}`).then((response)=>{
        this.comboUsers = response.data;
      }, (error) => {
        console.log(error.response);
      })
    },

    getItems(){
      let id= '';
      let tipo = 'todo';
      const me = this;
      if(this.ver == 'jugador'){id = this.userActive.id; this.emisor = true};
      if(this.ver == 'club'){id = 'club'; this.emisor = false };
      
      axios.get(`${this.pageUrl}?dia=${this.diaPartidas}&vista=${this.vista}&user_id=${id}&tipo=${tipo}`).then((response)=>{
        let partidas = _.clone(response.data.partidas);
        let fijas = _.clone(response.data.fijas);
        
        this.partidas = this.anyadirFijas(partidas,fijas);
      
      }, (error) => {
        console.log(error.response);
      })
      this.cargando = false;
    },

    anyadirFijas(partidas, fijas) {
      // Copia el arreglo de partidas para no modificar el original.
      const partidas_ = [...partidas];
      // Crea un mapa de fijas usando fija_id como clave.
      const fijasMap = Object.fromEntries(fijas.map(fija => [fija.fija_id, fija]));

      // Filtra las partidas que no tienen una fija correspondiente o tienen cambios.
      const unicos = partidas_.map(partida => {
        const fija = fijasMap[partida.fija_id];

        if (fija) {
          let jugadoresFijos = fija.jugadoresPartida;
          let jugadoresPartida = partida.jugadoresPartida;

          ['pala', 'pala2', 'pala3', 'pala4'].forEach(palaKey => {
            jugadoresPartida[palaKey + '_fija'] = jugadoresPartida[palaKey + '_id'] === jugadoresFijos[palaKey + '_id'] &&
                jugadoresPartida[palaKey] === jugadoresFijos[palaKey];
          });

          partida.jugadoresFijos = jugadoresFijos;
          partida.jugadoresPartida = jugadoresPartida;
          delete fijasMap[partida.fija_id];
        }

        return partida;
      });

      // Filtra las partidas únicas que están programadas después de 7 días desde hoy.
      const partida_unica = fijas.filter(unico =>
          moment(unico.start, 'YYYY-MM-DD kk:mm:ss').isAfter(moment().add(7, 'days'), 'day')
      );

      // Obtiene las partidas en fijasMap que no están en partidas_.
      const fijas_no_en_partidas = Object.values(fijasMap);
      const partidasFinalesSet = new Set([...fijas_no_en_partidas, ...partida_unica, ...unicos]);
     // const partidasFinales = [...partidasFinalesSet];
      const partidasFinales = Array.from(partidasFinalesSet).filter((partida, index, array) => {
        // Filtrar basado en la unicidad del fija_id
        return array.findIndex(p => p.fija_id === partida.fija_id) === index;
      });
      return partidasFinales;
    },

    anyadirFijas_viejo(partidas,fijas){
      let partidas_ = _.clone(partidas);
      let unicos = Object.values(fijas.reduce((prev,next)=>Object.assign(prev,{[next.fija_id]:next}),{}));


      //recorro el array de partidas y el de partidas fijas para quitar del listado las partidas que ya estan creadas
      partidas.forEach(partida => {
        unicos.forEach(function(fija,index){

          if(partida.start == fija.start && partida.pistas_id == fija.pistas_id){
            unicos.splice(index, 1);
          }
        })
      })

       unicos.forEach((unico)=> {
        if(moment(unico.start, 'YYYY-MM-DD kk:mm:ss').format('YYYY-MM-DD') > moment().add(7, 'days').format('YYYY-MM-DD')){
          partidas_.push(unico);
        }
      });

      //return partidas_;
      let fijas_id = [];
      let partida_unica = [];

      partidas_.forEach(partida => {
        if(partida.fija_id == null){
          partida_unica.push(partida);
        }else{
          fijas_id.push(partida);
        }
      })

      let fija_id_unico = Object.values(fijas_id.reduce((prev,next)=>Object.assign(prev,{[next.fija_id]:next}),{}));

      fija_id_unico.forEach(partida => {
         partida_unica.push(partida);
      })

      return partida_unica;
    },
    
    tipoAccion(action, data = []){

      this.formulario = '';
      let formulario = 1;
      this.select = data;

      this.modal = 'app-form';
      switch(action){
        case 'crear':
          formulario = this.formulario = 1;
          break;
        case 'ver':
          formulario = this.formulario = 4;
          break;  
        
      }
      EventBus.$emit('openModal',{accion: action, datos: data, formulario: formulario});
      
    },

    acciones(item){
      switch(item.accion){
        case 'crear':
          this.crear(item.objeto);
          break;
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
        this.eliminar(item.objeto);
        break;
      };
    },

    async crear(nuevo) {

      try {
        const response = await axios.post(this.pageUrl, nuevo);

        if (response.data.status === 'success') {
          this.getItems();
          toastr.success(response.data.msg);
        } else {
          toastr.warning(response.data.msg);
        }
      } catch (error) {
        if (error.response) {
          console.error(error.response);
        } else {
          console.error(error);
        }
      }
    },

    eliminar(eliminar) {
      const url = `${this.pageUrl}/${eliminar.partida_id}`;

      axios.delete(url)
          .then(response => {
            const { status, msg } = response.data;

            if (status === 'success') {
              this.getItems();
              toastr.success(msg);
              this.select = [];
              this.modal = "";
            } else {
              toastr.warning(msg);
            }
          })
          .catch(error => {
            console.error(error.response);
            toastr.error("Ha ocurrido un error al eliminar la partida.");
          });
    },


    async actualizar(actualizar) {
      try {
        const nuevaPartida = actualizar.partida_id ? actualizar.partidaVirtual : actualizar.get('partidaVirtual');
        if (nuevaPartida) {
          toastr.warning('Partida Fija');
          await this.crear(actualizar);
        } else {
          const id = actualizar.partida_id ? actualizar.partida_id : actualizar.get('partida_id');

          const response = await axios.post(`${this.pageUrl}/update/${id}`, actualizar);

          if (response.data.status === 'success') {
            this.getItems();
            toastr.success(response.data.msg);
            this.select = [];
            this.modal = "";
          } else {
            toastr.warning(response.data.msg);
          }
        }
      } catch (error) {
        console.error(error);
        toastr.error('Ha ocurrido un error al actualizar la partida.');
      }
    },

    updatePos(item){
        
      let nuevo = item.partidaVirtual;
      console.log(nuevo);
      console.log(item);
      if(nuevo){
        toastr.warning('Partida Fija "No creada", esta opción no está disponible');
       // this.crear(actualizar);
      }else{
        axios.patch(`${this.pageUrl}/posicion/${item.id}`, item).then((response)=>{
          response.data.status == 'success' ? (toastr.success(response.data.msg),this.getItems()): toastr.warning(response.data.msg);
          
        }, (error) => {
          
          console.log(error.response);
        }).catch((error) => {
          console.log(error);
        });
      }
        
    },

    cargarResources(pistas) {
      this.resources = Array.from({ length: pistas }, (_, index) => ({
        id: index + 1,
        name: `Pista ${index + 1}`,
      }));
    }
        
  }
}

</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  
  .flecha{
    color: #0275d8;
    padding: 0 15px;
  }
  .flecha:hover{
    color: #fff;
  }

</style>