<template> 
	<tr>
		<template v-if="isEdit" ref="form">
			
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" name="nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-input type="url" v-model.trim="edit_.web" name="web" placeholder="www.direccion.com" aria-describedby="urlFeedback" :state="urlState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="urlFeedback">
				  {{ errores.web }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<b-form-select v-model="edit_.status" :options="optionStatus" name="status" class="mb-3" />
			</td>
			<td align="center">
				<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false" name="imagen"></uploadFile>
			</td>
			<td>
				<b-form-select v-model="edit_.patrocina" :options="pistas"/>
				
			</td>
			<td>
				<b-button-group>
	              <b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
	              <b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
	            </b-button-group>
			</td>
		
		</template>
		<template v-else>
			
      		<td>{{item.nombre}}</td>
      		<td>{{item.web}}</td>
      		<td>{{item.status}}</td>
      		<td align="center"><b-img :src="item.imagen" style="max-width:60px; max-height:40px"/></td>
      		<td>{{ item.patrocina > 0 ? pistas[item.patrocina].text : '' }}</td>
           	<td>
	            <b-button-group>
	              	<b-btn variant="success" @click="editBtn"><icon name="pencil"></icon></b-btn>
	              	<b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
	            </b-button-group>
          	</td>
			
		</template>
	</tr>
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	import funciones from '../../../helpers/funciones';
	import uploadFile from '../../extras/uploadFile.vue';
	export default{
		components: {
		   	uploadFile,
			'icon': Icon,
		  
		},
		props: ['item', 'pistas'],
		mixins: [validaciones,funciones],
  		origen:'editar',
		data: ()=>({
			pageUrl: 'ptdr',
			edit_: null,
			isEdit: false,
			newFile: null,
			optionStatus: [{value: 'BORRADOR', text:'Borrador'},{value: 'PUBLICADO', text: 'Publicar'}],
			errores:  [],
			erroresServidor: [],
		}),
		mounted(){
			this.edit_ = _.clone(this.item);
			(this.edit_.patrocina == '' || this.edit_.patrocina == null) ? this.edit_.patrocina = 0 : '';
			(this.edit_.web == '' || this.edit_.web == null) ? this.edit_.web = '' : '';
			
		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    urlState(){
	    		return this.validarUrl();
	    	},
		},
		methods:{
			nuevaImg(imagen){
		      	this.edit_.imagen = imagen.img == "" ? "": imagen.img;
		      	this.newFile = imagen.file == "" ? "" : imagen.file;
		    },
			validar(){
		        if(this.validarNombre() && (this.validarUrl() || this.edit_.web == '')){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){ 
				this.isEdit = !this.isEdit
			},
			update(){
					
				if(this.validar()){
					this.edit_.slug = Slug(this.edit_.nombre);
					this.edit_.patrocina = parseInt(this.edit_.patrocina);
					let form = this.toFormData(this.edit_, this.newFile)
					this.$emit('update', form);
					this.isEdit = false;
				}
			},
			deleteBtn(){
				this.$emit('delete', this.item);
			},
		}
	}
</script>