<template>
	<b-container class="wrapper mb-5">
		<b-row>
			<b-col>
				<div>
	                <div class="title-error">
	                	<span>
	                    	Oops!
		                </span>
		            </div>
	                
	                <div class="content-error">
	                    <span>No se ha encontrado la página solicitada.</span>
	                </div>
	            </div>
			</b-col>
		</b-row>
	</b-container>

</template>	

<script>
	import Icon from 'vue-awesome/components/Icon'
	export default{
		components: {
		   'icon': Icon,
		},
	}
</script>
<style scoped>
	.wrapper {
    	min-height: calc(100vh);
    	background: url(/img/fondo/error1.jpg) center center no-repeat;
	    background-size: 100% 100%;
	    text-shadow: 2px 2px 4px #000000;
	    font-family: helvetica, arial;
	    font-weight: 800;
	    box-shadow: #808080 0px 0px 20px 8px;
    }
    .title-error{
    	font-size: 7rem;
	    color: #fff;
	    text-align: right;
	    padding: 6%;
    }
    .content-error{
    	padding: 2%;
    	display: inline-block;
    	float: right;
    }
    .content-error span{
    	float: right;
	    color: #fff;
	    width: 55%;
	    font-size: 2rem;
	    text-align: justify;
	}
	@media screen and (max-width: 610px) {
	    .title-error {
	    	font-size: 5rem;
	    }
	    .content-error span{
	    	font-size: 1.5rem;
	    }
	    
	}
	  @media screen and (max-width: 535px) {
	    .wrapper {
    
    	}
  	}


</style>