<template>
	<b-container class="padding" v-if="totalNoticias > 0">
		<b-row>
    		<b-col cols="12" class="text-center">
				<h1 class="display-4"> Noticias </h1>
			</b-col>

		  <div style="width:100%">
        <hr>
      </div>
	      	<b-card-group>
		        <b-row align-h="center">
		        	<b-col sm="12" :lg="size" class="d-flex align-items-center" v-for="item in items" :key="item.id">
		        			<b-card class="mx-auto align-self-stretch" :title="item.titulo" :img-src="item.imagen" :img-alt="item.titulo" :img-title="item.titulo" img-fluid img-top>
					            <span class="card-text" v-html="item.titular"></span>
					            <div slot="footer">
					                <b-button variant="primary" class="boton-largo" @click="LeerNoticia(item)">Leer</b-button>
					            </div>
				        	</b-card>
		            	</b-col>
		        </b-row>
		    </b-card-group>
		    
		</b-row>
	</b-container>
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		totalNoticias: 0,
		items: [],
	}),
	mounted(){
		this.getNoticias();
    },
	watch:{
            
    },
    computed:{
      size(){
        return this.items.length > 3 ? 4 : "";
      }
    },
    methods:{
       getNoticias(){

			
       		
			axios.get(`api/noticias/${this.datos}`).then((response)=>{
				this.totalNoticias = response.data.length;
				if(response.data.length){
					this.items = response.data;
				}
				
      		}, (error) => {
            console.error(error.response);
          })
		},
		LeerNoticia(noticia){
			let routeData = this.$router.resolve({name: 'leerNoticia', params: {'noticia': noticia, 'slug': noticia.slug}});
			localStorage.setItem('noticia', JSON.stringify(noticia));
			window.open(routeData.href, '_blank');
	    }
    }
}
</script>
<style scoped>
/*#006200, #009a00*/
	.boton-largo{
		width:100%;
	}
	
	
	.btn-primary{
    	background-color: #000;
    	border-color: #fc0101;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    	background-color: #000;
    	border-color: #fc0101;
	}		
	[class*="col-"] {
      padding: 1rem;
  	}
	hr{
		border-top: 2px solid #b4b4b4;
	    width: 55%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	.card-img-top {
      height: 200px;
      overflow: hidden;
      object-fit: cover;
	}

	.card-text{
		height: 9rem;
	    white-space: pre-line;
	    overflow: hidden;
	}
	.boton-ancho{
			height: 100%;
		}
  .card-group{
    margin: auto;
  }

	@media (max-width: 992px) {
		.boton-ancho{
			height: 100%;
			width: 100%;
		}
  	}
  	

	
</style>