<template>
    <b-row class="cookie" :class="containerPosition" v-if="isOpen">
        <b-col cols="8" >
            <slot name="message">
                {{ message }}
            </slot>
        </b-col>
        <b-col cols="4" class="text-right">
            
                <b-button variant="success" size="sm" @click="aceptar">
                    {{ buttonTextAceptar }}
                </b-button>
                <router-link :to="{name: 'cookies'}" title="Leer política de cookies">
                    <b-button variant="info" size="sm">
                        {{ buttonTextCancelar }}
                    </b-button>
                </router-link>
            
        </b-col>
    </b-row>
</template>

<script>
    export default{
        name:'CookieMessage',
        props:{
            buttonTextAceptar:{
                type: String,
                default: 'Aceptar'
            },
            buttonTextCancelar:{
                type: String,
                default: 'Saber más'
            },
            message:{
                type: String,
                default: 'Utilizamos cookies propias y de terceros \
                para mejorar la experiencia del usuario a través de \
                su navegación. Si continúas navegando aceptas su uso.'
            },
            position:{
                type: String,
                default: 'bottom'
            },
        },
        data:() => ({
            isOpen: false
        }),
        computed:{
            containerPosition(){
                return `cookie--${this.position}`;
            }
        },
        created(){
            if(!this.getGDPR() == true){
                this.isOpen = true;
            }
        },
        methods:{
            getGDPR(){
                return localStorage.getItem('GPDR:accepted', true);
            },
            aceptar(){
                this.isOpen = false;
                localStorage.setItem('GPDR:accepted', true);
            },
            cancelar(){
                this.isOpen = false;
                localStorage.setItem('GPDR:accepted', false);
            },
        },
    }
</script>
<style scoped>
    .cookie{
        position: fixed;
        padding: 10px;
        background: #000;
    }

    .cookie--top{
        top: 0;
        left: 0;
        right: 0;
    }
    .cookie--bottom{
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>