<template>
	<b-container fluid class="padding">
		<figure>
			<div class="fixed-wrap">
				<div id="fixed" :style="{ 'background-image': 'url(' + imgFondo + ')' }">
				</div>
			</div>
		</figure>
	</b-container>
</template>

<script>

export default{
	props:['image'],
	data: ()=>({
		
	}),
	mounted(){
        
    },
	watch:{
            
    },
    computed:{
        imgFondo(){
        	return this.image;
        }
    },
    methods:{
       
    }
}

	
</script>

<style scoped>
	[class*="col-"] {
	      padding: 1rem;
	  }
	figure {
		min-height: 400px;
	    position: relative;
	    width: 100%;
	    max-height: 50%;
	    margin: 0!important;
	  }
	  .fixed-wrap {
		    clip: rect(0, auto, auto, 0);
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	  }
	  #fixed {
	    position: fixed;
	    display: block;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    background-position: center center;
	    -webkit-transform: translateZ(0);
	            transform: translateZ(0);
	    will-change: transform;
	  }
	@media screen and (max-width: 700px) {
    	#fixed{
    		height: 50%;
    	}
    	.fixed-wrap {
		  height: 50%;
	  	}
	}
	  
</style>