<template>
	<footer>
		<b-container fluid class="padding">
			<b-row class="text-center">
				<b-col sm="12" md="6">
					<div class="Atom">
					  <div class="Atom-nucleus"><b-img :src="item.logo" height="40"/></div>
					  <div class="Atom-orbit Atom-orbit--left Atom-orbit--visible"></div>
					  <div class="Atom-orbit Atom-orbit--right Atom-orbit--visible"></div>
					  <div class="Atom-orbit Atom-orbit--top Atom-orbit--visible"></div>
					  <div class="Atom-orbit Atom-orbit--left Atom-orbit--foreground">
					    <div class="Atom-electron"></div>
					  </div>
					  <div class="Atom-orbit Atom-orbit--right Atom-orbit--foreground">
					    <div class="Atom-electron"></div>
					  </div>
					  <div class="Atom-orbit Atom-orbit--top Atom-orbit--foreground">
					    <div class="Atom-electron"></div>
					  </div>
					</div>
					
					<p>{{ item.nombre }}</p>
					<hr class="light">
					<p v-if="item.telefono">Teléfono: {{ item.telefono }} </p>
					<p v-if="item.movil">Móvil: <span class="click" v-b-modal.telf>{{ item.movil }}</span> </p>
					<p>Correo-e: <a :href="`mailto:${item.email}`">{{ item.email }} </a></p>
					<p>Dirección: {{ item.direccion }} </p>
					<p> {{ item.poblacion }} ({{ item.provincia }}) </p>
					<p>
					<router-link :to="{name: 'nosotros'}" title="El club" class="us">
						El club
					</router-link>
					
					</p>
				</b-col>
				<b-col sm="12" md="6">
					<h5> Nuestros Horarios </h5>
					<hr class="light">
					<template v-for="(hora, key) in horario">
						<p :key="key"> {{ hora}} </p>
					</template>
					<hr class="light">
					<b-img src="../image/club/1/cc/camara_comercio.png" fluid alt="Logo camara de comercio" title="Cámara de comercio"/>
					<p class="camara text-justify mx-auto">
						Practicapadel ha sido beneficiaria del Fondo Europeo de Desarrollo Regional cuyo objetivo es mejorar el uso y la calidad de las tecnologías de la información y de las comunicaciones y el acceso a las mismas y gracias al Programa TIC Camaras, se ha  desarrollado una nueva Web que permita a la empresa Practicapadel  y usuarios disponer de una herramienta mas actual para poder gestionar todos los requisitos que nos demandan a diario nuestros clientes,  con el objetivo de aumentar la comunicación, mayor fluidez,   nuevos productos e imagen de la Web y de la empresa etc.  Con el fin de aumentar una mejora en la competitividad y productividad de la empresa.  la fecha de acción del proyecto 22-10-2018 . Para ello ha contado con el apoyo del Programa "TIC Camaras " de la Cámara de Comercio de  Valencia.
					</p>
					
				</b-col>
			</b-row>
			<b-row>
				<b-col class="light text-center">
					<hr class="light-100">
					<span class="float-left">
						Todos los derechos reservados 
						<router-link :to="{name: 'politica'}" title="Leer política de privacidad" class="legal">
							Política de privacidad
						</router-link>
					</span>
					<h5 class="float-right">&copy; UnPadel</h5>
				</b-col>
			</b-row>
			
		</b-container>
  <cookie-message></cookie-message>
	</footer>
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import cookieMessage from './cookieMessage.vue';
export default{
	props:['datos'],
	components: {
    'icon': Icon,
    cookieMessage,
	},
	data: ()=>({
		horario: [],
	}),
	mounted(){
		this.horario = this.datos.club[0].horario.split('|');
	},
	watch:{
            
    },
    computed:{
        item(){
        	return this.datos.club[0];
        },
        

    },
    methods:{
        
    }
}
</script>
<style scoped>

.Atom {
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 0px;
}

.Atom-nucleus,
.Atom-nucleus:before {
  position: absolute;
}

.Atom-nucleus {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -18px;
  border-radius: 50%;
  top: 75px;
  left: 75px;
}

.Atom-nucleus:before {
  display: block;
  content: '';
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  opacity: 0.15;
}

.Atom-orbit {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid 4px transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.Atom-orbit--visible {
  border-radius: 50%;
  border-color: white;
}

.Atom-electron {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.Atom-electron:before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 75px;
}
.Atom-electron:after {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 75px;
  border-color: rgba(255, 255, 255, 0.4);
}

.Atom-orbit--top.Atom-orbit--visible {
  -webkit-transform: rotateZ(0deg) rotateY(73deg);
          transform: rotateZ(0deg) rotateY(73deg);
}

.Atom-orbit--top.Atom-orbit--foreground {
  -webkit-transform: translateZ(100px) rotateZ(0deg) rotateY(73deg);
          transform: translateZ(100px) rotateZ(0deg) rotateY(73deg);
}

@-webkit-keyframes rotate-top {
  0% {
    -webkit-transform: rotate(0deg) translate(-75px) rotate(0deg);
            transform: rotate(0deg) translate(-75px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-75px) rotate(-360deg);
            transform: rotate(360deg) translate(-75px) rotate(-360deg);
  }
}

@keyframes rotate-top {
  0% {
    -webkit-transform: rotate(0deg) translate(-75px) rotate(0deg);
            transform: rotate(0deg) translate(-75px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-75px) rotate(-360deg);
            transform: rotate(360deg) translate(-75px) rotate(-360deg);
  }
}
.Atom-orbit--top .Atom-electron {
  -webkit-animation: rotate-top infinite linear;
          animation: rotate-top infinite linear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.Atom-orbit--top .Atom-electron:before, .Atom-orbit--top .Atom-electron:after {
  -webkit-transform: rotateY(-73deg) rotateZ(0deg);
          transform: rotateY(-73deg) rotateZ(0deg);
}
.Atom-orbit--top .Atom-electron:before {
  /*background: linear-gradient(-180deg, #fad161 0%, #f99337 100%);*/
  background-image: url("/img/paddel.ico");
  opacity: 0.3;
}
.Atom-orbit--top .Atom-electron:after {
	background-image: url("/img/paddel.ico");
  /*background: linear-gradient(-180deg, #fad161 0%, #f99337 100%);*/
}

.Atom-orbit--left.Atom-orbit--visible {
  -webkit-transform: rotateZ(-60deg) rotateY(73deg);
          transform: rotateZ(-60deg) rotateY(73deg);
}

.Atom-orbit--left.Atom-orbit--foreground {
  -webkit-transform: translateZ(100px) rotateZ(-60deg) rotateY(73deg);
          transform: translateZ(100px) rotateZ(-60deg) rotateY(73deg);
}

@-webkit-keyframes rotate-left {
  0% {
    -webkit-transform: rotate(60deg) translate(-75px) rotate(-60deg);
            transform: rotate(60deg) translate(-75px) rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(420deg) translate(-75px) rotate(-420deg);
            transform: rotate(420deg) translate(-75px) rotate(-420deg);
  }
}

@keyframes rotate-left {
  0% {
    -webkit-transform: rotate(60deg) translate(-75px) rotate(-60deg);
            transform: rotate(60deg) translate(-75px) rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(420deg) translate(-75px) rotate(-420deg);
            transform: rotate(420deg) translate(-75px) rotate(-420deg);
  }
}
.Atom-orbit--left .Atom-electron {
  -webkit-animation: rotate-left infinite linear;
          animation: rotate-left infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.Atom-orbit--left .Atom-electron:before, .Atom-orbit--left .Atom-electron:after {
  -webkit-transform: rotateY(-73deg) rotateZ(60deg);
          transform: rotateY(-73deg) rotateZ(60deg);
}
.Atom-orbit--left .Atom-electron:before {
  /*background: linear-gradient(-180deg, #51ecc2 0%, #12ccdb 100%);*/
  background-image: url("/img/paddel.ico");
  opacity: 0.3;
}
.Atom-orbit--left .Atom-electron:after {
  /*background: linear-gradient(-180deg, #51ecc2 0%, #12ccdb 100%);*/
  background-image: url("/img/paddel.ico");
}

.Atom-orbit--right.Atom-orbit--visible {
  -webkit-transform: rotateZ(60deg) rotateY(73deg);
          transform: rotateZ(60deg) rotateY(73deg);
}

.Atom-orbit--right.Atom-orbit--foreground {
  -webkit-transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);
          transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);
}

@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(120deg) translate(-75px) rotate(-120deg);
            transform: rotate(120deg) translate(-75px) rotate(-120deg);
  }
  100% {
    -webkit-transform: rotate(480deg) translate(-75px) rotate(-480deg);
            transform: rotate(480deg) translate(-75px) rotate(-480deg);
  }
}

@keyframes rotate-right {
  0% {
    -webkit-transform: rotate(120deg) translate(-75px) rotate(-120deg);
            transform: rotate(120deg) translate(-75px) rotate(-120deg);
  }
  100% {
    -webkit-transform: rotate(480deg) translate(-75px) rotate(-480deg);
            transform: rotate(480deg) translate(-75px) rotate(-480deg);
  }
}
.Atom-orbit--right .Atom-electron {
  -webkit-animation: rotate-right infinite linear;
          animation: rotate-right infinite linear;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}
.Atom-orbit--right .Atom-electron:before, .Atom-orbit--right .Atom-electron:after {
  -webkit-transform: rotateY(-73deg) rotateZ(-60deg);
          transform: rotateY(-73deg) rotateZ(-60deg);
}
.Atom-orbit--right .Atom-electron:before {
	background-image: url("/img/paddel.ico");
  /*background: linear-gradient(-180deg, #0adef3 0%, #45beff 100%);*/
  opacity: 0.3;
}
.Atom-orbit--right .Atom-electron:after {
 /* background: linear-gradient(-180deg, #0adef3 0%, #45beff 100%);*/
 background-image: url("/img/paddel.ico");
}
	footer{
		color: #d5d5d5;
		padding-top: 2rem;
		position: relative;
    	z-index: 999;
	}
	hr.light{
		border-top: 1px solid #d5d5d5;
		width: 75%;
		margin-top: .8rem;
		margin-bottom: 1rem;
	}
	footer a{
		color: #fff;
	}
	hr.light-100 {
		border-top: 1px solid #d5d5d5;
		width: 100%;
		margin-top: .8rem;
		margin-bottom: 1rem;
	}
	[class*="col-"] {
    	padding: 1rem;
	}
	a{
		text-decoration: none;
	}
	.padding{
		padding-bottom: 2rem;
	}
	.legal{
		color: #fff;
	}
	
	.camara{
		width: 75%;
		margin-top: 0.25rem;
		font-size: 0.8rem;
	}
	.us{
		color:#fff;
	}
	.us:hover{
		font-size: 2rem;
		color: #fc0101;
		text-shadow: -3px 7px 3px #000;
	}
	.legal:hover{
		color: #fc0101;
		text-shadow: -3px 7px 3px #000;
	}
  @media screen and (max-width: 1500px) {
    .camara{
      width: 100%;
    }

  }
  @media screen and (max-width: 600px) {
    .atom{
      display: none;
    }

  }
	
</style>