<template>
	<b-container fluid class="padding carousel-wrapper">
	    <b-carousel style="text-shadow: 1px 1px 2px #333;" :controls="controls" :indicators="indicators" :background="background" :interval="interval" :img-width="imgWidth" :img-height="imgHeight" v-model="slide" @sliding-start="onSlideStart" @sliding-end="onSlideEnd" >
	    	<template v-for="(image, key) in images">
	    		<b-carousel-slide :caption="image.caption" :key="key">
	    			<b-img slot="img" class="d-block img-fluid w-100 h-100" :width="imgWidth" :height="imgHeight"
             			:src="image.imagen" :alt="image.imagen" @click="goTo(image.web)"></b-img>
             		<p style="color:#fff" class="pt-3">
			         {{ image.text != 'null' ? image.text : ''}}
			        </p>
			    </b-carousel-slide>
	    		
	    	</template>
	   </b-carousel>

	   
  </b-container>
</template>
<script>

export default{
	props:['datos'],
	data: ()=>({
		controls:true,
		indicators: true,
		interval: 4000,
        imgWidth:1920,
        imgHeight:400,
        background: "#ababab",
		slide: 0,
      	sliding: null,
      	images: [{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero1, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero2, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "http://www.google.es", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero3, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""},{imagen: "../img/fondo/fondo3.jpg", text: "Nulla vitae elit libero4, a pharetra augue mollis interdum." , caption: "First slide", alt:"", web: "#", title:""}],
	}),
	mounted(){
        this.getSlider();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
    	goTo(donde){
    		const patron = /(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gi;
    		if(patron.test(donde)){
    			window.open(`http://${donde}`, '_blank');
    		}
    		
    	},
    	getSlider(){
    		
			axios.get(`api/slider/${this.datos}`).then( (response) => {
				if(response.data.length){
					this.images = response.data;
				} 
			}, (error) => {
				console.log(error.response.data)
			}).catch((err) => {
	          console.log(err.data);
	        });
		},
        onSlideStart (slide) {
	      this.sliding = true
	    },
	    onSlideEnd (slide) {
	      this.sliding = false
	    }
    }
}

	
</script>

<style scoped>
	.carousel-item {
	  transition: -webkit-transform 0.5s ease;
	  transition: transform 0.5s ease;
	  transition: transform 0.5s ease;
	  -webkit-backface-visibility: visible;
	  backface-visibility: visible;
	}

	.carousel-item {
	  max-height: 450px;
	  transition: -webkit-transform 0.5s ease !important;
	  transition: transform 0.5s ease !important;
	  transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
	  -webkit-backface-visibility: visible !important;
	  backface-visibility: visible !important; 
	}
	.carousel-inner img{
		max-height: 400px !important;
	}
	.carousel-caption{
		position: absolute !important;
		top: 50% !important;
		transform: trasnlateY(-50%) !important;
	}
	.carousel-caption h1{
		font-size: 500% !important;
		text-transform: uppercase !important;;
		text-shadow: 1px 1px 10px #000 !important;
	}
	.carousel-caption h3{
		font-size: 200% !important;
		font-weight: 500 !important;
		text-shadow: 1px 1px 10px #000 !important;
		padding-bottom: 0.3rem !important;
	}

  .carousel-wrapper{
    height: fit-content;
  }

	@media screen and (max-width: 1700px) {
    
  	}
  	@media screen and (max-width: 1600px) {
   
  	}
  	@media screen and (max-width: 1500px) {
	
	}

  	@media screen and (max-width: 1375px) {
    
    }
  	@media screen and (max-width: 1220px) {
    
  	}

   	@media screen and (max-width: 1150px) {
	   
  	}
  	@media screen and (max-width: 995px) {
      .carousel.slide{
        display: none;
      }
	  }

  	@media screen and (max-width: 875px) {
    
   	}
  	@media screen and (max-width: 700px) {
    
    }
  	@media screen and (max-width: 610px) {
    	.carousel-inner img{
		height: 50% !important;
		}
		.carousel-caption h3{
			font-size: 100% !important;
		}
		.display-3, .display-4{
			font-size: 2rem;
		}
    }
    
  	@media screen and (max-width: 535px) {
       
    }
</style>