<template>
	<b-container fluid>
		
		<b-jumbotron :header="item.titulo" class="text-center">
			<template slot="lead" >
			  <span v-html="item.contenido"></span>
			</template>
			<b-row>
			  <b-col sm="12" md="9" lg="9" xl="10" class="text-right" v-if="item.footer">
			  	<p v-html="item.footer"></p>
			  </b-col>
			  <b-col sm="12" md="3" lg="3" xl="2" class="text-left" v-if="item.nombre">
			  	<b-btn variant="outline-secondary" :href="`http://${item.web}`" target="_blank"> {{ item.nombre }}</b-btn>
			  </b-col>
			</b-row>
		</b-jumbotron>
		
	</b-container>
</template>

<script>

export default{
	props:['datos'],
	data: ()=>({
		item: {footer: "For more information visit website", contenido: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat", titulo: "Jumbotron", nombre: "Más Info", web: "http://www.google.es"}
	}),
	beforeCreate(){
		 
	},
	mounted(){
        this.getJumbotron();
    },
	watch:{
            
    },
    computed:{

    },
    methods:{
       getJumbotron(){
			axios.get(`api/jumbotron/${this.datos}`).then( (response) => {
				if(response.data.length){
					this.item = response.data[0];
				} 
			}, (error) => {
				console.log(error.response)
			}).catch((err) => {
	          console.log(err);
	        });
		},
    }
}

	
</script>

<style scoped>
	[class*="col-"] {
      padding: 1rem;
  	}

</style>