<template>
	<b-modal v-model="modalShow" hide-footer hide-header size="lg" centered> 
		<!--b-btn class="close mr-2" @click="modalShow = false" aria-label="Close">
			<span aria-hidden="true" style="color:red">&times;</span>
		</b-btn-->
		<div class="modal-dialog modal-lg modal-dialog-centered mx-auto" role="document">
			<b-btn class="close float-right" @click="modalShow = false" aria-label="Close">
				<span aria-hidden="true" style="color:red">&times;</span>
			</b-btn>
			<b-img :src="imagen" alt="" fluid rounded class="mx-auto"/>
		</div>
	</b-modal>
</template>
<script>
import Icon from 'vue-awesome/components/Icon';
import EventBus from '../../helpers/event-bus.js';

export default{
	props:['imagen'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		modalShow: true,
	}),
	
	mounted(){
	    EventBus.$on('openModalImagen', (modal) => (//dejo un canal de comunicacion abierto con el padre
	      this.modalShow = true

	      ),
	    );
  	},
  
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       
    }
}
</script>
<style>
	.modal-content{
		background-color: transparent;
		border: none;
	}
</style>