<template>
	<div id="cabecera">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top padding header">

			<b-container fluid>

				<router-link tag="a" :to="{name:'layout'}" class="nav-link nombre_club">
					<img :src="item.logo" class="logo"><span>{{item.nombre}}</span>
				</router-link>
					
				<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<div class="menu toggle-button"><span></span></div>
					<!--span class="navbar-toggler-icon"></span-->
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item" @click="toggleMenu">
							<router-link tag="a" class="nav-link" :to="{name: 'layout'}" title="Home">
								Inicio
							</router-link>
						</li>
						<li class="nav-item" @click="toggleMenu">
							<router-link tag="a" class="nav-link" :to="{name: 'partidas'}" title="Partidas">
								Partidas
							</router-link>
						</li>
						<b-nav-item-dropdown text="Competiciones" v-if="datos.ligas.length || datos.torneos.length" right>
							<b-dropdown-item class="nav-link" @click="toggleMenu" v-if="datos.ligas.length" :to="{name: 'ligas'}">
								Ligas
							 </b-dropdown-item>
							
							<b-dropdown-item class="nav-link" @click="toggleMenu" v-if="datos.torneos.length" :to="{name: 'torneos'}">
								Torneos
							</b-dropdown-item>
						</b-nav-item-dropdown>
						
						<li class="nav-item" v-if="datos.clases.length || datos.competiciones.length" @click="toggleMenu">
							<router-link tag="a" class="nav-link" :to="{name: 'clases'}" title="Clases"> 
								Clases
							</router-link>
						</li>
						<li class="nav-item" v-if="galeria" @click="toggleMenu">
							<router-link tag="a" class="nav-link" :to="{name: 'galerias'}" title="Galería">
								Galería
							</router-link>
						</li>
						<li class="nav-item" v-if="item.noticias" @click="toggleMenu">
							<router-link tag="a" class="nav-link" :to="{name: 'noticias'}" title="Noticias">
								Noticias
							</router-link>
						</li>

						<template v-if="!currentUser"> 
							<li class="nav-item" title="Login" @click="toggleMenu">
								<a @click="abrirLogin" class="nav-link click" style="color:#fff">Login</a>
							</li>
						</template>
						<template v-else>
							<b-nav-item-dropdown :text="currentUser.nick" class="nick" right>

							        <b-dropdown-item class="nav-link" @click="toggleMenu" :to="{name: 'perfil', params: {nick:currentUser.nick}}" title="Perfil">
							        	
											Perfil
									</b-dropdown-item>
							        <b-dropdown-item class="nav-link" @click="toggleMenu" :to="{name: 'misPartidas'}" title="Mis partidas">
							        	Mis partidas
									</b-dropdown-item>
							        
								<div class="d-flex flex-row justify-content-around pt-2 nav-link">
									<b-button variant="danger" @click="logout">Cerrar sesión</b-button>
								</div>
							</b-nav-item-dropdown>
					    </template>
					</ul>

				</div>
			</b-container>
			
			<component :is="modal" :datos="item"></component>
			
		</nav>
		<!--- Image Slider -->	
		<imageslider-component :datos="item.id"></imageslider-component>
	</div>

</template>

<script>
	import userLogin from '../DashBoardUser/auth/loginForm.vue';
	import EventBus from '../../helpers/event-bus.js';
	import imageSlider from "./imageSlider.vue";

export default{
	props:['datos'],
	components: {
	    'login-modal' : userLogin,
	    'imageslider-component': imageSlider,
	},
	data: ()=>({
		logo: "../img/logo/unpadel.png",
		modal: null,
		nGaleria: 0,
	}),
	mounted(){
		this.getGaleria();
		if(this.datos.clases.length || this.datos.competiciones.length){
			this.$store.commit("verPaginaClases", true);
		}else if(!this.datos.clases.length && !this.datos.competiciones.length){
			this.$store.commit("verPaginaClases", false);
		}
		if(this.datos.ligas.length){
			this.$store.commit("verPaginaLigas", true);
		}else if(!this.datos.ligas.length){
			this.$store.commit("verPaginaLigas", false);
		};

		if(this.datos.torneos.length){
			this.$store.commit("verPaginaTorneos", true);
		}else if(!this.datos.torneos.length){
			this.$store.commit("verPaginaTorneos", false);
		};

		if(this.datos.club[0].noticias){
			this.$store.commit("verPaginaNoticias", true);
		}else if(!this.datos.club[0].noticias){
			this.$store.commit("verPaginaNoticias", false);
		};
		
	},
	watch:{
       
    },
    computed:{
        item(){
        	return this.datos.club[0];
        },
        currentUser(){
        	return this.$store.getters.currentUser;
        },
        galeria(){
        	return this.nGaleria > 0 ? true : false;
        }
    },
    methods:{
    	toggleMenu(){
			$('.navbar-collapse').collapse('hide');
		},
        abrirLogin(){
        	this.modal = userLogin;
        	EventBus.$emit('openModal','open');
        },
        getGaleria(){
        	
        	axios.get(`api/galeria/${this.item.id}`).then(response =>{
	        	this.nGaleria = response.data.length;
	      	}, error => {
	        	console.log(error.data);
	      	})

	      	
        },
        
        logout(){
        	axios.post('auth/logout').then(response => {
        		var URLactual = window.location.hash;
        		response.data.status == 'success' ? (((URLactual.indexOf('perfil') != -1 || URLactual.indexOf('MisPartidas') != -1)? this.$router.push('/') : ''),this.$store.commit('logout'), toastr.success(response.data.msg), $('.navbar-collapse').collapse('hide')): toastr.warning(response.data.msg);
                  if (response.status === 302 || 401) {

                  	
                  }
                  else {
                    // throw error and go to catch block
                  }
                }).catch(error => {
                	var URLactual = window.location.hash;
                	if(URLactual.indexOf('perfil') != -1 || URLactual.indexOf('MisPartidas') != -1){
						this.$router.push('/');
					}
                	
                	$('.navbar-collapse').collapse('hide');
                	this.$store.commit('logout')
					console.log(error.data)
              });
			
        }
       
        	
       
    }
}

	
</script>
<style scoped>
	.logo{
		width: 70px;
		height: 70px;
	}
	.navbar{ 
		padding: .8rem;
	}
	.navbar-nav li{
		padding-right: 20px;
	}
	.nav-link{
		font-size: 1.1rem;
	}
	.dropdown-item.active, .dropdown-item:active {
	    color: #fff;
	    background-color: #fc0101;
	}
	.dropdown-item:hover, .dropdown-item:focus {
		background-color: #fc0101;
		color: #000;
	}
	[class*="col-"] {
    	padding: 1rem;
	}
	.padding{
		padding-bottom: 2rem;
	}
	.nombre_club>span {
	  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	  text-transform: uppercase;
	  font-size: 1.8rem;
	  color: #fff;
	  text-shadow: 0 4px 9px #8d8d8d, -1px 1px 1px #ffffff;
	  margin-left: 2rem;
	  text-align: center;
	  vertical-align: middle;
	  white-space: nowrap;

	}
	@media (max-width: 1100px) {
		.nombre_club>span {
			font-size: 1.4rem;
		}
	}
	@media (max-width: 1080px) {
		.logo{
			width: 60px;
			height: 60px;
		}
	}
	@media (max-width: 1010px) {
		
		.nav-link{
			font-size: 1.4rem;
		}
	}
	@media (max-width: 750px) {
		.nombre_club>span {
			display: inline-flex;
			font-size: 1.3rem;
			
		}
		.logo{
			width: 50px;
			height: 50px;
		}
	}
	@media (max-width: 380px) {
		.nombre_club>span {
			display: inline-flex;
			font-size: 1.1rem;
			padding-left: 3px;
    		margin-left: 0px;
		}
		.nav-link{
			padding: 0 !important;
		}
	}
.navbar-dark .navbar-toggler {
    color: #fff !important;
    border-color: #fff !important;
}

.menu {
	height: 20px;
}

.menu span {
	margin: 0 auto;
	position: relative;
	top: 8px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 25px;
	height: 3px;
	background-color: #fff;
	display: block;
}
.menu span:before {
	margin-top: -8px;
}
.menu span:after {
	margin-top: 8px;
}
</style>