<template>
	<b-container class="wrapper mb-5">
		<div class="us pt-5 pb-1">
			
			<h1 class="text-center">El club</h1>
			<div v-html="nos" class="msj"></div>
			<p class="divider"></p>
		
			<h2>Nuestras instalaciones</h2>
				<ul>
					<li v-for="(item, key) in instalaciones" :key="key">
						<p>{{ item.nombre }}</p>
					</li>	
				</ul>
				
			<h2 class="mb-3">Contacta con nosotros</h2>
			<p class="divider">Si lo deseas puedes contactar con nosotros rellenando el siguiente formulario. Te responderemos a la mayor brevedad posible.</p>
			
			<b-row>
				<b-col cols="8" offset="2" class="mb-5 formulario">
					<b-row>
						<b-col sm="12" md="6">
							<b-form-group label="Teléfono" :invalid-feedback="invalidFeedbackTelf" :valid-feedback="validFeedbackTelf" :state="stateTelf">
    							<b-form-input type="number" :state="stateTelf" v-model.trim="telf"></b-form-input>
  							</b-form-group>
  							
						</b-col>
						<b-col sm="12" md="6">
							<b-form-group label="Correo-e" :invalid-feedback="invalidFeedbackCorreo" :valid-feedback="validFeedbackCorreo" :state="stateCorreo">
    							<b-form-input type="email" :state="stateCorreo" v-model.trim="email"></b-form-input>
  							</b-form-group>
  							
						</b-col>
					</b-row>
					<b-form-group label="Asunto">
    					<b-form-input type="text" v-model.trim="asunto"></b-form-input>
  				</b-form-group>
					<b-form-group label="Mensaje">
						<b-form-textarea id="textarea1" v-model="text" placeholder="" :rows="3" :max-rows="6"></b-form-textarea>
					</b-form-group>
					<vue-recaptcha ref="recaptcha" @verify="onCaptchaVerified" :sitekey="sitekey" size="invisible"></vue-recaptcha>
					<b-btn variant="primary" class="float-right mt-2" v-if="text" @click="submit">Enviar</b-btn>
				</b-col>
			</b-row>

			<p class="divider"></p>
			
				<h2 class="mb-3 text-center">¿Dónde estamos?</h2>
				<club-map :club="datos"></club-map>
			
		</div>
	</b-container>
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';
import clubMap from '../extras/ClubMap.vue';
import VueRecaptcha from 'vue-recaptcha';
import funciones from '../../helpers/funciones';

const patron = /(.+)@(.+){2,}\.(.+){2,}/;

export default{
	props:['datos'],
	components: {
		'icon': Icon,
		clubMap,
		VueRecaptcha,
	},
	mixins: [funciones],
	data: ()=>({
		text: null,
		telf: '',
		email: '',
		asunto: '',
		msj: true,
	}),
	watch:{
		telf(oldValue, newValue){
			if(oldValue != newValue && this.msj == false){
				this.msj = true;
			}
		},
		email(oldValue, newValue){
			if(oldValue != newValue && this.msj == false){
				this.msj = true;
			}
		},
	},
	computed:{
		nos(){
			return this.datos.club[0].nosotros;
		},
		instalaciones(){
			return this.datos.instalaciones;
		},
		stateTelf () {
			if(this.msj == false){
				return false;
			}
			return !this.telf.length ? null : this.telf.length == 9? true : false;
	    },
	    invalidFeedbackTelf () {
	    	if(this.msj == false){
				return "Rellena al menos uno de estos campos";
			}

	      if (this.telf.length == 9) {
	        return 'asd'
	      }
	      if(this.telf.length > 0 && this.telf != '') {
	        return 'El télefono tiene que tener 9 dígitos';
	      }
	      if (this.telf.length < 9 && this.telf != ''){
	        return 'El télefono tiene que tener 9 dígitos';
	      }
	    },
	    validFeedbackTelf () {
	      return this.stateTelf === true ? '' : '';
	    },
	    stateCorreo () {
	    	if(this.msj == false){
				return false;
			}
        	return !this.email.length ? null : patron.test(this.email.toLowerCase());
	    },
	    invalidFeedbackCorreo () {
	    	if(this.msj == false){
				return "Rellena al menos uno de estos campos";
			}
	    	if(patron.test(this.email.toLowerCase()) == false) {
	      		return 'Formato de correo-e erroneo';
	      	}
	    },
	    validFeedbackCorreo () {
	      return this.stateCorreo === true ? '' : '';
	    }
	},
	mounted(){
		document.body.scrollTop = 0;
	},
	methods:{
		submit(){
			this.$refs.recaptcha.execute();
		},
		onCaptchaVerified(token) {
			this.$refs.recaptcha.reset();
			if(this.stateTelf === null && this.stateCorreo === null){
				this.msj = false;
			}else if((this.stateCorreo === true || this.stateCorreo === null ) && (this.stateTelf === true || this.stateTelf === null) && (this.text != null || this.text != '') && (this.stateTelf === true || this.stateCorreo === true)){
				this.msj = true;
				let form = {asunto: this.asunto, mensaje: this.text, recaptcha: token, to: this.datos.club[0].email, from: this.email, telf: this.telf};

				axios.post(`api/contacto`, form).then((response) => {
					response.data.status == 'success' ? (toastr.success(response.data.msg), this.$refs.recaptcha.reset(), this.asunto = '', this.text = '', this.email = '', this.telf = ''): toastr.warning(response.data.msg);
				}, (error) => {
					console.log(error.response.data);
					
				}).catch((err) => {
					console.log(err.response.data);
	                
        });
			}

			
		}
	}
}
</script>
<style scoped>
	.wrapper {
    	min-height: calc(100vh);
    	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}
	
	.us {
        font-size: 16px!important;
        line-height: 1.1em;
        text-align: justify;
        padding-bottom: 40px;
				padding: 0 4%;
    }
    h1 {
        font-weight: 900;
        font-style: italic;
        color: #3C3C3B;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2, h3 {
        background-color: #f2f2f2;
        text-align: left;
        line-height: 40px;
        margin-top: 25px;
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #b1b0b0;
        font-style: italic;
        color: #fc0101;
        margin-bottom: 20px;
        padding-left: 10px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 15px;
	}
	
	p {
			font-size: 16px!important;
			line-height: 23px;
	}
	
	p.divider {
			background: url('/img/line_breadcrumb.png') no-repeat left bottom;
			padding-bottom: 20px;
			margin-bottom: 20px;
			font-size: 16px;
}
b{
	font-weight: 900;
}
a {
		color: #08c;
		text-decoration: none;
}

li{
	font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.btn-primary{
	background-color: #000;
	border-color: #fc0101;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
color: #fff;
	background-color: #000;
	border-color: #fc0101;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	-moz-appearance:textfield;
}	

@media screen and (max-width: 700px) {
	p, .msj{
		font-size: .9rem !important; 
	}
	h2{
		font-size: 1.1rem;
	}
}

</style>