<template> 
	<nav aria-label="Page navigation" class="nav-bottom d-flex justify-content-center">
	    <template v-if="pagination.last_page == 1">
	    	
	    </template>
	    <template v-else>
	        <ul class="pagination">

	            <template v-if="pagination.current_page > 1"><!-- si la pagina actual no es la primera--> 
	                <li class="page-item" v-if="pagination.current_page > 4">
	                    <a href="#" class="page-link" aria-label="Previous" @click.prevent="cambiarPagina(1)" style="margin-right:10px"><!--pagina anterior-->
	                        <span aria-hidden="true">1&#8230;</span>
	                    </a>
	                </li>
	                <li class="page-item">
	                    <a href="#" class="page-link" aria-label="Previous" @click.prevent="cambiarPagina(pagination.current_page - 1)"><!--pagina anterior-->
	                      <span aria-hidden="true">&laquo;</span>
	                    </a>
	                </li>
	            </template>

	            <li v-for="pagina in numPagina" class="page-item" v-bind:class="[ pagina == activo ? 'active' : '']" :key="pagina"><!--recorro el array de paginas y asigno la clase active a la activa-->
	                <a href="#" class="page-link" @click.prevent="cambiarPagina(pagina)"><!-- llamamos a la funcion cambiar de pagina-->
	                    {{ pagina }}
	                </a>
	            </li>
	            <template v-if="pagination.to > 7"><!--si la pagina actual es inferior a la ultima-->
	                <li class="page-item" v-if="pagination.current_page < pagination.to && pagination.current_page < pagination.last_page" >
	                    <a href="#" class="page-link" aria-label="Next" @click.prevent="cambiarPagina(pagination.current_page + 1)"><!--pagina siguiente-->
	                        <span aria-hidden="true" >&raquo;</span>
	                    </a>
	                </li>
	                <li class="page-item" v-if="pagination.current_page < pagination.to-3 && pagination.current_page < pagination.last_page-3" >
	                    <a href="#" class="page-link" aria-label="Previous" @click.prevent="cambiarPagina(pagination.last_page)" style="margin-left:10px"><!--pagina anterior-->
	                        <span aria-hidden="true">&#8230;{{ pagination.last_page}}</span>
	                    </a>
	                </li>
	            </template>   
	        </ul>
	    </template>
	</nav>

</template>

<script>


	export default{
		props:['pagination'],

		data: () => ({
	        offset: 3,//numeros de paginas a mostrar por cada lado
		}),

		computed: {
	       
	        activo: function() {
	          return this.pagination.current_page;
	        },

	        numPagina: function() {
	            const me = this;
	              if (!me.pagination.to) {
	                    return [];
	              }
	              let from = me.pagination.current_page - me.offset;
	              if (from < 1) {
	                from = 1;
	              }
	              let to = from + (me.offset * 2);
	              if (to >= me.pagination.last_page) {
	                to = me.pagination.last_page;
	                  
	              }
	            let paginas = [];
	            while (from <= to) {
	                paginas.push(from);
	                from++;
	            }
	          return paginas;
	        },

	        paginate: function(){
	            const me = this;
	            if(me.pagination.current_page >= me.pagination.total){
	                
	                me.pagination.current_page = Math.max(0, me.pagination.total-1);
	                
	            }
	            var index = (me.pagination.current_page-1) * me.pagination.per_page;
	            
	            if(me.pagination.current_page <= 1){
	                
	                return me.poblaciones.slice(0, me.pagination.per_page);
	                
	            }else{
	               
	                return me.poblaciones.slice(index, index + me.pagination.per_page);
	            }
	        },
	    },
	    methods: {
	        cambiarPagina: function(pagina) {
	        	this.pagination.current_page = pagina;
	            this.$emit('pagina', pagina);
	            
	        },
	    }
	}    
</script>

<style scoped>	
	.nav-bottom{
		position: relative;
		bottom: 0px;
	}



</style>