<template>
	<b-container>
		<h2 class="text-center">Patrocinadores</h2>
		<div id="carouselPatrocinadores" class="carousel slide my-5" data-ride="carousel">
			<b-row class="patrocinadores">
				<b-col cols="1">
					<b-button v-if="Ncarruseles >= 2" variant="outline-primary" size="sm" class="carousel-control-prev" href="#carouselPatrocinadores" role="button" data-slide="prev"><span class="primary"><icon name="angle-left" scale="1"></icon></span></b-button>
				</b-col>
				<b-col>
					<div class="carousel-inner">
						<template v-for="i in Ncarruseles">
							<div class="carousel-item" :class="[i == 1 ? 'active': '']">
								<b-row class="d-flex align-items-stretch">
									<b-col v-for="item in carruseles[(i-1)]" :key="item.id" cols="4"><a :href="`http://${item.web}`" target="_blank"><b-img fluid :src="item.imagen" alt="" class="px-auto"/></a>
									</b-col>
								</b-row>
							</div>
						</template>
					</div>
				</b-col>
				<b-col cols="1">
					<b-button v-if="Ncarruseles >= 2" variant="outline-primary" size="sm" class="carousel-control-next" href="#carouselPatrocinadores" role="button" data-slide="next"><span class="primary"><icon name="angle-right" scale="1"></icon></span></b-button>
				</b-col>
			</b-row>
		
		</div>
	</b-container>
</template>

<script>

import Icon from 'vue-awesome/components/Icon';

export default{
	components: {
		'icon': Icon,
	},
	props:['datos'],
	data: ()=>({
		col: 4,
		Ncarruseles: 0,
		carruseles: [],
	}),
	mounted(){
        
    },

	created() {
		this.getPatrocinadores();

	},
	watch:{
            
    },
    computed:{
       
    },
    methods:{
       getPatrocinadores(){
    		axios.get(`api/patrocinadores/${this.datos}`).then( (response) => {
				if(response.data.length){
					this.Ncarruseles = Math.ceil(response.data.length/3);
					this.divideArray(response.data);
				} 
			}, (error) => {
				console.log(error.response.data)
			}).catch((err) => {
	          console.log(err.data);
	        });
		}, 
		divideArray(value){
			let Ncarruseles = Math.ceil(value.length/3);
			let carruseles = [];
			let arrayCarrusel = [];
			let inicio = 0;
			let fin = 3;

			for(let i = 0; i < Ncarruseles; i++){
				arrayCarrusel = [];
				for(let n = 0; n < fin; n++){
					if(value[n] == null){
						break;
					}else{
						arrayCarrusel.push(value[n]);
					}
					
					
				};
				value.splice(0,3);
				carruseles[i] = arrayCarrusel;
			}
			this.carruseles = carruseles;

		}
    }
}

	
</script>

<style scoped>
	[class*="col-"] {
		height: 125px;
    margin: 0 auto;
    text-align: center;
  }

	.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
		color: #fc0101;
		background-color: #000;
    	border-color: #fc0101;
	}
	.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    	-webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-primary{
    	background-color: #000;
    	border-color: #fc0101;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-outline-primary:focus, .btn-outline-primary.focus {
    	-webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}	
	.btn-outline-primary {
	    color: #000;
	    border-color: #fc0101;
	}
	.btn-outline-primary:hover {
		background-color: #000;
    }
	.carousel-control-next{
		right: 80%;
	}
	.carousel-control-prev{
		left: 80%;
	}
		
	.primary{
		color: #000;
	    height: 100%;
	    position: absolute;
	    top: 45%;
	    width: 100%;	
	}
	.primary:hover{
		color: #fc0101;
	}
	
	.carousel-inner{
		height: 200px;
	}
	
	.carousel-inner img {
    	height: 125px !important;
    }

  .carousel-item{
    height: 200px;
  }

	@media screen and (max-width: 700px) {
    	.carousel-inner{
			height: 100px;
		}
		.carousel-inner img {
    		height: 60px !important;
   
		}
		.primary[data-v-520c82ee] {
	       top: 38%;
	    }
	    .patrocinadores, .patrocinadores>div{
			height: 60px;
			margin-bottom: 15%;
		}
		.carousel{
			display: inline;
		}
	}
</style>