<template>
	<b-container fluid class="padding">
		<b-row class="welcome text-center" align-h="center">
			<b-col cols="12" class="text-center">
				<h1 class="display-4"> {{ item.titulo }} </h1>
			</b-col>
			<hr>
			<!--b-col cols="8" style="border-bottom: 1px solid grey"></b-col-->
			<b-col cols="12" class="text-justify">
				<p class="lead"> {{ item.contenido }} </p>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>

export default{
	props:['datos'],
	data: ()=>({
		item: [],
	}),
	mounted(){
        this.getWelcome();
    },
	watch:{
            
    },
    computed:{
        
    },
    methods:{
       getWelcome(){
			axios.get(`api/welcome/${this.datos}`).then((response)=>{
				if(response.data.length){
					this.item = response.data[0];
				}   
          }, (error) => {
            console.error(error.response);
          })
		},
    }
}

	
</script>

<style scoped>
	.welcome{
	    width: 75%;
	    margin: 0 auto;
	    padding-top: 2rem;
	  }
	.welcome hr{
	    border-top: 2px solid #b4b4b4;
	    width: 75%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	[class*="col-"] {
      padding: 1rem;
  	}
	@media (max-width: 768px) {
  		display-4{
  			font-size: 200%;
  		}
  		.welcome{
	    width: 100%;
	    
	  	}
	}
	@media (max-width: 576px) {
  		display-4{
  			font-size: 160%;
  		}
	}
</style>