<template>
	<b-container>
		<div class="text-center wrapper mb-5">
			<h1 class="pt-5">Torneos</h1>
			<b-row>
				<b-col md="8" offset-md="2" sm="10" offset-sm="1">
					
						<table class="table table-sm">
							<thead class="thead-dark">
								<tr>
									<th>Torneo</th>
									<th>Fecha</th>
									<th>Hora</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item, key) in filtro" :key="key">
									<td>{{ item.nombre }}</td>
									<td>{{ item.fecha | formatearFecha }}</td>
									<td>{{ item.fecha | formatearHora }}</td>
									<td>
										<b-button-group v-if="currentUser" class="float-right">
							            	<b-btn variant="default" @click="apuntarse(item)" v-if="!btnBorrar"><icon name="check"></icon></b-btn>
							            	<b-btn variant="danger" @click="borrarse(item.id)" v-if="btnBorrar"><icon name="trash-o"></icon></b-btn>
							            </b-button-group>
						        	</td>
								</tr>
							</tbody>

						</table>
					
				</b-col>
			</b-row>
	    </div>
	</b-container>
</template>
<script>
	import {store} from '../../../store/store';
	import Icon from 'vue-awesome/components/Icon';

	export default{
		props:['datos'],
		components: {
		    'icon': Icon,
		},
		data: ()=>({
			btnBorrar: false,
		}),
		created(){
			window.scrollTo(0, 0);
		},
		mounted(){
			store.state.torneos ? '': this.$router.push({path: '*'});
			
		},
		computed:{
			filtro(){
				
				if(this.datos.torneos.length) {
					this.cargando = false;
			    	return this.datos.torneos;
			    }
			},
			currentUser(){
        		return this.$store.getters.currentUser;
        	},

		},
		methods:{
			getTorneo(){
				axios.get(`api/torneos/${this.datos.club[0].id}`).then((response)=>{
       				if(response.data.msg){ toastr.warning(response.data.msg)} 
		            this.items = response.data
		          }, (error) => {
		            console.error(error.response);
		          })
		      this.cargando = false;
			},
			apuntarse(torneo){
				let form = {user_id: this.currentUser.id, clubs_id: this.currentUser.clubs_id, torneo_id: torneo.id, partida_id: torneo.partida_id}
				axios.post('api/apuntarse', form).then( response => {
					response.data.status == 'warning' ? (toastr.warning(response.data.msg), this.btnBorrar = true) : '';
					response.data.status == 'success' ? (toastr.success(response.data.msg), this.btnBorrar = false) : '';
				}, (error) => {
		            console.error(error.response);
		        })
			},
			borrarse(id){
				
				axios.delete(`api/borrarse/${this.currentUser.id}`).then( response => {
					console.log(response.data)
					response.data.status == 'success' ? (toastr.warning(response.data.msg), this.btnBorrar = false) : '';
				}, (error) => {
		            console.error(error.response);
		        })
			}
		}
	}
</script>

<style scoped>
	.wrapper {
	    min-height: calc(100vh);
	    box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}
	.table th, .table td {
    	vertical-align: middle;
    }

	
</style>