<template> 
	<tr>
		<template v-if="isEdit">
			<td>
				<b-form-input type="text" v-model.trim="edit_.nombre" aria-describedby="nombreFeedback" :state="nameState"  @keydown.enter.native="update" required></b-form-input>
				<b-form-invalid-feedback id="nombreFeedback">
				  {{ errores.nombre }}
				</b-form-invalid-feedback>
			</td>
			<td>
				<uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
			</td>
			<td>
				{{ edit_.activo }}
			</td>
			<td>
				<b-button-group>
					<b-btn variant="success" @click="update"><icon name="check"></icon></b-btn>
					<b-btn variant="danger" @click="cancelar"><icon name="close"></icon></b-btn>
				</b-button-group>
			</td>
		</template> 
		<template v-else>
		  <td v-text="item.nombre"></td>
			<td>
				<b-img :src="item.avatar" class="img-thumbnail click" fluid rounded @click="openModal"/>
				
			</td>
			<td>
				<template v-if="item.activo">
						<button type="button" @click="desactivarItem(item.id)" class="btn btn-success btn-sm">
								{{item.activo ? 'Activo' : 'Inactivo'}}
						</button>
				</template>
				<template v-else>
						<button type="button" @click="activarItem(item.id)" class="btn btn-warning btn-sm">
								{{item.activo ? 'Activo' : 'Inactivo'}}
						</button>
				</template>
			</td>
			<td>
				<b-button-group>
					<b-btn variant="success" :size="size" @click="editBtn"><icon :scale="escalaIcon" name="pencil"></icon></b-btn>
				</b-button-group>
      </td>
		</template>
		<b-modal v-model="modalShow" :title="item.nombre" hide-footer>
		
				<b-img center :src="item.avatar" fluid/>
			
		</b-modal>
	</tr>
	
</template>
<script>
	import Icon from 'vue-awesome/components/Icon';
	import validaciones from '../../../helpers/validaciones';
	import funciones from '../../../helpers/funciones';
	import uploadFile from '../../extras/uploadFile.vue';

	export default{
		components: {
		   uploadFile,
		  'icon': Icon,
		},
		props: ['item'],
		mixins: [validaciones,funciones],
  		origen:'editar',
		data: ()=>({
			edit_: null,
			isEdit: false,
			errores:  [],
			erroresServidor: [],
			newFile: null,
			modalShow: false,
			size: '',
			mob: false,
		}),
		created(){
			
		},
		mounted(){
			this.edit_ = _.clone(this.item);

		},
		computed: {
			nameState () {
        		return this.validarNombre();
		    },
		    escalaIcon(){
		      if(!this.detectmob()){
		      	this.mob = false;
		      	this.size = '';
		        return 1;
		      }else{
		      	this.mob = true;
		      	this.size = 'sm';
		        return 0.7;
		      }
		    },
		},
		methods:{
			openModal(){
				this.modalShow = true;
			},

			closeModal(){
				this.modalShow = false;
			},
			nuevaImg(imagen){
				this.edit_.avatar = imagen.img == "" ? "": imagen.img;
				this.newFile = imagen.file == "" ? "" : imagen.file;
			},
			validar(){
		        if(this.validarNombre()){
		          return true;
		        }else{
		          return false;
		        }
		    },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
				this.isEdit = !this.isEdit
			},
			update(){
				if(this.validar()){
					this.$emit('update', {'item': this.edit_, 'imagen': this.newFile});
					this.isEdit = false;
				}
			},
			desactivarItem(id){
				this.$emit('desactivar', id);
			},
			activarItem(id){
				this.$emit('activar', id);
			},
		}
	}
</script>

<style scoped>
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number]{
		-moz-appearance:textfield;
	}

	.img-thumbnail{
			height: 80px;
	}

	@media only screen and (max-width: 500px) {
	    .collapse{
	      display: none;
	    }
	    td{
	    	font-size: 0.7rem;
	    }
	  }

</style>