<template>
  <div>
    <div class="text-center"><h2>Entrenadores</h2></div> 
    <div class="table-responsive-sm">
      <table class="table table-hover table-sm entrenador">
        <thead>
          <tr>
            <td colspan="4">
              <b-row>
                <b-col sm="11" lg="6">
                  <buscador-component @search="search($event)" @cancelar="resetSearch"></buscador-component>
                </b-col> 
                <b-col sm="1" lg="6">
                  <b-button variant="warning" class="float-right" @click="toggleAllEntrenadores()">
                    <icon name="user-secret"></icon>
                  </b-button>
                  <b-button variant="primary" class="float-right" @click="openModal()">
                    <icon name="user-plus"></icon>
                  </b-button>
                  
                  
                </b-col>
              </b-row>
           </td>    
          </tr>
          <tr>
            <th class="click d-none d-sm-block" @click="ordenar()">
              <icon :scale="escalaIcon" :name="icoNombre"></icon>Nombre
            </th>
            <th>
              Avatar
            </th>
            <th width="100">
              Estado
            </th>
            <th width="100">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="4"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="item in filtro" :item="item" :key="item.id" @update="actualizar($event)" @activar="activarItem($event)" @desactivar="desactivarItem($event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    
    <b-modal v-model="modal" hide-footer title="Nuevo entrenador" centered>
      <b-row class="mb-2">
 					<b-col>
 						<div class="mb-2 mx-auto avatar-entrenador">
 							<uploadFile @imagen="nuevaImg($event)" :ver="true" :botones="false"></uploadFile>
            </div>
 					</b-col>
 			</b-row>		
 			<b-row>				
        <b-col>
          <b-form-group label="Nombre:">
            <b-form-input type="text" v-model.trim="item.nombre" aria-describedby="nombreFeedback" required></b-form-input>
            <b-form-invalid-feedback id="nombreFeedback">
              
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
 			</b-row>

      <div class="float-right">
        <b-btn class="mt-3" variant="outline-danger" @click="nuevo">Guardar</b-btn>
        <b-btn class="mt-3" variant="outline-primary" @click="cerrarModal">Cancelar</b-btn>
      </div>
    </b-modal>
  </div>
</div>
</template>

<script>



import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import validaciones from '../../../helpers/validaciones';
import crud from './EditEntrenadorClub.vue';
import uploadFile from '../../extras/uploadFile.vue';

export default {
  props:['club'],
  components: {
    'icon': Icon,
    'buscador-component':Buscador,
    'crud-component': crud,
    uploadFile,
    Paginate
  },
  mixins: [validaciones,funciones],
  origen:'crear',
  data: ()=>({
    pageUrl: 'ntrdor',
    item: {'nombre': null, 'avatar': null},
    items: [],
    pagination: [], 
    cargando: true,
    //formulario
    modal: false,
    newFile: null,
    //busqueda
    busqueda: '',
    orden: 'ASC',
    mob: false,
    activos: true
    
      
  }),
  created() {
    this.getItems();
    
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },
    nameState () {
      return this.validarNombre();
		},
    icoNombre(){
      return this.orden == 'ASC' ? 'sort-down': 'sort-up';
    },

    escalaIcon(){
      if(!this.detectmob()){
        this.mob = false;
        return 1;
      }else{
        this.mob = true;
        return 0.7;
      }
    }
    
  },
  methods:{
    toggleAllEntrenadores(){
      this.activos = !this.activos;
      this.getItems();
    },
    ordenar(){
      this.orden == 'ASC' ? this.orden = 'DESC': this.orden = 'ASC';
      this.getItems();
    },
    nuevaImg(imagen){
        this.item.avatar = imagen.img == "" ? "": imagen.img;
        this.newFile = imagen.file == "" ? "" : imagen.file;
    },
    search(busqueda){
      
      this.busqueda = busqueda;
      this.getItems();
    },

    resetSearch(){
      this.ActBusPer = false;
      this.getItems();
    },
    
    cerrarModal(){
      this.modal = false;
    },
    openModal(){
      this.modal= true;
      this.item = [];
    },
    getItems(page){
     axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&orden=${this.orden}&activos=${this.activos}`).then((response)=>{
        if(response.data.msg){ toastr.warning(response.data.msg)} 
            this.items = response.data.items.data;
            this.pagination = response.data.pagination;
          }, (error) => {
            console.error(error.response);
          })
      this.cargando = false;
    },
    nuevo(){
      let form = this.toFormData(this.item, this.newFile);
      
      axios.post(`${this.pageUrl}`, form).then((response) => {
        response.data.status == 'success' ? (toastr.success(response.data.msg),this.getItems(),
        this.errores = {nombre: ''},this.cerrarModal()): toastr.warning(response.data.msg);
					
				}, (error) => {
					console.error(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = {nombre: ''};

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});

      
    },
    actualizar(datos){
      let form = this.toFormData(datos.item, datos.imagen);
      
      axios.post(`${this.pageUrl}/update/${datos.item.id}`, form).then((response) => {
        	this.errores = {nombre: ''};
					response.data.status == 'success' ? (toastr.success(response.data.msg), this.getItems()): toastr.warning(response.data.msg);
					
				}, (error) => {
					console.error(error.response);
					let errores = error.response.data.errors;
					this.erroresServidor = [];
					this.errores = {nombre: ''};

					for (let key in errores){
						this.erroresServidor.push(key);
						this.errores[key] = errores[key][0];
						toastr.warning(errores[key][0]);
					}
				});

      
    },
    desactivarItem(id){
      const me = this;
      const swalWithBootstrapButtons = Swal.mixin({
          confirmButtonClass: 'btn btn-success',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false,
      })

      swalWithBootstrapButtons.fire({
          title: 'Esta seguro de desactivar a este entrenador?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          reverseButtons: true
          }).then((result) => {
              if (result.value) {
                  axios.put(`ntrdor/desactivar`, {'id': id}).then(response =>{
                      me.getItems(me.paginaActiva);

                      swalWithBootstrapButtons.fire(
                          'Desactivado',
                          'El registro ha sido desactivado con éxito.',
                          'success'
                      )

                  }, (error) => {
                      console.error(error.response);
                  }).catch( err => {
                      console.error(err);
                  })
                  
              } else if (
                  // Read more about handling dismissals
                  result.dismiss === Swal.DismissReason.cancel
              ) {
                  /*swalWithBootstrapButtons.fire(
                      'Cancelled',
                      'Your imaginary file is safe :)',
                      'error'
                  )*/
              }
      })
    },
    activarItem(id){
        const me = this;
        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons.fire({
            title: 'Esta seguro de activar a este entrenador?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    axios.put(`ntrdor/activar`, {'id': id}).then(response =>{
                        me.getItems(me.paginaActiva);

                        swalWithBootstrapButtons.fire(
                            'Activado',
                            'El registro ha sido activado con éxito.',
                            'success'
                        )

                    }, (error) => {
                        console.error(error.response);
                    }).catch( err => {
                        console.error(err);
                    })
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    /*swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )*/
                }
        })
    },
  
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url(/image/puntero.cur), auto;
    
  }
  .imagenContenedor img{
    width: 20px !important;
  }

 
  @media only screen and (max-width: 500px) {
    
    th{
      font-size: 0.7rem;
    }
  }

</style>