	<template>
	<b-container fluid class="padding" v-if="totalNoticias > 0">
		<b-row class="my-0">
			<b-col md="12" lg="4" class="position-fixed" style="z-index:99">
				<b-input-group>
			        <b-input-group-prepend>
			          <b-button variant="primary" @click="actBus = !actBus"><span style="padding: 0.28rem 0.4rem;"><icon name="search"></icon></span></b-button>
			        </b-input-group-prepend>
			        <template v-if="actBus">
				        <b-form-input type="text" v-model.trim="busqueda" placeholder="Buscar..."></b-form-input>

				        <b-input-group-append>
				          <b-button variant="primary" @click.prevent="resetBusqueda">
				            <icon name="refresh"></icon>
				          </b-button>
				        </b-input-group-append>
				     
					</template>
				 </b-input-group>
			</b-col>
		</b-row>	
		<b-row>
    		<b-col cols="12" class="text-center">
				<h1 class="display-4"> Noticias</h1>
			</b-col>
		</b-row>
		<hr>
		
		<b-container fluid class="content-height">
			
      		<b-card-group>
	        <b-row align-h="center">
	        	<template v-if="pagination.current_page > 1"><!-- si la pagina actual no es la primera--> 
	                <b-col sm="1" lg="1" class="text-right align-middle page-item" v-if="pagination.current_page > 4">
	                	<b-button variant="outline-primary" size="sm" class="boton-ancho"><icon name="angle-left" scale="1"></icon></b-button>
					</b-col>
                 	<b-col sm="1" lg="1" class="text-right align-middle page-item">
                 		<b-button variant="outline-primary" size="sm" class="boton-ancho" @click.prevent="cambiarPagina(pagination.current_page - 1)"><icon name="angle-left" scale="1"></icon></b-button>
                    </b-col>
	            </template>

	        		<b-col sm="12" lg="3" class="d-flex align-items-stretch" v-for="item in items" :key="item.id">
	        			<b-card :title="item.titulo" :img-src="item.imagen" :img-alt="item.titulo" :img-title="item.titulo" img-top img-fluid>
				            <span class="card-text" v-html="item.titular"></span>
				            <div slot="footer">
				            	<b-button variant="primary" class="boton-largo" @click="LeerNoticia(item)">Leer</b-button>
				            </div>
			        	</b-card>
	            	</b-col>
	            
	            <template v-if="pagination.total > 3" class="d-xl-none">
		           
	                  <b-col cols="1" class="text-left align-middle page-item" v-if="pagination.current_page < pagination.to && pagination.current_page < pagination.last_page" >
	                     <b-button variant="outline-primary" size="sm" class="boton-ancho" aria-label="Next" @click.prevent="cambiarPagina(pagination.current_page + 1)"><icon name="angle-right" scale="1"></icon></b-button>
	                  </b-col>
	                  <b-col cols="1" class="text-left align-middle page-item" v-if="pagination.current_page < pagination.to-3 && pagination.current_page < pagination.last_page-3" >
	                  	<b-button variant="outline-primary" size="sm" class="boton-ancho" aria-label="Next" @click.prevent="cambiarPagina(pagination.last_page)"><icon name="angle-right" scale="1"></icon></b-button>
	                  </b-col>
	              
		        </template>
	        </b-row>
	    </b-card-group>
	    <nav aria-label="Page navigation" class="nav-bottom d-flex justify-content-center">
	
			<ul class="pagination">
				<template v-if="pagination.current_page > 1">
					<li class="page-item" v-if="pagination.current_page > 4">
		                <a href="#" class="page-link display-none" aria-label="Previous" @click.prevent="cambiarPagina(1)" style="margin-right:10px"><!--pagina anterior-->
		                    <span aria-hidden="true">1&#8230;</span>
		                </a>
		            </li>
	                <li class="page-item display-none">
	                    <a href="#" class="page-link" aria-label="Previous" @click.prevent="cambiarPagina(pagination.current_page - 1)"><!--pagina anterior-->
	                      <span aria-hidden="true">&laquo;</span>
	                    </a>
	                </li>
	            </template>
				<li v-for="(pagina, key) in numPagina" :key="key" class="page-item" v-bind:class="[ pagina == activo ? 'active' : '']"><!--recorro el array de paginas y asigno la clase active a la activa-->
                  	<a href="#" class="page-link" @click.prevent="cambiarPagina(pagina)"><!-- llamamos a la funcion cambiar de pagina-->
                      {{ pagina }}
                  	</a>
              	</li>
              	<template>
			        <li class="page-item display-none" v-if="pagination.current_page < pagination.to && pagination.current_page < pagination.last_page" >
			            <a href="#" class="page-link" aria-label="Next" @click.prevent="cambiarPagina(pagination.current_page + 1)"><!--pagina siguiente-->
			                <span aria-hidden="true" >&raquo;</span>
			            </a>
			        </li>
			        <li class="page-item display-none" v-if="pagination.current_page < pagination.to-3 && pagination.current_page < pagination.last_page-3" >
			            <a href="#" class="page-link" aria-label="Previous" @click.prevent="cambiarPagina(pagination.last_page)" style="margin-left:10px"><!--pagina anterior-->
			                <span aria-hidden="true">&#8230;{{ pagination.last_page}}</span>
			            </a>
			        </li>
		       </template>
	               
			</ul>
		</nav>
		</b-container>    
	</b-container>
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';

export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		totalNoticias: 3,
		items: [],
    	pagination: [],
    	offset: 3,
    	busqueda: '',
    	actBus: false,
	    sortBy: 'id',
	    orden: 'DESC',
	}),
	mounted(){
		this.getNoticias();
		this.$store.state.noticias ? '': this.$router.push({path: '*'});
    },
	watch:{
        busqueda(search){
			(search.length > 3 || !isNaN(parseInt(search)) || search == '')? this.getNoticias() : '';
			
		},    
    },
    computed: {
         
          activo: function() {
            return this.pagination.current_page;
          },

          numPagina: function() {
              const me = this;
                if (!me.pagination.to) {
                      return [];
                }
                let from = me.pagination.current_page - me.offset;
                if (from < 1) {
                  from = 1;
                }
                let to = from + (me.offset * 2);
                if (to >= me.pagination.last_page) {
                  to = me.pagination.last_page;
                    
                }
              let paginas = [];
              while (from <= to) {
                  paginas.push(from);
                  from++;
              }
            return paginas;
          },

          paginate: function(){
              const me = this;
              if(me.pagination.current_page >= me.pagination.total){
                  
                  me.pagination.current_page = Math.max(0, me.pagination.total-1);
                  
              }
              var index = (me.pagination.current_page-1) * me.pagination.per_page;
              
              if(me.pagination.current_page <= 1){
                  
                  return me.poblaciones.slice(0, me.pagination.per_page);
                  
              }else{
                 
                  return me.poblaciones.slice(index, index + me.pagination.per_page);
              }
          },
      },
    methods:{
       getNoticias(page){

       		axios.get(`api/lstnoticias?page=${page}&id=${this.datos.club[0].id}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}`).then((response)=>{
       
		          if(response.data.msg){ toastr.warning(response.data.msg)} 
		            this.items = response.data.items.data;
		            this.pagination = response.data.pagination;
		          }, (error) => {
		            console.error(error.response);
		          })
		      this.cargando = false;
		},
		cambiarPagina: function(pagina) {
            this.pagination.current_page = pagina;
            this.getNoticias(pagina);
              
         },
        LeerNoticia(noticia){
	      this.$router.push({name: 'leerNoticia', params: {'noticia': noticia, 'slug': noticia.slug}})
		},
	    search(busqueda){
	      	this.busqueda = busqueda;
	      	this.getNoticias();
	    },
	    resetBusqueda(){
	    	this.busqueda = '';
	      	this.getNoticias();
	    },
	}
}
</script>
<style scoped>
	.content-height{
		min-height: 600px;
 	}
	.btn-primary{
    	background-color: #000;
    	border-color: #fc0101;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    	background-color: #000;
    	border-color: #fc0101;
	}		

	.btn-outline-primary:focus, .btn-outline-primary.focus {
    	-webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}	
	.btn-outline-primary {
	    color: #000;
	    border-color: #fc0101;
	}
	.btn-outline-primary:hover {
		background-color: #000;
    }

    .primary{
		color: #000;
	}

	.primary:hover{
		color: #fc0101;
	}
	.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
	    background-color: #000;
    	border-color: #fc0101;
	}
	/*paginate*/
	.page-item.active .page-link {
	    background-color: #000 !important;
    	border-color: #fc0101 !important;
	}
	.page-link{
		color: #fc0101 !important;
	}
	.page-link:hover {
	    color: #fc0101;
	    background-color: #000 !important;
    	border-color: #fc0101 !important;
	}

	.boton-largo{
		width:100%;
	}
	[class*="col-"] {
      padding: 1rem;
  	}
	hr{
		border-top: 2px solid #b4b4b4;
	    width: 55%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	.card-img-top {
	    max-height: 15rem;
	}
	.card-text{
		height: 9rem;
	    white-space: pre-line;
	    overflow: hidden;
	}
	.boton-ancho{
		height: 100%;
		max-height: 530px;
	}
	
	.display-none{
		display: none;
	}
	@media (max-width: 992px) {
		.boton-ancho{
			display: none;
		}
		.display-none{
			display: block;
		}
  	}
  	

	
</style>
