<template>
	<b-container  class="wrapper mb-5">
		<div class="grid d-lg-inline pt-2">
			<router-link class="btn btn-primary float-right mb-3" :to="{name: 'noticias'}">Noticias</router-link>
  		</div>
		<b-row class="py-5">
			<b-col class="text-center">
				<h1> {{ item.titulo }} </h1>
			</b-col>
		</b-row>
		<b-row>
			<b-col class="d-flex justify-content-center">
				<b-img :src="item.imagen" fluid rounded/>
			</b-col>
		</b-row>
		<b-row class="mt-5">
			<b-col cols="10" offset="1" class="text-justify">
				<div v-html="item.contenido"></div>
			</b-col>
		</b-row>
	</b-container>           	
	
</template>

<script>
import Icon from 'vue-awesome/components/Icon';


export default{
	props:['datos'],
	components: {
		'icon': Icon,
	},
	data: ()=>({
		item: [],
    	
	}),
	created(){
   		this.$route.params.noticia == null? this.item = JSON.parse(localStorage.getItem('noticia'))  :  (this.item = this.$route.params.noticia, localStorage.setItem('noticia', JSON.stringify(this.$route.params.noticia)));
	},
	mounted(){
		this.$store.state.noticias ? '': this.$router.push({path: '/*'});
    },
	watch:{
            
    },
    computed: {
         
          
    },
    methods:{
       
	}
}
</script>
<style scoped>
	hr{
		border-top: 2px solid #b4b4b4;
	    width: 55%;
	    margin-top: .3rem;
	    margin-bottom: 1rem; 
	}
	.wrapper {
    	min-height: calc(100vh);
    	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}
	.display-none{
		display: none;
	}
	.btn-primary {
	    background-color:#006200;
		border-color: #009a00;
	}
	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	    background-color: #009a00;
    	border-color: #006200;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 199, 107, 0.5);
	    box-shadow: 0 0 0 0.2rem rgba(0, 199, 107, 0.5)
    }
    .btn-primary{
    	background-color: #000;
    	border-color: #fc0101;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
	    -webkit-box-shadow: 0 0 0 0.2rem #fc010159 !important;
    	box-shadow: 0 0 0 0.2rem #fc010159 !important; 
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    	color: #fff;
    	background-color: #000;
    	border-color: #fc0101;
	
    }
    .grid{
    	display: grid;
    }

    .d-flex img{
    	max-height: 300px;
    }
	@media (max-width: 992px) {
		.boton-ancho{
			display: none;
		}
		.display-none{
			display: block;
		}
  	}
  	@media (max-width: 700px){
  		.d-flex img{
    		max-height: 200px;
    	}
  		
  	}

	
</style>