<template>
	<b-container class="wrapper mb-5">
		<div class="cookies pt-5">
			<h1>&nbsp;Política de privacidad.</h1>
		
			<h2>Introducción</h2>
			<p class="divider">PRACTICAPADEL, S.L., tanto en su condición de responsable del tratamiento como de encargado del tratamiento, se toma muy en serio la privacidad de los datos personales que procesa ya que su objetivo primordial es mantener la total confianza de sus clientes.
			<br />De esta forma y a fin de cumplir plenamente con el Reglamento General de Protección de Datos 2016/679 ("RGPD"), PRACTICAPADEL, S.L. ha puesto en marcha la presente Política de Privacidad donde se detallan sus prácticas de tratamiento de datos personales relacionadas con la prestación de sus servicios de mediación de seguros (en adelante, los servicios).
			<br />Le recomendamos lea detenidamente la presente Política de Privacidad y se ponga en contacto con nosotros si tiene alguna duda relacionada con cualquiera de las prácticas que se describen a continuación.
			</p>
			
			<h2>Datos personales: concepto, origen, legitimación y tratamiento</h2>
			<h3>¿Qué son datos personales?</h3>
			<p class="divider">PRACTICAPADEL, S.L., trata exclusivamente aquellos datos o información personal necesaria para el cumplimiento de sus finalidades 
				tal y como se detalla en los siguientes apartados de la presente Política de Privacidad. En virtud de la prestación de sus servicios, 
				PRACTICAPADEL, S.L., procede al tratamiento de los datos personales de sus clientes o clientes prospectivos, (en adelante, "Interesado" 
				o "Interesados"), con la finalidad de dar cumplimiento a sus obligaciones legales, contractuales y de satisfacer sus intereses 
				legítimos.
			<br />
				Los datos personales que PRACTICAPADEL, S.L., podrá tratar de los Interesados (en adelante, "Datos Personales") son los siguientes:
				<br /> - Nombre y apellidos
				<br /> - Edad
				<br /> - Género
				<br /> - Fecha de nacimiento
				<br /> - Nacionalidad
				<br /> - Estado civil
				<br /> - DNI / pasaporte
				<br /> - Correo electrónico
				<br /> - Correo postal
				<br /> - Teléfono
				<br /> - Datos de voz
				<br /> - Llamadas
				<br /> - Cargo profesional
				<br /> - Historial académico y profesional
				<br /> - Número de la seguridad social
				<br /> - Datos bancarios, (previa la obtención del consentimiento y los requisitos adicionales establecidos en la normativa de aplicación en cada momento)
				<br /> - Datos de navegación en la web de PRACTICAPADEL, S.L.
				<br /> - Información complementaria que comunique el Interesado en las comunicaciones mantenidas con PRACTICAPADEL, S.L., y cualquier otro dato que resulte necesario para la prestación de los servicios.
			</p>

			<h3>Finalidades</h3>
			<p>PRACTICAPADEL, S.L., trata los Datos Personales conforme a las finalidades que se describen a continuación:<br />Alquiler de pistas de pádel.</p>

			<h3>Seguridad de los datos personales</h3>
			<p class="divider">PRACTICAPADEL, S.L., está muy comprometido con la seguridad, privacidad e integridad de los Datos Personales que trata de sus Interesados. Por este motivo, PRACTICAPADEL, S.L., tiene en marcha y aplica los mayores estándares de seguridad para asegurarse de que dentro de PRACTICAPADEL, S.L., los Datos Personales se tratan de una forma plenamente segura. En particular, PRACTICAPADEL, S.L., utiliza las medidas organizativas, técnicas y administrativas que, atendiendo al estado de la técnica y naturaleza de los Datos Personales que correspondan, garanticen una plena protección de los Datos Personales de sus Interesados. Entre ellas se incluyen también las medidas para tratar cualquier sospecha de violación de seguridad de los Datos Personales.</p>

			<h3>Derechos de los interesados</h3>
			<p class="divider">
				<br /> - Derecho de Acceso: Cualquier interesado puede solicitar a PRACTICAPADEL, S.L., que le confirme si está tratando sus datos personales; que le facilite 
				una copia de dichos datos personales y que le proporcione cualquier otra información acerca de sus datos personales (qué datos tiene, para qué los utiliza, a 
				quién los comunica, si los transfiere o no a terceros y su localización, de qué manera los protege, durante cuánto tiempo los conserva, qué derechos tiene como 
				Interesado en relación con los mismos, cómo puede presentar una reclamación, de dónde se han obtenido sus datos), siempre y cuando esta información no se le haya 
				facilitado ya en esta Política de Privacidad;
				<br /><br /> - Derecho de Rectificación: Los Interesados pueden solicitar que PRACTICAPADEL, S.L., corrija y actualice sus Datos Personales inexactos;
				<br /><br /> - Derecho de supresión de datos personales: Los Interesados pueden requerir que PRACTICAPADEL, S.L.,  elimine sus datos personales cuando: (I) los datos 
				personales ya no sean necesarios en relación con las finalidades para los que fueron recabados, (II) el Interesado retire su consentimiento (si el tratamiento 
				de datos se basa en el consentimiento), (III) el Interesado ejerza su derecho de oposición (tal y como se define a continuación), (IV) los datos personales 
				hayan sido procesados ilícitamente y (V) PRACTICAPADEL, S.L., tenga que cumplir con una obligación legal.
				<br /><br /> - Derecho de restricción: Cualquier Interesado puede solicitar que PRACTICAPADEL, S.L., limite el tratamiento que realiza de sus datos personales (es 
				decir, que los conserve pero no los utilice) exclusivamente si (I) se impugna su exactitud (véase a continuación el derecho de rectificación), para permitirnos 
				verificar su exactitud; (II) el tratamiento es ilícito, pero el Interesado no desea que los datos personales se eliminen; (III) ya no son necesarios para las 
				finalidades para los que se recogieron, pero aun así los necesita PRACTICAPADEL, S.L.,  para la formulación, el ejercicio o la defensa de reclamaciones legales; 
				(IV) el Interesado ha ejercido el derecho de oposición y la verificación los motivos que prevalezcan está pendiente;
				<br /><br /> - Derecho a la portabilidad de datos: En determinadas circunstancias, los Interesados tienen derecho a recibir de PRACTICAPADEL, S.L., sus datos personales 
				que se estén tratando en un formato estructurado, de uso común y lectura mecánica. También tienen derecho a solicitar que PRACTICAPADEL, S.L., transfiera sus datos 
				personales a otra entidad;
					<br />PRACTICAPADEL, S.L., puede seguir utilizando sus datos personales después de una solicitud de limitación (I) si tiene su consentimiento; (II) para la 
				formulación, el ejercicio o la defensa de reclamaciones legales.
				<br /><br /> - Derecho de oposición: Los Interesados pueden oponerse a cualquier tratamiento de sus datos personales que tenga como base legal los "intereses legítimos" 
				de PRACTICAPADEL, S.L., si considera que existen circunstancias concretas que pudieran afectar de forma no razonable a sus derechos y libertades fundamentales. 
				Es importante tener conocimiento de que en aquellos casos donde los Interesados ejerzan su derecho de oposición respecto a aquellos Datos Personales que sean 
				necesarios para satisfacer los intereses legítimos de PRACTICAPADEL, S.L., (así como para cumplir con sus obligaciones legales y contractuales) PRACTICAPADEL, 
				S.L., podrá verse incapaz de prestar sus servicios a dichos Interesados;
				<br /><br /> - Derecho de oposición al envío de comunicaciones comerciales: Los Interesados tienen derecho a oponerse al empleo de sus datos personales para la 
				realización de comunicaciones comerciales;
				<br /> - Retirada del consentimiento. Cualquier Interesado puede retirar su consentimiento en relación con cualquier tratamiento de sus datos personales basado 
				en un consentimiento otorgado previamente. Se puede retirar el consentimiento poniéndose en contacto con PRACTICAPADEL, S.L.,
				<br /><br /> - Derecho a reclamar ante la Autoridad de Control: Aunque preferimos que los Interesados se dirijan primero a PRACTICAPADEL, S.L., para resolver cualquier 
				queja o consulta, es importante que los Interesados sepan que tienen derecho a presentar una queja ante la Autoridad de Control, cuyos datos se aportan en el 
				apartado de la presente Política: <b><i>"Datos de la autoridad de Control"</i></b>
					<br />Los Interesados pueden ejercitar sus derechos poniéndose en contacto con PRACTICAPADEL, S.L., mediante petición escrita en la que justifique debidamente el alcance 
				de su solicitud acompañando fotocopia de su DNI o pasaporte.

			</p>

			<h3>Tiempo de conservación de datos personales</h3>
			<p class="divider">PRACTICAPADEL, S.L., no conserva ningún dato personal sobre los Interesados durante más tiempo del necesario para cumplir con las finalidades 
				para los que se procesan dichos datos personales.
			<br />En este sentido, PRACTICAPADEL, S.L., tiene puesta en marcha una política de retención de datos personales que determina durante cuánto tiempo se conservan 
			determinados tipos de información personal. Para obtener más información sobre los criterios que PRACTICAPADEL, S.L., emplea para determinar los períodos de 
			retención de información personal, le rogamos se ponga en contacto con PRACTICAPADEL, S.L.
			</p>

			<h3>Cambios de la presente política de privacidad</h3>
			<p class="divider">Cualquier cambio que PRACTICAPADEL, S.L., realice en el futuro en la presente política de privacidad se publicará en su sitio web. Por favor, 
				consulte con frecuencia para ver las actualizaciones o cambios en nuestra política de privacidad.
			</p>

			<h3>Datos de contacto de PRACTICAPADEL, S.L.</h3>
			<p class="divider">Si tiene alguna duda sobre las prácticas descritas en esta Política de Privacidad, puede ponerse en contacto con el Delegado de Protección de 
				Datos de PRACTICAPADEL, S.L.,:
				<br /> - Datos de contacto:

					<br/> <span class="pl-4">Calle Jaime I nº22,  46970 , Alacuas (Valencia).</span>

				<br /><br />De todos modos, antes de que PRACTICAPADEL, S.L. pueda ofrecerle información o facultarle al ejercicio de sus derechos, puede que deba realizar 
				diferentes tareas a efectos de verificar su identidad u otros detalles necesarios para poder responder adecuadamente a su solicitud. Nos pondremos en 
				contacto con usted en un periodo de 30 días a partir de la fecha de su solicitud.
			</p>

			<h3>Datos de contacto de la autoridad de supervisión local</h3>
			<p>Si quieren ponerse en contacto con la Autoridad de Supervisión Local en relación con alguna de las prácticas descritas en esta Política 
				de Privacidad, puede contactar con la Agenciad de Protección de Datos Española, cuyos datos de contacto son los siguientes: 
			

			<br />Agencia Española de Protección de Datos:
				<ul>
					<li>Dirección postal: Calle Jorge Juan 6, 28001 Madrid</li>
					<li>Teléfono: (+34) 901 100 099 / 912 663 517</li>
				</ul>
			</p>
		</div>
	</b-container>
</template>
<script type="text/javascript">
	export default{
		mounted(){
			document.body.scrollTop = 0;
		}
	}
</script>
<style scoped>
 	.wrapper {
    	min-height: calc(100vh);
    	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
	}
	.cookies {
        font-size: 16px;
        line-height: 1.1em;
        text-align: justify;
        padding-bottom: 40px;
		padding: 0 4%;
    }
    h1 {
        font-weight: 900;
        font-style: italic;
        color: #3C3C3B;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        margin-top: 0;
        margin-bottom: 10px;
    }
    h2, h3 {
        background-color: #f2f2f2;
        text-align: left;
        line-height: 40px;
        margin-top: 25px;
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #b1b0b0;
        font-style: italic;
        color: #fc0101;
        margin-bottom: 20px;
        padding-left: 10px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
        font-size: 15px;
    }
    
    p {
        font-size: 16px;
        line-height: 23px;
    }
    
    p.divider {
        background: url('/img/line_breadcrumb.png') no-repeat left bottom;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-size: 16px;
	}
	b{
		font-weight: 900;
	}
    a {
        color: #08c;
        text-decoration: none;
    }
</style>