<template>
   <b-container class="wrapper mb-5">
        <div class="cookies pt-5">
            <h1>&nbsp;Política de cookies</h1>
            <p>Este portal, al igual que la mayoría de portales en Internet, usa cookies para mejorar la experiencia de navegación del usuario.
            Las cookies personalizan los servicios que ofrece el sitio web, ofreciendo a cada usuario información que puede ser de su interés,
            en atención al uso que realiza de este portal. A continuación encontrará información sobre qué son las cookies, qué tipo de cookies
            utiliza este portal, cómo puede desactivar las cookies en su navegador o cómo desactivar específicamente la instalación de cookies
            de terceros y qué ocurre en caso de deshabilitarlas.
            </p>
            
            <h2>¿Qué son las cookies?</h2>
            <p>Las cookies son pequeños archivos que algunas plataformas, como las páginas web, pueden instalar en su ordenador, smartphone,  
            tableta o televisión conectada, al acceder a las mismas. Sus funciones pueden ser muy variadas: almacenar sus preferencias de 
            navegación, recopilar información estadística, permitir ciertas funcionalidades técnicas, almacenar y recuperar información 
            sobre los hábitos de navegación o preferencias de un usuario o de su equipo hasta el punto, en ocasiones, dependiendo de la 
            información que contengan y de la forma en que utilice su equipo, de poder reconocerlo. Una cookie se almacena en un ordenador 
            para personalizar y facilitar al máximo la navegación del usuario. Las cookies se asocian únicamente a un usuario y su ordenador 
            y no proporcionan referencias que permitan deducir datos personales del usuario. El usuario podrá configurar su navegador para 
            que notifique o rechace la instalación de las cookies enviadas por el sitio web.
            </p>
            <h2>¿Por qué son importantes?</h2>
            <p>Las cookies son útiles por varios motivos. Desde un punto de vista técnico, permiten que las páginas web funcionen de forma más 
                ágil y adaptada a las preferencias del usuario como ,por ejemplo, almacenar su idioma o la moneda de su país. Además, ayudan a 
                los responsables de los sitios web a mejorar los servicios que ofrecen, gracias a la información estadística que recogen a través 
                de ellas. Finalmente, sirven para hacer más eficiente la publicidad que le mostramos, gracias a la cual le podemos ofrecer 
                servicios de forma gratuita.
            </p>
            <h2>¿Cómo utilizamos las cookies?</h2>
            <p>Navegar por este portal supone que se puedan instalar los siguientes tipos de cookies:</p>

            <h2>Cookies de mejora del rendimiento</h2>
            <p>Este tipo de cookies conserva sus preferencias para ciertas herramientas o servicios para que no tenga que reconfigurarlos cada 
                vez que visita nuestro portal y, en algunos casos, pueden ser aportadas por terceros. Algunos ejemplos de este tipo de cookies 
                son: ajuste del volumen de los reproductores audiovisuales, preferencias de ordenación de artículos o velocidades de reproducción 
                de vídeo compatibles. En el caso de comercio electrónico, permiten mantener información sobre su cesta de la compra.</p>

                <p class="divider">Las cookies recently_watched_video_id_list que puedes ver en la configuración de tu navegador son de Google 
                    Youtube.</p>

            <h2>Cookies de análisis estadístico</h2>
            <p>Son aquellas que, bien tratadas por nosotros o por terceros, permiten cuantificar el número de visitantes y analizar estadísticamente 
                la utilización que hacen los usuarios de nuestros servicios. Gracias a ellas podemos estudiar la navegación por nuestra página web 
                y mejorar así la oferta de productos o servicios que ofrecemos. Estas cookies no irán asociadas a ningún dato de carácter personal 
                que pueda identificar al usuario, dando información sobre el comportamiento de navegación de forma anónima.
            </p>
            <p class="divider">Las cookies CE_NO_COOKIES que puedes ver en la configuración de tu navegador son de Crazy Egg.</p>
            <p class="divider">Las cookies __utma, __utmb, __utmc y __utmz que puedes ver en la configuración de tu navegador son de Google 
                Analytics.
            </p>

            <h2>Cookies de registro</h2>
            <p>Cuando usted se registra en nuestro portal, se generan cookies que le identifican como usuario registrado e indican cuándo usted se 
                ha identificado en el portal. Estas cookies son utilizadas para identificar su cuenta de usuario y sus servicios asociados, facilitando 
                así su navegación. Estas cookies se mantienen mientras usted no abandone la cuenta, cierre el navegador o apague el dispositivo. Estas 
                cookies pueden ser utilizadas en combinación con datos analíticos para identificar de manera individual sus preferencias en nuestro 
                portal.
            </p>
            <p class="divider">Las cookies alfanuméricas de 32 dígitos encriptadas en md5 que puedes ver en la configuración de tu navegador son de 
                nuestra plataforma de ecommerce.
            </p>

            <h2>Cookies publicitarias</h2>
            <p>Son aquéllas que, bien tratadas por nosotros o por terceros, 
                permiten gestionar eficazmente los espacios publicitarios de nuestro sitio web, adecuando el contenido del anuncio al contenido del 
                servicio solicitado o al uso que realice de nuestra página web. Gracias a ella podemos conocer sus hábitos de navegación en internet 
                y mostrarle publicidad relacionada con su perfil de navegación.
            </p>
            <p class="divider">La cookie __ar_v4 que puedes ver en la configuración de tu navegador es de Google Adwords.</p>
            
            <h2>Otras cookies de terceros</h2>
            <p>En algunas de nuestras páginas se pueden instalar cookies de terceros que permitan gestionar y mejorar 
                los servicios que éstos ofrecen.
            </p>
            <p class="divider">Las cookies __zlcid,__zprivacy que puedes ver en la configuración de tu navegador son de nuestro sistema de chat.</p>
            
            <h2>¿Cómo puedo configurar mis preferencias?</h2>
            <p>Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones de su navegador 
                de internet. <br /> A continuación le ofrecemos enlaces en los que encontrará información sobre cómo puede activar sus preferencias en 
                los principales navegadores: <br />
                <br /> - <a href="https://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647" target="_blank">Google Chrome</a>
                <br /> - <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">Mozilla Firefox </a> 
                <br /> - <a href="https://support.microsoft.com/kb/196955/es" rel="nofollow" target="_blank">Internet Explorer</a>
                <br /> - <a href="https://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html" target="_blank">Safari</a>
                <br /> - <a href="https://support.apple.com/kb/HT1677?viewlocale=es_ES" target="_blank">Safari para IOS</a> (iPhone, iPad)
            </p>
            
            <h2>¿Qué ocurre si se deshabilitan las cookies?</h2>
            <p>En el caso de bloquear o no aceptar la instalación de cookies es posible que ciertos servicios ofrecidos por nuestro sitio web que 
                necesitan su uso queden deshabilitados y, por lo tanto, no estén disponibles para usted por lo que no podrá aprovechar por completo 
                todo lo que nuestras webs y aplicaciones le ofrecen. Es posible también que la calidad de funcionamiento de la página web pueda 
                disminuir.
            </p>
            
            <h2>Aceptación de cookies</h2>
            <p>Si usted sigue navegando después de haberle informado sobre nuestra Política de cookies entendemos que acepta la utilización de las 
                cookies. <br /> Al acceder a este sitio web o aplicación por primera vez, verá una ventana donde se le informa de la utilización de 
                las cookies y donde puede consultar esta política de cookies. Si usted consiente la utilización de cookies, continúa navegando o hace 
                clic en algún link se entenderá que usted ha consentido nuestra política de cookies y, por tanto, la instalación de las mismas en su 
                equipo o dispositivo.<br /> Además del uso de nuestras cookies propias, permitimos a terceros establecer cookies y acceder a ellas en 
                su ordenador. El consentimiento del uso de las cookies de estas empresas está ligado a la navegación por este sitio web.
            </p>

            <h2>Actualizaciones en la Política de Cookies</h2>
            <p>Nuestro portal puede modificar esta Política de Cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de 
                adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por lo que se aconseja a los 
                usuarios que la visiten periódicamente.
            </p>
        </div>
    </b-container> 
</template>
<style scoped>
    .wrapper {
    	min-height: calc(100vh);
    	box-shadow: #808080 16px 25px 50px 10px, 0px 0px 3px 1px #000;
    }
    .cookies {
        font-size: 16px;
        line-height: 1.1em;
        text-align: justify;
        padding-bottom: 40px;
        padding: 0 4%;
    }
    h1 {
        font-weight: 900;
        font-style: italic;
        color: #3C3C3B;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        margin-top: 0;
        margin-bottom: 10px;
    }
    h2 {
        background-color: #f2f2f2;
        text-align: left;
        line-height: 40px;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #b1b0b0;
        font-style: italic;
        color: #fc0101;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    
    p {
        font-size: 16px;
        line-height: 23px;
    }
    
    p.divider {
        background: url('/img/line_breadcrumb.png') no-repeat left bottom;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    a {
        color: #08c;
        text-decoration: none;
    }
</style>