<template>
	<div>
    <div class="text-center"><h2>Públicar noticia</h2></div> 
    
    <b-form>
      <b-form-group label="*Titulo:">
        <b-form-input  type="text" v-model="item.titulo" required placeholder="Titulo de la noticia" aria-describedby="tituloFeedback" :state="tituloState"></b-form-input>
        <b-form-invalid-feedback id="tituloFeedback">
            {{ errores.titulo }}
        </b-form-invalid-feedback>  
      </b-form-group>
      <b-form-group label="Url amigable">
        <b-form-input type="text" :value="item.titulo |  stringSlug" disabled>
        </b-form-input>
      </b-form-group>
      <b-form-group label="Imagen cabecera:" >
        <b-row align-h="center" class="mb-2">
          <b-col cols="3" class="text-center">
            <b-img :src="item.imagen" rounded max-width="175" height="175"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <uploadFile @imagen="nuevaImg($event)" :ver="false" :botones="false"></uploadFile>
          </b-col>
        </b-row>
      </b-form-group>
      <b-form-group label="Estado">
        <b-form-radio-group v-model="item.status">
          <b-form-radio value="PUBLICADO">Publicado</b-form-radio>
          <b-form-radio value="BORRADOR">Borrador</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
      <b-form-group label="*Titular:">
      	 <vue-editor id="titular" v-model="item.titular" :editor-toolbar="miniToolbar"></vue-editor>
      </b-form-group>
      <b-form-group label="Contenido">
        <vue-editor id="cuerpo" v-model="item.contenido" useCustomImageHandler @imageAdded="handleImageAdded"></vue-editor>
      </b-form-group>
      <b-form-group>
        <div class="float-right">
          <b-button class="mt-3" variant="outline-primary" @click="crear">Guardar</b-button>
          <b-button class="mt-3" variant="outline-primary" @click="cancelar">Cancelar</b-button>
        </div>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>
  
	import uploadFile from '../../extras/uploadFile'
  import { VueEditor } from 'vue2-editor';
  import validaciones from '../../../helpers/validaciones';
  import funciones from '../../../helpers/funciones';

	const toolbarFull = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'direction': 'rtl' }],                         // text direction

      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'font': [] }],
      [{ 'align': [] }],

      ['clean']                                         // remove formatting button
    ];

	export default{
		props: [],
		components: {
    	VueEditor,
      uploadFile
    },
    origen: 'crear',
    mixins: [validaciones, funciones],
		data: ()=>({
      pageUrl: 'ntcs',
			item: {titulo: null, titular: null, contenido: null, imagen: null, status:'BORRADOR', web: '', visible: 1},
      edit_: null,
      newFile: null,
      miniToolbar: [ [{ 'header': 1 }, { 'header': 2 }],['bold', 'italic', 'underline'],[{ 'color': [] }],['clean']],
      errores: [],
      erroresServidor: [],
		}),
    
    watch:{
      'item.titulo'(oldValue, newValue){
        (oldValue != newValue && this.erroresServidor.titulo )? this.erroresServidor.titulo = '': '';
      },

      "item.titular"(oldValue, newValue){
       (oldValue != newValue && this.erroresServidor.titular )? this.erroresServidor.titular = '': '';
      },
      
    },
    computed: {
      tituloState () {
       return this.validarTitulo();
      },
      titularState () {
        return this.validarTitular();
      },
    },
		mounted(){
			this.edit_ = _.clone();
		},
    methods:{
      handleImageAdded(file, Editor, cursorLocation, resetUploader) {
        let formData = new FormData();
        formData.append('image', file)

        axios.post(`${this.pageUrl}/imagen`,formData).then((response) => {
          let url = response.data // Get url from response
          Editor.insertEmbed(cursorLocation, 'image', url);
          resetUploader();
        }).catch((err) => {
          console.log(err.response);
        })
      },


      nuevaImg(imagen){
        this.item.imagen = imagen.img == "" ? "": imagen.img;
        this.newFile = imagen.file == "" ? "" : imagen.file;
      },
      decodeBase64Image(dataString) {
        let matches = dataString.match(/src=\"data:image\/([a-zA-Z]*);base64,([^\"]*)\"/);
        let response = [];
        if (matches.length !== 3) {
          return new Error('Invalid input string');
        }

        response.type = matches[1];
        response.data = new Buffer(matches[2], 'base64');
        
        
      },
      validar(){
        
        if(this.validarTitulo() && this.validarTitular()){
          return true
        }else{
          this.item.titulo == null? this.item.titulo = '': '';
          this.item.titular == null? toastr.warning('El titular no puede estar vacío'): '';
          return false;
        }
      },
      cancelar(){
        this.item = {titulo: null, titular: null, contenido: null, imagen: null, status:'BORRADOR', web: '', visible: 1};
      },
      crear(){
        
        if(this.validar()){
           this.item.slug = Slug(this.item.titulo);
           this.item.contenido.replace(/href="www/g, 'href="http://www');
           let form = this.toFormData(this.item, this.newFile);
            axios.post(this.pageUrl, form).then((response) => {
              response.data.status == 'success' ? (toastr.success(response.data.msg), this.cancelar()): toastr.warning(response.data.msg);

            }, (error) => {
              console.log(error.response)
              let errores = error.response.data.errors;
              this.erroresServidor = [];
              for (let key in errores){
                this.erroresServidor[key] = errores[key][0];
                this.errores[key] = errores[key][0];
                toastr.warning(errores[key][0]);
              }
            }).catch((err) => {
              console.log(err);
            });
        }
           
      },
    }
		
}
</script>

<style scoped>

</style>