<template>
  <div>
    <div class="text-center"><h2>Noticias</h2></div> 
    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="3">
              <b-row>
                <b-col sm="11" lg="7">
                  <buscador-component @search="search($event)"></buscador-component>
                </b-col> 
                <b-col sm="1" lg="5">
                  <router-link :to="{name: 'CreateNoticia'}">
                    <b-button variant="primary" class="float-right">
                      <icon name="plus"></icon>
                    </b-button>
                  </router-link>
                  
                </b-col>
              </b-row>
            </td>     
          </tr>
          <tr>
            <th class="click" :class="[ sortBy == 'titulo' ? 'active' : '']" @click="ordenar('titulo')" width="350">
              <icon :name="icoTitulo"></icon>  Título
            </th>
            <th width="350"> Estado</th>
            <th width="200">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" v-show="cargando"><td colspan="3"><icon name="refresh" scale="5" spin></icon></td></tr>
          <crud-component v-for="(item, key) in filtro" :item="item" :key="key" @update="actualizar($event)" @delete="tipoAccion('eliminar', $event)"></crud-component>
      </tbody>
    </table>
    <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
    <component :is="modal" @accion="acciones" :formulario="formulario" :select="select" :key="select.id"></component>
  </div>
</div>
</template>

<script>



import EventBus from '../../../helpers/event-bus.js';
import Icon from 'vue-awesome/components/Icon';
import Paginate from '../../layouts/paginate.vue';
import Buscador from '../../extras/buscador.vue';
import funciones from '../../../helpers/funciones';
import edit   from './EditNoticia.vue';
import Formulario from './FormNoticias.vue';

export default {
  components: {
    'app-form' : Formulario,
    'icon': Icon,
    'crud-component':edit,
    'buscador-component': Buscador,
    Paginate
  },
  mixins: [funciones],
  data: ()=>({

    pageUrl: 'ntcs',
    items: [],
    pagination: [],
    cargando: true  ,
    //formulario
    modal:'',
    select:[],
    formulario:'',
    //busqueda
    busqueda: '',
    sortBy: 'titulo',
    orden: 'ASC',
    Stitulo:'ASC',
    columnaActiva: '',
      
  }),
  created() {
    this.getItems();
    let rol = window.Laravel.roles.rol_id;
    
  },
  computed: {
    filtro(){ 
      if(this.items.length) {
        return this.items;
      }
    },

    icoTitulo(){
      if(this.sortBy != 'titulo' || (this.sortBy == 'titulo' && this.orden == '')){
        return 'sort';
      }
      return (this.sortBy == 'titulo' && this.orden == 'ASC') ? 'sort-down': 'sort-up';
    },

    },
  methods:{
    search(busqueda){
      this.busqueda = busqueda;
      this.getItems();
    },
    resetSearch(){
      this.ActBusPer = false;
      this.getItems();
    },
    ordenar(columna){
      this.Stitulo == 'ASC' ? this.Stitulo = 'DESC': this.Stitulo = 'ASC';
      this.sortBy = 'titulo';
      this.getItems();
    },
    tipoAccion(action, data = []){
      this.select = data;
      this.modal = 'app-form'; 
      this.formulario = 2;

      EventBus.$emit('openModal','open'); //mando abrir el modal al seleccionar un elemento
    },
    getItems(page){
      this.cargando = true;
      if(this.sortBy == 'tiulo'){ this.orden = this.Stitulo};
      axios.get(`${this.pageUrl}?page=${page}&busqueda=${this.busqueda}&sortBy=${this.sortBy}&orden=${this.orden}`).then((response)=>{
       
          if(response.data.msg){ toastr.warning(response.data.msg)} 
            this.items = response.data.items.data;
            this.pagination = response.data.pagination;

          }, (error) => {
            console.error(error.response);
          })
      this.cargando = false;
    },
    acciones(item){
      switch(item.accion){
        case 'editar':
          this.actualizar(item.objeto);
          break;
        case 'eliminar':
          this.eliminar(item.objeto);
          break;
      };
    },
    eliminar(eliminarId){
     axios.delete(this.pageUrl + "/" + eliminarId.id).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg), EventBus.$emit('openModal','close')): toastr.warning(response.data.msg);
      }, (error) => {
        console.error(error.response);
      })
    },
    actualizar(actualizar){
      
      axios.patch(this.pageUrl + '/' + actualizar.id, actualizar).then((response) => {
        response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
      }, (error) => {
        console.log(error.response);
      })
    },
    
  }
  
}
</script>

<style scoped>

  .active{
    color: #fff;
    background: #0275d8;
  }
  .click{
    cursor: url("/image/puntero.png"), pointer;
  }

</style>