<template>
    <b-col sm="12" lg="6">
    	
		<b-card class="mb-4" border-variant="primary">
            
            <b-card-img header :src="edit_.imagen" style="max-height: 250px"></b-card-img>
            
            <b-form-group class="card-text mt-3">
                <b-row>
                    <b-col>
                        <b-form-group>
                            <upload-file @imagen="nuevaImg($event)" :ver="false" :botones="false" class="mb-3"></upload-file>  
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col sm="12" lg="6">
                        <b-form-group label="Título:">
                            <b-form-input type="text" v-model="edit_.caption" placeholder="Título que se verá en la imagen" required></b-form-input>  
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" lg="6">
                        <b-form-group label="Texto alternativo:">
                            <b-form-input type="text" v-model="edit_.alt" placeholder="Texto que se mostrará si no carga la imagen" required></b-form-input>     
                        </b-form-group>
                    </b-col>
                    
                </b-row>
                <b-row>
                    <b-col sm="12">
                        <b-form-group label="Web:">
                            <b-form-input type="text" v-model="edit_.web" placeholder="www.web.com" required></b-form-input>
                        </b-form-group>
                    </b-col>
                    
                </b-row>
                <b-row>
                    <b-col sm="12">
                        <b-form-group label="Contenido:">
                             <b-form-input type="text" v-model="edit_.text" placeholder="Texto que se verá bajo el título en la imagen" required></b-form-input>           
                        </b-form-group>
                    </b-col>
                </b-row>
           </b-form-group>
            
      
             <b-form-group slot="footer">
                <b-btn variant="success" @click="editBtn"><icon name="check"></icon></b-btn>
                <b-btn variant="danger" @click="deleteBtn"><icon name="trash-o"></icon></b-btn>
                <b-form-checkbox class="float-right" v-model="edit_.visible" value="1" unchecked-value="0">Ver imagen</b-form-checkbox>
            </b-form-group>
          
	   	</b-card>
	   	
	 </b-col>
    
</template>
<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../../helpers/funciones';
    import validaciones from '../../../helpers/validaciones';
    import EventBus from '../../../helpers/event-bus.js'; 
    import uploadFile from '../../extras/uploadFile.vue';

    export default{
        props:['item', 'index'],
        components: {
            'icon': Icon,
            uploadFile,
        },
        mixins: [funciones, validaciones],
        created(){
          this.edit_ = _.clone(this.item);
          
        },
        mounted(){

        },
        data: ()=>({
           edit_: null,
           newFile: null,
        }),
        watch:{
            item(value){
                this.edit_ = _.clone(value);
            }
           
        },
        computed:{
         	carrusel(){

         		return this.item;
         	}
        },
        methods:{
            nuevaImg(imagen){
              this.edit_.imagen = imagen.img == "" ? "": imagen.img;
              this.newFile = imagen.file == "" ? "" : imagen.file;
            },
            validar(){
                if(this.validarNombre()){
                  return true;
                }else{
                  return false;
                }
            },
            cancelar(){
                this.edit_ = _.clone(this.item);
            },
            editBtn(){
                if(this.edit_.imagen != null && this.edit_.imagen != ''){
                    this.newFile == null ? this.newFile = this.edit_.imagen : '';
                    let form = this.toFormData(this.edit_, this.newFile);
                    this.$emit('new', form);
                }
            },
            deleteBtn(){

                isNaN(this.edit_.id) ? this.$emit('carrusel', this.index) : this.$emit('delete', this.edit_) ;
            },
            
        }
    }
</script>
