<template>
    <b-container fluid>
        <div class="text-center mb-5">
            <h2>Carrousel de imágenes</h2>
            <b-button variant="primary" @click="addCarrousel" class="float-right" v-if="items.length">
                <icon name="plus"></icon>
            </b-button>
        </div>     
    	<b-row>
            <b-col cols="12" v-if="cargando" class="text-center"><icon name="refresh" scale="5" spin></icon></b-col>
            <b-col class="text-center" v-if="!items.length && !cargando">
                <h1>Pulsa <span class="click" @click="addCarrousel" style="color:blue;"><u>aquí</u></span> para agregar tú primera imágen al carrousel</h1>
            </b-col>
            
    	   <crud-component v-for="(item, index) in items" :item="item" :key="item.id" :index="index" @new="crear($event)" @carrusel="delCarrousel($event)" @delete="eliminar($event)"></crud-component>
           
	   </b-row>
        <b-row>
            <b-col>
                <Paginate :pagination="pagination" @pagina="getItems"></Paginate>
            </b-col>
        </b-row>
	</b-container>
    
</template>
<script>
    import Icon from 'vue-awesome/components/Icon';
    import funciones from '../../../helpers/funciones';
    import EventBus from '../../../helpers/event-bus.js'; 
    import crud	from './EditCarrusel';
    import Paginate from '../../layouts/paginate.vue';
    export default{
        components: {
            'icon': Icon,
            'crud-component': crud,
            Paginate
        },
        mixins: [funciones],
        created(){
          this.getItems();
        },
        mounted(){
            
        },
        data: ()=>({
            pageUrl: 'sldr',
            items: [],
            pagination: [],
            cargando: true, 
            erroresServidor:[],
            errores:[],
        }),
        watch:{
           
        },
        computed: {
		    filtro(){ 
		      if(this.items.length){
		        return this.items;
		      }
		    },
		},
        methods:{
            getItems(page){
                axios.get(`${this.pageUrl}?page=${page}`).then(response =>{
                    this.items = response.data.items.data;
                    this.pagination = response.data.pagination;
                    this.cargando = false;
                  }, error => {
                    console.log(error.data);
                  })

                  
            },
            addCarrousel(){
                this.items.unshift({id: `nuevo-${this.items.length}`, imagen: "https://placehold.it/1920x400", text: "" , caption: "", alt:"", web: "#", title:"", status: 'PUBLICADO', visible: 1});
            },
            delCarrousel(posicion){
                this.items.splice(posicion, 1);
            },
            crear(nuevo){
                axios.post(this.pageUrl, nuevo).then((response) => { 
                    this.errores = [];
                    response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);

                }, (error) => {
                    console.log(error.response);
                    let errores = error.response.data.errors;
                    this.erroresServidor = [];
                    this.errores = [];

                    for (let key in errores){
                        this.erroresServidor.push(key);
                        this.errores[key] = errores[key][0];
                        toastr.warning(errores[key][0]);
                    }
                });
            },
        	eliminar(eliminar){
		      axios.delete(this.pageUrl + "/" + eliminar.id).then((response) => {
                response.data.status == 'success' ? (this.getItems(), toastr.success(response.data.msg)): toastr.warning(response.data.msg);
		      }, (error) => {
		        console.error(error.response);
		      })
		   
		    },
		    
        },
    }
</script>
